 <style>
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  .red { color: black;font-style: bold; background-color: yellow !important; }
  </style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.homeSuite">
            <i class="mdi-home"></i>
            REPORTES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Estado de resultados <span class="badge bg-warning"><i class="mdi-home-variant"></i> {{warehouseName}}</span>
        </h1>
    </div>
    <div class="button-group">
        <a popover-trigger="mouseenter" tooltip="Imprimir Reporte" ng-click="incomeStatement.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>

        <button  md-ink-ripple class="md-btn md-raised m-l-sm label bg-accent"  ng-click="incomeStatement.loadReport()" popover="Cargar datos" popover-placement="bottom" popover-trigger="mouseenter" ng-disabled="formData.$invalid || loadButton">
            <i class="mdi-upload"></i> Cargar datos
        </button>

        <button md-ink-ripple class="md-btn md-raised m-l-sm label bg-info"  ng-click="incomeStatement.valuesLoad()" popover="Generar reporte" popover-placement="bottom" popover-trigger="mouseenter" ng-disabled="buttonShowResult">
            <i class="mdi-table-large"></i> Generar resultados
        </button>
    </div>
</div>

<div class="panel-heading bg-success">Seleccione sucursal y rango fechas
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Seleccione sucursal y rango fechas"></span>
</div>
<div class="panel">
    <div class="panel-body">
        <form name="formData">
          <div class="col-sm-15 m-t-sm">
              <div class="pull-left">
                <span class="m-r-md"><strong>Sucursal: </strong>
                    <select style="width :160px" ng-model="warehouseId" ng-change="incomeStatement.setName(warehouseId)" required>
                      <option value="1">Los Angeles</option>
                      <option value="2">Chillán</option>
                      <option value="3">Constitución</option>
                      <option value="4">Temuco</option>
                      <option value="6">Concepción</option>
                </select>
              </span>
              <span class="m-r-md"><strong>Fecha inicio: </strong><input ng-change="incomeStatement.newAction()" class="uppercase" type="date" ng-model="startDate" required>
              </span>
              <span class="m-r-md"><strong>Fecha Fin: </strong><input ng-change="incomeStatement.newAction()" class="uppercase" type="date" ng-model="endDate" required>
              </span>
              </div>
          </div>
        </form>
        </div>
</div>
<div class="panel" ng-show="resultPanel">
    <div>
        <div class="panel-body">
            <table style="width:80%">
              <tr>
                <th style="color:#0DA937;">ESTADO DE RESULTADO</th>
              </tr>
              <tr >
                <th>Ventas Neto</th>
                <th>${{netSales[0].suma | number:0}}</th>
              </tr>
              <tr>
                <th>Costos ventas</th>
                <th>${{sellingCosts[0].suma | number:0}}</th>
              </tr>
              <tr class="outstanding">
                <th>Margen contribución:</th>
                <th>${{contributionMargin | number:0}}</th>
              </tr>
             <!-- <tr>
                <th>Basicos</th>
                <th>$150000</th>
              </tr>
              <tr>
                <th>Combustible</th>
                <th>$950000</th>
              </tr>
              <tr>
                <th>Gastos Administrativos</th>
                <th>$1050000</th>
              </tr> -->

              <tr ng-repeat="items in otherExpensesList">
                <th><span class="label bg-secundary">{{items.dsName}}</span></th>
                <th>${{items.suma | number:0}}</th>
              </tr>

              <tr>
                <th>Total Gastos</th>
                <!-- <th>${{otherExpenses[0].suma | number:0}}</th> -->
                <th>${{sumExpence | number:0}}</th>
              </tr>
              <tr class="outstanding">
                <th>Utilidad antes de Impuesto:</th>
                <th>${{profitBeforeTax | number:0}}</th> 
              </tr>
              <tr>
                <th>Impuesto a la Renta 27%</th>
                <th>${{incomeTax | number:0}}</th>
              </tr>
              <tr class="outstanding">
                <th>Utilidad:</th>
                <th>${{utility | number:0}}</th>
              </tr>
              
        </table>
            </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; ">Reporte generado por sistema Jormat Evolution 2.0 para departamento de finanzas
        <br>
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td{
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;

}  

.outstanding { font-size: 20px; }

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.uppercase { text-transform: uppercase; }

</style>