 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="warehousesDelete.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Eliminar Sucursal</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente eliminar Sucursal?</b> <span class="label bg-danger">   ID : 3</span></br></br>
        <h4 align="center"> Nombre: <span class="label bg-secondary">Chillán</span>  Código:<span class="label bg-warning">CHILL</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="warehousesDelete.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="warehousesDelete.deleteWarehouses()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>