
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.homeSuite">
            <i class="mdi-home"></i>
            REGISTRO DE EMBARQUES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado registros de embarques <span> <a ng-click="importRegistration.loadDocuments()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <!-- <button ng-click="importRegistration.viewItems()" md-ink-ripple class="md-btn md-raised bg-info m-l-sm" popover="Items solicitados" popover-placement="bottom" popover-trigger="mouseenter">
            <i class=" mdi-basket-fill"></i>
        </button> -->
        <button has-disabled= "registro-importacion-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.importRegistrationCreate">
            <i class="mdi-clipboard-text"></i>
            Nuevo Registro
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar registros de importación" ng-model="importRegistration.searchText" ng-change="importRegistration.searchData()" ng-model-options="importRegistration.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="importsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
