<style>
.view {overflow: hidden; position: relative; cursor: default; display: block; }
.card img {border-radius: 2px 2px 0 0; max-width: 100%; height: auto; }
img {vertical-align: middle; border-style: none; }
.mask {width: 100%; height: 100%; position: absolute; overflow: hidden; top: 0; left: 0; background-attachment: fixed; }
.waves-effect {position: relative; cursor: pointer; overflow: hidden; user-select: none; z-index: 1; }
.waves-effect, a, html {-webkit-tap-highlight-color: transparent; }
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {color: inherit; text-decoration: none; }
.card .btn-action {margin: -15px 20px -15px auto; background-color: #929FBA; height: 47px; width: 47px; line-height: 0; }
a.waves-effect, a.waves-light {display: inline-block; }
.btn-floating {z-index: 1; overflow: hidden; width: 47px; height: 47px; padding: 0; border-radius: 50%; background-color: #a6c; -webkit-transition: .3s; transition: .3s; cursor: pointer; vertical-align: middle; box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); }
.card .btn-action .fa {margin-top: 2px; margin-left: 2px; }
.card .btn-action .fa {font-size: 18px; }
.btn-floating i {width: inherit; line-height: 47px; text-align: center; }
.btn-floating, .btn-floating i {display: block; color: #fff; }
.fa {font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.card {overflow: hidden; }
.card .card-data {background-color: #fff; color: inherit; text-align: center; height: 100%; width: 100%; top: 100%; overflow: auto; padding: 10px; -webkit-transition: .3s; transition: .3s; position: absolute; }
.card-data.visible {top: 0; }
.card-heading-gray {background-color: rgba(146, 159, 186, 0.43137254901960786); }
.files-loaded {list-style: none; display: inline-flex; padding: 0 }
.files-loaded li {padding: 5px; }
a.file:hover {border: 0.09px solid #0808083b; }
a.file {padding: 5px; height: 100%; display: block; }
.custom-card {min-height: 310px;}
.evidence-content {max-height: 615px; overflow: auto;}
.card-text {max-width: 100%; overflow-y: hidden; overflow-x: scroll;}
</style>
<div class="card">

	<div class="custom-card">
		<div class="card-heading card-heading-gray" >
			<div class="row">
				<div class="col-xs-12">	
					<p>
						<strong>{{ 'IMPROVE_EVALUATION_MOMENTS' | translate }}:</strong> {{eCtrl.evidence.evaluationTime}} <br>
						<strong>{{ 'IMPROVE_FRECUENCY' | translate }}:</strong> {{eCtrl.evidence.frequency}}<br>
						<strong>{{ 'IMPROVE_RESPONSABLE' | translate }}:</strong> {{eCtrl.evidence.responsable}}
					</p>
					<p class="text-right">
						<span ng-show="eCtrl.evidence.inTracking" class="badge bg-warning pull-right">
							<span class="mdi-eye"></span> {{ 'IMPROVE_TRACING' | translate }} 
						</span>
						<span ng-show="!eCtrl.evidence.inTracking" class="badge bg-danger pull-right">
							<span class="mdi-eye-off"></span> {{ 'IMPROVE_NOT_TRACING' | translate }}
						</span>
					</p>
				</div>
			</div>
		</div>

		<div class="card-body" style="padding: 0 24px;">
			<div class="content-loaded-files">
				<div class="row">
					<div class="col-xs-12">
						<p class="card-title text-left p-t-sm">
							<span style="font-size: 24px; font-weight: 300">{{'Archivos cargados' | translate}}</span>
							<a ng-click="visible = true" tooltip="{{'IMPROVE_LOAD_FILE' | translate}}" tooltip-placement="top" style="float: right;" class="btn-floating btn-action bg-primary"><i class="mdi-cloud-upload fa-lg"></i></a>
						</p>
					</div>
				</div>
				<hr style="margin-top: 0">
				<div class="card-text">
					<ul class="files-loaded">
						<li ng-repeat="file in eCtrl.evidence.filesLoaded" class="text-center">
							<a class="file" ng-click="eCtrl.downloadFile(file)">
								<i class="fa-3x" ng-class="eCtrl.getClassFile(file)"></i> <br>
								<span class="text-xs">{{file.showName}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>


			<div class="inputs-content-evidence">
				<div class="row">
					<div class="col-xs-12">
						<p class="card-title text-left p-t-sm">
							<span style="font-size: 24px; font-weight: 300">{{ 'EVIDENCE_TRACKING' | translate }}</span>
						</p>
					</div>
				</div>
				<hr style="margin-top: 0">

				<div class="panel-body">
					
					<md-switch 
						ng-model="eCtrl.evidence.inTracking" 
						ng-true-value="1" ng-false-value="0"
						aria-label="Switch 1">
						{{ 'IMPROVE_TRACKING' | translate }} 
					</md-switch>
				
					<dinamic-input field="eCtrl.evidence.inputs.results" additional-params="{}" show-title="true"></dinamic-input>
					<dinamic-input field="eCtrl.evidence.inputs.actions" additional-params="{}" show-title="true"></dinamic-input>
					<dinamic-input field="eCtrl.evidence.inputs.tracking" additional-params="{}" show-title="true"></dinamic-input>
				</div>
				
			</div>

			<button class="btn btn-sm m-v-md m-r-sm bg-danger md-btn md-flat md-raised pull-left">
				<i class="mdi-close-circle"></i>
				{{ 'CANCEL' | translate }}
			</button>					

			<button type="submit" class="btn btn-sm m-v-md bg-accent md-btn md-flat md-raised pull-right" ng-click="eCtrl.saveChanges()">
				<i class="mdi-content-save m-r-sm"></i>
				{{ 'SAVE' | translate }}
			</button>
		</div>

		<div class="card-data" ng-class="{'visible': visible}">
			<div class="col-xs-12">
				<p class="text-left p-t-sm">
					<span style="font-size: 24px; font-weight: 300">{{'IMPROVE_LOAD_FILE' | translate}}</span>
					<a ng-click="visible = false" tooltip="{{'CLOSE' | translate}}" tooltip-placement="left" style="float: right;" class="btn-floating btn-action bg-danger">
						<i class="mdi-close fa-lg"></i>
					</a>
				</p>
			</div>
			
			<!-- Se incluye template para la carga de archivos -->
			<div ng-include="'load-file.html'"></div>

		</div>
	</div>

</div>