 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="notesReport.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Reporte notas de credito por fecha</h3>
</div>
<div class="modal-body">
      <div class="panel-body">
          <form name="formClients" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="" class="col-sm-5 control-label">
                            <strong>Fecha inicio:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" ng-model="startDate" class="uppercase" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha fin:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" ng-model="endDate" class="uppercase" >
                                    </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <a><span style="font-size: 15px;" class="label bg-warning uppercase " ng-click="notesReport.loadInvoices()"><i class="mdi-file-find"></i> Buscar</span></a>
                        </label>
                        
                    </div>
                </div>
                
            </div>
        </form>
    </div>  
</div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<div class="modal-footer">
  <div class="pull-left" ng-show="messageInvoices">
    <label  for="" class="control-label">
        <span class="dato-obligatorio">* </span>Las fechas ingresadas no poseen notas asociadas.
    </label>
  </div> 
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="notesReport.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>