 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="checksCreate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Ingresar Cheque</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formChecks" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input style="font-size: 11px;" type="text" tooltip="Nombre asociado a Cheque" ng-model="associatedName" class="form-control uppercase" required >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Serie:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Ingrese N° de serie documento" type="text" ng-model="serialNumber" class="form-control uppercase bg-warning" required style="text-transform:uppercase;"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input tooltip="Fecha emisión" class="uppercase" type="date" ng-model="day" required>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Total:</strong><span class="dato-obligatorio">*</span> 
                        </label>
                        <div class="col-sm-5">
                            <strong><input type="number" tooltip="Total pago cheque" ng-model="shareValue" class="form-control" required></strong>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Banco:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select class="uppercase" ng-change="checksCreate.setBankId($select.selected.bankId)" tooltip="Banco" ng-model="bankId" theme="bootstrap"  title="Banco" required >
                                <ui-select-match ><small> {{$select.selected.description}}</small></ui-select-match>
                                <ui-select-choices repeat="banks in banks | filter: $select.search">
                                    <div  ng-bind-html="banks.code | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+banks.description | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Cuenta:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="account" class="form-control bg-secondary" placeholder="N° de cuenta" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cliente:</strong>
                        </label>
                        <div class="col-sm-9">
                            <ui-select style="font-size: 11px;" ng-change="checksCreate.setName(client)" ng-model="client" theme="bootstrap"  tooltip="Seleccione cliente asociado a facturas" required>
                            <ui-select-match >{{$select.selected.fullName}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="checksCreate.searchClient($select.search)" refresh-delay="0">
                                <h4 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h4>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select> 
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="phone" class="form-control" placeholder="000-000000">
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="checksCreate.setOriginId($select.selected.warehouseId)" tooltip="Origen" ng-model="originId" theme="bootstrap"  title="Sucursal entrega" required >
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehousesTo | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.officeName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Deposito:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input class="uppercase" tooltip="Fecha deposito" type="date" ng-model="depositDate">
                            <a tooltip="Borrar fecha deposito"><span class="label bg-danger uppercase" ng-click="checksCreate.setDepositDate()"><i class="mdi-eraser"></i> Borrar</span></a>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Facturas:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input tooltip="Facturas" type="number"  class="form-control " name="invoice" ng-model="invoice"/>
                        </div>
                        <div class="col-sm-2">
                            <a ng-disabled="invoicesForm.$invalid"  tooltip="Asociar factura a Cheque" ><span class="label bg-info uppercase" ng-click="addInvoice(invoice)"><i class="mdi-plus"></i> Agregar</span></a>
                        </div>
                    </div>
                    <div ng-repeat="item in invoices" class="{'fadeOut' : item.done} m-t-md btn-group-vertical">
                            <h3 class="label bg-secondary " >{{item.title}}</h3>
                              <span class="mdi-close-box" ng-click="deleteInvoice($index)"></span>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Detalle:</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" placeholder="Detalle cuotas" ng-model="shareDetails" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="checksCreate.newCheck()" ng-disabled="formChecks.$invalid || invoices.length == 0">
		   <i class="mdi-check-all"></i> Guardar cheque
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="checksCreate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->