<ul class="breadcrumb">
    <li>
        <a ui-sref="app.expenseControl">
            <i class="mdi-home"></i>
            CONTROL DE GASTOS
        </a>
    </li>
    <li>Actualizar gasto</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Actualizar gasto N° {{expenseControlId}}
        </h1>
    </div>
    <div class="button-group">
        <button  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.expenseControl">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formExpenseControl.$invalid" ng-click="expenseControlUpdate.expenseControlUpdate()">
            <i class="mdi-content-save"></i>
            Actualizar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales del gasto"></span>
    </div>
    <div class="panel-body">
        <form name="formExpenseControl" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Folio:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" tooltip="Numero de Folio" ng-model="expenseControlDetails.folio" class="form-control uppercase" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Tipo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-5">
                           <span class="label bg-secondary uppercase">{{expenseControlDetails.documentType}}</span>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Responsable:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input tooltip="Ingrese Nombre usuario responsable" type="text" ng-model="expenseControlDetails.responsable" class="form-control uppercase" style="text-transform:uppercase;">
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <label for="" class="col-sm-3 control-label">
                           {{expenseControlDetails.date}}
                        </label> 
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Valor total:</strong><span class="dato-obligatorio">*</span> 
                        </label>
                        <div class="col-sm-4">
                            <strong><input type="number"  tooltip="Valor Total documento" ng-model="expenseControlDetails.shareValue" class="form-control bg-warning" required></strong>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cuenta:</strong>
                        </label>
                        <div class="col-sm-6">
                            <label for="" class="control-label">
                           <span class="label bg-secondary">{{expenseControlDetails.accountName}}</span>
                        </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Proveedor:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="expenseControlDetails.providerName" class="form-control" placeholder="Nombre proveedor" required>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Origen:</strong>
                        </label>
                        <div class="col-sm-4">
                            <label for="" class="control-label">
                           <span class="label bg-accent">{{expenseControlDetails.origin}}</span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut</strong>
                        </label>
                        <div class="col-sm-4">
                            <input ng-disabled="true" tooltip="Rut sin puntos + guión" type="text" ng-model="expenseControlDetails.rut" class="form-control uppercase" placeholder="71163159-K" required style="text-transform:uppercase;">
                        </div>
                        
                        <div class="col-sm-2">
                            <p class="text-danger" style="font-size: 12px;font-style: italic">{{textValidation}}</p>
                            
                        </div>
                        <!-- <div class="col-sm-2">
                            <a ng-disabled="true"><span class="label bg-warning uppercase" ng-click="expenseControlUpdate.checkRut(rut)"><i class="mdi-check"></i> Validar</span></a> 
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Detalle:</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" placeholder="Detalle gasto" ng-model="expenseControlDetails.details" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
