
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            GUIAS AJUSTE STOCK
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Guías ajuste stock
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  has-disabled= "ajuste-de-stock-edit" ui-sref="app.stockAdjustmentCreate">
            <i class="mdi-plus"></i>
            Crear guía Ajuste Stock
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar guia ajuste de stock" ng-model="stockAdjustmentList.searchText" ng-change="stockAdjustmentList.searchData()" ng-model-options="stockAdjustmentList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="guidesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
