<style type="text/css">
#file_uploader {opacity: 0; position: absolute; z-index: -1; }
md-select.md-default-theme .md-select-value, md-select .md-select-value {background: #fff; color: #444 !important; }
md-select.md-default-theme .md-select-icon, md-select .md-select-icon {color: #444 !important; }
</style>
<div class="box" nv-file-drop="" uploader="eCtrl.uploader" filters="queueLimit, customFilter" ng-if="eCtrl.uploader">

	<!-- <div class="row"> -->
		<div class="col-sm-12">

			<div class="table-responsive">
				<table class="table bg-white b-a m-t-sm">
					<thead class="bg-info ">
						<tr>
							<th>{{ 'IMPROVE_FILE_NAME' | translate }}</th>
							<th ng-show="eCtrl.uploader.isHTML5">{{ 'IMPROVE_SIZE' | translate }}</th>
							<th ng-show="eCtrl.uploader.isHTML5">{{ 'IMPROVE_PROGRESS' | translate }}</th>
							<th>{{ 'IMPROVE_STATE' | translate }}</th>
							<th>{{ 'IMPROVE_ACTIONS' | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in eCtrl.uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="eCtrl.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
							<td ng-show="eCtrl.uploader.isHTML5">
								<div class="progress progress-sm no-margin m-t-xs">
									<div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
								</div>
							</td>
							<td class="text-center">
								<span ng-show="item.isSuccess" class="text-success"><i class="mdi-cloud-check"></i></span>
								<span ng-show="item.isCancel" class="text-warning"><i class="mdi-alert-circle"></i></span>
								<span ng-show="item.isError" class="text-danger"><i class="mdi-close-circle"></i></span>
							</td>
							<td nowrap>
								<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
									{{ 'UPLOAD' | translate }}
								</button>
								<button type="button" class="btn btn-accent btn-xs" ng-click="item.remove()">
									{{ 'DELETE' | translate }}
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div ng-show="eCtrl.uploader.isHTML5" class="m-b-md">

					<div nv-file-drop="" uploader="eCtrl.uploader">

						<div nv-file-over="" uploader="eCtrl.uploader" over-class="b-danger" class="b-a b-info b-2x b-dashed p-lg text-center">
							{{ 'DRAG_FILES' | translate }}
							<div class="clearfix"></div>
							<label for="file_uploader" class="btn btn-sm m-v-xs m-r-sm bg-accent md-btn md-flat md-raised ">{{ 'SELECT_FILES' | translate }}</label>
							<input type="file" nv-file-select="" uploader="eCtrl.uploader" id="file_uploader" multiple />  

						</div>

					</div>

					<div class="m-t-sm">

						<button type="button" class="btn btn-addon btn-accent pull-right" ng-click="eCtrl.uploader.uploadAll()" ng-disabled="!eCtrl.uploader.getNotUploadedItems().length">
							<i class="fa fa-cloud-upload"></i> {{ 'UPLOAD_ALL' | translate }}
						</button>

					</div>
				</div>
			</div>

		</div>
	<!-- </div> -->

</div>