 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="accountsList.cancel()"><span aria-hidden="true">&times;</span>
</button>
	<h3>Listado de Cuentas</h3>
</div>
<div class="modal-body">
	 <div ui-grid="accountsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
</div>
<div class="modal-footer">
  <div class="button-group">
  	<button md-ink-ripple class="md-btn md-raised bg-info pull-left"  ng-click="accountsList.loadAccounts()">
	  <i class="mdi-reload"></i> Actualizar
	</button>
  	<button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="accountsList.newAccount()">
	  <i class="mdi-folder-plus"></i> Nuevo
	</button>
	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="accountsList.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>
