 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Documento Despacho para Factura N° <strong>{{invoiceId}}</strong></h3>
</div>
<p></p>

<div class="main-title">

    <div class="button-group">
      <a tooltip="Imprimir" ng-click="printPackOff.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i> Imprimir</span></a>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="printPackOff.cancel()">
      <i class="mdi-window-close"></i>Cerrar Ventana
     </button>
	</div>
  
</div>
<div class="panel" >
    <div>
        <div class="panel-body uppercase">
            <table style="width:100%" class="table table-bordered m-t-sm" >
              <tr>
                <th>Destinatario</th>
                <th><input type="text" ng-model="invoiceDetails.clientName" class="form-control uppercase" required></th>
              </tr>
              <tr>
                <th>Rut</th>
                <th class="uppercase"><input type="text" ng-model="invoiceDetails.rut" class="form-control uppercase" required></th>
              </tr>
              <tr>
                <th>Telefono</th>
                <th class="uppercase"><input type="text" ng-model="invoiceDetails.phone" class="form-control uppercase"  required></th>
              </tr>
              <tr>
                <th>Dirección</th>
                <th class="uppercase"><input type="text" ng-model="invoiceDetails.address" class="form-control uppercase" required></th>
              </tr>
              <tr>
                <th>Ciudad</th>
                <th class="uppercase"><input type="text" ng-model="invoiceDetails.city" class="form-control uppercase" placeholder="Ciudad" required></th>
              </tr>
              <tr>
                <th>Transporte</th>
                <th class="uppercase"><input type="text" ng-model="invoiceDetails.transportationName" class="form-control uppercase" placeholder="Indique Transporte" required></th>
              </tr>
              <tr>
                <td>Observación</td>
                <td><strong><textarea  class="form-control uppercase">
                           
                            </textarea></strong></td>
              </tr>
             
              
        </table>

          <TABLE class="table table-bordered m-t-sm">
            <TR >
              <TD><strong class="uppercase">Cantidad de bultos</strong></TD>
              <TD COLSPAN=3 width="55%"><strong class="uppercase">Dimensiones </strong>(cm)</TD>
              <TD><strong class="uppercase">Peso </strong>(kg)</TD>
              <TD COLSPAN=2><strong class="uppercase">Frágil</strong></TD>
            </TR>
            <TR>
              <TD></TD> <TD>Alto:</TD> <TD>Largo:</TD><TD>Ancho:</TD><TD></TD> <TD class="uppercase"><strong>SI</strong></TD> <TD class="uppercase"><strong>NO</strong></TD>
            </TR>
          </TABLE>

          <TABLE class="table table-bordered m-t-sm">
            <TR >
              <TD><strong class="uppercase">Remitente</strong></TD>
              <TD><span COLSPAN=4 width="90%" class="uppercase">Importadora de repuestos jormat ltda</span></TD>
              <TD><span class="uppercase"><span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">76.193.704-9</span></span></span></TD>
            </TR>
            <TR>
              <TD> <span class="m-r-md uppercase"><strong>Casa Matriz</strong></span>
              </TD> <TD><span class="uppercase">Valdivia 906 - Los Ángeles</span></TD> <TD> <span class="m-r-md"><strong>CEL: </strong> <span>+569 92050943</span></span></TD><TD><span class="m-r-md"><strong>TEL: </strong> <span>+43 2 361215</span></span></TD>
            </TR>
          </TABLE>
            </div>
            
    </div>
    
    <div class="panel-body uppercase">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Impreso por:</strong> <span> <span class="label bg-info">{{nameUser}}</span></span></span><span class="m-r-md"> <strong> Origen:</strong> <span> <span class="label bg-secundary">{{invoice[0].origin}}</span></span></span>
      </div>
    </div> 

    <div class="panel-body" style="font-size: 12px; ">
      <div class="col-sm-15">
        <span class="m-r-md"><strong style="font-size: 13px; ">Sucursales</strong> <img class="pull-right" width="300" src="https://importadorajormat.cl/images/qr_img.png" />
          </div>
        <div class="col-sm-15">
          <span class="m-r-md"><strong>Temuco: </strong> <span><span>Miraflores 1188 <strong>Tel:</strong> +45 2 28948146</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong> Constitución: </strong> <span>O'Higgins 1045 <strong>Tel:</strong> +71 2 686591</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Chillán: </strong> <span>AV. Ecuador 1105 <strong>Tel:</strong> +42 2 28848523</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Los Ángeles: </strong><span>Valdivia 906 <strong>Tel:</strong> +43 2 236121</span></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Concepción: </strong><span>Tucapel 1465 <strong>Tel:</strong> +56 941651996</span></span>
    </div>
      </span>

      <br>
         <p class="uppercase"> <strong style="font-size: 15px; ">www.importadorajormat.cl</strong></p>
         <br>
      
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}



</style>
