 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9; 
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="transportationCreate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Crear Transporte</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formTrucks" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Nombre transporte" type="text" ng-model="name" class="form-control uppercase" required style="text-transform:uppercase;"></strong> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Link Rastreo:</strong>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Link" type="text" ng-model="link" class="form-control bg-warning"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Codigo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                             <input type="text"  tooltip="codigo transporte" ng-model="code" class="form-control uppercase" required>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Telefono:</strong>
                        </label>
                        <div class="col-sm-5">
                            <strong><input type="number" tooltip="Celular / WhatsApp" ng-model="phone" class="form-control uppercase" placeholder="56990584123"></strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Horario:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="schedule" class="form-control" >
                        </div>
                    </div>
                </div>
                
            </div>


        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="transportationCreate.transportationNew()" ng-disabled="formTrucks.$invalid">
		   <i class="mdi-check-all"></i> Guardar
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="transportationCreate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->