<ul class="breadcrumb">
    <li>
        <a ui-sref="app.certificates">
            <i class="mdi-home"></i>
            DOCUMENTOS TRIBUTARIOS
        </a>
        
    </li>
    <li>Datos Empresa  &nbsp;<span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span></li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Datos Empresa 
        </h1>
    </div>
    <!-- <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.staff">
            <i class="mdi-exit-to-app"></i>
            Abandonar
        </button>
        <button ng-disabled="updateUserBlockInfo.$invalid || rutValidate" md-ink-ripple class="md-btn md-raised bg-accent" ng-click="staffUpdate.createUser()">
            <i class="mdi-plus"></i>
            Actualizar Usuario
        </button>
    </div> -->
</div>


    <div class="row gutter-10">

    <div class="col-md-12">

    <form name="updateUserBlockInfo" class="form-horizontal">
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Información General</strong>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Nombre Empresa</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" name="name" ng-model="companyDetails.businessName" required>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Rut</strong>
            </label>
            <div class="col-sm-3">
              <input type="text" class="form-control uppercase" name="R.U.T" ng-model="companyDetails.serialNumber"  required>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Dirección</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" name="address" ng-model="companyDetails.address" required>
            </div>
          </div>

         <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Telefono</strong>
            </label>
            <div class="col-sm-3">
              <input type="text" class="form-control uppercase" placeholder="Telefono" name="phone" ng-model="companyDetails.phone" required> 
            </div>
          </div>
          

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Dirección</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" name="address" ng-model="companyDetails.address">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Ciudad</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" name="city" ng-model="companyDetails.cityName" aria-invalid="false">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Tipo de contribuyente</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase"  name="type" ng-model="companyDetails.type" aria-invalid="false">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Giro</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase"  name="description" ng-model="companyDetails.description" aria-invalid="false">
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>web</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase"  name="web" ng-model="companyDetails.web" aria-invalid="false">
            </div>
          </div>

            <div class="button-group">
                <button  md-ink-ripple class="md-btn md-raised bg-accent pull-right"  ng-disabled="true" ng-click="staffUpdate.updateUserInfo()">
                    <i class="mdi-auto-fix"></i>
                    Actualizar información
                </button>
            </div>
        </div>

      </div>
    </form>


    <form name="updateUserBlockInfoOrganization" class="form-horizontal">
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Actividades Económicas</strong>
        </div>
        <div class="panel-body">
        <div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Actividades</strong>
            </label>
            <div class="col-sm-8 ">
              <ui-select multiple ng-model="companyDetails.activities" theme="bootstrap"  title="Seleccione actividades " required>
                                <ui-select-match placeholder="Seleccione actividades...">{{[$item.code]}} {{$item.descriptionName}}</ui-select-match>
                                <ui-select-choices repeat="activity in activities | filter: $select.search">
                                    <!-- <div ng-bind-html="activity.descriptionName | highlight: $select.search"></div> -->
                                    <!-- <small>

                                        <h4 ng-bind-html="''+categories.categoryCode| highlight: $select.search"></h4>
                                    </small> -->
                                </ui-select-choices>
                            </ui-select>
            </div>
          </div>
          </div>
        </div>
      </div>
    </form>


    <form name="updateUserBlockAccess" class="form-horizontal">
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Facturación Electronica</strong>
        </div>
        <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Correo DTE</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" name="dteEmail" ng-model="companyDetails.dteEmail" aria-invalid="false" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Oficina Regional SII</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" name="generalOffice" ng-model="companyDetails.generalOffice" aria-invalid="false" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Proveedor de Servicios de DTE</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="environmentServices" ng-model="companyDetails.environmentServices" aria-invalid="false" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>N° Resolución</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="resolutionNumber" ng-model="companyDetails.resolutionNumber" aria-invalid="false" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Fecha Resolución</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="resolutionDate" ng-model="companyDetails.resolutionDate" aria-invalid="false" required>
                        </div>
                    </div>
          
        </div>
      </div>
    </form>
    </div>


  </div>

<style>
.uppercase { text-transform: uppercase; }
</style>
