<style>
  .uppercase { text-transform: uppercase; }
 </style> 

<div class="panel-heading">
   <h3 style="text-align:center;">Visualizar documento Importación N°: <strong>{{importId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

   <div class="button-group">

   
   <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="warehouseImports.cancel()">
     <i class="mdi-window-close"></i>Cerrar
    </button>
 </div>
 
</div>
<div class="panel" >
   <div class="panel-body">
     <div class="col-sm-16">
         
         <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
          <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
         </div> -->
         <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
          <span><i ng-click="warehouseImports.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
         </div>
     </div>
     <div class="col-sm-15">
         <span class="m-r-md"><strong>Proveedor: </strong> <span class="uppercase">{{import[0].providerName}}</span>
         <span class="m-r-md"><strong>Estado: </strong><span class="badge bg-{{import[0].style}}">{{import[0].statusName}}</span></span>
         <span>
     </div>
     <div class="col-sm-15">
         <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{import[0].rut}}</span></span>
     </div>
     <div class="col-sm-15">
         <!-- <span class="m-r-md"><strong>Tipo:</strong> <span class="badge bg-info">{{import[0].type}}</span></span> -->

           <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{import[0].currency}}</span></span>
           <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase">{{currencySymbol}}{{import[0].currencyValue}}</span></span>
     </div>

     
     <div class="col-sm-15">
         <span class="m-r-md"><strong>Fecha: </strong> <span>{{import[0].date | date:'dd/MM/yyyy'}}</span></span>
     </div>
     
     <div class="col-sm-15">
         <span class="m-r-md"><strong>Origen:</strong> <span>{{import[0].origin}}</span></span>
     </div>
     <div class="col-sm-15">
         <span class="m-r-md"><strong>Observación:</strong> <em>{{import[0].comment}}</em></span>
     </div>
     
     
   </div> 
   <div>
       <div class="panel-body">
           <table style="width:100%">
             <tr>
               <th>N°</th>
               <th>Id</th>
               <th>Descripción</th>
               <th>Precio</th>
               <th>Cant.</th>
               <th>ubicación</th> 
               <th>Stock Actual</th>
             </tr>
             <tr ng-repeat="items in importItems">
               <td>{{$index+1}}</td>
               <td class="uppercase">{{items.itemId}}</td>
               <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
               <td>{{items.price}}</td>
               <td align="center">{{items.quantityItems}}</td> 
               <td align="center"><span class="uppercase label bg-secondary" style="font-size: 10px;">{{items.locations}}</span></td>
               <td><strong><span class="uppercase badge bg-warning" style="font-size: 12px;">{{items.generalStock}}</span></strong></td>
             </tr>
            
             
       </table>
           </div>
   </div>

<!--<div class="pull-right col-sm-3 ">
    
           <div>

             <table style="width:100%">
               <tr>
                     <th><strong><h5>Subtotal:</h5></strong></th>
                     <th><h4><strong>{{currencySymbol}}  {{subTotality}}</strong></h4></th>
                   </tr>
                   <tr>
                     <th><strong><h5>Dcto.:</h5></strong></th>
                     <th><h4><strong>{{import[0].discount}}% </strong></h4></th>
                   </tr>
                   <tr>
                     <th><strong><h5>Total:</h5></strong></th>
                     <th><h4><strong>{{currencySymbol}}  {{import[0].total}}</strong></h4></th>
                   </tr>
             </table>    
       </div>

</div>-->
   <div class="panel-body">
     <div class="col-sm-15">
         <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{import[0].userCreation}}</span></span></span>
     </div>

     <div class="col-sm-15">
         <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-info">{{import[0].userModifier}}</span></span></span>
     </div>
   </div>

   <div class="panel-body">
     <div class="col-sm-15">
     <div class="pull-right">
         <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
     </div>
     </div>
   </div>
</div>



<style>
table, th, td {
 border-spacing: 2px;
 padding: 3px;
 border: 1px solid black;
}   


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

</style>
