 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="providersView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Proveedor: {{providerId}}</h3>
</div>
<div class="modal-body">
      <div class="panel-body">
          <div class="col-sm-15">
              <span class="m-r-md"><strong>Nombre: </strong><span class="uppercase">{{providerName}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Dirección: </strong><span class="uppercase">{{provider[0].address}} </span></span>
              <span class="m-r-md"><strong>Ciudad/Pais: <span class="label bg-info">{{provider[0].cityName}}</span> 
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Rut: </strong><span class="label bg-secondary">{{provider[0].rut }}</span></span>
              <span class="m-r-md"><strong>Estado:</strong> <span class="{{(statusName == 'Activo')?'badge bg-success':'badge bg-danger'}}">{{statusName}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Telefonos: </strong> <span class="label bg-info">{{provider[0].phone}}</span></span>
              <span class="m-r-md"><span class="label bg-secondary">{{provider[0].mobile}}</span></span>
              
          </div>
          <div class="col-sm-15 m-t-sm">
              
              <span class="m-r-md"><strong>Correo: </strong><span class="label bg-secondary">{{provider[0].email}}</span></span>
          </div>

          <div class="col-sm-15 m-t-sm"></span>
              <span class="m-r-md"><strong>Giro: </strong><span class="uppercase" >{{provider[0].commercialBusiness}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Banco: </strong> Nombre  Banco - {{provider[0].bankAccount}}</span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Web: </strong><span>{{provider[0].web}}</span> </span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Tipo: </strong><span class="label bg-warning">{{provider[0].type}}</span> </span>
          </div>
          

          <div class="col-sm-15 m-t-md" >
              
              <span class="m-r-md"><a disable-all="true" href="#" class="text-info "> <i class="mdi-link-variant"></i> Visualizar Historial</a></span>
              
          </div>
    </div>  
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple ng-disabled = "true" class="md-btn md-raised bg-accent"  ng-click="providersView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="providersView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>