<div class="tree-node tree-node-content" ui-tree-handle ng-class="{'Calculado':' comp-green', 'Evaluación':'comp-orange', 'Evaluacion':'comp-orange'}[node.type_component]">

    <div class="cursor-pointer" data-nodrag ng-click="toggle=!toggle;structure.refreshFraction(node)">
        <span ng-if="!structure.editOrCreate" class="m-l-sm">{{node.title || node.type}} - {{node.alias || node.alias_component}}</span>
        <span class="pull-right m-r-sm text-md" ng-class="{'mdi-chevron-down': toggle, 'mdi-chevron-up': !toggle}"></span>
    </div>
    <i class="cursor-pointer mdi-close text-md pull-right" data-nodrag ng-click="remove(this);structure.main(structure.nodes)" ng-if="structure.editOrCreate && !node.is_final" tooltip-placement="top" tooltip="Eliminar elemento">
    </i>

    <span data-nodrag class="edit-title" ng-if="structure.editOrCreate">
        <span class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="node.title" class="form-control" id="nombre_component" placeholder="Nombre Evaluación">
            </div>
            <div class="form-group">
                <input type="text" ng-model="node.alias_component" class="form-control" maxlength="5" ng-change="structure.main(structure.nodes)" id="alias" placeholder="Alias (eje. NF1)">
            </div>
        </span>
    </span>

    <div ng-hide="toggle" data-nodrag>
        <div class="container-fluid">

            <div class="showing-details" ng-if="!structure.editOrCreate" ng-include="'just_view_info.html'"> </div>
            <div class="edit-or-create" ng-if="structure.editOrCreate" ng-include="'edit_or_create_template.html'"></div>

        </div>
    </div>

</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-if="structure.noDrag" ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'class_panel_structure.html'"></li>
    <li ng-if="!structure.noDrag" ng-repeat="node in node.nodes" ui-tree-node ng-include="'class_panel_structure.html'"></li>
</ol>