<style>
	.input-group-addon {
		border-color: #e5e5e5;
		background-color: #eee; 
	}
	.angular-ui-tree-handle .formula-controllers p {
		font-weight: inherit;
	}
	.alias-link {
		text-decoration: underline rgb(0, 150, 207);
		color: rgb(0, 150, 207)!important;
	}
	.evaluation-list {
		list-style: none;
		padding: 0 15px;
	}
</style>
<form class="form-horizontal text-sm">

	<div class="row m-t-md">
		<div class="col-xs-12">
			<div class="row m-b-md">
				<div class="form-group" ng-if="node.id_type_component == 2">
					<div class="col-xs-12">
						<label><strong>Tipo de componente:</strong> {{node.type_component}}</label>
					</div>
					<div class="col-xs-12 m-t-md">
						<label class="col-xs-3"><strong>Tipo de cálculo</strong></label>
						<div class="col-xs-4">
							<select class="form-control m-l-sm" ng-model="node.type_calc">
								<option value="" ng-selected="true">Seleccione...</option>
								<option value="{{type.id_code}}" ng-selected="node.type_calc.toString() == type.id_code" 
									ng-repeat="type in structure.typesFormula">{{type.ds_name}}</option>
							</select>
						</div>
					</div>

					<!-- Formularion para tipo de calculo: PONDERACION -->
					<div class="col-xs-12 m-t-md" ng-show="node.type_calc == '1'">
						<div data-nodrag class="col-xs-12 m-b-sm" ng-repeat="child in node.nodes">
							<label class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><strong>{{child.title}} - {{child.alias_component}}</strong></label>
							<span class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
								<div class="input-group">
									<input type="text" ng-model="child.porcentaje" 
									ng-change="structure.onChangePercentage(node)"
									class="form-control" id="porcentaje" placeholder="% Ponderación">
									<div class="input-group-addon">%</div>
								</div>
							</span>
						</div>
					</div>

					<!-- Formularion para tipo de calculo: FRACCION -->
					<div class="col-xs-12 m-t-md" ng-show="node.type_calc == '2'">
						<div data-nodrag class="col-xs-12 m-b-sm" ng-repeat="child in node.nodes">
							<label class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><strong>{{child.title}} - {{child.alias_component}}</strong></label>
							<span class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
								<div class="input-group">
									<input type="number" ng-model="child.valores.numerador" ng-change="structure.onChangeFraction(node)"
									class="form-control" id="numerador" placeholder="Numerador">
									<div class="input-group-addon">/</div>
									<input type="number" ng-model="child.valores.denominador" ng-change="structure.onChangeFraction(node)"
									class="form-control" id="denominador" placeholder="Denominador">
								</div>
							</span>
						</div>
					</div>

					<!-- Formularion para tipo de calculo: FORMULA -->
					<div class="col-xs-12 m-t-md" ng-show="node.type_calc == '3'">
						<div class="form-group" data-nodrag>
							<div class="col-xs-12 m-t-md">
								<label class="col-xs-12"><strong>Fórmula</strong></label>
								<div class="col-xs-12">
									<textarea name="obs" ng-model="node.formula" id="obs" rows="3" class="form-control" 
									placeholder="Utilice las opciones inferiores para crear una fórmula a su medida"> </textarea>
								</div>
							</div>
						</div>

						<div class="formula-controllers">
							<label class="col-xs-12"><strong>Evaluaciones Disponibles:</strong></label>
							<div class="col-xs-12">
								<p style="font-weight: 400;">
									<ul class="evaluation-list">
										<li ng-repeat="child in node.nodes">
											{{child.title}} = 
											<strong>
												<a class="alias-link" ng-click="structure.addToFormula(node, child)">
													{{child.alias_component}}
												</a>
											</strong>
										</li>
										<div ng-if="node.nodes.length > 1">
											<li>
												La suma de 1 = 
												<a class="alias-link" ng-click="structure.sumaAllChildren(node)">
													<span ng-repeat="child in node.nodes">{{child.alias_component}}<span ng-if="!$last">+</span></span>
												</a>
											</li>
											<li>
												Lista de 1 = 
												<a class="alias-link" ng-click="structure.concatAllChildren(node)">
													<span ng-repeat="child in node.nodes">{{child.alias_component}}<span ng-if="!$last">,</span></span>
												</a>
											</li>
										</div>
									</ul>
								</p>
							</div>
						</div>

						<label class="col-xs-12"><strong>Operación:</strong></label>
						<div class="col-xs-12">
							<p style="font-weight: 400;">
								<span>Algebráicas</span><br>
								<span>+ Suma, - Resta, * Multiplicación, / División, () Paréntesis</span><br><br>
								
								<span>De comparación</span><br>
								<span>== Igual a, != Distinto a, &gt; Mayor que, &lt; Menor que, &gt;= Mayor o igual que, &lt;= Menor o igual que </span><br><br>

							</p>
						</div>

						<label class="col-xs-12"><strong>Funciones:</strong></label>
						<div class="col-xs-12">
							<p>
								<span ng-repeat="function in structure.functions">
									<a class="alias-link" ng-click="structure.addFunction(node, function)">
										{{function.displayName}}
									</a>
									<span ng-if="!$last">, </span>
								</span>
							</p>
						</div>

					</div>

				</div>

				<div class="form-group" data-nodrag>
					<div class="col-xs-12 m-t-md">
						<label class="col-xs-12"><strong>Observación/Descripción</strong></label>
						<div class="col-xs-12">
							<textarea name="obs" ng-change="node.observaciones = node.observation" ng-model="node.observation" id="obs" rows="3" class="form-control" 
								placeholder="Agrega una observación/descripción">
							</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>