<div class="tree-node tree-node-content p-xs" ui-tree-handle>

    <div class="row gutter-10">

        <div class="col-md-3 col-lg-3 m-v-xs">
            <div class="row" ng-show="structure.editOrCreate">
                <div class="col-xs-2"><i class="mdi-menu i-24 p-t-xs p-h-xs inline fa-rotate-90"></i></div>
                <div class="col-xs-10">
                    <input type="text" ng-model="node.title" class="form-control" data-nodrag />
                </div>
            </div>

            <div class="text-sm p-xs" ng-show="!structure.editOrCreate">{{node.title}}</div>

        </div>

        <div class="col-md-3 col-lg-1 m-v-xs">
            <input ng-show="structure.editOrCreate" type="text" ng-model="node.alias_component" class="form-control" data-nodrag />
            <div class="text-sm p-xs" ng-show="!structure.editOrCreate">{{node.alias_component}}</div>
        </div>

        <div class="col-md-3 col-lg-1 m-v-xs">
            <input ng-show="structure.editOrCreate" ng-model="node.porcentaje" type="text" class="form-control" data-nodrag />
            <div class="text-sm p-xs" ng-show="!structure.editOrCreate">{{node.porcentaje || '0'}}%</div>
        </div>

        <div class="col-md-3 col-lg-2 m-v-xs" data-nodrag>
            <div ng-class="{'no-padding': !structure.editOrCreate}">
                <input ng-disabled="!structure.editOrCreate" type="text" class="form-control" ng-click="structure.dateOpen($event, node)" datepicker-popup="dd-MMM-yyyy" 
                ng-model="node.evaluationDate" is-open="node.opened" min-date="minDate" ng-required="true" data-nodrag />
            </div>
        </div>      

        <div class="col-md-6 col-lg-3 m-t-xs">
            <div class="row gutter-0">
                <div class="col-xs-6">
                    <div ng-class="{'no-padding': !structure.editOrCreate}">
                        <md-checkbox ng-disabled="!structure.editOrCreate" ng-model="node.finalHasf" ng-true-value="1" ng-false-value="0" aria-label="Medio termino" data-nodrag class="md-accent m-v-xs">
                            Medio termino
                        </md-checkbox>
                    </div>
                </div>

                <div class="col-xs-6"> 
                    <div ng-class="{'no-padding': !structure.editOrCreate}">
                        <md-checkbox ng-disabled="!structure.editOrCreate" ng-model="node.finalCollegiate" ng-true-value="1" ng-false-value="0" aria-label="Colegiada final" data-nodrag class="md-accent m-v-xs">
                            Colegiada final
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-2 m-t-xs text-right">
            <span class="p-v-sm p-h-sm inline" data-nodrag>
                <a class="text-dark" tooltip-placement="top" tooltip="Expandir/Contraer" ng-click="toggle=!toggle">
                    <span class="glyphicon" ng-class="{'glyphicon-chevron-down': toggle, 'glyphicon-chevron-up': !toggle}"></span>
                </a>

                <a class="text-accent p-h-sm inline" data-nodrag ng-click="structure.newSubItem(this)" ng-show="structure.editOrCreate" tooltip-placement="top" tooltip="Agregar nuevo">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>    

                <a ng-if="!node.is_final" class="text-danger inline" data-nodrag ng-click="remove(this)" ng-show="structure.editOrCreate" tooltip-placement="top" tooltip="Eliminar">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>                
            </span>

        </div>

    </div>

    <div ng-hide="toggle" data-nodrag>
        <div class="row">
            <div class="col-xs-12">

                <div class="edit-or-create" ng-include="'improve_edit_template.html'"></div>

            </div>
        </div>
    </div>
</div>

<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-if="structure.noDrag" ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'improve_structure.html'"></li>
    <li ng-if="!structure.noDrag" ng-repeat="node in node.nodes" ui-tree-node ng-include="'improve_structure.html'"></li>
</ol>