<style>.th-header > th {padding: 10px!important;}</style>
<div class="row" data-nodrag>
	<div class="col-xs-12">
		<div class="p-sm">
			
			<div class="panel">
				<div class="panel-heading bg-info-light"> {{'IMPROVE_EVIDENCES' | translate}} </div>

				<div class="panel-body">

					<table class="table table-bordered table-condensed bg-white">
						<thead>
							<tr class="bg-primary-dark th-header">
								<th style="width:40%"><div class="text-ellipsis">{{'IMPROVE_GRADUATION_COMPETITION' | translate}}</div></th>
								<th style="width:30%"><div class="text-ellipsis">{{'COURSE_OUTCOMES' | translate}}</div></th>
								<th style="width:20%"><div class="text-ellipsis">{{'IMPROVE_EVALUATION_OR_STRATEGY' | translate}}</div></th>
								<th style="width:10%" class="text-center" ng-if="structure.editOrCreate"><div class="text-ellipsis">{{'IMPROVE_ACTIONS' | translate}}</div></th>
							</tr>
						</thead>

						<tbody>
							<tr ng-if="!(node.list_evidences !== null) && !structure.editOrCreate">
								<td class="text-center" colspan="5">{{'INFO_NOT_FOUND' | translate}}</pre></td>
							</tr>

							<tr ng-if="node.list_evidences !== null" ng-repeat="(key, evidence) in node.list_evidences">
								<td class="v-middle">
									<span editable-select="evidence.idCompetencia" e-name="idCompetencia" e-form="rowform" e-ng-options="s.value as s.text for s in structure.competenciesList">
										{{ (structure.competenciesList | filter:{value: evidence.idCompetencia})[0].text || ' ' }}
									</span>
								</td>
								
								<td class="v-middle">
									<span editable-select="evidence.idResAprendiz" e-name="idResAprendiz" e-form="rowform" e-ng-options="s.value as s.text for s in structure.learningResultsList">
										{{ (structure.learningResultsList | filter:{value: evidence.idResAprendiz})[0].text || ' ' }}
									</span>
								</td>
								
								<td class="v-middle">
									<span editable-text="evidence.nameEvidencia" e-name="nameEvidencia" e-form="rowform" e-required>
										{{ evidence.nameEvidencia || ' ' }}
									</span>
								</td>

								<td style="white-space: nowrap" class="text-center" ng-if="structure.editOrCreate">

									<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
										<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-accent">
											{{'SAVE' | translate}}
										</button>
									</form>

									<div class="buttons" ng-show="!rowform.$visible">

										<ul class="list-inline">
											<li class="dropdown">

												<a href="#" data-toggle="dropdown" ng-show="structure.editOrCreate" class="md-raised bg-white md-btn md-flat no-padding">
													<i class="mdi-dots-horizontal text-md fa-rotate-90"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
													<li><a ng-click="rowform.$show()" >{{'IMPROVE_EDIT' | translate}}</a></li>
													<li><a ng-click="structure.deleteCompetencia(key, node)" >{{'DELETE' | translate}}</a></li>
												</ul>  

											</li>
										</ul>

									</div>  

								</td>
							</tr>

							<tr ng-show="structure.editOrCreate">
								<td class="v-middle">
									<select  ng-model="newCompetencia" id="" class="input-sm form-control">
										<option ng-repeat="comp in structure.competenciesList" value="{{ comp.value }}">{{ comp.text }}</option>
									</select>
								</td>
							
								<td class="v-middle">
									<select  ng-model="newLearning" class="input-sm form-control">
										<option ng-repeat="learn in structure.learningResultsList" value="{{ learn.value }}">{{ learn.text }}</option>
									</select>
								</td>
							
								<td class="v-middle">
									<input type="text" ng-model="newStrategy" class="input-sm form-control" />	
								</td>
							
								<td class="v-middle text-center">
									<button ng-click="structure.addEvidence(newCompetencia, newLearning, newStrategy, node); newCompetencia = null; newLearning = null; newStrategy = null" 
									type="submit" class="btn btn-xs btn-accent">
									Agregar </button>
								</td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>

			<div class="panel">
				<div class="panel-heading bg-info-light">Comentarios</div>
				<div class="panel-body p-sm">
					<textarea ng-show="structure.editOrCreate" ng-model="node.observacion" name="comments" id="comments" rows="3" class="form-control" placeholder="Agregue sus Comentarios aqui"></textarea>
					<p ng-show="!structure.editOrCreate">{{node.observacion || 'Sin comentarios'}}</p>
				</div>
			</div>

		</div>
	</div>
</div>