<div class="row m-t-md">
    <div class="col-xs-4"> <p class=""> Tipo de Componente </p> </div>
    <div class="col-xs-8">
        <p class="text-gris-oscuro-planner">
            {{node.type_component || 'Sin Tipo de Componente definido'}}
        </p>
    </div>
</div>
<div class="row" ng-if="node.type_calc != null">
    <div class="col-xs-4"> <p class="font-bold"> {{node.type_calc_desc}} </p> </div>
    <div class="col-xs-8">
        <p class="text-gris-oscuro-planner">
            {{node.formula}}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-4"> <p class="font-bold"> Observaciones </p> </div>
    <div class="col-xs-8">
        <p class="text-gris-oscuro-planner">
            {{node.observation || 'Sin descripción'}}
        </p>
    </div>
</div>