<div ng-include="'input-text.html'" ng-if="inputCtrl.field.typefield == 'text'"></div>
<div ng-include="'input-number.html'" ng-if="inputCtrl.field.typefield == 'number'"></div>
<div ng-include="'input-select.html'" ng-if="inputCtrl.field.typefield == 'select'"></div>
<div ng-include="'input-select-suggest.html'" ng-if="inputCtrl.field.typefield == 'selectSuggest'"></div>
<div ng-include="'input-multi-select.html'" ng-if="inputCtrl.field.typefield == 'multipleSelect'"></div>
<div ng-include="'input-multi-select-suggest.html'" ng-if="inputCtrl.field.typefield == 'multipleSelectSuggest'"></div>
<div ng-include="'input-list.html'" ng-if="inputCtrl.field.typefield == 'listGroup'"></div>
<div ng-include="'input-textarea.html'" ng-if="inputCtrl.field.typefield == 'textArea'"></div>
<div ng-include="'input-switch.html'" ng-if="inputCtrl.field.typefield == 'switch'"></div>
<div ng-include="'input-datetime.html'" ng-if="inputCtrl.field.typefield == 'datetime'"></div>
<div ng-include="'input-datetime-range.html'" ng-if="inputCtrl.field.typefield == 'datetimeRange'"></div>

<ui-edit-table 
	field="inputCtrl.field" 
	on-change="inputCtrl.ngChange(field)" 
	ng-if="inputCtrl.field.typefield == 'table'"
	ut-options="inputCtrl.uiTableOptions">
</ui-edit-table>
