
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.invoicesProvider">
            <i class="mdi-home"></i>
            FACTURAS PROVEEDOR
        </a>
    </li>
    <li></li>
    <span>Borrador factura proveedor <strong>N° {{invoiceId}}</strong></span>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Factura Proveedor :  <strong class="uppercase">  {{dataInvoice[0].providerName}} 
                <!-- <span>[{{invoiceDetails.originId}}]</span>  -->
                <span><a ng-click="invoicesProviderDraft.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
    <div class="button-group">
        <button ng-disabled="formProviders.$invalid || total == '' || !parseInt(total) || total == 0 " tooltip="Guardar borrador" ng-click="invoicesProviderDraft.invoiceSave(2)" md-ink-ripple class="md-btn md-raised bg-danger">
            <i class="mdi-content-save"></i>
            Guardar
        </button>

        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.invoicesProvider">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-disabled="formProviders.$invalid || total == '' || !parseInt(total) || total == 0 " ng-click="invoicesProviderDraft.invoiceSave(0)">
            <i class="mdi-checkbox-marked-circle-outline"></i>
            Facturar
        </button>
    </div>
</div>
<form name="formProviders" action="">
<div class="panel">
    <div class="panel-heading bg-success">Datos Factura
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales de la Factura" ></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            <strong>Rut:</strong>
                        </label>
                        <div class="col-sm-4">
                            <strong class="label bg-secondary" style="font-size: 12px">{{dataInvoice[0].rut}} </strong>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong>
                        </label>
                        <div class="col-sm-4">
                            <strong class="label bg-secondary" style="font-size: 12px">{{CurrentDate}} </strong>
                        </div>
                    </div>
                </div>
                
                

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Tipo:</strong>
                        </label>
                        <div class="col-sm-6">
                            <strong class="label bg-secondary" style="font-size: 12px">{{dataInvoice[0].type}} </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:  &nbsp;</strong>
                        </label>
                        <div class="col-sm-6">
                            <strong class="label bg-secondary" style="font-size: 12px"> {{dataInvoice[0].origin}} </strong>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Código:</strong>
                        </label>
                        <div class="col-sm-8">
                            <!-- <strong class="label bg-secondary" style="font-size: 12px">{{dataInvoice[0].invoiceCode}} </strong> -->

                            <input type="text" ng-model= "invoiceDetails.invoiceCode" class="md-input ng-pristine ng-untouched uppercase" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div>
                          <tr ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td >{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}} <em>({{items.referenceKey}})</em></td>
                            <td><input class="form-control input-sm {{(items.price >= 0)?' text-dark':'bg-danger'}}" ng-model="items.price" type="number" min="0" style="width :85px"></td>
                            <td><input class="form-control input-sm" ng-model="items.quantity" min= "1" type="number" style="width :60px"></td>
                            <td><input class="form-control input-sm" ng-model="items.disscount" min= "0" type="number" style="width :60px"></td>
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | number:2 }}</strong></td>

                            <td align="center"><a ng-click="invoicesProviderDraft.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          {{totalItem}}
                        </table>
                        <!-- <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div> -->
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 520px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4" >
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ invoicesProviderDraft.getNet() | number:2  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" ng-model="invoiceDetails.discount" min="0" max="30" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ invoicesProviderDraft.getNet() - (invoiceDetails.discount*NET/100) | number:2 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:2 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:2 }}
                            </strong>
                        </h1>
                    </div>
                </div>

                <div class="form-group m-t-md" style="display: none">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>xxx:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ invoicesProviderDraft.getNetTotal() | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
            <div ng-show="internacionalInvoice">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Moneda:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8">
                                <select ng-init="currency={{dataInvoice[0].currency}}" class="form-control" ng-model="currency" ng-change="invoicesProviderDraft.validateCurrency(currency)" required>
                                  <option value="Euro"> € Euro</option>
                                  <option value="Dolar">$ Dólar</option>
                                </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Valor</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-6 m-t-xs">
                        <input type="number" class="form-control" ng-model="valueCurrency" data-nodrag required/>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea cols="40" rows="5" ng-model="invoiceDetails.observation" class="form-control" placeholder="Observación factura" >
                        </textarea>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
  </div>
</div>
</form>