 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="importsView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar documento Importación N°: <strong>{{importId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          
          
          <span class="m-r-md"><strong>  Proveedor: </strong> <span class="uppercase"> {{providerName}}</span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(import[0].statusName == 'Rechazada')?'badge bg-danger':'badge bg-warning'}}">{{import[0].statusName}}</span></span>
          <span>
      </div>
      <div class="col-sm-15">
          <!-- <span class="m-r-md"><strong>Tipo:</strong> <span class="badge bg-info">{{import[0].type}}</span></span> -->
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{import[0].rut}}</span></span>
          
            <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{import[0].currency}}</span>
            <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase">{{currencySymbol}}{{import[0].currencyValue}}</span></span>
          </span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{import[0].date | date:"dd/MM/yyyy"}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span class="badge bg-info">{{import[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{import[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th></th>
              </tr>
              <tr ng-repeat="items in importItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>{{currencySymbol}}{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{currencySymbol}}{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel">
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                      <!-- <th ng-hide="internationalType" >Neto</th>
                      <th ng-hide="internationalType" >Iva</th> -->
                      <th>% Dcto.</th>
                      <th class="pull-right">Total</th>
                    </tr>
                    <tr>
                     <!--  <td ng-hide="internationalType" ><h1><strong>{{currencySymbol}} {{import[0].netPrice}}</strong></h1></td>
                      <td ng-hide="internationalType"><h1><strong>{{currencySymbol}} {{import[0].priceVAT}}</strong></h1></td> -->
                      <td><h1><strong>{{import[0].discount}}</strong></h1></td>
                      <td class="pull-right"><h1><strong>{{currencySymbol}} {{import[0].total}}</strong></h1></td>
                    </tr>
              </table>     
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-warning">{{import[0].userCreation}}</span></span></span>
      </div>

      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-warning">{{import[0].userModifier}}</span></span></span>
      </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="importsProviderView.print('divPrint')">
       <i class="mdi-table-edit"></i>imprimir
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="importsView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>
