 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Solicitud de Pedido N°: <strong>{{orderId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-warning" has-permission= "solicitud-de-pedido-validate" ng-show= "order[0].statusName == 'Pendiente ...'" ng-click="orderPrint.validateOrder(2)">
        <i class="mdi-check"></i> Validar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  has-permission= "solicitud-de-pedido-validate" ng-show= "order[0].statusName == 'Pendiente ...'" ng-click="orderPrint.validateOrder(3)">
        <i class="mdi-check"></i>
        Rechazar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent" ui-sref="app.orders">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          
          <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
          </div> -->
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="orderPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{order[0].providerName}}</span>
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(order[0].statusName == 'Rechazada')?'label bg-danger':'badge bg-warning'}}">{{order[0].statusName}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{order[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="label bg-info">{{order[0].type}}</span></span>
          <span ng-show="internationalType">
            <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{order[0].currency}}</span>
            <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase"><strong> {{currencySymbol}} </strong>{{order[0].currencyValue}}</span></span>
          </span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{order[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{order[0].origin}}</span></span>
          <span class="m-r-md"><strong>Destino:</strong> <span>{{order[0].destination}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{order[0].comment}}</em></span>
      </div>
      <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-accent">{{order[0].userCreation}}</span></span></span>
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%;" class="tablePrint">
              <tr>
                <th class="tablePrint">N°</th>
                <th class="tablePrint">Id</th>
                <th class="tablePrint">Referencia</th>
                <th class="tablePrint">Descripción</th>
                <th class="tablePrint">Marca</th>
                <th class="tablePrint">Stock</th>
                <th class="tablePrint">Precio  <span style="font-size: 9px;">({{currencyText}})</span>  </th>
                <th class="tablePrint">Cant.</th>
                <!-- <th>% Dcto.</th>  -->
                <th class="tablePrint">Total <span style="font-size: 9px;">({{currencyText}})</span>  </th>
                <th class="tablePrint">Check</th>
                <th ng-show="typeSupplies" class="tablePrint">Ubicación Destino</th> 
              </tr>
              <tr ng-repeat="items in orderItems" class="tablePrint">
                <td class="tablePrint">{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="tablePrint"><strong class="uppercase font-italic">{{items.referenceKey}}</strong></td>
                <td class="tablePrint" ><span class="uppercase">{{items.itemDescription}}</span> <span tooltip-placement="right" tooltip="Código Marca" class="font-italic" style="font-size: 11px;">({{items.brandCode}})</span></td>
                <td class="tablePrint"><span class="uppercase label bg-secondary" style="font-size: 10px;">{{items.brand}}</span> </td>
                <td class="tablePrint"><span><strong>{{items.stock}}/{{items.stockGeneral}} </strong>  </span></td>
                <td class="tablePrint">{{currencySymbol}} {{items.price}}</td>
                <td class="tablePrint" align="center"><strong>{{items.quantityItems}}</strong></td> 
                <!-- <td align="center">{{items.discount}}</td> -->
                <td class="tablePrint"><strong>{{currencySymbol}} {{items.total}}</strong></td>
                <td class="tablePrint"></td>
                <td ng-show="typeSupplies" class="tablePrint"><span class="uppercase label bg-secondary" style="font-size: 10px;">{{items.locations}}</span></td>
              </tr>
             
              
        </table>
            </div>
    </div>

<div class="pull-right col-sm-3 ">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>{{currencySymbol}} {{subTotality}}</strong></h4></th>
                    </tr>
                    <!-- <tr>
                      <th><strong><h5>Dcto.:</h5></strong></th>
                      <th><h4><strong>{{order[0].discount}}% </strong></h4></th>
                    </tr> -->
                    <tr ng-hide="internationalType">
                      <th><strong><h5>Neto:</h5></strong></th>
                      <th><h4><strong>{{currencySymbol}} {{order[0].netPrice}}</strong></h4></th>
                    </tr>
                    <tr ng-hide="internationalType">
                      <th><strong><h5>Iva:</h5></strong></th>
                      <th><h4><strong>{{currencySymbol}}{{order[0].priceVAT}}</strong></h4></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: [{{currencyText}}]</h5></strong></th>
                      <th><h4><strong>{{currencySymbol}} {{order[0].total}}</strong></h4></th>
                    </tr>
              </table>    
        </div>
 
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-success">{{order[0].userUpdate}}</span></span></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 .tablePrint {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
} 

table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}    


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
