
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.providers">
            <i class="mdi-home"></i>
            PROVEEDORES
        </a>
    </li>
    <li>Crear proveedor</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Nuevo Proveedor
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.providers">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formProviders.$invalid" ng-click="providersCreate.createProvider()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales del Item"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerName" class="form-control"  required >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Ciudad/Pais</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="city" class="form-control" placeholder="ciudad o pais" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut/Id</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="rut" class="form-control" placeholder="Rut Identificador 71163159-K" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="address" class="form-control" placeholder="Dirección">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="phone" class="form-control" placeholder="000-000000" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Celular</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="mobile" class="form-control" placeholder="00000000000">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Web Site</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="web" class="form-control" placeholder="Web Site">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Banco</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="bank" class="form-control" placeholder="Nombre Banco - N° Cuenta">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Giro/Actividad</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="bussiness" class="form-control" placeholder="Giro">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Correo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" placeholder="" name="email" ng-model="email" aria-invalid="false" required>
                              <span class="text-danger" ng-show="formProviders.email.$touched && formProviders.email.$invalid">Por favor ingrese un email válido.</span>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="type" ng-required="true" >
                                  <option value="1" selected="selected">Nacional</option>
                                  <option value="2">Internacional</option>
                                </select>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
