 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 25px;
  }
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/
  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itemsDelete.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Eliminar Item</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente eliminar Item?</b></br></br>
        <h4><span class="label bg-secondary uppercase">{{itemName}}</span>     &nbsp;<span class="label bg-danger">   ID : {{itemId}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="itemsDelete.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="itemsDelete.deleteItem()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>