 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<!-- <div class="panel-heading">
    <h3 style="text-align:center;">Impresión Item ID: <strong>{{itemId}}</strong></h3>
</div>
<p></p> -->

<div class="main-title">

    <div class="button-group">
      <a ng-click="printItem.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i> Imprimir</span></a>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="printItem.cancel()">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div style="font-size: 20px;">
    <div>
        <div class="panel">
            

        <div id="contenedor">
          <div>
            <img ng-src="{{imageUrl}}" err-src="{{picture}}"  width="280" height="280" class='heaven' > <img src="https://importadorajormat.cl/images/marcadeagua.png" width="280" height="280" class='eye' />


          </div>
          <div>
            <p>   </p>
            <p>   </p>
            <p>   <strong>ID:</strong> {{itemId}} </p>
            <p>   <strong>Descripción:</strong> <span class="uppercase">{{item[0].itemName}} </span></p>
            <p>   <strong >Marca:</strong> <span class="uppercase">{{item[0].brand}}</span></p>
            <p>   <strong>Aplicaciones:</strong><span style="font-size:10px;" ng-repeat="applications in item[0].applications" class="label bg-secondary uppercase">{{applications.applicationName}}</span></p>
            <p>   <strong>Categorias:</strong> <span class="label bg-secondary" style="font-size:10px;"> {{item[0].categoryP}}</span></p>
            <p>   <strong>Precio:</strong> ${{vatPrice | pesosChilenos}} </p>
          </div>
        </div>
        </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  
}   

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.eye{
	  position:absolute;
	}

	.heaven
	{
	  position:absolute;
	}

</style>
