<div has-permission="acceso-administracion-usuarios-edit">
	
	<div class="breadcrumb">
		<div class="crumbs">
			<a ui-sref="app.users">
				{{ 'USER_ADMIN' | translate }}
				<i class="mdi-home"></i>
			</a>
			<span>
				{{ 'CREATE_NEW_USER' | translate }}
			</span>
		</div>
	</div>

	<div class="main-title">
		<div class="title">
			<h1>
				{{ 'CREATE_NEW_USER' | translate }}
			</h1>
		</div>
		<div class="button-group">
			<button md-ink-ripple class="md-btn md-raised" has-disabled="acceso-administracion-usuarios-edit" ui-sref="app.users">
				<i class="mdi-close"></i>{{ 'CANCEL' | translate }}
			</button>
			<button md-ink-ripple class="md-btn md-raised" has-disabled="acceso-administracion-usuarios-edit" ng-click="userCreate.saveUser()" ng-disabled="createUserForm.$invalid">
				<i class="mdi-content-save"></i>{{ 'SAVE' | translate }}
			</button>
		</div>
	</div>

	<form name="createUserForm" class="form-horizontal">

		<div class="row gutter-10">

			<div class="col-md-3">
				<div class="panel bg-primary">
					<div class="panel-body p-v-md">
						<img class="img-circle pull-left m-r-md" src="{{userCreate.user.picture}}" alt="" width="100">
						<div class="p-b-md">
							<h2>{{ 'STATUS' | translate }}</h2>
							<md-switch 
							ng-model="userCreate.user.status"
							name="status">
							<span ng-show="userCreate.user.status == true">{{ 'ACTIVE' | translate }}</span>
							<span ng-show="userCreate.user.status == false">{{ 'INACTIVE' | translate }}</span>
						</md-switch>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-9">

			<div class="panel">
				<div class="panel-heading bg-info">
					<strong>{{ 'PERSONAL_INFO' | translate }}</strong>
				</div>

				<div class="panel-body">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'NAME' | translate }} <span class="text-danger"> *</span></strong>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="" name="name" ng-model="userCreate.user.name" aria-invalid="false" required>
							<span class="text-danger" ng-show="createUserForm.name.$touched && createUserForm.name.$invalid">{{ 'INSERT_FULL_NAME_MSJ' | translate }}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'USERNAME' | translate }}<span class="text-danger"> *</span></strong>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="" name="username" ng-model="userCreate.user.username" aria-invalid="false" required>
							<span class="text-danger" ng-show="createUserForm.username.$touched && createUserForm.username.$invalid">{{ 'INSERT_USER_NAME_MSJ' | translate }}</span>
						</div>
					</div>
<!-- 					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'PASSWORD' | translate }}<span class="text-danger"> *</span></strong>
						</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" placeholder="" name="password" ng-model="userCreate.user.password" aria-invalid="false" required>
							<span class="text-danger" ng-show="createUserForm.password.$touched && createUserForm.password.$invalid">{{ 'INSERT_PASSWORD_MSJ' | translate }}</span>  
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'REPEAT_PASSWORD' | translate }}<span class="text-danger"> *</span></strong>
						</label>
						<div class="col-sm-8">
							<input type="password" tooltip-placement="bottom" tooltip="La contraseña debe ser igual a la ingresada arriba" class="form-control" placeholder="" name="password2" ng-model="userCreate.user.password2" aria-invalid="false" required>
							<span class="text-danger" ng-show="createUserForm.password2.$touched && createUserForm.password2.$invalid">{{ 'INSERT_PASSWORD_AGAIN_MSJ' | translate }}</span>
							<span class="text-danger" ng-show="createUserForm.password.$modelValue !== createUserForm.password2.$modelValue">{{ 'PASSWORD_NOT_MATCH_MSJ' | translate }}.</span>
						</div>
					</div> -->
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'EMAIL' | translate }}<span class="text-danger"> *</span></strong>
						</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" placeholder="" name="email" ng-model="userCreate.user.email" aria-invalid="false" required>
							<span class="text-danger" ng-show="createUserForm.email.$touched && createUserForm.email.$invalid">{{ 'EMAIL_NOT_VALID_MSJ' | translate }}</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'INSTITUTION' | translate }}<span class="text-danger"> *</span></strong>
						</label>
						<div class="col-sm-8">
							<select class="form-control" name="institution" ng-model="userCreate.user.institutions" required>
								<option value="1" selected="selected" ng-disabled="true">{{ 'SELECT_INSTITUTION_PLACEHOLD' | translate }}</option>
								<option value="{{institutions.institutionid}}" ng-repeat="institutions in userCreate.institutions">{{institutions.institutioname}}</option>
							</select>
							<span class="text-danger" ng-show="createUserForm.institution.$touched && createUserForm.institution.$invalid">{{ 'INSERT_INSTITUTION_MSJ' | translate }}</span>
						</div>
					</div>
				</div>

			</div>

			<div class="panel">
				<div class="panel-heading bg-info">
					<strong>{{ 'ACCESS_CONFIG' | translate }}</strong>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'USER_ROLES' | translate }}</strong>
						</label>
						<div class="col-sm-8">
							<ui-select multiple ng-model="userCreate.user.roles" theme="bootstrap"  close-on-select="false" title="Seleccione Rol " remove-selected="false">
								<ui-select-match placeholder="Seleccione Roles...">{{$item.rolename}}</ui-select-match>
								<ui-select-choices repeat="roles in userCreate.roles">
									<div ng-bind-html="roles.name | highlight: $select.search"></div>
									<small>

										<span ng-bind-html="''+roles.rolename | highlight: $select.search"></span>
									</small>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-4 control-label p-r-xs">
							<strong>{{ 'ASSOCIATED_GROUPS' | translate }}</strong>
						</label>
						<div class="col-sm-8">
							<ui-select multiple ng-model="userCreate.user.groups" theme="bootstrap"  close-on-select="false" title="Seleccione Grupos " remove-selected="false">
								<ui-select-match placeholder="Seleccione grupos...">{{$item.groupname}}</ui-select-match>
								<ui-select-choices repeat="groups in userCreate.groups">
									<div ng-bind-html="groups.name | highlight: $select.search"></div>
									<small>

										<span ng-bind-html="''+groups.groupname | highlight: $select.search"></span>
									</small>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</form>
</div>