<div class="panel bg-primary" ng-show="Ctrl.currentSection.nameCourse">
	<div class="panel-body">
		
		<div class="row gutter-10">

			<h5 class="m-t-sm">{{Ctrl.options.title}}</h5>
			<h3 class="font-bold no-m-t">{{Ctrl.currentSection.nameCourse}}</h3>
			<h4 class="text-accent no-m-t">{{Ctrl.currentSection.nameActivity}}, Sección {{Ctrl.currentSection.nameSection}}, NRC: {{Ctrl.currentSection.numberNRC}}</h4>

			<p class="m-t-sm"><i class="mdi-map-marker text-lg m-r"></i>Campus {{Ctrl.currentSection.campusName}} - Edificio {{Ctrl.currentSection.buildingName}}</p>
			<p><i class="mdi-calendar-today text-lg m-r"></i>{{Ctrl.currentSection.namePeriod}} - Jornada {{Ctrl.currentSection.nameShift}}</p>
			<p><i class="mdi-clock text-lg m-r"></i>
			{{Ctrl.currentSection.dias}} - Módulos {{Ctrl.currentSection.numberModule}}: {{Ctrl.currentSection.startTime}} - {{Ctrl.currentSection.endTime}}</p>

			<div ng-if="Ctrl.options.actions.length > 0">
				<button has-disabled="registro-de-asistencia-edit" type="button" class="btn btn-accent pull-right" ng-show="Ctrl.stage != 2" ng-click="Ctrl.buttonUpdateStatus()">{{ Ctrl.getTitleButton() }}</button>

				<div class="pull-right" dropdown dropdown-append-to-body ng-show="Ctrl.stage == 1">
					<button has-disabled="registro-de-asistencia-edit" type="button" class="btn btn-accent dropdown-toggle m-r" dropdown-toggle>
						Acciones <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li has-permission="{{link.hasPermissions}}" ng-repeat="link in Ctrl.options.actions">
							<a ng-click="Ctrl.goTo(link)">{{link.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>

	<!--<div class="panel-body">
		
		<div class="row m-t-xs" ng-if="Ctrl.options.title">
			<div class="col-xs-12">
				<h5>{{Ctrl.options.title}}</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h4 class="no-margin font-bold">
					{{Ctrl.currentSection.nameCourse}}
				</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<span class="text-accent">
					<em>{{Ctrl.currentSection.nameActivity}}, Sección {{Ctrl.currentSection.nameSection}}, NRC: {{Ctrl.currentSection.numberNRC}}</em>
				</span>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12" style="margin-top: 5px; margin-bottom: 0;">
				<span>
					Campus: {{Ctrl.currentSection.campusName}} - Edificio: {{Ctrl.currentSection.buildingName}}
				</span>
			</div>

			<div class="col-xs-12" style="margin-top: 0">
				<h5 class="no-margin"> {{Ctrl.currentSection.namePeriod}} - Jornada {{Ctrl.currentSection.nameShift}} </h5>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 m-b-sm m-t-sm">
				<span>
					<i class="mdi-action-schedule i-20"></i> 
					{{Ctrl.currentSection.dias}} - Módulos {{Ctrl.currentSection.numberModule}}:
				</span>
				<span class=" text-center m-l-sm">
					{{Ctrl.currentSection.startTime}} - {{Ctrl.currentSection.endTime}}
				</span>
				
				<div class="pull-right" ng-if="Ctrl.options.actions.length > 0">
					
					<div class="btn-group" dropdown dropdown-append-to-body ng-show="Ctrl.stage == 1">
						<button has-disabled="inicio-edit" type="button" class="btn btn-accent dropdown-toggle" dropdown-toggle>
							Acciones <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="link in Ctrl.options.actions">
								<a ng-click="Ctrl.goTo(link)">{{link.title}}</a>
							</li>
						</ul>
					</div>

					<div class="btn-group">
						<button has-disabled="inicio-edit" type="button" md-ink-ripple class="btn btn-accent" ng-show="Ctrl.stage != 2" ng-click="Ctrl.buttonUpdateStatus()">
							{{ Ctrl.getTitleButton() }}
						</button>
					</div>
					
				</div>
			</div>
		</div>

	</div> -->
</div>

<div class="panel bg-primary" ng-show="!Ctrl.currentSection.nameCourse">
	<div class="panel-body">
		<h4> No Posee ninguna clase por iniciar </h4>
		<h4 class="text-accent">
			<span> Debe programar la próxima clase </span>
		</h4>
	</div>
</div>