 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="expenseControlView.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3 >Visualizar Gasto : {{expenseControlId}} </h3>
</div>
<div class="modal-body">
	  <div class="panel-body">
		<div class="panel-body">
		  <div class="col-sm-19 m-t-sm">
			  <span class="m-r-md"><strong>Documento: </strong> <span class="label bg-warning"> {{expenseControl[0].documentTypeName}}</span> </span>
			  <span class="m-r-md"><strong>Fecha: </strong> {{expenseControl[0].date}}</span>
			  <span class="m-r-md"><span class="badge bg-{{expenseControl[0].styleStatus}}">{{expenseControl[0].status}}</span></span>
			   
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Folio: </strong> <span> {{expenseControl[0].documentId}}</span></span>
			  
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Cuenta: </strong><span class="label bg-secondary"> {{expenseControl[0].accountName}}</span> </span>
			  <span class="m-r-md"><strong>Valor: </strong> <span class="label bg-secondary" style="font-size:medium;">$<strong>{{expenseControl[0].shareValue}}</strong> </span> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Origen: </strong> <span> {{expenseControl[0].origin}}</span> </span>
		  </div>
		  
		  <div class="col-sm-15">
			  <span class="m-r-md"><strong>Proveedor: </strong> <span class="uppercase">{{expenseControl[0].providerName}}</span></span>
			 
		  </div>

		  <div class="col-sm-15">
			  <span class="m-r-md"><strong>Rut: </strong> <span class="uppercase">{{expenseControl[0].rut}}</span></span>
			 
		  </div>
		  <div class="col-sm-15">
			  <span class="m-r-md"><strong>Responsable: </strong> <span><em>{{expenseControl[0].responsableName}}</em></span></span>
			 
		  </div>
		  <div class="col-sm-15"> 
			  <span class="m-r-md"><strong>Detalle: </strong><span>{{expenseControl[0].details}}</span></span> 
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Fecha ingreso: </strong> <span> {{expenseControl[0].admissionDate}}</span> </span>
		  </div>
		  
	      <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Fecha revisión: </strong> <span> {{expenseControl[0].acceptanceDate}}</span> </span>
			  <span class="m-r-md"><strong>Archivado: </strong> <span class="label bg-warning"> {{expenseControl[0].isArchived}}</span> </span>
		  </div>

		  <div class="col-sm-15 m-t-sm">
          	<span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-secondary">{{expenseControl[0].userCreation}}</span></span></span>

          	<span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-secondary">{{expenseControl[0].userUpdate}}</span></span></span>
	      </div>
		  
		  
		</div>
</div>
<div class="modal-footer">
  <div class="button-group">
  	
  	<span ng-show= "expenseControl[0].status == 'Pendiente ...'" >
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="expenseControlView.expenseControlUpdateStatus(2)">
		   <i class="mdi-check-all"></i> Validar
		</button>

		<button style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="expenseControlView.expenseControlUpdateStatus(3)">
		   <i class=" mdi-alert"></i> Rechazar
		</button>
	</span>
	
<span ng-show= "expenseControl[0].status == 'Rechazado' || expenseControl[0].status == 'Validado' ">
	<span ng-show= "expenseControl[0].isArchived == 'No'" >
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="expenseControlView.expenseControlArchived()">
		   <i class="mdi-folder-lock"></i> Archivar
		</button>
	</span>
	</span>

	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="expenseControlView.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>
