<div class="panel bg-info">
	<div class="panel-body">

		<div class="label-form cursor-pointer" ng-click="showFilters = !showFilters">

			<label ng-if="Ctrl.opt.title">{{ Ctrl.opt.title | translate }}</label>
			<label ng-if="!showFilters && Ctrl.opt.complement">{{ Ctrl.opt.complement | translate }}</label>
			<label ng-if="Ctrl.getFieldSelected() !== false"> {{ Ctrl.getFieldSelected() }} </label>

			<i class="pull-right" ng-class="{'mdi-chevron-up': showFilters, 'mdi-chevron-down': !showFilters}" tooltip-placement="left" tooltip="Expandir/Ocultar"></i>
		</div>

		<div ng-show="showFilters">
			<br>
			<form novalidate="" name="filterForm">

				<div class="inputs-content">
					<div class="row gutter-10" ng-repeat="rows in Ctrl.regularInputs">
						<div class="col-sm-{{field.cols}}" ng-repeat="field in rows">

							<dynamic-input 
							ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
							field="field" 
							base-service-url="Ctrl.filters.baseUrl" 
							show-title="true"
							on-change="Ctrl.onChange(field, cleanModel)"
							type-form="not-inline"
							additional-params="Ctrl.filters.staticParams"> </dynamic-input>

						</div>
					</div>
				</div>

				<div class="inputs-content" ng-show="showMoreFilters || Ctrl.regularInputs.length <= 0">
					<div class="row gutter-10" ng-repeat="rows in Ctrl.advancedInputs">
						<div class="col-sm-{{field.cols}}" ng-repeat="field in rows">

							<dynamic-input 
							ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
							field="field"
							base-service-url="Ctrl.filters.baseUrl" 
							show-title="true"
							on-change="Ctrl.onChange(field, cleanModel)"
							type-form="not-inline"
							additional-params="Ctrl.filters.staticParams"> </dynamic-input>

						</div>
					</div>
				</div>

				<div class="btn-actions right">
					<a ng-show="Ctrl.advancedInputs.length > 0 && Ctrl.regularInputs.length > 0" ng-click="showMoreFilters = !showMoreFilters">{{ 'SHOW_ADVANCED_FILTERS' | translate }}</a>


					<button ng-if="Ctrl.opt.btnSave && Ctrl.opt.allowDownload" type="submit" md-ink-ripple class="md-btn bg-accent" ng-click="Ctrl.download()" ng-disabled="Ctrl.disabledSubmit()">

						<i class="mdi-download"></i>
						{{ 'DOWNLOAD' | translate }}
					</button>

					<button ng-if="Ctrl.opt.btnSave" type="submit" md-ink-ripple class="md-btn bg-accent" ng-click="Ctrl.submit()" ng-disabled="Ctrl.disabledSubmit()">

						<i class="mdi-magnify"></i>
						{{ 'SEARCH' | translate }}
					</button>
				</div>

			</form>
		</div>

	</div>
</div>