<div class="list-filter-min" ng-show="Ctrl.listToggle">

	<div class="info">
		<button ng-click="Ctrl.toggleHide()">
			<i class="mdi-magnify"></i>
		</button>
		<div class="l-info">
			<div class="info-primary">
				<h4 ng-if="Ctrl.Item.title">{{ 'SHOW_FILTERS' | translate }}</h4>
				<h4>{{ 'SHOW_FILTERS' | translate }}</h4>
			</div>
		</div>
	</div>

</div>

<div class="list-filter" ng-show="!Ctrl.listToggle">

	<form novalidate="" class="form" name="filterForm">

		<div class="form-group">
			<div class="label-form cursor-pointer" ng-click="Ctrl.toggleHide()" tooltip="{{ 'HIDE' | translate }}" tooltip-placement="right">
				<label>{{ 'SEARCH_FOR' | translate }}</label>
				<i class="mdi-chevron-double-up"></i>
			</div>
			<div ng-repeat="rows in Ctrl.regularInputs track by $index">
				<div ng-repeat="field in rows track by $index">
					<dynamic-input 
					ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
					field="field" 
					base-service-url="Ctrl.filters.baseUrl" 
					show-title="true"
					on-change="Ctrl.onChange(field, cleanModel)"
					type-form="not-inline"
					additional-params="Ctrl.filters.staticParams"> </dynamic-input>
				</div>
			</div>
		</div>

		<div class="form-group" ng-show="Ctrl.advancedInputs.length > 0">
			<div class="label-form" ng-if="Ctrl.regularInputs.length > 0" ng-click="Ctrl.showAdvancedFilters = !Ctrl.showAdvancedFilters">
				<label>{{ 'SHOW_ADVANCED_FILTERS' | translate }}</label>
				<i ng-class="{'mdi-chevron-up':Ctrl.showAdvancedFilters,'mdi-chevron-down':!Ctrl.showAdvancedFilters}"></i>
			</div>
			<div ng-if="Ctrl.showAdvancedFilters || Ctrl.regularInputs.length <= 0" ng-repeat="rows in Ctrl.advancedInputs track by $index">

				<div ng-repeat="field in rows track by $index">
					<dynamic-input 
					ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
					field="field" 
					allow-clear="true"
					base-service-url="Ctrl.filters.baseUrl" 
					show-title="true"
					on-change="Ctrl.onChange(field, cleanModel)"
					type-form="not-inline"
					additional-params="Ctrl.filters.staticParams"> </dynamic-input>
				</div>

			</div>
		</div>

		<div class="actions">

			<button
			type="submit"
			md-ink-ripple ng-if="Ctrl.opt.allowDownload"
			class="md-btn md-raised btn-accent" 
			ng-click="Ctrl.download()" 
			ng-disabled="Ctrl.disabledSubmit()">
			<i class="mdi-download"></i> {{ 'DOWNLOAD' | translate }}</button>

			<button type="submit" md-ink-ripple 
			class="md-btn md-raised btn-accent" 
			ng-click="Ctrl.submit()" 
			ng-disabled="Ctrl.disabledSubmit()">
			<i class="mdi-magnify"></i> {{ 'SEARCH' | translate }} </button>

		</div>

	</form>

</div>