
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}
.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
.yellow { color: black; background-color: yellow !important; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.supplierReturn">
            <i class="mdi-home"></i>
            DEVOLUCIÓN PROVEEDOR
        </a>
    </li>
    <li>Crear devolución</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Proveedor :  <strong class="uppercase">  {{providerName}} <span>[{{providerId}}]</span> 
                 <span><a ng-click="supplierReturnCreate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.supplierReturn">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button tooltip-placement="bottom" tooltip="Recuerde que al crear una devolución se hara ajuste de stock" type="submit" onclick="this.disabled=true;" has-permission="devolucion-proveedor-edit" md-ink-ripple class="md-btn md-raised bg-danger"  ng-disabled="formNote.$invalid || total == '' || !parseInt(total) || total == 0  " ng-click="supplierReturnCreate.suplierReturnCreate()">
            <i class="mdi-content-paste"></i>
            Crear devolución
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos devolución
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales de la devolución"></span>
    </div>
    <div class="panel-body">
        <form name="formNote" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut / Razon Social:</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-8">
                            <ui-select class="uppercase" ng-change= "supplierReturnCreate.setName(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider" ng-required="true" >
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h3 ng-bind-html="''+provider.providerName | highlight: $select.search"></h3>
                                
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>

                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha devolución" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Factura</strong>
                        </label>
                        <div class="col-sm-8">
                             <input type="text" ng-model="invoiceId" class="form-control" placeholder="N° Documento" required>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="type" ng-required="true" >
                                  <option value="1" selected="selected">Devolución</option>
                                  <option value="2">Falla</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="supplierReturnCreate.setWarehouseId($select.selected.warehouseId);supplierReturnCreate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="panelInvoice">

<div class="row gutter-10">
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td >{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}</td>
                            <td><input class="form-control input-sm {{(items.price >= 0)?' text-dark':'bg-danger'}}" ng-model="items.price" type="number" min="0" style="width :85px"></td>
                            <td><input class="form-control input-sm" ng-model="items.quantity" min= "1" type="number" style="width :60px"></td>
                            <td><input class="form-control input-sm" ng-model="items.disscount" min= "0" type="number" style="width :60px"></td>
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | number:0 }}</strong></td>

                            <td align="center"><a ng-click="supplierReturnCreate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          <!-- {{totalItem}} -->
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ supplierReturnCreate.getNet() | number:0  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 30)?' ':'bg-danger'}}" ng-model="discount" min="0" max="30" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ supplierReturnCreate.getNet() - (discount*NET/100) | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación devolución" required>
                        </textarea>
                    </div>
                </div>

        </div>
        </div>
    </div>
    
  </div>
</div>
