 <style>
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  .red { color: black;font-style: bold; background-color: yellow !important; }
  </style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.homeSuite">
            <i class="mdi-home"></i>
            INVENTARIO
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Inventario por sucursal 
        </h1>
        <!-- <div class="pull-right">
        <span class="label bg-secundary uppercase" style="font-size: 15px;">{{warehouseName}}</span>
        <span ng-show= "listItems" style="font-size: 13px;">Ubicación:</span> <span class="label bg-warning uppercase" style="font-size: 15px;">{{locationName}}</span>
        </div> -->
    </div>
   <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised m-l-sm" ng-disabled="true" has-permission= "inventario-sucursal-view" ui-sref="app.warehouseInventory" popover="Inventario por sucursal" popover-placement="bottom" popover-trigger="mouseenter"><i class="mdi-home-variant"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "inventario-diario-view" ui-sref="app.dailyInventory" popover="Inventario diario" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-calendar-multiple-check"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "inventario-items-view" ui-sref="app.inventory" popover="Inventario general" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-engine"></i>
        </button>
    </div>
</div>
<div class="panel">
    <div class="panel-heading bg-success">Seleccione Bodega
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Bodegas asociados a cada item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <form name="formReport" action="" class="form-horizontal">
    <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Bodega</strong>
                        </label>
                        <div class="col-sm-8">
                            <!-- {{itemDetails.warehouses}} --{{warehouses}} -->
                            <ui-select ng-change="warehouseInventory.callItems($select.selected)" ng-model="warehouseId" theme="bootstrap"  title="Seleccione Bodega " ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
						<label class="col-sm-4 control-label"> </label>
						<div class="col-sm-8">
                            <p>
								<label class="md-check">
									<input type="checkbox" ng-model="warehouseInventory.mayorCero" 
										parse-int ng-true-value="true" ng-false-value="false" ng-click="warehouseInventory.selectAllItemsMajorCero(warehouseInventory.mayorCero)">
									<i class="bg-accent"> </i><strong>STOCK MAYOR A 0</strong>
								</label>
							</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</div>
<div class="panel" >
    <div class="panel-body no-padding">
        <div ui-grid="itemsGrid" style="height: 500px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }
</style>
