 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 15px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }

  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="customerNotification.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Información adicional / Documentos pendientes</h3>
</div>
<div class="modal-body">
	  <div class="panel-body">

	  	<div class="row">
            <div class="col-md-10 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-8 control-label">
                        <strong>Crédito:</strong>
                    </label>
                    <div class="col-sm-2">
                        <span style="font-size:medium;" class="label bg-warning uppercase m-r-sm"> {{creditValue}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-8 control-label">
                        <strong>Facturas:</strong>
                    </label>
                    <div class="col-sm-2">
                        <span style="font-size:medium;" tooltip="Facturas pendientes" class="badge bg-danger uppercase m-r-sm"> {{invoicesSum}} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-10 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-8 control-label">
                        <strong>Notas:</strong>
                    </label>
                    <div class="col-sm-2">
                        <span style="font-size:medium;" tooltip="Notas de crédito disponibles" class="badge bg-danger uppercase m-r-sm"> {{notesSum}} </span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-10 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-8 control-label">
                        <strong>Cheques:</strong>
                    </label>
                    <div class="col-sm-2">
                        <span style="font-size:medium;" tooltip="Cheques protestados/rechazados" class="badge bg-danger uppercase m-r-sm"> {{checksSum}} </span>

                    </div>
                </div>
            </div>

            <div class="col-md-10 m-t-md">
                <div class="form-group" al>
                    <label for="" class="col-sm-10">
                        <a ng-click="customerNotification.viewMore()">Más detalles</a>
                    </label>
                </div>
            </div>
          </div>
          </div>
</div>
<!-- <div class="modal-footer">
  <div class="button-group">
	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="customerNotification.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div> -->