
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            CATEGORIAS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Categorias
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "categorias-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.categoriesCreate">
            <i class="mdi-plus"></i>
            Crear Categoria
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Categorias" ng-model="categoriesList.searchText" ng-change="categoriesList.searchData()" ng-model-options="categoriesList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="categoriesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
</style>
