 <style>
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            ITEMS
        </a>
    </li>
    <li>Actualización Item</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Modificar Item {{id}}
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple tooltip="Subir Foto" class="md-btn md-raised bg-primary" ng-click="itemsUpdate.uploadIMG()">
            <i class="mdi-cloud-upload"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.items">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="updateItemForm.$invalid " md-ink-ripple class="md-btn md-raised bg-accent"  has-disabled= "repuestos-edit" ng-click="itemsUpdate.updateItem()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>
<form name="updateItemForm"  class="form-horizontal">
<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del Item." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descripción Item</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input has-disabled= "repuestos-edit" type="text" ng-model="itemDetails.name" class="form-control uppercase" maxlength="60" placeholder="nombre item" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha creación:</strong>
                        </label>
                        <div class="col-sm-8">
                            <span class="badge bg-warning">{{itemDetails.createdDate | date:'dd/MM/yyyy' }}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6" has-disabled= "repuestos-matrix">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Proveedores</strong><span class="dato-obligatorio">*</span>
                        </label>
                         <div class="col-sm-8">
                            <ui-select  multiple ng-model="itemDetails.providers" theme="bootstrap"  title="Seleccione Proveedores " required>
                                <ui-select-match placeholder="Seleccione Proveedores..." class="uppercase">{{$item.providerName}}</ui-select-match>
                                <ui-select-choices repeat="providers in providers | filter: $select.search">
                                    <div ng-bind-html="providers.providerName | highlight: $select.search" class="uppercase"></div>
                                    <small>

                                        <h4 ng-bind-html="''+providers.rut | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Aplicaciones</strong><span class="dato-obligatorio">*</span>
                        </label>
                         <div class="col-sm-8">
                            <ui-select  multiple ng-model="itemDetails.applications" theme="bootstrap"  title="Seleccione aplicaciones " required>
                                <ui-select-match placeholder="Seleccione Aplicación..." class="uppercase">{{$item.applicationName}}</ui-select-match>
                                <ui-select-choices repeat="applications in applications | filter: $select.search">
                                    <div ng-bind-html="applications.applicationName | highlight: $select.search" class="uppercase"></div>
                                    <small>

                                        <h4 ng-bind-html="''+applications.applicationCode | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Categorias</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select has-disabled= "repuestos-edit" multiple ng-model="itemDetails.categories" theme="bootstrap"  title="Seleccione categoria " required>
                                <ui-select-match placeholder="Seleccione categorias...">{{$item.categoryName}}</ui-select-match>
                                <ui-select-choices repeat="categorie in categories | filter: $select.search">
                                    <div ng-bind-html="categorie.categoryName | highlight: $select.search"></div>
                                    <!-- <small>

                                        <h4 ng-bind-html="''+categories.categoryCode| highlight: $select.search"></h4>
                                    </small> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Marca:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input has-disabled= "repuestos-matrix" type="text" ng-model="itemDetails.brand" class="form-control uppercase" placeholder="Marca" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código Marca</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model= "itemDetails.brandCode" class="form-control uppercase"  required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong>
                        </label>
                        <div class="col-sm-4">
                            <select ng-init="itemDetails.type={{item[0].type}}" ng-change= "itemsUpdate.internationalType(itemDetails.type)" class="form-control" ng-model="itemDetails.type">
                              <option value="Nacional">Nacional</option>
                              <option value="Internacional">Internacional</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading bg-warning">Bodega y Ubicaciones
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Bodegas y ubicaciones asociados a cada item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Bodegas</strong>
                        </label>
                        <div class="col-sm-8">
                            <!-- {{itemDetails.warehouses}} --{{warehouses}} -->
                            <ui-select ng-change="itemsUpdate.callLocations($select.selected.warehouseId)" ng-model="itemDetails.warehouses[0]" theme="bootstrap"  title="Seleccione Ubicación ">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouse.warehouseName | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseCode | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Stock</strong>
                        </label>
                        <div class="col-sm-4">
                            <input has-disabled="true"  type="number" ng-model="itemDetails.stock" class="form-control"  ng-required="true" data-nodrag />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Ubicaciones</strong>
                        </label>
                        <div class="col-sm-8">
                            <ui-select multiple ng-disabled="locationsInput" ng-model="itemDetails.locations" theme="bootstrap"  title="Seleccione Ubicación ">
                                <ui-select-match>{{$item.locationName}}</ui-select-match>
                                <ui-select-choices repeat="locations in locations | filter: $select.search">
                                    <div ng-bind-html="locations.locationName | highlight: $select.search"></div>
                                    <small>
                                        <span ng-bind-html="''+locations.locationsName | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div ng-show="updateLocationOption" class="form-group pull-right">
                        <label for="" class="col-sm-4 control-label">
                            <strong style="color: white;">xxx</strong>
                        </label>
                        <div class="col-sm-4 ">
                            <a ><span class="label bg-danger" style="font-size:12px ;" ng-click="itemsUpdate.updateBodegas()" tooltip="Actualizar Ubicación"><i class="mdi-forklift"></i> Modificar</span></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="row gutter-10">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-heading bg-success">Códigos referencias asociados a Item <span class="dato-obligatorio">*</span>
                <span class="mdi-help-circle pull-right cursor-pointer" popover="'Referencias:' Estos son los codigos internacionales a asociados a cada item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">
                    <div class="form-group">
                        <form name="skillsFrm" ng-submit="addReference()">
                            <div class="col-sm-5 ">
                                <input has-disabled= "repuestos-edit" type="text"  class="form-control" name="reference" ng-model="reference" />
                            </div>
                            <div class="col-sm-4 ">
                                <button class="md-btn md-raised bg-accent" ng-disabled="skillsFrm.$invalid" ng-click="addReference()">+ Referencia</button>
                            </div>
                        </form><br>
                    </div>
                    <div> 
                        <div ng-repeat="item in references" class="{'fadeOut' : item.done} m-t-md btn-group-vertical">
                            <h3 class="label bg-secondary " >{{item.title }}</h3>
                              <span class="mdi-close-box" ng-click="deleteReference($index)"></span>
                        </div>
                    </div> 
            </div>
        </div>
        <!-- <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group" disable-all="true">
                        <form name="skillsFrm" disable-all="true">
                            <div class="col-sm-12 ">
                                <md-switch class="md-primary" ng-disable="checked" md-no-ink aria-label="Switch No Ink" >
                                     ¿Desea Convertir este item en <span class="label bg-secondary">Kit</span> ?
                                  </md-switch>
                                <ui-select multiple ng-disabled="true" ng-model="checked" theme="bootstrap"  title="Seleccione items " >
                                <ui-select-match placeholder="agregue items ...">{{$item.itemName}}</ui-select-match>
                                <ui-select-choices repeat="items in items">
                                    <div ng-bind-html="items.name | highlight: $select.search"></div>
                                    <small>

                                        <span ng-bind-html="''+items.itemName | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            </div>
                          </form><br>
                    </div>   
                </form>
            </div>
        </div> -->

        <div class="panel">
            <div class="panel-heading bg-success">Web
                <span class="mdi-help-circle pull-right cursor-pointer" popover="Ingrese datos web" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">

                <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo Web</strong>
                        </label>
                        <div class="col-sm-6">
                           <select class="form-control" ng-model="itemDetails.webType" ng-init="itemDetails.webType={{item[0].webType}}">
                              <option value="NO">NO</option>
                              <option value="SI">SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Link Web</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="itemDetails.web"  data-nodrag />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Drive</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="itemDetails.driveLink"  data-nodrag />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Mercado Libre</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="itemDetails.freeMarket" data-nodrag />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Codigo M/L</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"  ng-model="itemDetails.freeMarketCode" data-nodrag />
                        </div>
                    </div>
            </div>
        </div>

        
    </div>
    <div class="col-sm-4" >
        <div class="panel">
            <div class="panel-heading bg-success">Precios $
                <span class="mdi-help-circle pull-right cursor-pointer" popover="Precios detalle item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">
                <div class="form-group" has-permission= "repuestos-edit">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Compra Neto</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" ng-model="itemDetails.netPurchaseValue" class="form-control"  ng-required="true" data-nodrag />
                        </div>
                    </div>
                    <div class="form-group" has-permission= "repuestos-edit">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Compra</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" ng-model="itemDetails.purchasePrice" class="form-control"  ng-required="true" data-nodrag />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Neto</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input has-disabled= "repuestos-edit" type="number" ng-model="itemDetails.netPrice" class="form-control"  ng-required="true" data-nodrag />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Distribuidor</strong>
                        </label>
                        <div class="col-sm-6">
                            <input has-disabled= "repuestos-edit" type="number" ng-model="itemDetails.mayorPrice" class="form-control"  data-nodrag />
                        </div>
                    </div>
                    






            </div>
        </div>
        <div class="panel" ng-show="internationalPanel">
            <div class="panel-heading bg-accent">Tipo Internacional
                <span class="mdi-help-circle pull-right cursor-pointer" popover="Ingrese datos repuesto tipo internacional" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Moneda</strong>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="itemDetails.currency" ng-init="itemDetails.currency={{item[0].currency}}">
                              <option value="Dólar" selected="selected">Dólar $</option>
                              <option value="Euro">Euro €</option>
                            </select>
                        </div>
                    </div>
                    <div has-permission="repuestos-critical" class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Valor Repuesto</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="text"  ng-model="itemDetails.currencyValue" class="form-control" data-nodrag />
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-heading bg-success">Información Adicional <em ng-show= "itemDetails.oil == 1">[Producto bloqueo descuento]</em>
                <span class="mdi-help-circle pull-right cursor-pointer" popover="otros datos asociados al item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Bloqueo Descuento:</strong>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="itemDetails.oil" value="itemDetails.oil" has-disabled="repuestos-critical">
                              <option value="0" selected="selected">NO</option>
                              <option value="1">SI</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Oferta</strong>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="itemDetails.offerIs" has-disabled="repuestos-critical">
                              <option value="0">NO</option>
                              <option value="1">SI</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descuento Máximo</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" has-disabled= "repuestos-edit"  class="form-control" value="   " ng-model="itemDetails.maxDiscount" ng-required="true" data-nodrag />
                        </div>
                    </div>
                    <div class="form-group" has-permission= "repuestos-edit">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Competencia</strong>
                        </label>
                        <div class="col-sm-6">
                            <textarea class="form-control" ng-model="itemDetails.competitionPrice" rows="4" maxlength="1000"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Stock Crítico</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control bg-danger" ng-model="itemDetails.criticalStock" ng-required="true" data-nodrag />
                        </div>
                    </div>

                    
                    <div class="form-group" has-permission= "repuestos-edit">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Observación</strong>
                        </label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="4" ng-model="itemDetails.observation"  maxlength="1000"></textarea>
                        </div>
                    </div>
            </div>
          </div>
      </div>
     </div>
  </div>
</div>
 </form>
