 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="statusUserUpdate.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Activar/desactivar usuario</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente {{text}} Usuario?</b> </br></br>
        <h4>Nombre: <span>{{fullName}}</span> Estado: <span class="label bg-secundary">{{status}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="statusUserUpdate.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="statusUserUpdate.updateStatus()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>