<div ng-repeat="(ocuKey, occurrence) in OccsCtrl.occurrences.data" ng-if="OccsCtrl.occurrences.availableList">

	<u-single-occurrence 
		occurrence="occurrence"
		base-service-url="OccsCtrl.baseServiceUrl"
		parent="OccsCtrl.occurrences"
		index="ocuKey"
		empty-substructure-folter="{{ OccsCtrl.emptySubstructureFolter }}"
		on-delete="OccsCtrl.deleteOccurrence(occurrence, index)"
		on-submit="OccsCtrl.saveOccurrence(occurrence)"
		add-params="OccsCtrl.addParams"> 
	</u-single-occurrence>

</div>

<div class="row m-t-sm" ng-if="OccsCtrl.occurrences.availableList.length > 0" >
	<div class="col-xs-6 col-sm-10">
		<ui-select name="occur" ng-model="OccsCtrl.newOccurrence">
		    <ui-select-match class="ui-select-search input-xs" placeholder="Seleccione..." allow-clear="true">
		        <span class="text-xs font-family">{{ $select.selected.label | translate }}</span>
		    </ui-select-match>
		    <ui-select-choices repeat="occur in OccsCtrl.occurrences.availableList | filter: $select.search">
		        <span ng-bind-html="occur.label | translate | highlight: $select.search"></span>
		    </ui-select-choices>
		</ui-select>
	</div>

	<div class="col-xs-6 col-sm-2">
		<div class="pull-right">
			<button type="button" ng-click="OccsCtrl.addOccurrenceStatic()" 
					ng-disabled="!OccsCtrl.newOccurrence.label"
					class="btn btn-sm bg-info-light md-btn md-flat md-raised">
				<i class="mdi-plus"></i>{{ 'ADD' | translate }}
			</button>
		</div>
	</div>

</div>

<div class="row" ng-if="OccsCtrl.occurrences.typefield == 'dynamicOccurrences'">

	<div class="col-xs-12">
		<div class="pull-right m-t-sm">
			<button type="button" ng-click="OccsCtrl.addOccurrence()" 
					class="btn btn-sm bg-info-light md-btn md-flat md-raised">
				<i class="mdi-plus"></i>{{ 'ADD' | translate }}
			</button>
		</div>
	</div>

</div>