
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.expenseControl">
            <i class="mdi-home"></i>
            CONTROL DE GASTOS
        </a>
    </li>
    <li>Ingresar gasto</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Nuevo gasto
        </h1>
    </div>
    <div class="button-group">
        <button  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.expenseControl">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formExpenseControl.$invalid || rutValidate" ng-click="expenseControlCreate.createExpenseControl()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la ubicación." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formExpenseControl" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Folio:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" tooltip="Numero de Folio" ng-model="folio" class="form-control uppercase" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Tipo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="documentType" placeholder="Seleccione tipo de documento" required>
                              <option value="1">Factura Electrónica</option>
                              <option value="6">Boleta</option>
                              <option value="12">Factura Exenta</option>
                              <option value="11">Otros documentos</option>
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Responsable:</strong>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Ingrese Nombre usuario responsable" type="text" ng-model="responsable" class="form-control uppercase" style="text-transform:uppercase;"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input tooltip="Fecha emisión" class="uppercase" type="date" ng-model="day" required>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Valor total:</strong><span class="dato-obligatorio">*</span> 
                        </label>
                        <div class="col-sm-4">
                            <strong><input type="number"  tooltip="Valor Total documento" ng-model="shareValue" class="form-control bg-warning" required></strong>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cuenta:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <ui-select ng-change="expenseControlCreate.setAccount($select.selected.accountId)" ng-model="account" theme="bootstrap"  tooltip="Seleccione cuenta asociada" required>
                            <ui-select-match >{{$select.selected.accountName}}</ui-select-match>
                            <ui-select-choices repeat="accounts in accounts | filter: $select.search track by $index" refresh-delay="0">
                                <h4 ng-bind-html="''+accounts.accountName | highlight: $select.search | uppercase"></h4>
                                
                                <strong>
                                <div  ng-bind-html="accounts.accountCode | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select> 
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Proveedor:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerName" class="form-control" placeholder="Nombre proveedor" required>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <ui-select ng-change="expenseControlCreate.setOriginId($select.selected.warehouseId)" tooltip="Origen" ng-model="originId" theme="bootstrap"  title="Sucursal gasto" required >
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehousesTo | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.officeName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input tooltip="Rut sin puntos + guión" type="text" ng-model="rut" class="form-control uppercase" placeholder="71163159-K" required style="text-transform:uppercase;">
                        </div>
                        
                        <div class="col-sm-2">
                            <p class="text-danger" style="font-size: 12px;font-style: italic">{{textValidation}}</p>
                            
                        </div>
                        <div class="col-sm-2">
                            <a><span class="label bg-warning uppercase" ng-click="expenseControlCreate.checkRut(rut)"><i class="mdi-check"></i> Validar</span></a>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-md-6">
                   
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Detalle:</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" placeholder="Detalle gasto" ng-model="details" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



