<md-dialog class="col-xs-12 col-md-6 no-padding-h">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 >{{ 'ADJUNTAR DOCUMENTO' }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="importFiles.close()">
                <md-icon class="mdi-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form id="form" class="form" enctype="multipart/form-data">
                <!-- <div class="row"> -->
                    <!-- <u-load-file options="uploadXML.uploadOptions"> </u-load-file> -->
                <!-- </div> -->
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-card" style="height: 320px;">
							<div class="panel-heading detail" ng-class="importFiles.uploadOptions.headerColor">
								<h4>Cargar Documento</h4>
							</div>
							
							<div class="panel-body body-large py-xs text-center" >
								<div class="box" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
									<div class="p-md" ng-show="(uploader.queue.length<1)">
										<div ng-show="uploader.isHTML5 " class="m-b-md">
											<div class="b-a b-dashed p-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
												<p class="text-2x text-gris-claro-planner font-thin">Arrastrar Documento</p>
												<button md-ink-ripple="" ng-click="importFiles.clickUpload()" class="md-btn md-raised m-b btn-fw  p-btn-lg" ng-class="importFiles.uploadOptions.btnColor">
													Seleccionar Archivo (PDF, JPG, DOC, EXCEL, PNG)
													<div class="md-ripple-container"></div>
												</button>
											</div>
										</div>
										<input type="file" nv-file-select="" uploader="uploader" id="uploadButton" ng-hide="true" ngf-max-files="4" multiple="multiple"/>
									</div>
									<div>
										<div>
											<div ng-if="uploader.queue.length>0" class="table bg-white " style="height:200px;">
												<div class="preview-container text-center">
													<div class="preview-item text-center" ng-repeat="item in uploader.queue">
														<div class="img text-center">
															<i ng-show="(importFiles.progressLoad-(dummy))" class="mdi-file i-24 ng-scope font-size-50"></i>
														</div>
													  	<span class="filename">{{item.file.name}}</span>
													</div>
												  </div>
												<div class="b-a b-dashed  text-center m-b" style="height:170px;">
													<progressbar value="(importFiles.progressLoad-(dummy))" class="progress-striped {{importFiles.progressbarClass}}" animate="true"> <!-- Cambiar color de mensaje cuando se cargaron los archivos -->
														<div class="progressbar-body" >
															<!-- <i ng-show="(importFiles.progressLoad-(dummy))<100" class="mdi-file i-24 ng-scope font-size-50"></i> -->
															<i ng-show="(importFiles.progressLoad-(dummy))==100" class="mdi-cloud-check i-24 ng-scope font-size-50" ></i>
															<br>
															<!-- <ul> 
																<li ng-repeat="f in uploader.queue track by $index">{{f.file.name}}</li> 
															</ul> -->
															<div>
																<div ng-show="(importFiles.progressLoad-(dummy))<100">
																	<i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
																	Loading... {{(importFiles.progressLoad-(dummy))}} %
																</div>
																<div>
																	{{ importFiles.loadProcess.status }}
																</div>
															</div>
				
															<div ng-show="(importFiles.progressLoad-(dummy))==100">
																<div class="text-md">
																	<p>Por favor espere mientras el archivo es procesado...</p>
																</div>
															</div>
				
														</div>
													</progressbar>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <button md-ink-ripple class="md-btn md-raised btn-danger m" ng-click="importFiles.close()">
                CANCELAR
        </button>
        <span flex></span>
        <button md-ink-ripple class="md-btn md-raised btn-accent m" ng-click="importFiles.close()">
                <label>GUARDAR</label>
        </button>
    </md-dialog-actions>
</md-dialog>
<style>
	.op{
		text-align: center;
		font-size: 1.1em;
		opacity: 0.7;
	}
	.s{
		font-style: italic;
	}
	.progressbar-body {position:absolute; margin-left: auto; margin-right: auto; margin-top:8px; left: 0; right: 0; }
	.progress-striped {width:100%; height:170px; margin-bottom:0; }
	.font-size-50 {font-size: 50px; }
	.preview-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10px;
		}

	.preview-item {
		display: block;
		align-items: center;
		margin-right: 5px;
		margin-bottom: 5px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 14px;
		width: 100px;
	}
	.preview-item img {
		margin-right: 5px;
		width: 21px;
		height: 20px;
	}
	img {
	max-width: 100%;
	height: auto;
	}

	.filename {
	font-size: 12px;
	margin: 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
	}

</style>

