 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="officePaymentsView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Visualizar pago sucursal N°: <strong>{{paymentId}}</strong></h3>
</div>
<div class="modal-body">
    <div class="panel-body">
      <div class="col-sm-16">
          <!-- <span class="m-r-md"><strong>ususario: </strong> <span class="uppercase">{{clientName}}</span> -->
          <span class="m-r-md pull-right"><strong>Estado: </strong><span class="{{(officePayment[0].statusName == 'Cancelado')?'label bg-success':'label bg-warning'}}">{{officePayment[0].statusName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{officePayment[0].date | date:'dd/MM/yy'}}</span></span>
      </div>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Orden de compra:</strong> <span>{{officePayment[0].purchaseOrder}}</span></span>
      </div> -->
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span class="label bg-secundary">{{officePayment[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{officePayment[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>Id</th>
                <th>Documento</th>
                <th>Tipo</th>
                <th>Fecha emisión</th>
                <th>Total</th>
                <th>Forma pago</th> 
                <th>Pago</th>
              </tr>
              <tr ng-repeat="items in officePaymentsItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.documentId}}</td>
                <td><span class="badge bg-accent">{{items.type}}</span></td>
                <td>{{items.date}}</td>
                <td>$<strong>{{items.total | pesosChilenos}}</strong></td> 
                <td>{{items.paymentForm}}</td>
                <td>$<strong>{{items.pay | pesosChilenos}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel">
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                      <!-- <th>Neto</th>
                      <th>Iva</th>
                      <th>% Dcto.</th> -->
                      <th class="pull-right">Total</th>
                    </tr>
                    <tr>
                      <!-- <td><h1><strong>$ {{officePayment[0].netPrice}}</strong></h1></td>
                      <td><h1><strong>$ {{officePayment[0].priceVAT}}</strong></h1></td>
                      <td><h1><strong>{{officePayment[0].discount}}</strong></h1></td> -->
                      <td class="pull-right"><h1><strong>$ {{officePayment[0].total | pesosChilenos}}</strong></h1></td>
                    </tr>
              </table>     
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{officePayment[0].userCreation}}</span></span></span>

      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-info">{{officePayment[0].userUpdate}}</span></span></span>
          
      </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="officePaymentsView.transformToInvoice()">
       <i class="mdi-content-copy"></i>Validar
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="officePaymentsView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>