
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.payments">
            <i class="mdi-home"></i>
            PAGO CLIENTES
        </a>
    </li>
    <li>Actualizar pago cliente</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Cliente :  <strong class="uppercase">  {{clientName}} <span>[{{clientId}}]</span> </strong>
            <span ng-show="invoices[0].statusName == 'Vencida'" class="badge bg-danger"><i class="mdi-timer-off"></i> Fuera de Plazo</span>
            <!-- <span class="badge bg-warning">¡ Recuerde que procederá a modificar una factura !</span> -->
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.payments">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button onclick="this.disabled=true;" has-disabled= "pagos-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formPayments.$invalid || pending == 0" ng-click="paymentsView.createPayment()">
            <i class="mdi-content-save-all"></i>
            Crear pago
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success"><h2>Factura <a ng-click="paymentsView.viewInvoice(invoiceId,clientName)">{{invoiceId}}</a></h2>
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Factura" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong>
                        </label>
                        <div>
                            <label for="" class="col-sm-4 control-label">
                                <h2><strong>{{date | date:'dd/MM/yyyy'}}</strong></h2>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Total:</strong>
                        </label>
                        <div>
                            <label for="" class="col-sm-4 control-label">
                                <h2><strong>{{total | pesosChilenos}}</strong></h2>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Pendiente:</strong>
                        </label>
                        <div>
                            <label for="" class="col-sm-4 control-label">
                                <h2><strong>{{pending | pesosChilenos}}</strong></h2>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <!-- <label for="" class="col-sm-4 control-label">
                            
                        </label> -->
                        <div class="col-sm-8">
                            <!-- <select class="form-control" ng-model="status">
                             <option ng-disabled= "true" selected>{{status}}</option>
                              <option value="Pagado">Pagado</option>
                              <option value="Pendiente">Pendiente</option>
                            </select> -->
                            <span class="m-r-md"><strong>Estado: </strong> <span class="{{(statusPayment== 'Cancelada')?'label bg-success':'label bg-warning'}}"> {{statusPayment}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<div class="row gutter-10">
    <div class="col-sm-8">
        <div class="panel ">
            <div class="panel-heading bg-warning">Listado pagos asociados factura <strong><a ng-click="paymentsView.viewInvoice(invoiceId,clientName)">{{invoiceId}}</a></strong> / Fecha vencimiento <strong>{{invoices[0].expirationDate}}</strong>
                <span class="mdi-help-circle pull-right cursor-pointer" popover="Listado de pagos asociado a factura {{invoiceId}}" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">
                <table style="width:100%">
                  <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Forma pago</th>
                    <th>Usuario</th> 
                    <th>N° Doc</th>
                    <th>Obs.</th>
                    
                    <th></th>
                  </tr>
                  <tr ng-repeat="items in paymentsGrid">
                    <td class="uppercase">{{items.paymentsId}}</td>
                    <td class="uppercase">{{items.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{items.total | pesosChilenos}}</td>
                    <td>{{items.paymentForm}}</td>
                    <td><span class="badge bg-accent">{{items.userCreation}}</span></td> 
                    <td>{{items.document}}</td> 
                    <td><a><i class="mdi-format-align-justify" tooltip-placement="right" tooltip="{{items.comment}}"></i></a></td>
                    <td has-permission= "pagos-edit" align="center"><a ng-click="paymentsView.deletePayment(items.paymentsId)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar pago"></i></a></td>
                  </tr>
            </table>
            </div>
            
        </div>
    </div>
    <div class="col-sm-4" has-permission= "pagos-edit">
        <div class="panel">
            <div class="panel-heading bg-warning"><strong>EFECTUAR PAGO FACTURA</strong>
                <span class="mdi-help-circle pull-right cursor-pointer" popover="'Efectuar pago:' Aqui usted puede asociar un pago a una factura cliente" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <form name="formPayments" class="form-horizontal">
            <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input ng-disabled= "true" class="form-control" type="text" ng-model="CurrentDate" data-nodrag /></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Total</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="number" class="form-control" ng-model="payment"  ng-required="true" data-nodrag /></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Doc.</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="test" class="form-control" ng-model="document"   data-nodrag /></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Observación</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <h1><textarea ng-model="observation" class="form-control" placeholder="comentario pago/cheque" required>
                            </textarea></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Forma Pago</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <!-- <ui-select ng-model="paymentForms.selected" theme="bootstrap"  title="forma pago" required >
                                <ui-select-match ><small> {{$select.selected.description}}</small></ui-select-match>
                                <ui-select-choices repeat="paymentForms in paymentForms | filter: $select.search">
                                    <div  ng-bind-html="paymentForms.paymentFormId | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+paymentForms.description | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select> -->

                            <select style="width :120px" class="form-control" ng-model="paymentFormId" required>
                                  <option value="1">Efectivo</option>
                                  <option value="4">Visa Crédito</option>
                                  <option value="5">Débito</option>
                                  <option value="7">Transferencia</option>
                                  <option value="21">WebPay</option>
                                  <option value="2">Cheque</option>
                                  <option value="8">Nota crédito</option>
                            </select>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>

</div>
<style>
table, th, td {
  border-spacing: 5px;
  padding: 8px;
  /*border: 1px solid black;*/
}

.uppercase { text-transform: uppercase; }
</style>
 


