<div class="main-title">
  <div class="title">
    <h1>
      Administración de roles 
    </h1>
  </div>
  <div class="button-group">
    <div ng-hide="editSave">
      <button  md-ink-ripple class="md-btn md-raised" has-disabled="acceso-administracion-roles-edit" ui-sref="app.rolesCreate">
        <i class="mdi-plus"></i>Crear nuevo Rol
      </button>
          <div class="dropdown">
            <button ng-disabled="rolesList.buttonActions" md-ink-ripple class="md-btn bg-accent" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="mdi-dots-horizontal"></i>{{ 'ACTIONS' | translate }}
            </button>
            <ul class="dropdown-menu pull-right">
              <li><a ng-click="rolesList.editRoles()">{{ 'EDIT' | translate }}</a></li>
              <li><a ng-click="rolesList.modalDelete()">{{ 'DELETE' | translate }}</a></li>
            </ul>
          </div>
    </div>
            <div class="btn-actions right" ng-show="editSave">
            <button class="md-btn bg-danger"  ng-click="rolesList.cancelEditRoles()">
              <i class="mdi-close"></i>{{ 'CANCEL' | translate }}
            </button>
            <button has-permission="acceso-administracion-roles-edit" class="md-btn bg-info" ng-click="rolesList.editRolesSave()" ng-model="isDisabled" ng-disabled="isDisabled">
              <i class="mdi-content-save"></i>{{ 'SAVE' | translate }}
            </button>
          </div>
  </div>
</div>

<div ng-class="{'row gutter-10': !toggle}">

  <div class="col-sm-3">

        <div class="panel">
            <div class="panel-body bg-primary">
                <h4>Buscar</h4>
                <input id="filter" type="text" class="form-control" placeholder="Buscar" ng-model="filter_getaData" />
            </div>
        </div>

        <ul class="v-list">
            <li class="panel" ng-repeat="item in (filtered = (rolesList.roles | filter:{$:filter_getaData}))" ng-click="rolesList.onRoleClick(item)"  ng-class="{'active': item.id_code == rolesList.roleid}">
                <h6>Código: {{item.id_code }}</h6>
                <h4>{{item.title}}</h4>
            </li>
        </ul>

    </div>
  <!-- <div ng-class="{'col-sm-3': !toggle}">
    <list-filter
    list="rolesList.roles"
    options="{view:'generic'}"
    on-click="rolesList.onRoleClick(item)"
    on-toggle-hide="rolesList.toggleList(isHide)"></list-filter>
  </div> -->
  <div ng-class="{'col-sm-9': !toggle}" >
    <div class="panel" ng-show="rolesList.panelConfig">
      <div class="panel-heading bg-warning">
        <h2>ROL: <strong>{{rolesList.rolename}}</strong></h2>
      </div>
        <div ng-if="rolesList.detailsRoles.data" ui-grid="rolesList.detailsRoles" class="grid" style="height: 550px" ui-grid-pagination ui-grid-resize-columns></div> 
    </div>
    <div  ng-hide="rolesList.panelConfig" class="alert alert-warning"><p style="font-size: 16px;"><spam style="font-size: 15px;" class="label bg-warning" ><i class="mdi-cursor-pointer"></i></spam> Seleccione el rol para visualizar las características haciendo click en el listado de su izquierda. </p>  </div>

    
  </div>
</div>

<style>

.uppercase { text-transform: uppercase; }

</style>
