<style>
   .uppercase { text-transform: uppercase; }
</style> 
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.clients">
            <i class="mdi-home"></i>
            Clientes
        </a>
    </li>
    <li>Estado de cuenta </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Estado cuenta <strong ><a ng-click="accountStatus.printDetailsWindows()"><span class="uppercase" style="font-size: 20px;">{{clientDetails.name}} </span><span style="font-size: 16px;"> [{{clientId}}]</span> </a>
                <span style="font-size: 11px;" class="{{(client[0].isLocked == 'Activo')?'badge bg-warning':'badge bg-danger'}}">{{client[0].isLocked}}</span> 
            </strong>
            <!-- <a ng-click="accountStatus.loadDocuments()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a>  -->
        </h1>
    </div>
    <div class="button-group">
      <a tooltip="Imprimir" ng-click="accountStatus.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>
        <a tooltip="Volver a listado facturas" ui-sref="app.clients" > <span style="font-size: 16px;" class="label bg-danger"><i class="mdi-close"></i> Salir</span></a>
        <button style="font-size: 15px;" ng-disabled="formInvoice.$invalid" md-ink-ripple class="md-btn md-raised bg-accent" ng-click="accountStatus.loadDocuments()">
                                    <i class=" mdi-file-find"></i>Buscar
                            </button>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Dirección: </strong><span class="uppercase"> {{client[0].address}}</span></span>
            <span class="m-r-md"><strong>Ciudad/Pais: </strong><span class="uppercase"> {{client[0].cityName}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Rut: </strong><span class="uppercase"> {{client[0].rut}}</span></span>
            <span class="m-r-md"><strong>Telefono: </strong><span class="uppercase"> {{client[0].phone}}</span></span>
              <div class="pull-right">
              <span class="m-r-md"><strong>Fecha inicio: </strong><input class="uppercase" type="date" ng-model="startDate">
              </span>
              <span class="m-r-md"><strong>Fecha Fin: </strong><input class="uppercase" type="date" ng-model="endDate">
              </span>
              </div>
          </div>
          <div class="col-sm-15 m-t-sm">
                <span class="m-r-md"><strong>Email: </strong><span class="uppercase"> {{client[0].email}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Encargado: </strong><span class="uppercase"> {{client[0].customerManager}}</span></span>
      </div>
        </div>
</div>
<div class="panel">
    <div class="panel-body">
        <div style="height: 750px;width:100%!important;" ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
        <br>
        <br>
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>Datos para realizar pagos a través de transferencia o depósito.</strong>
            
        <div class="col-sm-15">
          <span class="m-r-md"><strong>Nombre Empresa: </strong> <span>Importadora y repuestos Jormat ltda.</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong> Banco: </strong> <span >Banco Estado</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo cuenta: </strong> <span>Cuenta corriente</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>N° Cuenta:</strong> <span>55100053801</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Email:</strong> finanzas@importadorajormat.cl</span>
      </div>
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>  


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>