 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/

  h5 {
      background-color: #f9f9f9;
      color:white !important;
      text-align: center;
      font-size: 18px;
  }
  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="statusFail.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Actualizar estado falla Item </h3>
</div>
	<div class="modal-body">
        <b>¿Desea actualizar estado Falla Item?</b></br></br>
        <h4><span class="label bg-secondary uppercase">{{itemName}}</span>     &nbsp;<span class="label bg-danger">   ID : {{itemId}}</span></h4>
        <h5>
            <!-- <span>Observación falla</span>     &nbsp; -->
                <span> 
                    <textarea ng-model="observation" class="form-control uppercase" placeholder="Observación item con falla (Campo obligatorio)" ></textarea>
                </span>
        </h5>
    </div>

	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="statusFail.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="observation == ''" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="statusFail.updateItem()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>