<style>
	.modal-header, h3, .close {
		background-color: #0DA937;
		color:white !important;
		text-align: center;
		font-size: 20px;
	}
	.modal-footer {
		background-color: #f9f9f9;
	}
  
	.uppercase { text-transform: uppercase; }
	</style>
  
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="confirmationBallotClient.close()">
		  <span aria-hidden="true">&times;</span>
  </button>
  <h3 > <i class="mdi-account-alert"> </i>Ingrese datos Cliente</h3> 
  </div>
  <div class="modal-body">
	<div class="panel-body">
	<form name="formClients" action="" class="form-vertical">
		<br>
		<div class="col-md-12 m-t-sm">
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">
					<strong>Nombre</strong><span class="dato-obligatorio">*</span>
				</label>
				<div class="col-sm-8">
					<input type="text" tooltip="No ingresar caracteres especiales * & $ # . : " ng-model="fullName"  class="form-control m-r-md" placeholder="Nombre cliente" required >
				</div>
			</div>
		</div>
		<div class="col-md-12 m-t-sm">
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">
					<strong>Rut</strong><span class="dato-obligatorio">*</span>
				</label>
				<div class="col-sm-4">
					<input tooltip="Rut sin puntos + guión" type="text" ng-model="rut" class="form-control uppercase" placeholder="71133159-K"  style="text-transform:uppercase;" required>
				</div>
				<div class="col-sm-2">
					<a><span class="label bg-warning uppercase" ng-click="confirmationBallotClient.checkRut(rut)"><i class="mdi-check"></i> Validar</span></a>
				</div>
				<div class="col-sm-2">
					<p class="text-danger" style="font-size: 12px;font-style: italic">{{textValidation}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-12 m-t-sm">
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">
					<strong>Celular</strong>
				</label>
				<div class="col-sm-8">
					<input type="text" ng-model="mobile" class="form-control" placeholder="000 00000000">
				</div>
			</div>
		</div>
		<div class="col-md-12 m-t-sm">
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">
					<strong>Correo</strong>
				</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" placeholder="" name="email" ng-model="email" aria-invalid="false" >
						<span class="text-danger" ng-show="formClients.email.$touched && formClients.email.$invalid">Por favor ingrese un email válido.</span>
				</div>
			</div>
		</div>
	</form>
</div>
  </div>
  <div class="modal-footer">
	<div class="button-group">
		<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="confirmationBallotClient.close()">
			<i class="mdi-close"></i> Cancelar
		 </button>
		<button onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="confirmationBallotClient.saveAnon()">
			<i class="mdi-account-off"></i>Crear Como Anonimo
		 </button>
	  <button  type="submit" onclick="this.disabled=true;"  md-ink-ripple  class="md-btn md-raised bg-accent"   ng-disabled="formClients.$invalid  || rutValidate" ng-click="confirmationBallotClient.save()">
		<i class="mdi-content-save"></i> Guardar
	  </button>
	  
	</div> 
  </div>