 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Documento NN N°: <strong>{{documentId}}</strong></h3>
</div>
<p></p>
<div class="main-title">
  <div class="pull-left" ng-show= "document[0].statusName == 'Sin Pagar'">
        <label  for="" class="control-label">
            <span class="dato-obligatorio">*</span><em>Solo usuario administrativo puedo efectuar pago.</em>
        </label>
    </div>

    <div class="button-group">
      <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="nnPrint.warehouseNNPrint()">
        <i class="mdi-forklift"></i> Impresion Bodega
    </button>
    <button has-disabled="documentos-nn-pay" ng-show= "document[0].statusName == 'Sin Pagar'" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="nnPrint.payDocument(2)">
            <i class="mdi-check"></i>
            Pagar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.documentsNn">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="nnPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{document[0].clientName}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{document[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Estado: </strong> <span class="{{(document[0].statusName == 'Pagado')?'badge bg-warning':'badge bg-danger'}}">{{document[0].statusName}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{document[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{document[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{document[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
              </tr>
              <tr ng-repeat="items in documentItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.referenceKey}} )</span></td>
                <td>${{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td>$<strong>{{ items.total | pesosChilenos }}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>

<div class="pull-right col-sm-3">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>$ {{ subTotality | pesosChilenos }}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.:</h5></strong></th>
                      <th><h4><strong>{{document[0].discount}}% </strong></h4></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total:</h5></strong></th>
                      <th><h4><strong>$ {{ document[0].total | pesosChilenos }}</strong></h4></th>
                    </tr>
              </table>   
        </div>
 
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{document[0].userCreation}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-warning">{{document[0].userModifier}}</span></span></span>
      </div>

      <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma pago:</strong> <span>{{document[0].paymentForm}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha pago:</strong> <em>{{document[0].datePayment}}</em></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>Agradecemos su confianza, para nosotros es un placer colaborar con ustedes.</strong>
        <p><strong>Atte.</strong></p>
        <p><strong>{{nameUser}}</p>
        <p>Equipo Ventas Jormat</p>
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
