  <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Cotización N°: <strong>{{quotationId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

  

    <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="warehousePrint.print()">
      <i tooltip="Imprimir" class="mdi-printer"></i>Imprimir
     </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger" ng-click="warehousePrint.cancel()">
      <i class="mdi-window-close"></i>Cerrar
     </button>
  </div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          
          <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
          </div> -->
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="warehousePrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{quotations[0].clientName}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{quotations[0].rut}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{quotations[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{quotations[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Nombre solicitante:</strong> <span class="uppercase">{{quotations[0].nameDescription}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Teléfono:</strong> <span>{{quotations[0].phone}}</span></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Ubicación</th> 
                <th>Precio</th>
                <th>Cant.</th>
                <th ng-show="isDiscount">% Dcto.</th>
                <th>Total</th>
                
                
              </tr>
              <tr ng-repeat="items in quotationsItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td><span class="uppercase label bg-secondary" style="font-size: 10px;">{{items.locations}}</span></td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td ng-show="isDiscount" align="center">{{items.discount}}</td>
                <td><strong>{{items.total}}</strong></td>
                
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-3 ">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>$ {{subTotality}}</strong></h4></th>
                    </tr>
                    <tr ng-hide="quotations[0].discount == 0">
                      <th><strong><h5>Dcto.:</h5></strong></th>
                      <th><h4><strong>{{quotations[0].discount}}% </strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto:</h5></strong></th>
                      <th><h4><strong>$ {{quotations[0].netPrice}}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva:</h5></strong></th>
                      <th><h4><strong>$ {{quotations[0].priceVAT}}</strong></h4></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total:</h5></strong></th>
                      <th><h4><strong>$ {{quotations[0].total}}</strong></h4></th>
                    </tr>
              </table>    
        </div>
 
</div>
    <div class="panel-body">
        <div class="col-sm-15">
          <span class="m-r-md"><strong>Comentario:</strong> <span> <span>{{quotations[0].comment}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{quotations[0].userCreation}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-secondary">{{quotations[0].userModifier}}</span></span></span>
      </div>
      
    </div>
<p></p>
    <div class="panel-body">
      <br>
      <div class="col-sm-15">
        <span class="font-italic" style="font-size: 15px;">--Formato Bodega--</span>
      <!-- <p> www.importadorajormat.cl</p> -->
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
