<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <!--<li>
                <a ng-click="grid.appScope.transferGuidesList.viewGuide(row.entity)"><span>Ver</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>-->

            <!-- <li ng-show="(row.entity.statusName == 'Tránsito')">
                <a ng-click="grid.appScope.transferGuidesList.validateGuide(row.entity)"><span>Validar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li> -->
            <li>
                <a ng-click="grid.appScope.transferGuidesList.printGuide(row.entity)"><span>Visualizar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li>
            <li has-permission="sii-view">
                <a ng-disabled="true" ng-click="grid.appScope.transferGuidesList.createXML(row.entity)"><span>Reenviar a <span class="badge bg-warning">SII</span></span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li>
            <li>
                <a ng-click="grid.appScope.transferGuidesList.transformToInvoice(row.entity)"><span class="label bg-info">Convertir a Factura</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <!-- <li>
                <a ng-click="grid.appScope.stage.ejecutarSimulacion(2,row.entity.id_escenario);"><span>Cardex</span></a>
            </li> -->
        </ul>

    </div>

</div>
