
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            GUIAS DE DESPACHO
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Guías <span><a ng-click="transferGuidesList.loadGuides()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple has-disabled= "guias-de-despacho-edit" class="md-btn md-raised bg-accent"  ui-sref="app.transferGuidesCreate">
            <i class="mdi-plus"></i>
            Crear Guía
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar guias" ng-model="transferGuidesList.searchText" ng-change="transferGuidesList.searchData()" ng-model-options="transferGuidesList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="guidesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
