 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="actionsCheck.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3 >Depositar cheques</h3>
</div>
<div class="modal-body">
	  <div class="panel-body">

	  	<div class="row">
            <div class="col-md-8 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Cheques:</strong>
                    </label>
                    <div class="col-sm-6">
                        <span style="font-size:medium;" ng-repeat="checks in checksData" class="label bg-warning uppercase m-r-sm"> {{checks.checkId}} </span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Accion:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-6">
                        <select ng-change="actionsCheck.selectActions(actionValue)" class="form-control" ng-model="actionValue"  required>
				 	 	      <option value="4">Depositar</option>
                              <option value="2">Validar</option>
                              <option value="3">Rechazar</option>
                         </select> 
                    </div>
                </div>
            </div>
          </div>
          <div class="row m-t-sm" ng-show="actionValue == 4">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Fecha:</strong>
                    </label>
                    <div class="col-sm-6">
                        <input tooltip="Fecha deposito" class="uppercase" type="date" ng-model="day" required>
                    </div>
                </div>
            </div>
          </div>
</div>
<div class="modal-footer">
  <div class="button-group">
  	<!-- <span ng-show= "check[0].statusName == 'Pendiente ...'" > -->
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="actionsCheck.updateStatusCheck()">
		   <i class="mdi-check-all"></i> {{buttonName}}
		</button>

		<!-- <button style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="actionsCheck.edit()">
		   <i class=" mdi-alert"></i> Rechazar
		</button> -->
	<!-- </span> -->

	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="actionsCheck.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>