
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}
.espacio{
padding: 15px;


}

.uppercase { text-transform: uppercase; }
.red {color: rgb(12, 12, 12); background-color: rgb(249, 66, 66) !important; }
.yellow { color: rgb(12, 12, 12); background-color: rgb(192, 248, 93) !important; }
.critical { color: rgb(12, 12, 12); background-color: rgb(180, 182, 176) !important;  } 
.oferta { color: rgb(12, 12, 12); background-color: rgb(75, 186, 253) !important;  } 
.transito { color: rgb(12, 12, 12); background-color: rgb(253, 216, 75) !important;  } 
.naranjo { color: rgb(12, 12, 12); background-color: rgb(251, 142, 79) !important;  } 
.label2 { color: rgb(12, 12, 12); background-color: rgb(240, 240, 240) !important;  } 

</style>
<div has-permission="permiso-especial-view">
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.clientsInvoices">
            <i class="mdi-home"></i>
            FACTURAS CLIENTES /
        </a>
    </li>
    <!-- <li>Nueva Factura Cliente</li> -->
    <span  class="badge bg-danger"><i class="mdi-key"></i> Vista con acceso especial</span>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Factura cliente :  <strong class="uppercase">{{clientName}}<span>[{{clientId}}]</span> 
                <span ng-show="lockedClient" class="badge bg-danger"><i class="mdi-account-alert"></i> Bloqueado</span>
                <span ng-show="isCredit == 'Crédito'" class="badge bg-warning"><i class="mdi-credit-card"></i> Crédito</span> <span><a ng-click="invoicesCreateKey.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
   
    <div class="button-group">
        <!-- <a tooltip="Emisión DTE Especial" ng-click="invoicesCreateKey.modalLogin()"> <span style="font-size: 16px;" class="label bg-danger"><i class="mdi-account-key"></i></span></a> -->

        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.clientsInvoices">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <!-- <button ng-disabled= "buttonCreateInvoice" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="invoicesCreateKey.createInvoice()">
            <i class="mdi-cash-multiple"></i>
            Facturar
        </button> -->
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formInvoice.$invalid || warningQuantity == true || total == '' || !parseInt(total) || total == 0 || paymentmethodId == null || items.price >= items.minPrice || clientId == 4934" ng-click="invoicesCreateKey.createInvoice()">
            <i class="mdi-cash-multiple"></i>
            Facturar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-accent">Datos Factura
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Factura" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formInvoice" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut / Razon Social:</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-8">
                            <!-- <input type="text" ng-model="dataInvoice.clientId" class="form-control" placeholder="Rut Cliente" required > -->
                            <ui-select ng-change= "invoicesCreateKey.setName(selectedTwo)" ng-model="selectedTwo" theme="bootstrap"  title="clients" ng-required="true">
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="invoicesCreateKey.searchClient($select.search)" refresh-delay="0">
                                <h3 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h3>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Folio</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="folio" class="form-control" placeholder="Folio Factura" required>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>O.C</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="purchaseOrder" class="form-control" placeholder="Orden de compra" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="origenAdd">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="invoicesCreateKey.setWarehouseId($select.selected.warehouseId);invoicesCreateKey.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="panelInvoice">

<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td>{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}</td>
                            <td><input class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" ng-model="items.price" type="number" style="width :85px"></td>

                            <td><input ng-change= "invoicesCreateKey.getStock(items.itemId,items.quantity)" class="form-control input-sm" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>

                            <td><input ng-change= "invoicesCreateKey.showGeneralDiscount(items.disscount)" class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" min="0" ng-model="items.disscount" type="number" style="width :60px"></td>
                            <td><strong>{{ (items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | pesosChilenos }}</strong></td>

                            <td align="center"><a ng-click="invoicesCreateKey.removeItems($index,items.oil)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                        <div ng-show="warningQuantity" class="alert alert-danger">Uno de sus items cuenta con stock insuficiente</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ invoicesCreateKey.getNet() | pesosChilenos }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ invoicesCreateKey.getNet() - (discount*NET/100) | pesosChilenos }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | pesosChilenos }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | pesosChilenos }}
                            </strong>
                        </h1>
                    </div>

                </div>

                <div class="form-group m-t-md" style="display: none">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>xxx:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ invoicesCreateKey.getNetTotal() | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">

            	<div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Forma Pago:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                                <select class="form-control" ng-model="paymentmethodId" ng-required="true">
								    <optgroup label="Pago directo" >
								          <option value="1">Efectivo</option>
		                                  <option value="7">Transferencia</option>
		                                  <option value="16">Transbank</option>
                                          <option value="8">Nota crédito</option>
                                          <option value="21">WebPay</option>
		                                  <option ng-hide= "lockedClient" value="2">Cheque</option>
		                                  <option ng-hide= "lockedClient" value="17">Pago aplazado</option>
								    </optgroup>
								    <optgroup label="Crédito" ng-show="isCredit == 'Crédito'">
								          <option ng-hide= "lockedClient" value="12">Crédito [30 días]</option>
		                                  <option ng-hide= "lockedClient" value="13">Crédito [60 días]</option>
                                          <!-- 
		                                  <option ng-hide= "lockedClient" value="14">Crédito 90 dias</option>
		                                  <option ng-hide= "lockedClient" value="15">Crédito 120 dias</option> -->
								    </optgroup>
                            </select>
                    </div>
                </div>

                
                

                
                <div class="form-group">
                    <div class="col-sm-8 m-t-xs">
                           <md-switch ng-model="packOff">
                             <span>  Despacho</span>
                        </md-switch>
                    </div>

                    </div>

                

                <!-- <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Rut:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{selectedTwo}}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Telefono: </strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                <span style="font-size: 12px;"> &nbsp;&nbsp;{{phone}}</span>
                            </strong>
                        </h2>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Ciudad: </strong>  
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong class="uppercase">
                                <span style="font-size:11px;">&nbsp;&nbsp;{{city}}</span>
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Dirección: </strong>  
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong class="uppercase">
                                <span style="font-size:11px;">&nbsp;&nbsp;{{address}}</span>
                            </strong>
                        </h2>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación factura" required>
                        </textarea>
                    </div>
                </div>


                </div>
                
                

        </div>
        </div>
        
    </div>

    <div class="row gutter-9">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <div>
                        <label for="" class="col-sm-4">
                            <strong>Receptor: </strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="receiver" class="form-control" tooltip-placement="right" tooltip="Indique Rut + Nombre receptor" placeholder="Rut + nombre receptor">
                        </div>
                    </div>
            </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-body">

                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label ">
                            <strong class="label bg-secundary" style="font-size:10px;">Rut:</strong>
                        </label>
                        <div class="col-sm-8">
                            <h2>
                                <strong>
                                    {{selectedTwo}}
                                </strong>
                            </h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label ">
                            <strong class="label bg-secundary" style="font-size:10px;">Telefono: </strong>
                        </label>
                        <div class="col-sm-8">
                            <h2>
                                <strong>
                                    <span style="font-size: 12px;"> &nbsp;&nbsp;{{phone}}</span>
                                </strong>
                            </h2>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label ">
                            <strong class="label bg-secundary" style="font-size:10px;">Ciudad: </strong>  
                        </label>
                        <div class="col-sm-8">
                            <h2>
                                <!-- <strong class="uppercase">
                                    <span style="font-size:11px;">&nbsp;&nbsp;{{city}}</span>
                                </strong> -->
                                <input type="text" ng-model="city" class="form-control" required>
                            </h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label uppercase">
                            <strong class="label bg-secundary" style="font-size:10px;">Dirección: </strong>  
                        </label>
                        <div class="col-sm-8">
                            <h2>
                                <!-- <strong class="uppercase">
                                    <span style="font-size:11px;">&nbsp;&nbsp;{{address}}</span>
                                </strong> -->
                                <input style="font-size:10px;" type="text" ng-model="address" class="form-control uppercase" required>
                            </h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label ">
                                <a ng-click="invoicesCreateKey.updateAddress()"><strong class="label bg-warning" style="font-size:10px;">Actualizar Dirección</strong>  </a>
                        </label>
                    </div>
                    </div>
                    
                    
    
            </div>
            </div>
            
        </div>
    
  </div>

</div>
</div>

