 <style>
    .modal-header,.close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 25px;
    }

    .modal-footer {
      background-color: #f9f9f9;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalDeleteRoles.cancel()">
          <span aria-hidden="true">&times;</span>
    </button>
        <h3 class="modal-title">Desactivar ROL</h3>
</div>
<div class="modal-body">
    <!-- <b>{{ 'DEACTIVATE_REGISTRY_MSJ' | translate }}</b></br></br> -->
    <h4><strong>Nombre Rol: </strong> {{modalDeleteRoles.name}}
     &nbsp;<span class="label label-danger">Código: {{modalDeleteRoles.id}}</span></h4>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="modalDeleteRoles.deleteRoles()">Aceptar</button>
    <button class="btn btn-danger" ng-click="modalDeleteRoles.cancel()">Cancelar</button>
</div>
