 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="historicalExpenseControl.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Reporte histórico <strong> Gastos</strong></h3>
</div>
<div class="modal-body">
  <div class="col-sm-15">
              <span class="m-r-md"><strong>Fecha inicio: </strong><input class="uppercase" type="date" ng-model="startDate">
              </span>
              <span class="m-r-md"><strong>Fecha Fin: </strong><input class="uppercase" type="date" ng-model="endDate">
              </span>
              <span class="m-r-md"><button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="historicalExpenseControl.loadExpenseControl()" tooltip="Buscar gastos según fecha de ingreso">
                <i class="mdi-calendar-multiple"></i> Buscar
              </button>
              </span>
          </div>
          <p></p>
    <div class="panel">
    <div class="panel-body no-padding">

        <div ui-grid="expenseControlGrid" style="height: 500px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple ng-disabled = "true" class="md-btn md-raised bg-accent"  ng-click="providersView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="historicalExpenseControl.cancel()">
      <i class="mdi-window-close"></i>Salir
    </button>
  </div> 
</div>