 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clientsInvoicesView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Factura Folio: <strong>{{invoiceId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{invoice[0].clientName}}</span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="badge bg-{{invoice[0].style}}">{{invoice[0].statusName}}</span></span>
          <span class="m-r-md"><strong>Despacho: </strong><span class="{{(invoice[0].packOff == 'Si')?'badge bg-warning':'badge bg-danger'}}">{{invoice[0].packOff}}</span></span>

          <a ng-click="clientsInvoicesView.printPackOff()"><span ng-show="invoice[0].packOff == 'Si'" class="m-r-md pull-right"><strong> </strong> <span class="label bg-info"><i class="mdi-printer"></i> Imprimir Datos despacho</span></span></a>
          <a ng-click="clientsInvoicesView.printPackOff();clientsInvoicesView.updatePackOff()"><span ng-show="invoice[0].packOff == 'No'" class="m-r-md pull-right"><strong> </strong> <span class="label bg-warning"><i class="mdi-clipboard-check"></i> Activar despacho e imprimir</span></span></a>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{invoice[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>  Dirección: </strong> <span class="uppercase">{{invoice[0].address}}</span></span>
    </div>
    <div class="col-sm-15">
      <span class="m-r-md"><strong>  Ciudad: </strong> <span class="uppercase">{{invoice[0].city}}</span></span>
  </div>
  <div class="col-sm-15">
    <span class="m-r-md"><strong>  Telefono: </strong> <span class="uppercase">{{invoice[0].phone}}</span></span>
</div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{invoice[0].date | date:'dd/MM/yyyy'}} </span>  <span ng-hide="invoice[0].time == '00:00:00'" ><strong> Hora: </strong>{{invoice[0].time}} </span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Orden de compra:</strong> <span>{{invoice[0].purchaseOrder}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{invoice[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{invoice[0].comment}}</em></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Encargado cliente:</strong> <span class="uppercase">{{invoice[0].customerManager}}</span></span>
    </div>
    <div class="col-sm-15">
      <span class="m-r-md"><strong>Tipo de entrega:</strong> <span class="uppercase">{{deliveryType}}</span></span>
  </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th>Ubicación</th> 
              </tr>
              <tr ng-repeat="items in invoiceItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td>$ {{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>$ {{ items.total | pesosChilenos }}</strong></td>
                <td><span class="uppercase label bg-secondary" style="font-size: 9px;">{{items.locations}}</span></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body"> 

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{ subTotality | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{invoice[0].discount}} %</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{ invoice[0].netPrice | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{ invoice[0].priceVAT | pesosChilenos }}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{ invoice[0].total | pesosChilenos }}</strong></h2></th>
                    </tr>
              </table>

        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma pago asociada:</strong> <em>{{invoice[0].paymentForm}}</em></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{invoice[0].userCreation}}</span></span></span>
      </div><br>
      <div class="col-sm-15" ng-if="invoice[0].userOut">
        <span class="m-r-md"><strong>Entregada por:</strong> <span> <span class="label bg-accent">{{invoice[0].userOut}}</span></span></span>
    </div>
    
    <div class="col-sm-15" ng-if="invoice[0].isOut == 2">
        <span class="m-r-md"><strong>Entrega:</strong> <span> <a tooltip-placement="right" tooltip="Ir a Módulo entregas"ui-sref="app.warehouseDeliveries"><span class="badge bg-warning"><i class="mdi-flash"></i> Incompleto</span></a></span></span>
    </div>
    <div class="col-sm-15">
      <span class="m-r-md"><strong>Receptor:</strong> <span> <span class="label bg-secundary uppercase">{{invoice[0].receiver}}</span></span></span>
  </div>
  <div class="col-sm-15">
      <span class="m-r-md"><strong>Fecha vencimiento:</strong> <span> <span class="label bg-secundary uppercase">{{invoice[0].expirationDate | date:'dd/MM/yyyy'}}</span></span></span>
  </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="clientsInvoicesView.updateDocument()" ng-if="clientsInvoicesView.btnVisible">
      <i class="mdi-package-variant-closed"></i>Entrega Rápida
   </button>
    <button md-ink-ripple class="md-btn md-raised bg-info"  ng-click="clientsInvoicesView.clone()">
       <i class="mdi-content-copy"></i>Clonar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="clientsInvoicesView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>