 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="importRecordAlert.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Asociar pagos a registro de importación {{recordId}}</h3>
</div>
	<div class="modal-body" align="center">
        <b >¿Desea asociar pagos a este registro?</b></br></br>
         <h4 align="center"><span class="label bg-secondary uppercase">Proveedor: {{providerName}}</span></h4>
         <h4 align="center"><span class="label bg-info"> Invoice : {{code}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        
        <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="importRecordAlert.loadPayments()">
            <i class="mdi-cash-usd"></i>
            Asociar Pagos
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="importRecordAlert.cancel()">
            <i class="mdi-exit-to-app"></i>
            Salir
        </button>
    </div>
	    
	</div>