
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
.yellow { color: black; background-color: yellow !important; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.preOrders">
            <i class="mdi-home"></i>
            PRE-PEDIDOS 
        </a>
    </li>
    <li>Crear  Pre-pedidos</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Proveedor :  <strong class="uppercase">  {{providerName}} <span>[{{providerId}}]</span> 
                <span><a ng-click="preOrdersCreate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
    <div class="button-group">

        <!-- <a popover-trigger="mouseenter" popover="Crear Nuevo Repuesto" popover-placement="top" ng-click="preOrdersCreate.ItemsCreate()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-engine"></i></span></a> -->
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.preOrders">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formProviders.$invalid  || invoiceItems == '' " ng-click="preOrdersCreate.ordersCreate()">
            <i class="mdi-forklift"></i>
            Archivar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos Pre-pedido
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales del documento"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut:</strong>
                        </label>
                        <div class="col-sm-8">
                            <!-- <input type="text" ng-model="dataInvoice.providerId" class="form-control" placeholder="Rut providere" required > -->
                            <ui-select class="uppercase" ng-change= "preOrdersCreate.setName(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider">
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h3 ng-bind-html="''+provider.providerName | highlight: $select.search"></h3>
                                
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="code" class="form-control" placeholder="cod. Fact" required>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="selected" ng-required="true" ng-change="preOrdersCreate.validateType(selected)">
                                  <option value="1" selected="selected">Nacional</option>
                                  <option value="2">Internacional</option>
                                  <option value="4">Mixto</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="preOrdersCreate.setWarehouseId($select.selected.warehouseId);preOrdersCreate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices value="{{$select.selected.warehouseId}}" repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>COD. MARCA</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>MARCA</th> 
                            <th>CANT.</th>
                            <!-- <th>TOTAL</th> -->
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td >{{$index+1}}</td>
                            <td><strong>{{items.brandCode | uppercase}}</strong></td>
                            <td>{{items.itemDescription | uppercase}} <strong><em style="font-size: 11px;">[ ID: {{items.jormatId | uppercase}}]</em></strong></td>
                            <td>{{items.brand | uppercase}}</td>
                            <td><input class="form-control input-sm" ng-model="items.quantity" min= "1" type="number" style="width :60px"></td>
                            <td align="center"><a ng-click="preOrdersCreate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 680px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<!-- <div class="row gutter-9">
    <div class="col-sm-4" >
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ preOrdersCreate.getNet() | number:2  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 30)?' ':'bg-danger'}}" ng-model="discount" min="0" max="30" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ preOrdersCreate.getNet() - (discount*NET/100) | number:2 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:2 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:2 }}
                            </strong>
                        </h1>
                    </div>
                </div>
                <div class="form-group m-t-md" style="display: none">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>xxx:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ preOrdersCreate.getNetTotal() | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div> -->


    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                <!-- <div ng-show="internacionalInvoice">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Moneda:</strong>
                    </label>
                    <div class="col-sm-8">
                                <select class="form-control" ng-model="currency" ng-change="preOrdersCreate.validateCurrency(currency)">
                                  <option value="Euro"> € Euro</option>
                                  <option value="Dolar">$ Dólar</option>
                                </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Valor</strong>
                    </label>
                    <div class="col-sm-6 m-t-xs">
                        <input type="number" class="form-control" ng-model="valueCurrency" data-nodrag />
                    </div>
                </div>
                </div> -->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Observación:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación pre-pedido" required>
                        </textarea>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
  </div>
</div>




