<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.itemsList.productSheetView(row.entity)"><span>Ver Ficha</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>

            <li>
                <a ng-click="grid.appScope.itemsList.updateItem(row.entity)" ><span>Modificar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>

            <li>
                <a ng-click="grid.appScope.itemsList.cloneItem(row.entity)" ><span>Clonar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>

            <li>
                <a ng-click="grid.appScope.itemsList.transformToInvoice(row.entity)" ><span>Facturar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <li>
                <a ng-click="grid.appScope.itemsList.itemQuote(row.entity)" ><span>Cotizar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <!-- <li has-permission="repuestos-critical">
                <a ng-click="grid.appScope.itemsList.deleteItem(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
            
            <li>
                <a ng-click="grid.appScope.itemsList.cardexItem(row.entity)"><span class="label bg-accent">Kardex</span></a>
            </li>
            <li>
                <a ng-click="grid.appScope.itemsList.relatedItems(row.entity)"><span class="label bg-secondary">Relacionar items</span></a>
            </li>

            <li has-permission="repuestos-priority">
                <a ng-hide="row.entity.priority == 1 " ng-click="grid.appScope.itemsList.priorityUpdate(1,row.entity)"><span class="badge bg-warning">Dar Prioridad</span></a>

                <a ng-hide="row.entity.priority == 0 " ng-click="grid.appScope.itemsList.priorityUpdate(0,row.entity)"><span class="badge bg-danger">Eliminar prioridad</span></a>
            </li>
            <li>
                <a ng-click="grid.appScope.itemsList.seeObservations(row.entity)"><span>Observaciones</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li>
            <li>
                <a ng-click="grid.appScope.itemsList.wishlistAdd(row.entity)" ><span>Enviar lista Deseos</span><i class="mdi-print text-md pull-right"></i></a> 
            </li>

           <!--  <li>
                <a ng-click="grid.appScope.itemsList.printItem(row.entity)" ><span>Imprimir</span><i class="mdi-print text-md pull-right"></i></a>
            </li> -->
            
        </ul>

    </div>

</div>
