
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            ITEMS
        </a>
    </li>
</ul>

<div class="main-title">
    <div class="title">
        <h1 class="text-uppercase">
            Listado de Items <span><a ng-click="itemsList.getItemsData()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>

    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-primary"  ng-click="itemsList.uploadCsv()" >
            <i class="mdi-upload"></i> Subir CSV</button>
        <a tooltip="Items Mercado Libre"  ng-click="itemsList.itemsFreeMarketView()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-shopping"></i></span></a>

        <a tooltip="Formulario Interno Falla Items " href="https://importadorajormat.cl/pdf/items_con_falla.pdf" target="_blank"> <span style="font-size: 16px;" class="label bg-danger"><i class="mdi-file-pdf"></i></span></a>

        
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-permission="repuestos-critical" ng-click="itemsList.itemsProviders()" popover="Items por proveedor" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-airplane-landing"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent" has-disabled= "repuestos-edit" ui-sref="app.itemsCreate">
            <i class="mdi-plus"></i>
            Crear Item
        </button>
        
    </div>
</div>
<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar items" ng-model="itemsList.searchText" ng-change="itemsList.searchData()" ng-model-options="itemsList.searchOptions"/>
        </div>
<div class="panel">
    <div>
		<div style="height: calc(150vh - 240px);" class="hover-links" ui-grid="gridOptions" ui-grid-exporter ui-grid-pinning ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
	</div>
</div>
<style>
.uppercase { text-transform: uppercase; }
.red {color: rgb(12, 12, 12); background-color: rgb(249, 66, 66) !important; }
.yellow { color: rgb(12, 12, 12); background-color: rgb(192, 248, 93) !important; }
.critical { color: rgb(12, 12, 12); background-color: rgb(180, 182, 176) !important;  } 
.oferta { color: rgb(12, 12, 12); background-color: rgb(75, 186, 253) !important;  } 
.transito { color: rgb(12, 12, 12); background-color: rgb(253, 216, 75) !important;  } 
.naranjo { color: rgb(12, 12, 12); background-color: rgb(251, 142, 79) !important;  } 
.label2 { color: rgb(12, 12, 12); background-color: rgb(240, 240, 240) !important;  } 
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;

        }

        .column {
            /*width: 8%;*/
            float: right;
            /*font-size:11px;*/
        }

        /* Puedes ajustar el estilo de las columnas según tus preferencias */
        .column {
            /*border: 1px solid #ddd;*/
            /*padding: 3px;*/
            box-sizing: border-box;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="column"><strong style="font-size:11px;"><i class="mdi-subdirectory-arrow-left"></i>SIMBOLOGIA</strong></div>
        <div class="column"><strong class="critical badge">Stock Critico</strong></div>
        <div class="column"><strong class="yellow badge">Prioridad Stock</strong></div>
        <div class="column"><strong class="oferta badge">En Oferta</strong></div> 
        <div class="column"><strong class="transito badge">En Transito</strong></div>
        <div class="column"><strong class="naranjo badge">Registra Falla</strong></div>
        <div class="column"><strong class="red badge">Falla Activa</strong></div>
        
    </div>

        

</body>

<div ng-show="panelImport">
        <div class="row gutter-10">
            
            <div class="col-sm-7">
                <div class="panel">
                    <div class="panel-body">
                            <div class="form-group scroll">
                                <table >
                                <tr style="font-size: 13px;"> 
                                    <th></th>
                                    <th>ID</th> 
                                    <th>DESCRIPCIÓN</th>
                                    <th>PRE{{currencySymbol}}IO</th> 
                                    <th>CANT.</th>
                                    <th>DESC.</th> 
                                    <th>TOTAL</th>
                                    <th></th>
                                  </tr>
                                  <div >
                                  <tr  ng-repeat="items in importItems" style="font-size: 12px;"> 
                                    <td >{{$index+1}}</td>
                                    <td>{{items.itemId}}</td>
                                    <td>{{items.itemDescription | uppercase}} <strong>({{items.referenceKey}})</em></strong><em></td>
                                    <td><input class="form-control input-sm {{(items.price >= 0)?' text-dark':'bg-danger'}}" ng-model="items.price" type="number" min="0" style="width :85px"></td>
                                    <td><input class="form-control input-sm" ng-model="items.quantity" min= "1" type="number" style="width :60px"></td>
                                    <td><input class="form-control input-sm" ng-model="items.disscount" min= "0" type="number" style="width :60px"></td>
                                    <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) }}</strong></td>
        
                                    <td align="center"><a ng-click="importsCreate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                                  </tr>
                                  </div>
                                  {{totalItem}}
                                </table>
                                <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                            </div>
                    </div>
                  </div>
              </div>
              <div class="col-sm-5">
                    <div>
                        <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
                    </div>
            </div>
          </div>
        
        <div class="row gutter-9">
            <div class="col-sm-4" >
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label ">
                                <strong>Subtotal:</strong>
                            </label>
                            <div class="col-sm-8">
                                <h2>
                                    <strong>
                                        {{currencySymbol}} {{ importsCreate.getNet() | number:0  }} 
                                    </strong>
                                </h2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Descuento: </strong>
                            </label>
                            <div class="col-sm-8 m-t-xs">
                               <h2>
                                    <strong>
                                        <input type="number" class="{{(discount <= 30)?' ':'bg-danger'}}" ng-model="discount" min="0" max="30" style="width :60px;border:none;"  >
                                    </strong>
                                </h2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label ">
                                <strong>Neto:</strong>
                            </label>
                            <div class="col-sm-8">
                                <h2>
                                    <strong>
                                        {{currencySymbol}} {{ importsCreate.getNet() - (discount*NET/100) | number:0 }}
                                    </strong>
                                </h2>
                            </div>
                        </div>
                        <!-- <div class="form-group m-t-sm">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Iva:</strong>
                            </label>
                            <div class="col-sm-8 m-t-xs">
                                <h2>
                                    <strong>
                                       {{currencySymbol}} {{ VAT | number:0 }}
                                    </strong>
                                </h2>
                            </div>
                        </div> -->
                        <div class="form-group m-t-md">
                            <label for="" class="col-sm-4 control-label">
                                <h1><strong>Total:</strong></h1>
                            </label>
                            <div class="col-sm-8 m-t-xs">
                                <h1>
                                    <strong>
                                        {{currencySymbol}} {{ total }}
                                    </strong>
                                </h1>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        
        
            <div class="col-sm-3">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label ">
                                <strong>Moneda:</strong>
                            </label>
                            <div class="col-sm-8">
                                        <select class="form-control" ng-model="currency" ng-change="importsCreate.validateCurrency(currency)" required>
                                          <option value="Euro"> € Euro</option>
                                          <option value="Dolar">$ Dólar</option>
                                        </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:10px">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Valor</strong>
                            </label>
                            <div class="col-sm-6 m-t-xs">
                                <input type="number" class="form-control" ng-model="valueCurrency" data-nodrag required/>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Obs:</strong>
                            </label>
                            <div class="col-sm-8 m-t-xs">
                                <textarea ng-model="observation" class="form-control" placeholder="Observación documento">
                                </textarea>
                            </div>
                        </div>
                </div>
                </div>
            </div>
            
          </div>
          
        </div>

