
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.trucks">
            <i class="mdi-home"></i>
            CAMIONES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Fichas de Camiones
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="trucksList.trucksCreate()">
            <i class="mdi-plus"></i>
            Crear Ficha
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Camiones" ng-model="trucksList.searchText" ng-change="trucksList.searchData()" ng-model-options="trucksList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="trucksGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }

</style>
