 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

    .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="banksView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Banco: {{bankId}}</h3>
</div>
<div class="modal-body" ng-show="editView">
        <h4 align="center"> Nombre: <span class="label bg-secondary uppercase">{{bankName}}</span>  Código:<span class="label bg-warning uppercase">{{bankCode}}</span></h4>
        <!-- <div align="center" class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Item asociados: </strong><span class="label bg-success">21</span></span>
          </div> -->
</div>

<div class="modal-body" ng-show="editPanel"> 
        <form name="formBank" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="bankDetails.bankName" class="form-control uppercase" placeholder="Nombre banco" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-5">
                            <input type="text" ng-model="bankDetails.bankCode" class="form-control uppercase" placeholder="codigo" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button ng-show="editView" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="banksView.showPanel(1)">
       <i class="mdi-table-edit"></i>Modificar
    </button>
    <span ng-show="buttonSave">
    <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="banksView.editBank()">
       <i class="mdi-content-save"></i>Guardar cambios
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="banksView.showPanel(2)">
      <i class="mdi-window-close"></i>Cancelar
    </button>
    </span>
    <button ng-show="editView" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="banksView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>