
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.paymentNnView">
            <i class="mdi-home"></i>
            ABONOS DOCUMENTOS NN
        </a>
    </li>
    <li>Abonar a documento NN</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Cliente :  <strong class="uppercase">  {{clientName}} <span>[{{clientId}}]</span> </strong>
            <!-- <span class="badge bg-warning">{{dataInvoice.status}}</span> -->
            <!-- <span class="badge bg-warning">¡ Recuerde que procederá a modificar una factura !</span> -->
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.documentsNn">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button has-permissions="documentos-nn-pay" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formPayments.$invalid || pending == 0" ng-click="paymentNnView.createPayment()">
            <i class="mdi-cash-usd"></i>
            Pagar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success"><h2>Documento NN N° <a ng-click="paymentNnView.nnView(documentId,clientName)">{{documentId}}</a></h2>
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la nota de crédito" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong>
                        </label>
                        <div>
                            <label for="" class="col-sm-4 control-label">
                                <h2><strong>{{date | date:'dd/MM/yyyy'}}</strong></h2>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Total:</strong>
                        </label>
                        <div>
                            <label for="" class="col-sm-4 control-label">
                                <h2><strong>{{total}}</strong></h2>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Pendiente:</strong>
                        </label>
                        <div>
                            <label for="" class="col-sm-4 control-label">
                                <h2><strong>{{pending}}</strong></h2>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <!-- <label for="" class="col-sm-4 control-label">
                            
                        </label> -->
                        <div class="col-sm-8">
                            <!-- <select class="form-control" ng-model="status">
                             <option ng-disabled= "true" selected>{{status}}</option>
                              <option value="Pagado">Pagado</option>
                              <option value="Pendiente">Pendiente</option>
                            </select> -->
                            <span class="m-r-md"><strong>Estado: </strong> <span class="{{(statusPayment== 'Pagado')?'label bg-warning':'label bg-danger'}}"> {{statusPayment}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<div class="row gutter-10">
    <div class="col-sm-8">
        <div class="panel ">
            <div class="panel-heading bg-warning">Abonos asociados Documento NN N° <strong><a ng-click="paymentNnView.nnView(documentId,clientName)">{{documentId}}</a></strong>
                <span class="mdi-help-circle pull-right cursor-pointer" popover="Listado de pagos asociado a nota de crédito {{documentId}}" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <div class="panel-body">
                <table style="width:100%">
                  <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <!-- <th>N° Doc</th> -->
                    <th>Abono</th>
                    <th>Forma pago</th>
                    <th>Usuario</th> 
                    
                    <th class="text-center" >Observación</th>
                    
                    <th></th>
                  </tr>
                  <tr ng-repeat="items in paymentsGrid">
                    <td class="uppercase">{{items.paymentId}}</td>
                    <td class="uppercase">{{items.date | date:'dd/MM/yyyy'}}</td>
                    <!-- <td><a ng-click="paymentNnView.invoiceView(items)">{{items.document}}</a></td>  -->
                    <td><b>${{items.total}}</b></td>
                    <td><i>{{items.paymentForm}}</i></td>
                    <td><span class="badge bg-accent">{{items.userCreation}}</span></td> 
                    
                    <td class="text-center"><a><i class="mdi-format-align-justify" tooltip-placement="right" tooltip="{{items.comment}}"></i></a></td>
                    <td has-permission= "documentos-nn-pay" align="center"><a ng-click="paymentNnView.deletePayment(items.paymentId,items.total)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar Pago"></i></a></td>
                  </tr>
            </table>
            </div>
            
        </div>
    </div>
    <div class="col-sm-4" has-permission= "pagos-edit">
        <div class="panel">
            <div class="panel-heading bg-warning"><strong>PAGAR NN</strong>
                <span class="mdi-help-circle pull-right cursor-pointer" popover="'Efectuar abono:' Aqui usted puede asociar un pago a un NN" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
            </div>
            <form name="formPayments" class="form-horizontal">
            <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input ng-disabled= "true" class="form-control" type="text" ng-model="CurrentDate" data-nodrag /></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Abono</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="number" class="form-control input-sm {{( payment <= total )?' text-dark':'bg-danger'}}" min="1" max= "{{pending}}" ng-model="payment"  ng-required="true" data-nodrag /></strong></h1>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Doc.</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="number"  class="form-control input-sm" ng-model="document"  placeholder="N° Factura" ng-required="true" /></strong></h1>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Observación</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <h1><textarea ng-model="observation" class="form-control" placeholder="comentario pago/código voucher" required>
                            </textarea></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Forma Pago</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <select style="width :120px" class="form-control" ng-model="paymentFormId" required>
                                  <option value="1">Efectivo</option>
                                  <option value="2">Cheque</option>
                                  <option value="7">Transferencia</option>
                                  <option value="21">WebPay</option>
                                  <option value="18">Anulación NN</option>
                            </select>
                            <!-- <ui-select ng-model="paymentForms.selected" theme="bootstrap"  title="forma pago" required >
                                <ui-select-match ><small> {{$select.selected.description}}</small></ui-select-match>
                                <ui-select-choices repeat="paymentForms in paymentForms | filter: $select.search">
                                    
                                    <small>

                                        <h4 ng-bind-html="''+paymentForms.description | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select> -->
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>

</div>
<style>
table, th, td {
  border-spacing: 5px;
  padding: 8px;
  /*border: 1px solid black;*/
}

.uppercase { text-transform: uppercase; }
</style>

