<ul class="breadcrumb">
    <li>
        <a ui-sref="app.isapres">
            <i class="mdi-home"></i>
           R.R.H.H
        </a>
    </li>
    <li>Isapres</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
           Isapres
        </h1>
    </div>
    <div class="button-group">

        <span ng-hide="createIsapre" >
            <span ng-show="createButton">
            <button  md-ink-ripple class="md-btn md-raised bg-primary" ng-click="isapresView.createIsapre(1)">
                <i class="mdi-upload"></i> Nueva Isapre
            </button>
            </span>
        </span>

        <span ng-show="createIsapre">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="isapresView.createIsapre(2)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="formIsapres.$invalid " md-ink-ripple class="md-btn md-raised bg-primary" ng-click="isapresView.isapresAdd()">
            <i class="mdi-upload"></i> Crear
        </button>
        </span>

        <span ng-show="updateIsapre">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="isapresView.createIsapre(0)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="formIsapresUpdate.$invalid " md-ink-ripple class="md-btn md-raised bg-primary" ng-click="isapresView.isapreUpdateFunction()">
            <i class="mdi-upload"></i> Actualizar
        </button>
        </span>
    </div>
</div>

<div class="panel" ng-show="createIsapre">
    <div class="panel-heading bg-success">Crear nueva Isapre
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese datos nueva ISAPRE"></span>
    </div>
    <div class="panel-body">
        <form name="formIsapres" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="name" class="form-control uppercase">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Porcentaje</strong>
                        </label>
                        <div class="col-md-4">
                            <input type="number" ng-model="rate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="code" class="form-control uppercase">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel" ng-show="updateIsapre">
    <div class="panel-heading bg-success">Actualizar institución N° {{isapreId}}
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese datos nueva AFP"></span>
    </div>
    <div class="panel-body">
        <form name="formIsapresUpdate" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="isapreName" class="form-control uppercase" placeholder="Nombre Isapre" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Porcentaje</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="isapreRate" class="form-control" required>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="isapreCode" class="form-control uppercase" placeholder="Codigo" required>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>SIS</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="retirementSis" class="form-control" required>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        

                        <label for="" class="col-sm-4 control-label">
                            <strong>Link:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <a href="https://www.previred.com/indicadores-previsionales/" target="_blank"><span class="badge bg-warning"> <i class="mdi-link-variant"></i> Ver indicadores Previsionales</span></a>
                        </div>
                    </div>
                </div>
                
            </div> -->
        </form>
    </div>
</div>

<div class="panel" ng-hide="createIsapre">
    <div class="panel-heading bg-success">Listados Isapres
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Listado Instituciones"></span>
    </div>
    <div class="panel-body no-padding">
        <div ui-grid="isapresGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>