 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="invoicesProviderView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Factura ID: <strong>{{invoiceId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          
          
          <span class="m-r-md"><strong>  Proveedor: </strong> <span class="uppercase"> {{invoice[0].providerName}}</span>
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{invoice[0].rut}}</span></span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="badge bg-{{invoice[0].style}}">{{invoice[0].statusName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong> Código factura: </strong> <span class="uppercase"> {{invoice[0].invoiceCode}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="badge bg-info">{{invoice[0].type}}</span></span>
          <span ng-show="internationalType">
            <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{invoice[0].currency}}</span>
            <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase">{{currencySymbol}}{{invoice[0].currencyValue}}</span></span>
          </span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{invoice[0].date | date:"dd/MM/yyyy"}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span class="badge bg-info">{{invoice[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{invoice[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th></th>
              </tr>
              <tr ng-repeat="items in invoiceItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}} <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td>{{ (invoice[0].type === 'Nacional') ? (items.price | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (items.price | dolares) : (items.price | pesosInternacionales)) }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{ (invoice[0].type === 'Nacional') ? (items.total | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (items.total | dolares) : (items.total | pesosInternacionales)) }}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>

<div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong>{{ (invoice[0].type === 'Nacional') ? (subTotality | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (subTotality | dolares) : (subTotality | pesosInternacionales)) }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{invoice[0].discount}} %</strong></h2></th>
                    </tr>
                    <tr ng-hide="internationalType">
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> {{ (invoice[0].type === 'Nacional') ? (invoice[0].netPrice | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (invoice[0].netPrice | dolares) : (invoice[0].netPrice | pesosInternacionales)) }}</strong></h2></th>
                    </tr>
                    <tr ng-hide="internationalType">
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> {{ (invoice[0].type === 'Nacional') ? (invoice[0].priceVAT | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (invoice[0].priceVAT | dolares) : (invoice[0].priceVAT | pesosInternacionales)) }}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong>{{ (invoice[0].type === 'Nacional') ? (invoice[0].total | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (invoice[0].total | dolares) : (invoice[0].total | pesosInternacionales)) }}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>

    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-warning">{{invoice[0].userCreation}}</span></span></span>
      </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="invoicesProviderView.print('divPrint')">
       <i class="mdi-table-edit"></i>imprimir
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="invoicesProviderView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>
