 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="guidesView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Visualizar Guía: <strong>{{transferGuideId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{guides[0].clientName}}</span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(guides[0].statusName == 'Rechazada')?'badge bg-danger':'badge bg-warning'}}">{{guides[0].statusName}}</span></span>
          <a ng-click="guidesView.printPackOff()"><span class="m-r-md pull-right"><strong> </strong> <span class="label bg-info"><i class="mdi-printer"></i> Imprimir Datos despacho</span></span></a>
      </div>

      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{guides[0].rut}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{guides[0].date | date:'dd/MM/yyyy'}}</span><span ng-hide="guides[0].time == '00:00:00'" ><strong> Hora: </strong>{{guides[0].time}} </span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{guides[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Destino:</strong> <span>{{guides[0].destination}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <em class="badge bg-secundary">{{guides[0].type}}</em></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{guides[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <!-- <th>% Dcto.</th>  -->
                <th>Total</th>
              </tr>
              <tr ng-repeat="items in guidesItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <!-- <td align="center">{{items.discount}}</td> -->
                <td><strong>{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{subTotality}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{guides[0].netPrice}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{guides[0].priceVAT}}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{guides[0].total}}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{guides[0].userCreation}}</span></span></span>
      </div> 
      <p></p>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-warning">{{guides[0].userModifier}}</span></span></span>
      </div>
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="guidesView.print('divPrint')">
       <i class="mdi-table-edit"></i>imprimir
    </button> -->
    <button ng-disabled="btnValidate" has-permission= "guias-de-despacho-validate" ng-show= "guides[0].statusName == 'Pendiente ...'" md-ink-ripple class="btn-lg md-raised bg-warning"  ng-click="guidesView.validateGuide()">
        <i class="mdi-check"></i>
        Validar

    </button>
    <button ng-disabled="btnRejected"  has-permission= "guias-de-despacho-validate" ng-show= "guides[0].statusName == 'Pendiente ...'" md-ink-ripple class="btn-lg md-raised bg-danger"  ng-click="guidesView.rejectedGuide()">
        <i class="mdi-check"></i>
        Rechazar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="guidesView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>

<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   

</style>
