 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Visualizar pagos rango de fechas</h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">

      <a tooltip="Impresión alternativa" ng-click="paymentVoucherPrint.print()"> <span style="font-size: 16px;" class="label bg-info"><i class="mdi-cloud-print-outline"></i></span></a>
      <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.voucher">
        <i class="mdi-window-close"></i>Cerrar
       </button>
	</div>
  
</div>
<div class="panel">
    <div class="panel-body">
          <div class="col-sm-15 m-t-sm">
              <div class="pull-right">
              <span class="m-r-md"><strong>Fecha inicio: </strong><input class="uppercase" type="date" ng-model="startDate">
              </span>
              <span class="m-r-md"><strong>Fecha Fin: </strong><input class="uppercase" type="date" ng-model="endDate">
              </span>

              <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="paymentVoucherPrint.loadPaymentVoucher()">
        <i class="mdi-magnify"></i>Buscar
       </button>
              </div>
          </div>
        </div>
</div>
<div class="panel" >
        <div style="height: 780px;width:100%!important;" ui-grid="voucherGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
</div>

<style>
 .tablePrint {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}    


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
