 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

    .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="staffView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Usuario/personal: {{userId}}</h3>
</div>

<div class="modal-body">
      <div class="panel-body">
          <div class="col-sm-15">
              <span class="m-r-md"><strong>Nombre: </strong><span class="uppercase">{{user[0].fullName}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Rut: </strong><span class="label bg-secondary">{{user[0].rut}}</span></span>
          </div>
          
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Nacimiento: </strong><span style="font-weight: normal">{{user[0].birthday_date}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Telefono: </strong><span style="font-weight: normal">{{user[0].phone}}</span> </span>
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Dirección: </strong><span class="uppercase">{{user[0].address}} </span></span>
              
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Ciudad: <span class="uppercase">{{user[0].cityName}}</span> 
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md "><strong>Correo: </strong><span class="label bg-warning" >{{user[0].email}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Nombre usuario: </strong><span class="label bg-secondary">{{user[0].userName}}</span></span>
          </div>
          
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Sucursales asociadas:</strong>  <span ng-repeat="warehouse in warehouses" class="label bg-accent uppercase"> {{warehouse.code}}</span> </span>
          </div>

          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Rol: </strong> <span class="label bg-info">{{user[0].rol}}</span> </span>
              
          </div>

          
    </div>  
</div>


<div class="modal-footer">
  <div class="button-group">
    <button ng-show="editView" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="staffView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>