<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}
.espacio{
padding: 15px;
}

.uppercase { text-transform: uppercase; }
.yellow { color: black; background-color: yellow !important; }

</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.budgets">
            <i class="mdi-home"></i>
            PRESUPUESTOS
        </a>
    </li>
    <li>Editar Presupuesto</li>
    <span class="badge bg-warning"><i class="mdi-content-copy"></i> Editando Presupuesto N° {{budgetCode}}</span>

</ul>
<div class="main-title">
    <div class="title">
        <h1 >
            Cliente :  <strong class="uppercase">{{budgetDetails.clientName}}<span>[{{budgetDetails.clientId}}]</span> 
                <span><a ng-click="budgetsUpdate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
   
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.budgets">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-show="buttonInvoice" md-ink-ripple class="md-btn md-raised bg-warning"  ng-disabled="formInvoice.$invalid || total == '' || !parseInt(total) || total == 0  || items.price >= items.minPrice " ng-click="budgetsUpdate.budgetsUpdate()">
            <i class="mdi-cash-multiple"></i>
            Actualizar presupuesto
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos Presupuesto
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del presupuesto" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formInvoice" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut / Razon Social:</strong>
                        </label>

                        <div class="col-sm-8">
                            <strong><input ng-disabled = "true" type="text" ng-model="budgetDetails.rut" class="form-control" placeholder="Rut Cliente"></strong>
                            <!-- <ui-select ng-change= "budgetsUpdate.setName(selectedTwo)" ng-model="selectedTwo" theme="bootstrap"  title="clients">
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="budgetsUpdate.searchClient($select.search)" refresh-delay="0">
                                <h3 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h3>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select> -->
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="budgetDetails.date" class="form-control" placeholder="Fecha presupuesto" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong>
                        </label>
                        <div class="col-sm-8">

                            <strong><input ng-disabled = "true" type="text" ng-model="budgetDetails.origin" class="form-control" placeholder="Origen"> </strong>
                            <!-- <ui-select ng-change="budgetsUpdate.setWarehouseId($select.selected.warehouseId);budgetsUpdate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select> -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="panelInvoice">

<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td>{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}</td>
                            <td><input class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" min="{{items.minPrice}}" ng-model="items.price" type="number" style="width :85px"></td>


                            <td><input ng-change= "budgetsUpdate.getStock(items.itemId,items.quantity)" class="form-control input-sm" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>



                            <td><input tooltip="Solo puede asignar descuento general" ng-change= "budgetsUpdate.showGeneralDiscount(items.disscount)" class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" min="0" max= "{{items.maxDiscount}}" ng-model="items.disscount" type="number" style="width :60px"></td>

                            
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | number:0 }}</strong></td>

                            <td align="center"><a ng-click="budgetsUpdate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          {{totalItem}}
                        </table>
                        
                        <div ng-show="warningQuantity" class="alert alert-danger">Uno de sus items cuenta con stock insuficiente</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ budgetsUpdate.getNet() | number:0  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input ng-disabled="discountButton" type="text" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ budgetsUpdate.getNet() - (discount*NET/100) | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>

                <div class="form-group m-t-md" style="display: none">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>xxx:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ budgetsUpdate.getNetTotal() | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>


    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">

                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>N.S:</strong> 
                    </label>
                    <div class="col-sm-9 m-t-xs">
                        <input type="text" class="form-control" ng-model="budgetDetails.nameDescription" data-nodrag />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Tel:</strong>
                    </label>
                    <div class="col-sm-9 m-t-xs">
                        <input type="text" class="form-control" ng-model="budgetDetails.phone" data-nodrag />
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea cols="40" rows="5" ng-model="budgetDetails.comment" class="form-control" placeholder="Observación factura" required>
                        </textarea>
                    </div>
                </div>
                

        </div>
        </div>
    </div>
    
  </div>

</div>

