<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            REPORTES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Reporte items vendidos
        </h1>
    </div>
    <div class="button-group">
        <!-- <a has-permission="repuestos-critical" popover-trigger="mouseenter" popover="Ventas por producto" popover-placement="top" ng-click="itemsSoldList.viewPowerBI()"> <span style="font-size: 14px;" class="label bg-warning"><i class="mdi-poll-box"></i></span></a> -->
        <button ng-click="itemsSoldList.viewHistoricReport()"  md-ink-ripple class="md-btn md-raised m-l-sm bg-info" popover="Reporte historico items vendidos" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-chart-line"></i> Histórico
        </button>
        <!-- <button md-ink-ripple class="md-btn md-raised m-l-sm" ng-disabled="true" has-disabled= "items-vendidos-view" ui-sref="app.itemsSold" popover="Items vendidos" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-basket-unfill"></i>
        </button> -->
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "item-despacho-view" ui-sref="app.itemsOutputs" popover="Items despachados" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-forklift"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "item-comprados-view" ui-sref="app.itemsPurchased" popover="Items comprados" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-basket-fill"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "items-falla-view" ui-sref="app.faultyItems" popover="Items con falla" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-oil"></i>
        </button>
    </div>
</div>
<div class="panel">
    <div>
		<div style="height: calc(150vh - 240px);" class="hover-links" ui-grid="gridOptions" ui-grid-exporter ui-grid-pinning ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize></div>
	</div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }
</style>
