 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="warehousesView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar sucursal: 03</h3>
</div>
<div class="modal-body">
      <div class="panel-body">
          <div class="col-sm-15">
              <span class="m-r-md"><strong>Nombre: Consitución </strong></span>
              <span class="m-r-md"><strong>Codigo: </strong><span class="label bg-warning">CONST</span></span>
              <span class="m-r-md"><strong>Creada: </strong><span class="label bg-warning">18/21/2017</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong> Dirección: O'Higgins 1045</strong>  </span>
              <span class="m-r-md"><strong>Ciudad: <span class="label bg-info"> Consitución</span> 
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md">Encargado:<strong> Alexis Barrientos</strong> </span>
              
          </div>
          <div class="col-sm-15 m-t-sm">
          <span class="m-r-md"><strong>Telefono: </strong> <span class="label bg-info"> 43 2 524563</span></span>
          </div>

          <div class="col-sm-15 m-t-md">
              <span class="m-r-md"><a href="#" class="text-info "> <i class="mdi-link-variant"></i> Visualizar Historial</a></span>
              
          </div>
    </div>  
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="warehousesView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="warehousesView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>