 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 16px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }

  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="companyInfo.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>INFORMACIÓN VENTAS</h3>
</div>
<div class="modal-body">
	  <div class="panel-body">

	  	<div class="row">
            <div class="col-md-12 m-t-sm">
                <h3>
                <i class="mdi-whatsapp i-28"></i> <strong>CONSULTAS WHATSAPP / WEB</strong>  </h3>
                <div style="text-align: justify" class="form-group">
                    CEL: <a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B56991797881&text&type=phone_number&app_absent=0">+56 9 9179 7881 </a>  <br>
                    TEL: (+43)2 361215 
                    <br>EMAIL: jormatrepuestos@gmail.com
                    <br>
                    <strong>Horario Atención</strong><br>
                    Lunes a Viernes: 09:00 a 13:00 –  15:00 a 18:00 hrs<br>
                    Sábados: 09:00 a 13:00 hrs<br>
                    <em>Cotizaciones validas x 10 Dias / Items Electricos sin devolución</em>
                    <br>
                    <br>
                    <h3><i class="mdi-bank i-28"></i> <strong>DATOS TRANSFERENCIA/DEPOSÍTO</strong> </h3>
                       <div class="col-sm-15">
                            
                        <div class="col-sm-15">
                          <span class="m-r-md"><strong>Razon Social: </strong> <span>Importadora y Repuestos Jormat LTDA.</span>
                      </div>
                      <div class="col-sm-15">
                          <span class="m-r-md"><strong> Banco: </strong> <span >Banco Estado - Cuenta Corriente</span></span>
                      </div>
                      
                      <div class="col-sm-15">
                          <span class="m-r-md"><strong>N° Cuenta:</strong> <span>55100053801</span></span>
                      </div>
                      <div class="col-sm-15">
                          <span class="m-r-md"><strong>Email:</strong> finanzas@importadorajormat.cl</span>
                      </div>
                        <span><strong>Rut: </strong> 76.193.704-9 </span>

                      </div>
                </div>
            </div>
            <div class="col-md-12 m-t-sm">
                <h3><i class="mdi-whatsapp i-28"></i> <strong>DATOS SUCURSALES</strong>  </strong></h3>
                <div id="textArea" style="text-align: justify" class="form-group">
                    <strong id="textArea">Casa Matriz Los Ángeles</strong><br>
                    Direccion: Valdivia # 906 <br>
                    Telefonos: 432361215 / 432362968 <br>
                    Celulares : <a target="_blank" href="https://wa.me/+56992050943">+569 92050943</a> / <a target="_blank" href="https://wa.me/+56988075107">+569 88075107</a><br>
                    Ventas Los Ángeles: <a target="_blank" href="https://wa.me/+56939262833">+569 39262833</a> <br>
                    Email: jormatrepuestos@gmail.com <br>
                    @repuestosjormat (Instagram) <br>
                    Jormat Repuestos (Facebook)<br> <br>

                    <strong>Sucursal Concepción</strong><br>
                    Direccion: Tucapel 1465 <br>
                    Telefonos: (41)2212303 | (41)2224779<br>
                    Celulares : <a target="_blank" href="https://wa.me/+56942123623">+569 42123623</a> | <a target="_blank" href="https://wa.me/+56941651996">+569 41651996</a><br>
                    Email: importadorajormatconcepcion@gmail.com<br>
                    @jormatconcepcion (Instagram)<br>
                    Jormat Concepcion (Facebook)<br><br>

                    <strong>Sucursal Chillán</strong><br>
                    Dirección: Arturo Prat 1195<br>
                    Telefonos: (228848523 - 228846690)<br>
                    Celulares : <a target="_blank" href="https://wa.me/+56942715616">+569 42715616</a> | <a target="_blank" href="https://wa.me/+56954183014">+569 85611173</a> |<!--  <a target="_blank" href="https://wa.me/+56985611173">+569 54183014</a> --> <br>
                    Email: manueljormat@hotmail.com /<br> cristianjormatch@hotmail.com <br>
                    @jormatchillan (Instagram)<br><br>

                    <strong>Sucursal Temuco </strong><br>
                    Dirección : Miraflores 1188 <br>
                    Teléfonos : 228948146 / 228944292<br>
                    Email :luismaldonado.jormat@hotmail.com<br>
                    Luis Maldonado : <a target="_blank" href="https://wa.me/+56997557647">+569 97557647</a><br>
                    Andres Cartes: <a target="_blank" href="https://wa.me/+56939262832">+569 39262832</a><br>
                    jormattemuco@hotmail.com<br><br>
                    
                    <strong>Sucursal Constitución </strong><br>
                    Dirección: Ohiggins 1041<br>
                    Telefonos: 712686591 | 712686875<br>
                    Celulares : <a target="_blank" href="https://wa.me/+56987755176">+569 87755176</a> | <a target="_blank" href="https://wa.me/+56976065625">+569 76065625</a> | <a target="_blank" href="https://wa.me/+56947853046">+569 47853046</a><br>
                    Email: alexisbarrientosf@hotmail.com<br>
                </div>
            </div>
            <div class="col-md-12 m-t-sm">
                <h3><i class="mdi-truck-fast i-28"></i> <strong>INFORMACIÓN DE DESPACHO</strong></h3>  
                <div style="text-align: justify" class="form-group">
                    Hacemos envíos de encomienda de Lunes a Viernes hasta las 16:00 hrs. <br>
                    Envíos a todo Chile previo deposíto o transferencia. Si el pago se realiza o comprueba después de ese horario, el envío es al día siguiente.
                    <br>
                    Los despachos se realizan por la vía que le acomode al cliente: <em>Chilexpress, Chevalier, Starken, Pullman, Fedex ,Cruz del sur, el Arriero, Varmontt, PDQ, Cargos Memphis, Ecoex.</em> <br>
                    Todos los envíos son “por pagar”, es decir, paga el cliente.
                    <br>
                    <strong>Formas de pago</strong> :
                    Efectivo, transferencia, Tarjeta de crédito (12 cuotas precio contado), tarjeta debito, pago online con Webpay.
                </div>
            </div>

            <div class="col-md-12 m-t-sm">
                <h3><i class="mdi-instagram i-28"></i> <strong>INFORMACIÓN RRSS</strong> </h3> 
                <div style="text-align: justify" class="form-group">
                    Consulte al Whatsapp : 
                    
                    <a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B56939262833&text&type=phone_number&app_absent=0"> +569 3926 2833 </a> <br>
                    EMAIL: jormatrepuestos@gmail.com<br>
                    Hacemos envíos de encomienda de Lunes a Viernes hasta las 16:30 hrs. <br>
                    Envíos a todo Chile 📦📦🚛<br> 
                    Horario atención Jormat Repuestos<br>
                    Lunes a Viernes de 09:00 a 13:00 - 15:00 a 18:00 hrs <br>
                    Sábados: de 09:00 a 13:00 hrs
                </div>
            </div>

            <div class="col-md-12 m-t-sm">
                <h3><i class="mdi-shopping i-28"></i> <strong>INFORMACIÓN PUBLICACIONES MERCADO LIBRE</strong> </h3> 
                <div style="text-align: justify" class="form-group">
                    Ante cualquier duda envienos la patente o chasis del camion y corroboramos aplicación. 

                    Venta de repuestos para camiones Mercedes Benz, Scania y Volvo.

                    Usamos exclusivamente la plataforma de Mercado Libre.
                    Disfrute las ventajas de “Mercado Pago" y “Mercado Envíos"
                    Su Dinero y su producto 100% garantizados.
                    <br>
                    <strong>Para una mejor experiencia de compra sigue estos pasos:</strong><br>
                    1.- Aclara tus dudas.<br>
                    2.- Aclaradas las dudas presiona “Comprar” y seguir los pasos.<br>
                    3.- Indicar claramente los datos del despacho (no se puede cambiar una vez cerrada la compra)<br>
                    4.- Nuestro contacto será solo por mensajería interna de mercado libre.<br>
                    5.- Una vez confirmada la compra realizamos el envío con un plazo máximo 48 hrs.<br>
                    6.- Despachos de lunes a viernes hasta las 16:00; si la compra se realiza después de las 16:00 hrs el despacho se realiza al día hábil siguiente.
                    <br>
                    <strong>Emitimos Boleta y Factura</strong>
                    <br>
                    Garantía del vendedor: <em>2 Meses</em>
                </div>
            </div>
            
                </div>
            </div>
          </div>
          </div>
</div>
<div class="modal-footer">
  <div class="button-group">
	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="companyInfo.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>