<style>
    .modal-header, h3, .close {
        background-color: #0DA937;
        color:white !important;
        text-align: center;
        font-size: 20px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }

    .uppercase { text-transform: uppercase; }
    </style>
  
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="loginOutCtrl.cancel()">
          <span aria-hidden="true">&times;</span>
  </button>
      <h3>Cierre Sesión</h3>
  </div>
  <div class="modal-body">
        <div class="panel-body">
            <div class="col-sm-12">
                <strong>¿Desea Mantener las sesión iniciada?</strong>
            </div>
      </div>  
  </div>
  <div class="modal-footer">
    <div class="button-group">
      <button md-ink-ripple class="md-btn md-raised bg-accent text-1x"  ng-click="loginOutCtrl.cancel()">
        <i class="mdi-account-check"></i> Aceptar
      </button>
    </div> 
  </div>