<style>
	.modal-header,
	h3,
	.close {
		background-color: #0da937;
		color: white !important;
		text-align: center;
		font-size: 20px;
	}
	.main-img {
		position: relative;
	}

	.overlay-img {
		position: absolute;
		top: 0;
		left: 0;
	}
</style>
<div class="modal-header">
	<button
		type="button"
		class="close"
		data-dismiss="modal"
		aria-label="Close"
		ng-click="userImageView.cancel()"
	>
		<span aria-hidden="true">&times;</span>
	</button>
	<h3>Visualizar Documento {{importId}}</h3>
</div>
<div>
	<div style="text-align: center; position: relative">
		<img
			ng-src="{{imageUrl}}"
			err-src="{{picture}}"
			class="heaven main-img"
			width="100%"
		/>
		<!-- <img
			src="https://importadorajormat.cl/images/marcadeagua.png"
			class="eye overlay-img"
			width="100%"
		/> -->
	</div>
</div>
<!-- <div class="modal-footer"> -->
<!-- <div class="button-group pull-right">
		<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="imageView.cancel()">
			<i class="mdi-window-close"></i>
			Cerrar
		</button>
	</div> -->
<!-- </div> -->
