 <style>
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  .red { color: black;font-style: bold; background-color: yellow !important; }
  </style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.homeSuite">
            <i class="mdi-home"></i>
            REPORTES
        </a>
    </li>
    
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Reporte ventas por usuario <span class="badge bg-warning"><i class="mdi-account"></i> {{userName}}</span>
        </h1>
    </div>
    <div class="button-group">

        <a has-permission="rentabilidad-usuario-view"  tooltip="Reporte rentabilidad" ng-click="userSales.loadRentability()"> <span style="font-size: 14px;" class="label bg-warning"><i class="mdi-chart-bar"></i>Calcular rentabilidad</span></a>

        <button md-ink-ripple class="md-btn md-raised m-l-sm" ng-disabled="true" has-disabled="ventas-usuario-view" ui-sref="app.userSales" popover="Ventas usuarios" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-account-network"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm"  has-disabled= "ventas-sucursal-view" ui-sref="app.warehouseSales" popover="Ventas por sucursales"  popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-home-variant"></i>
        </button>
    </div>
</div>
<div class="panel">
    <div class="panel-heading bg-success">Seleccione usuario y rango fechas
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Seleccione usuario y rango fechas"></span>
    </div>
    <div class="panel-body">
        <form name="formInvoice" class="form-horizontal">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Usuario:</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-9">
                            <!-- <input type="text" ng-model="dataInvoice.clientId" class="form-control" placeholder="Rut Cliente" required > -->
                            <ui-select ng-change= "userSales.setName(selectedTwo)" ng-model="selectedTwo" theme="bootstrap"  title="users" ng-required="true">
                            <ui-select-match >{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="users in users | filter: $select.search track by $index" refresh="userSales.searchClient($select.search)" refresh-delay="0">
                                <strong ng-bind-html="''+users.lastName | highlight: $select.search"></strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label  for="" class="col-sm-5 control-label">
                            <strong>Fecha inicio</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" ng-model="startDate" class="uppercase" ng-required="true" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha fin</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" ng-model="endDate" class="uppercase" >
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            <button style="font-size: 15px;" ng-disabled="formInvoice.$invalid" md-ink-ripple class="md-btn md-raised bg-accent" ng-click="userSales.loadInvoices()">
                                    <i class=" mdi-table"></i>Cargar
                            </button>
                        </label>

                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="invoicesGrid" style="height: 500px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }
</style>