 <style>
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  .red { color: black;font-style: bold; background-color: yellow !important; }
  </style>
<ul class="breadcrumb">
  <li>
      <a ui-sref="app.homeSuite">
          <i class="mdi-home"></i>
          REPORTES
      </a>
  </li>
  <li>Rotación items</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Repuestos sin Movimiento
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="Imprimir Reporte" ng-click="notSoldPbi.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>

        <!-- <button  md-ink-ripple class="md-btn md-raised m-l-sm label bg-accent"  ng-click="incomeStatement.loadReport()" popover="Cargar datos" popover-placement="bottom" popover-trigger="mouseenter" ng-disabled="formData.$invalid || loadButton">
            <i class="mdi-upload"></i> Cargar datos
        </button>

        <button md-ink-ripple class="md-btn md-raised m-l-sm label bg-info"  ng-click="incomeStatement.valuesLoad()" popover="Generar reporte" popover-placement="bottom" popover-trigger="mouseenter" ng-disabled="buttonShowResult">
            <i class="mdi-table-large"></i> Generar resultados
        </button> -->
    </div>
</div>

<div class="panel-heading bg-success">Seleccionar Filtros para busqueda avanzada 
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Filtro busqueda avanzada"></span>
</div>
<div class="panel">
  <iframe title="Items no vendidos" width="100%" height="1000" src="https://app.powerbi.com/view?r=eyJrIjoiY2UyMWU5MzYtN2JiMS00NDE3LWFmYzEtYTA1MTZhOTQ2NWY4IiwidCI6IjZjYjJkM2Q3LTlhZjEtNDFkMS04MTM4LTI3MTFiOGFmYjAwMyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>




<style>
 table, th, td{
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;

}  

.outstanding { font-size: 20px; }

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.uppercase { text-transform: uppercase; }

</style> 