<style>
.angular-ui-tree-placeholder {background: #f0f9ff; border: 2px dashed #bed2db; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.angular-ui-tree-no-drag .angular-ui-tree-handle{cursor: initial!important; }
</style>

<div ui-tree="treeOptions" id="tree-root" ng-class="{'angular-ui-tree-no-drag': structure.noDrag}">
    <ol ui-tree-nodes ng-model="structure.nodes" ng-if="structure.view == 'classpanel'">
        <li ng-if="structure.noDrag" ng-repeat="node in structure.nodes" ui-tree-node data-nodrag ng-include="'class_panel_structure.html'"></li>
        <li ng-if="!structure.noDrag" ng-repeat="node in structure.nodes" ui-tree-node ng-include="'class_panel_structure.html'"></li>
    </ol>

    <ol ui-tree-nodes ng-model="structure.nodes" ng-if="structure.view == 'improve'">
        <li ng-if="structure.noDrag" ng-repeat="node in structure.nodes" ui-tree-node data-nodrag ng-include="'improve_structure.html'"></li>
        <li ng-if="!structure.noDrag" ng-repeat="node in structure.nodes" ui-tree-node ng-include="'improve_structure.html'"></li>
    </ol>

    <div class="alert alert-danger" ng-if="structure.validatingTypeView()" role="alert">
        <strong>Error!</strong>
        <p>
            No se encontro la plantilla <strong>"{{structure.view}}"</strong>
        </p>
    </div>
</div>
