<div class="list-filter-min" ng-show="Ctrl.listToggle">

	<div class="info">
		<button ng-click="Ctrl.toggleHide()">
			<i class="mdi-magnify"></i>
		</button>
		<div class="l-info">
			<div class="info-secondary" ng-if="Ctrl.Item.cod || Ctrl.Item.rolLabels">
				<h6 ng-if="Ctrl.Item.cod">{{Ctrl.Item.cod}}</h6>
				<div class="badges" ng-if="Ctrl.Item.rolLabels.length > 0"> 
					<span class="badge bg-info" tooltip="{{ Ctrl.Item.rolLabel.labels }}" tooltip-placement="top" tooltip-append-to-body="true">{{ Ctrl.Item.rolLabel.codes }}</span> 
				</div>
			</div>
			<div class="info-primary">
				<h4 ng-if="!Ctrl.isMultiTitle(Ctrl.Item.title)">{{Ctrl.Item.title}}</h4>
				<h4 ng-if="Ctrl.isMultiTitle(Ctrl.Item.title)" ng-repeat="title in Ctrl.Item.title track by $index">{{title | translate}}</h4>
				<span ng-if="Ctrl.Item.title && Ctrl.Item.subTitle">-</span>
				<h5 ng-if="Ctrl.Item.subTitle">{{Ctrl.Item.subTitle}}</h5>
			</div>
		</div>
	</div>

</div>

<div class="list-filter" ng-show="!Ctrl.listToggle">
	
	<form class="form">

		<div class="form-group">
			<div class="label-form" ng-click="Ctrl.toggleHide()" tooltip="{{ 'HIDE' | translate }}" tooltip-placement="right">
				<label>{{ Ctrl.config.title || 'FILTER_AS' | translate }}</label>
				<i class="mdi-chevron-double-up"></i>
			</div>
			<div ng-show="Ctrl.showFilters" ng-if="!field.isAdvanced" ng-repeat="field in Ctrl.filters.inputs track by $index">
				<dynamic-input 
				field="field" 
				base-service-url="Ctrl.filters.baseUrl" 
				additional-params="Ctrl.filters.staticParams"
				on-change="Ctrl.onChange(field, cleanModel)"
				type-form="none"> </dynamic-input>
			</div>
		</div>

		<div class="form-group" ng-if="Ctrl.areThereAdvanced()">
			<div class="label-form" ng-click="Ctrl.showAdvancedFilters = !Ctrl.showAdvancedFilters">
				<label>{{ 'SHOW_ADVANCED_FILTERS' | translate }}</label>
				<i ng-class="{'mdi-chevron-up':filter,'mdi-chevron-down':!filter}"></i>
			</div>
			<div ng-show="Ctrl.showAdvancedFilters" ng-if="field.isAdvanced" ng-repeat="field in Ctrl.filters.inputs track by $index">
				<dynamic-input 
				field="field" 
				base-service-url="Ctrl.filters.baseUrl" 
				additional-params="Ctrl.filters.staticParams"
				on-change="Ctrl.onChange(field, cleanModel)"
				type-form="none"> </dynamic-input>
			</div>
		</div>

	</form>

	<div id="list-filter-items">
		<ul infinite-scroll="Ctrl.loadMore()" infinite-scroll-distance="1" infinite-scroll-container="#list-filter-items">
			<li class="result-card" 
				ng-class="{'bg-primary': (item.id_code == Ctrl.itemSelected || item.sectionId == Ctrl.itemSelected)}" 
				ng-repeat="(itemId, item) in Ctrl.records | orderBy: '-ocurrences' track by itemId"
				ng-click="Ctrl.onClickList(item)" >
		
				<div ng-if="Ctrl.config.view == 'extended'" ng-include="'extended-view.html'"></div>
				<div ng-if="Ctrl.config.view == 'compacted'" ng-include="'compacted-view.html'"></div>
				<div ng-if="Ctrl.config.view == 'simpled'" ng-include="'simpled-view.html'"></div>
				<div ng-if="Ctrl.config.view == 'generic'" ng-include="'generic-view.html'"></div>
				<div ng-if="Ctrl.config.view == 'optimal'" ng-include="'optimal-view.html'"></div>
				<div ng-if="Ctrl.config.view == 'coordinatorStudent'" ng-include="'coordinatorStudent-view.html'"></div>
		
			</li>
		</ul>
	</div>
	
</div>