
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.staff">
            <i class="mdi-home"></i>
            PERSONAL
        </a>
        <!-- &nbsp;<span class="badge bg-info"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span> -->
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de personal
        </h1>
        
    </div>
 
    <div class="button-group">
        <button has-disabled= "personal-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.staffCreate">
            <i class="mdi-plus"></i>
            Crear Usuario
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Personal/usuarios" ng-model="staffList.searchText" ng-change="staffList.searchData()" ng-model-options="staffList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="usersGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.uppercase { text-transform: uppercase; }
.critical { color: rgb(8, 0, 0); background-color: rgb(245, 161, 150) !important; }

</style>

