
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.providers">
            <i class="mdi-home"></i>
            FACTURAS PROVEEDOR
        </a>
    </li>
    <li>Actualizar Factura proveedor</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Factura proveedor :  <strong class="uppercase">  {{dataInvoice.providerName}} <span>[{{dataInvoice.providerId}}]</span> </strong>
            <!-- <span class="badge bg-warning">{{dataInvoice.status}}</span> -->
            <span class="badge bg-warning">¡ Recuerde que procederá a modificar una factura !</span>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.invoicesProvider">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="invoicesProviderUpdate.updateInvoice()">
            <i class="mdi-content-save-all"></i>
            Actualizar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos Factura
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Factura" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <!-- <input type="text" ng-model="dataInvoice.rut" class="form-control" placeholder="Rut Cliente" required > -->
                            <ui-select ng-model="providers.selected" ng-change= "invoicesProviderUpdate.setName(providers.selected)" theme="bootstrap"  title="providers" >
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="providers in providers | filter: $select.search">
                                <h3 ng-bind-html="''+providers.providerName | highlight: $select.search"></h3>
                                
                                <strong>
                                <div  ng-bind-html="providers.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="date" value = "CurrentDate" ng-model="dataInvoice.date" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="dataInvoice.invoiceCode" class="form-control" placeholder="Folio Factura" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>O.C</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="dataInvoice.purchaseOrder" class="form-control" placeholder="Orden de compra" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-model="warehouses.selected" theme="bootstrap"  title="Centro de costo" >
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel">
    <form name="formProviders" action="" class="form-horizontal">
        <div class="row espacio">
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-sm-12 uppercase">
                        <ui-select ng-model="items.selected" theme="bootstrap"  title="Items" >
                            <ui-select-match ><small> {{$select.selected.itemDescription}}</small></ui-select-match>
                            <ui-select-choices repeat="items in items | filter: $select.search">
                                <h4 ng-bind-html="''+items.itemDescription | highlight: $select.search"></h4>
                                
                                <small>
                                <div  ng-bind-html="items.references | highlight: $select.search"></div>
                                    
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="form-group">
                    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="">
                        <i class="mdi-cart-outline"></i>
                        Agregar Item
                    </button>
                </div>
            </div>
            
        </div>
    </form>
</div>
<div class="panel">
    <div class="panel-body">
        <table style="width:100%">
        <tr>
            <th>Item</th>
            <th>Referencia</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cant.</th>
            <!-- <th>% Dcto.</th>  -->
            <th>Total</th>
            <th></th>
          </tr>
          <tr ng-repeat="items in invoice[0].itemsInvoices">
            <td>{{$index+1}}</td>
            <td class="uppercase">{{items.reference}}</td>
            <td class="uppercase">{{items.itemDescription}}</td>
            <td>{{items.price}}</td>
            <td align="center"><a href="#" editable-text="items.quantityItems" >{{items.quantityItems}}</a></td> 
            <!-- <td align="center"><a href="#" editable-text="items.discount">{{items.discount}}</a></td> -->
            <td><strong>{{items.total}}</strong></td>
            <td><a href="#" ng-click="invoicesProviderUpdate.removeItems($index)"><span class="badge bg-danger">Eliminar</span></a></td>
          </tr>
    </table>
        </div>
</div>
<div class=" pull-left">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Observación</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea ng-model="dataInvoice.observation" class="form-control" placeholder="Observación factura" required>
                            </textarea>
                        </div>
                    </div>
                
               
        </div>
    </div>
</div>
<div class="pull-right">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Valor Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h1>
                            <strong>
                                <input class="col-sm-8" ng-disabled="true" ng-model="priceVATest">
                            </strong>
                        </h1>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                <input class="col-sm-8" ng-disabled="true" ng-model="netPrice" ng-init="netPrice = 0">
                            </strong>
                        </h1>
                    </div>
                </div>
               <!--  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>% Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                <input class="col-sm-8"  ng-model="disccount" ng-init="disccount = 0">
                            </strong>
                        </h1>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Valor Total:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                <input class="col-sm-8" ng-disabled="true" ng-model="total" ng-init="total = 10000000">
                            </strong>
                        </h1>
                    </div>
                </div>
                
               
        </div>
    </div>
</div>
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
