
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.providers">
            <i class="mdi-home"></i>
            PROVEEDORES
        </a>
    </li>
    <li>Actualizar proveedor</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Mofificar Proveedor: {{providerDetails.name}}
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.providers">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button  md-ink-ripple class="md-btn md-raised bg-accent" ng-disabled="formProviders.$invalid" ng-click="providersUpdate.updateProvider()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales del proveedor" ></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.name" class="form-control uppercase" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Correo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control uppercase" placeholder="" ng-model="providerDetails.email" aria-invalid="false" required>
                              <span class="text-danger" ng-show="formProviders.email.$touched && formProviders.email.$invalid">Por favor ingrese un email válido.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.rut" class="form-control" placeholder="rut proveedor" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Ciuda/Pais</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.cityName" class="form-control uppercase" placeholder="ciudad o pais" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.address" class="form-control uppercase" placeholder="Dirección">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.phone" class="form-control" placeholder="telefono" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Celular</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.mobile" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Web Site</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.web" class="form-control uppercase" placeholder="Web Site">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Banco</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.bankAccount"  class="form-control" placeholder="Nombre Banco - N° Cuenta">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Giro</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="providerDetails.commercialBusiness" class="form-control uppercase" placeholder="Giro">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="providerDetails.type" ng-required="true" >
                                  <option value="1" selected="selected">Nacional</option>
                                  <option value="2">Internacional</option>
                                </select>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
