<md-dialog>
	<md-dialog-content>

		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="close(false)">
					<i class="icon mdi-navigation-close i-20"></i>
				</md-button>
			</div>
		</md-toolbar>

		<div class="m-l-md m-r-md">
			<h3 class="font-bold text-center">{{ options.message || 'Esta seguro de eliminar?' }}</h3>
			<p class="text-center font-bold"> {{ options.title }}</p>
		</div>

		<div class="text-center m-b-md m-t-md">
			<button md-ink-ripple class="md-btn md-raised md-primary m-l-sm" ng-click="close(false)">Cancelar</button>
			<button md-ink-ripple class="md-btn md-raised m-l-sm" ng-click="close(true)">Aceptar</button>
		</div>

	</md-dialog-content>
</md-dialog>