
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.importRegistration">
            <i class="mdi-home"></i>
            REGISTRO DE EMBARQUE
        </a>
    </li>
    <li>Crear Registro de Embarque</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Proveedor :  <strong class="uppercase">  {{providerName}} <span>[{{providerId}}]</span> 
                
            </strong>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.importRegistration">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised"  ng-disabled="formImport.$invalid || total == '' || total == 0 " ng-click="importRegistrationCreate.recordCreate()">
            <i class=" mdi-flag-variant"></i>
            Crear registro
        </button>
        <!-- <button  md-ink-ripple class="md-btn md-raised" ng-click="importRegistrationCreate.recordCreate()">
            <i class=" mdi-flag-variant"></i>
            Crear registro
        </button> -->
    </div>
</div>
<form name="formImport" action="" class="form-horizontal">

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales Registro"></span>
    </div>
    <div class="panel-body">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Proveedor:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <ui-select class="uppercase" ng-change= "importRegistrationCreate.setName(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider" ng-required="true" >
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h3 ng-bind-html="''+provider.providerName | highlight: $select.search"></h3>
                                
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <ui-select ng-change="importRegistrationCreate.setWarehouseId($select.selected.warehouseId)" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices value="{{$select.selected.warehouseId}}" repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Nº Proforma/Invoice:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model= "code" class="form-control"  required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>N° Embarque:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model= "shipmentNumber" class="form-control"  required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Monto total {{currencySymbol}}:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="float" ng-model= "total" class="form-control"  required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Moneda:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="currency" ng-change="importRegistrationCreate.validateCurrency(currency)" required>
                                  <option value="Euro"> € Euro</option>
                                  <option value="Dolar">$ Dólar</option>
                                  <option value="Peso">$ Peso Chileno</option>
                                </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Valor moneda actual:</strong>
                        </label>
                        <div class="col-sm-4">
                            <input type="float" class="form-control" ng-model="valueCurrency"/>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Packing:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="packing"  required>
                                  <option value="1"> Pallets</option>
                                  <option value="2">Caja</option>
                                </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Arribo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="date" ng-model= "arrivalDate" class="form-control"  required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Cantidad packing:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="number" ng-model= "packingQuantity" class="form-control"  required>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Recepción Estimada:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="date" ng-model= "receptionDate" class="form-control"  required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Impuestos Aduana:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" ng-model= "customsTax" class="form-control"  required>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Fecha pago aduana:</strong>
                        </label>
                        <div class="col-sm-6">
                            <input type="date" ng-model= "payDateTax" class="form-control">
                        </div>
                    </div>
                </div> -->
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Observación:</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><textarea ng-model="observation" class="form-control" placeholder="Observación">
                            </textarea></h1>
                        </div>
                    </div>
                </div>
                
            </div>
       
       
    </div>
</div>
</form>





