
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            REPORTES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Reporte items despachados
        </h1>
    </div>
    <div class="button-group">
     
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "items-vendidos-view" ui-sref="app.itemsSold" tooltip="Items vendidos">
            <i class="mdi-basket-unfill"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" ng-disabled="true" has-disabled= "item-despacho-view" ui-sref="app.itemsOutputs" tooltip="Items despachados">
            <i class="mdi-forklift"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "item-comprados-view" ui-sref="app.itemsPurchased" tooltip="Items comprados">
            <i class="mdi-basket-fill"></i>
        </button>

        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "items-falla-view" ui-sref="app.faultyItems" tooltip="Items con falla">
            <i class="mdi-oil"></i>
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar items" ng-model="itemsOutputsList.searchText" ng-change="itemsOutputsList.searchData()" ng-model-options="itemsOutputsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="itemsOutputsGrid" style="height: 500px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }
</style>
