
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.wishlist">
            <i class="mdi-home"></i>
            PRE-PEDIDOS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado Pre-pedidos <span> <a ng-click="preOrdersList.loadOrders()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.wishlist">
            <i class="mdi-candycane"></i>
            Volver lista deseos
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.preOrdersCreate">
            <i class="mdi-plus"></i>
            Crear nuevo
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar pre-pedidos" ng-model="preOrdersList.searchText" ng-change="preOrdersList.searchData()" ng-model-options="preOrdersList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
