 <style>
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  .red { color: black;font-style: bold; background-color: yellow !important; }
  </style>
<ul class="breadcrumb">
  <li>
      <a ui-sref="app.homeSuite">
          <i class="mdi-home"></i>
          REPORTES
      </a>
  </li>
  <li>Ventas General de repuestos</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Ventas por repuestos
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="Imprimir Reporte" ng-click="salesPowerBi.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>

        <!-- <button  md-ink-ripple class="md-btn md-raised m-l-sm label bg-accent"  ng-click="incomeStatement.loadReport()" popover="Cargar datos" popover-placement="bottom" popover-trigger="mouseenter" ng-disabled="formData.$invalid || loadButton">
            <i class="mdi-upload"></i> Cargar datos
        </button>

        <button md-ink-ripple class="md-btn md-raised m-l-sm label bg-info"  ng-click="incomeStatement.valuesLoad()" popover="Generar reporte" popover-placement="bottom" popover-trigger="mouseenter" ng-disabled="buttonShowResult">
            <i class="mdi-table-large"></i> Generar resultados
        </button> -->
    </div>
</div>

<div class="panel-heading bg-success">Seleccionar fecha, id producto o repuesto en general. 
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Navegue por los demás reportes desde la paginación en el pie del reporte"></span>
</div>
<div class="panel">
  <iframe title="Jormat productos - Ventaproductos" width="100%" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiODE0NGQwOWUtNzVlNy00ODlkLThlMTQtZTUzNDdjZjA2MDUzIiwidCI6IjZjYjJkM2Q3LTlhZjEtNDFkMS04MTM4LTI3MTFiOGFmYjAwMyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<style>
 table, th, td{
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;

}  

.outstanding { font-size: 20px; }

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

.uppercase { text-transform: uppercase; }

</style> 