
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.orders">
            <i class="mdi-home"></i>
            SOLICITUD DE PEDIDOS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de pedidos <span> <a ng-click="ordersList.loadOrders()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "solicitud-de-pedido-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.ordersCreate">
            <i class="mdi-plus"></i>
            Crear Solicitud
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar solicitudes de pedido" ng-model="ordersList.searchText" ng-change="ordersList.searchData()" ng-model-options="ordersList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="ordersGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
