 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="checksUpdate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Actualizar Cheque N° {{checkId}} [{{checkDetails.statusName}}]</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formChecks" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input style="font-size: 11px;" type="text" tooltip="Nombre asociado a Cheque" ng-model="checkDetails.associatedName" class="form-control uppercase" required >
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Serie:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Ingrese N° de serie documento" type="text" ng-model="checkDetails.serialNumber" class="form-control uppercase bg-warning" required style="text-transform:uppercase;"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <span class="label bg-info uppercase" style="font-size:medium;"> {{checkDetails.day}}</span>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Total:</strong><span class="dato-obligatorio">*</span> 
                        </label>
                        <div class="col-sm-5">
                            <strong><input type="number" tooltip="Total pago cheque" ng-model="checkDetails.shareValue" class="form-control" required></strong>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Banco:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <span class="label bg-secondary uppercase">{{check[0].bankName}}</span> 
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Cuenta:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="checkDetails.account" class="form-control bg-secondary" placeholder="N° de cuenta" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <span class="label bg-warning uppercase"> {{check[0].origin}}</span> 
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="checkDetails.phone" class="form-control" placeholder="000-000000">
                        </div>
                    </div>
                </div> 
            </div>
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cliente:</strong>
                        </label>
                        <div class="col-sm-9">
                            <span class="uppercase" >{{check[0].associatedClient}}</span> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Deposito:</strong>
                        </label>
                        <div class="col-sm-8">
                            <span> {{check[0].depositDate}}</span> 
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Facturas:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input tooltip="Facturas" type="number"  class="form-control " name="invoice" ng-model="invoice"/>
                        </div>
                        <div class="col-sm-2">
                            <a ng-disabled="invoicesForm.$invalid"  tooltip="Asociar factura a Cheque" ><span class="label bg-accent uppercase" ng-click="addInvoice(invoice)"><i class="mdi-plus"></i> Agregar</span></a>
                        </div>
                    </div>
                    <div ng-repeat="check in invoices" class="{'fadeOut' : check.done} m-t-md btn-group-vertical">
                            <h3 class="label bg-secondary " >{{check.title}}</h3>
                              <span class="mdi-close-box" ng-click="deleteInvoice($index)"></span>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Detalle:</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4" placeholder="Detalle cuotas" ng-model="checkDetails.shareDetails" maxlength="1000"></textarea>
                        </div>
                    </div>
                    <div has-permission="cheques-validate" class="form-group">
                        <label for="" class="col-sm-4 control-label dato-obligatorio">
                            <strong>Estado:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <select ng-change="checksUpdate.selectActions(actionValue)" class="form-control" ng-model="actionValue">
                              <option value="1">Pendiente</option>
                              <!-- <option value="4">Depositar</option> -->
                              <option value="2">Validar</option>
                              <option value="3">Rechazar</option>
                         </select> 
                        </div>
                        <div class="col-sm-2">
                            <a tooltip="Cambiar estado cheque (usuario super administrativo)"><span class="label bg-danger uppercase" ng-click="checksUpdate.updateStatusCheck()"><i class="mdi-information-outline"></i> Cambiar estado</span></a>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="checksUpdate.updateCheck()" ng-disabled="formChecks.$invalid || invoices.length == 0">
		   <i class="mdi-check-all"></i> Actualizar información
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="checksUpdate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->