<md-dialog class="modal-md">
	<md-dialog-content>
		<md-toolbar>
			<div class="md-toolbar-tools btn-primary">
				<p class="text-center font-bold"> Confirmar Entrega</p>
			</div>
		</md-toolbar>
		<div class="m-l-md m-r-md">
			<div class="col-sm-15 m-t-sm" ng-if="dialog.options.name">
                <span class="m-r-md "><strong>Cliente: </strong><span class="uppercase">{{dialog.options.name}}</span>  </span>
            </div>
			<div class="col-sm-15" ng-if="dialog.options.number && dialog.options.type">
                <span class="m-r-md"><strong>Tipo: </strong><span class="label bg-warning">{{dialog.options.type}}</span></span>
                <span class="m-r-md"><strong>N° Documento: </strong><span class="label bg-accent">{{dialog.options.number}}</span></span>
            </div>
			<h3 class="text-left">{{ dialog.options.message || 'DESCRIPTION_MESSAGE_DEFAULT' | translate }}</h3>
			<text-angular ng-model="dialog.description" ta-toolbar="dialog.taOptions"></text-angular>
		</div>
		<div class="text-center m-b-md m-t-md">
			
				<label for="" class="col-sm-2 control-label">
					<strong>Seleccione:</strong><span class="dato-obligatorio">*</span>
				</label>
				<div class="col-sm-5">
				<form name="formType" action="" class="form-horizontal">
				<select class="form-control" ng-model="entrega" required>
				  <option value="2">Entrega Incompleta</option>
				  <option value="3">Mixto</option>
				  <option value="4">Delivery</option>
				  <option value="5">Mesón</option>
				  <option value="6">Despacho</option>
				  <option value="7">Entrega Rapida</option>
				</select> 
			</form>
			</div>
			<button ng-disabled="formType.$invalid" md-ink-ripple class="md-btn md-raised btn-primary m-l-sm" ng-click="dialog.close(true,entrega)">
				<i class="mdi-content-save"></i> Guardar
			</button>
			<button md-ink-ripple class="md-btn md-raised btn-danger m-l-sm" ng-click="dialog.close(false,0)">
				<i class="icon mdi-close i-20"></i> Cerrar
			</button>
		</div>
	</md-dialog-content>
</md-dialog>