
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.orders">
            <i class="mdi-home"></i>
            SOLICITUDES DE PEDIDOS
        </a>
    </li>
    <li>Crear solicitud de pedido </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Proveedor :  <strong class="uppercase">  {{providerName}} <span>[{{providerId}}]</span> 
                <span><a ng-click="orderCreate.loadItems(warehouseId)"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
    <div class="button-group">

        <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="orderCreate.uploadCsv()" ng-show="panelInvoice" >
            <i class="mdi-upload"></i> Subir CSV
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.orders">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formProviders.$invalid || total == '' || !parseInt(total) || total == 0 " ng-click="orderCreate.createInvoice()">
            <i class="mdi-cart-outline"></i>
            Crear
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos orden
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la orden" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-2" >
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Tipo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" ng-model="selected" ng-required="true" ng-change="orderCreate.validateType(selected)">
                                  <option value="2" selected="selected">Internacional</option>
                                  <option value="1" >Nacional</option>
                                  <option value="3" >Abastecimiento</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" ng-show="typeView">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Rut:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <!-- <input type="text" ng-model="dataInvoice.providerId" class="form-control" placeholder="Rut providere" required > -->
                            <ui-select ng-change= "orderCreate.setName(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider" ng-required="true" >
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h3 ng-bind-html="''+provider.providerName | highlight: $select.search"></h3>
                                <h4  ng-bind-html="provider.warehouseName | highlight: $select.search"></h4>
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                
                <div ng-show="internacionalInvoice">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Moneda</strong>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="currency" ng-change="orderCreate.validateCurrency(currency)">
                                      <option value="Euro"> € Euro</option>
                                      <option value="Dolar">$ Dólar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Valor</strong>
                            </label>
                            <div class="col-sm-8">
                                <input ng-change="orderCreate.originSelectView()" type="number" class="form-control" ng-model="valueCurrency" data-nodrag />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="originView">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="orderCreate.setWarehouseId($select.selected.warehouseId);orderCreate.showPanel(1)" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match allow-clear="true"><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices value="{{$select.selected.warehouseId}}" repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="destinationView" >
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Destino:</strong>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="orderCreate.setDestinationId($select.selected.warehouseId);orderCreate.showPanel(2)" ng-model="destinationId" theme="bootstrap"  title="Centro de destino" >
                                <ui-select-match allow-clear="true" ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehousesTo | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-show="panelOrder">
<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>Id</th> 
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Precio {{currencySymbol}}</th> 
                            <th style="width:60px">Stock</th>
                            <th>Cant.</th>
                            <th>Total</th>
                            <th></th>
                          </tr>
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td>{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}<strong class="font-italic"> ({{items.referenceKey}})</strong></td>
                            <td><span style="font-size: 9px;" class="uppercase label bg-warning">{{items.brand}}</span></td>
                            <td><input class="form-control input-sm {{(items.price >= 0)?' text-dark':'bg-danger'}}" ng-model="items.price" type="number" min="0" style="width :85px"></td>
                            <td><strong>{{items.stock}}/{{items.generalStock}}</strong></td>  
                            <td><input class="form-control input-sm" ng-model="items.quantity" min= "1" type="number" style="width:60px"></td>
                            
                            <td><strong>${{(items.price * items.quantity) | number:0 }}</strong></td>

                            <td align="center"><a ng-click="orderCreate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 520px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4" >
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-5 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-6">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ orderCreate.getNet() | number:0  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 30)?' ':'bg-danger'}}" ng-model="discount" min="0" max="30" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="" class="col-sm-5 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-6">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ orderCreate.getNet()  | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-5 control-label">
                        <strong>Iva :</strong>
                    </label>
                    <div class="col-sm-6 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-5 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-7 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:0 }} <span style="font-size: 12px;">{{currencyText}}</span>
                            </strong>
                        </h1>
                    </div>
                </div>
        </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación solicitud de pedido" required>
                        </textarea>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
  </div>
</div>




