<style>
	.moduleName {border-left: 1px rgba(0, 0, 0, 0.12) solid; border-top: 1px rgba(0, 0, 0, 0.12) solid; border-bottom: 1px rgba(0, 0, 0, 0.12) solid; width: 4%; }
	.u-md-column {border: 1px rgba(0, 0, 0, 0.12) solid; text-align: center!important; padding: 0!important; }
	.modName {width: 4%;}
	.bg-green-web-planner{background: #9dc400; float: left; width: 100%; }
	.empty-cell {height: 40px; background: #a7adb0;}
	.empty-checkbox {height: 40px; padding: 10px 0; margin: 0; background-color: #fff }
	.btn-menu {height: 100%; width: 100%; }
	table.md-table {overflow: visible;}
</style>
<div class="row" ng-if="acalendar.selectAll">
	<div class="col-xs-12">
		<div class="checkbox">
			<label class="md-check">
				<input type="checkbox" ng-click="acalendar.selectAllItems(acalendar.checkAll)" ng-init="acalendar.checkAll=0"
				ng-model="acalendar.checkAll" parse-int ng-true-value="1" ng-false-value="0" />
				<i class="green"></i> Deseleccionar/Seleccionar
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<md-table-container>
			<table md-table>
				<thead md-head>
					<tr md-row>
						<th md-column ng-repeat="days in acalendar.aCalendar.daysArray track by $index" 
							style="padding: 0" 
							ng-class="{
								'moduleName': (days.day == 0 && $index == 0),
								'modName': (days.day == 0 && $index != 0),
								'u-md-column': ($index != 0),
							}">
							<div class="btn-group dropdown" ng-if="days.day != '0'" style="height: 55px;width: 100%;">
								<button ng-disabled="!acalendar.selectAll" type="button" class="btn btn-default btn-menu" data-toggle="dropdown" aria-expanded="false">
									<strong style="color: #000;"  ng-bind-html="acalendar.weekDaysNames[days.day]"> {{acalendar.weekDaysNames[days.day]}} </strong>
									<span ng-if="acalendar.selectAll" class="caret"></span>
								</button>
								<ul class="dropdown-menu animated fadeIn" ng-if="acalendar.selectAll" style="min-width:250px;">
									<li>
										<div class="checkbox" style="padding: 0">
											<label class="md-check">
												<input type="checkbox" ng-click="acalendar.selectColumn(acalendar.checkCol[days.day], days.day)" 
												ng-init="acalendar.checkCol[days.day]=0" ng-disabled="acalendar.isAvailable(days.day)"
												ng-checked="acalendar.isColumnChecked(days.day)"
												ng-model="acalendar.checkCol[days.day]" parse-int ng-true-value="1" ng-false-value="0" />
												<i class="green"></i> Marcar todo <strong ng-bind-html="acalendar.weekDaysNames[days.day]">{{acalendar.weekDaysNames[days.day]}}</strong>
											</label>
										</div>
									</li>
								</ul>
							</div>
							<div class="btn-group dropdown" ng-if="days.day == '0'" style="height: 55px;width: 100%;">
								<button ng-disabled="true" type="button" class="btn btn-default btn-menu" data-toggle="dropdown" aria-expanded="false">
									<strong style="color: #000;" ng-bind-html="acalendar.weekDaysNames[days.day]"> {{acalendar.weekDaysNames[days.day]}} </strong>
								</button>
							</div>
						</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-select-id="name" md-auto-select ng-repeat="Modules in acalendar.aCalendar.modulesDays track by $index">
						<td ng-repeat='wDay in acalendar.aCalendar.daysArray track by $index' md-cell class="u-md-column bg-grey-web-planner" style="height: 40px">
		
							<div ng-repeat="module in Modules" ng-if="wDay.day == module.day && wDay.group == module.group">
		
								<div ng-if="wDay.day == '0'" style="height: 40px; padding: 0; margin: 0; background-color: #fff"> 
									<div class="btn-group dropdown" style="height: 41px;width: 100%;">
										<button ng-disabled="!acalendar.selectAll" type="button" class="btn btn-default btn-menu" data-toggle="dropdown" aria-expanded="false" style="padding: 0">
											<strong style="color: #000;font-size: 12px"> {{module.start}} <br> {{module.end}} </strong>
											<span ng-if="acalendar.selectAll" class="caret"></span>
										</button>
										<ul class="dropdown-menu animated fadeIn" ng-if="acalendar.selectAll" style="min-width:300px;">
											<li>
												<div class="checkbox text-center" style="padding: 0 0 0 5px">
													<label class="md-check">
														<input type="checkbox" ng-click="acalendar.selectRow(acalendar.checkRow[module.id][module.group], module.id, module.group)" 
														ng-init="acalendar.checkRow[module.id][module.group]=0" ng-disabled="false"
														ng-checked="acalendar.isRowChecked(module.id, module.group)"
														ng-model="acalendar.checkRow[module.id][module.group]" parse-int ng-true-value="1" ng-false-value="0" />
														<i class="green"></i> Marcar todo el módulo ({{module.start}} - {{module.end}})
													</label>
												</div>
											</li>
										</ul>
									</div>
								</div>
								
								<div ng-if="acalendar.viewSelected.type == 'cell'">
									<div ng-repeat="available in acalendar.modulesByDay" 
										ng-click="acalendar.rangeSelected(module.group, module.id, wDay.day, available.id_module, module.start, module.end)"
										ng-if="available.nm_dayoftheweek==wDay.day && available.nm_sequence==module.id"
										style="height: 40px; padding: 0; margin: 0; background-color: #fff"
										ng-class="{'cursor-pointer': !acalendar.disableSelection}">
									
										<div ng-repeat='event in acalendar.aCalendar.events'
											ng-if="event.nm_dayoftheweek==available.nm_dayoftheweek && 
												   event.nm_sequence==available.nm_sequence"
											ng-style="{height: '40px', padding: '0', margin: '0'}"
											class="bg-green-web-planner"
											data-event-class>
										</div>
									
									</div>
								</div>
		
								<div ng-if="acalendar.viewSelected.type == 'checkbox'">
									<div ng-repeat="available in acalendar.modulesByDay track by $index"
										ng-if="available.nm_dayoftheweek==wDay.day && available.nm_sequence==module.id"
										style="height: 40px; padding: 10px 0; margin: 0; background-color: #fff">
										
										<label class="md-check" ng-if="!acalendar.disableSelection && (!acalendar.showClassroom(available) || !acalendar.viewSelected.showLabelOnEdit)">
											<input type="checkbox" ng-model="acalendar.check[wDay.day][module.id]"
												   	ng-change="acalendar.rangeSelected(module.group, module.id,wDay.day,available.id_module,module.start,module.end,acalendar.check[wDay.day][module.id])"
												   	ng-checked="acalendar.validaCheckbox(available)">
											<i class="green"></i>
										</label>
		
										<span ng-if="acalendar.disableSelection || (!acalendar.disableSelection && acalendar.viewSelected.showLabelOnEdit) ">
											<span ng-if="acalendar.showClassroom(available) != false" ng-click="acalendar.onModuleClick(module.id,wDay.day,available.id_module,module.start,module.end)"
												ng-class="{'cursor-pointer': acalendar.onClick !== undefined}"
												class="badge bg-info "> 
												{{acalendar.showClassroom(available)}}
											</span>
										</span>
									</div>
								</div>
		
							</div>
		
							<div ng-if="acalendar.whitoutModule(wDay, Modules) && wDay.day == '0'" style="height: 40px; padding: 0; margin: 0; background-color: #fff">
								<div class="btn-group dropdown" style="height: 41px;width: 100%;">
								<button ng-disabled="true" type="button" class="btn btn-default btn-menu" data-toggle="dropdown" aria-expanded="false" style="padding: 0">
										<strong style="color: #000;font-size: 12px">00:00 <br> 00:00</strong>
									</button>
								</div>
							</div>
		
							<div ng-if="acalendar.whitoutModule(wDay, Modules) && wDay.day != '0'"
								ng-class="{'empty-checkbox': acalendar.viewSelected.type == 'checkbox', 'empty-cell': acalendar.viewSelected.type == 'cell'}">
								<span ng-if="acalendar.viewSelected.type == 'checkbox'" class="badge bg-danger "> No Disponible </span>
							</div>
		
						</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
	</div>
</div>