<style>
	.th-header > th {padding: 10px!important;}
	.btn-action {display: flex; justify-content: space-around; align-items: center;}
</style>
<div class="row" data-nodrag>
	<div class="col-xs-12">

		<div class="table-responsive">
			<table class="table table-bordered table-condensed bg-white">
				<thead>
					<tr class="bg-primary-dark th-header">
						<th style="width:3%" ng-repeat="col in Ctrl.field.columnDefs">
							<div class="text-ellipsis">
								{{ col.displayName | translate }}
							</div>
						</th>
						<th style="width:1%" class="text-center" ng-if="!Ctrl.field.isDisabled && Ctrl.options.inEdit">
							<div class="text-ellipsis">{{'IMPROVE_ACTIONS' | translate}}</div>
						</th>
					</tr>
				</thead>
			
				<tbody>

					<tr ng-if="!(Ctrl.field.rows.length > 0) && Ctrl.field.isDisabled">
						<td colspan="10" class="text-center">
							{{ 'INFO_NOT_FOUND' | translate }}
						</td>
					</tr>
			
					<tr ng-if="Ctrl.field.rows.length > 0" ng-repeat="(key, row) in Ctrl.field.rows">

						<td class="v-middle" ng-repeat="field in row">

							<dinamic-input ng-show="iForm[key].$visible && Ctrl.options.inEdit"
								ng-if="field.typefield && field.typefield != 'ui-grid' && field.typefield != 'structure'"
								field="field" 
								on-change="Ctrl.onFieldChange(field, false, key)"
								base-service-url="Ctrl.options.baseUrl" 
								show-title="false"
								type-form="not-inline"
								allow-clear="false"
								additional-params="Ctrl.options.addParams">
							</dinamic-input>

							<div ng-show="!iForm[key].$visible">
								<span ng-if="field.typefield == 'select'">{{ field.model.ds_name }}</span>
								<span ng-if="field.typefield == 'text' || field.typefield == 'number'">{{ field.model }}</span>
							</div>

						</td>
						
						<td style="white-space: nowrap" class="text-center" ng-if="!Ctrl.field.isDisabled && Ctrl.options.inEdit">
	
							<div ng-show="iForm[key].$visible" class="form-buttons form-inline">
								<button ng-click="Ctrl.saveRow(key)" class="btn btn-xs btn-accent">
									<span class="mdi-content-save"></span>
									{{'SAVE' | translate}}
								</button>
							</div>

							<div class="buttons" ng-show="!iForm[key].$visible">
			
								<ul class="list-inline">
									<li class="dropdown">
			
										<a href="#" data-toggle="dropdown" ng-show="!Ctrl.field.isDisabled" class="md-raised bg-white md-btn md-flat no-padding">
											<i class="mdi-dots-vertical text-md"></i>
										</a>
			
										<ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
											<li>
												<a ng-click="Ctrl.saveRow(key)" >
													<span class="btn-action">
														<span class="mdi-pencil"></span>
														<span>{{'IMPROVE_EDIT' | translate}}</span>
													</span>
												</a>
											</li>
											<li>
												<a ng-click="Ctrl.deleteRow(key)" >
													<span class="btn-action">
														<span class="mdi-delete"></span>
														<span>{{'DELETE' | translate}}</span>
													</span>
												</a>
											</li>
										</ul>  
			
									</li>
								</ul>
			
							</div>
							
						</td>
					</tr>
			
					<tr ng-show="!Ctrl.field.isDisabled && Ctrl.options.inEdit">

						<td class="v-middle" ng-repeat="input in Ctrl.inputs track by $index">

							<dinamic-input
								ng-if="input.typefield != 'ui-grid' && input.typefield != 'structure' && input"
								field="input" 
								on-change="Ctrl.onInputsChange(field, false)"
								base-service-url="Ctrl.options.baseUrl" 
								show-title="false"
								type-form="not-inline"
								allow-clear="false"
								additional-params="Ctrl.options.addParams">
							</dinamic-input>

						</td>
					
						<td class="v-middle text-center">
							<button ng-click="Ctrl.addRow()" 
							type="submit" class="btn btn-xs btn-accent">
							Agregar </button>
						</td>
					</tr>
			
				</tbody>
			</table>
		</div>

	</div>
</div>