<div class="input-select">
	<div ng-if="inputCtrl.typeForm == 'inline'">

		<label ng-show="inputCtrl.showTitle" class="col-sm-4 control-label text-right" ng-if="!inputCtrl.allowSelectAll">
			<strong>{{ inputCtrl.field.label | translate }}</strong>
			<span ng-show="inputCtrl.field.isRequired"> * </span>
		</label>

		<label ng-show="inputCtrl.showTitle" class="col-sm-4 md-check control-label text-right" ng-if="inputCtrl.allowSelectAll"  tooltip-placement="top" tooltip="Seleccionar todo">

			<input type="checkbox" 
			ng-model="inputCtrl.isSelectedAll" 
			ng-click="inputCtrl.selecteAll(inputCtrl.isSelectedAll)" />

			<i class="indigo"></i>
			<strong>{{ inputCtrl.field.label | translate }}</strong>
			<span ng-show="inputCtrl.field.isRequired"> * </span>
		</label>
		
		<div class="col-sm-8">
			<ui-select multiple close-on-select="false" ng-model="inputCtrl.field.model" ng-disabled="inputCtrl.field.isDisabled" ng-change="inputCtrl.ngChange()">
				<ui-select-match class="ui-select-search input-xs" 
					placeholder="{{'SELECT' | translate}} {{ inputCtrl.field.label | translate }}..." allow-clear="{{ inputCtrl.allowClear }}">
					<span class="font-family">{{$item[inputCtrl.conf.name]}}</span>
				</ui-select-match>
				<ui-select-choices repeat="item in inputCtrl.field.itemList | filter: $select.search">
					<span ng-bind-html="item[inputCtrl.conf.name] | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>

	</div>

	<div class="row" style="margin-bottom: 10px;" 
		ng-if="inputCtrl.typeForm == 'not-inline' || inputCtrl.typeForm == 'none'">
		<div class="col-xs-12">

			<strong class="p-t p-b-sm block" ng-show="inputCtrl.typeForm == 'not-inline' && inputCtrl.showTitle" ng-if="!inputCtrl.allowSelectAll">
				{{ inputCtrl.field.label | translate }}
				<span ng-show="inputCtrl.field.isRequired"> * </span>
			</strong>

			<label ng-show="inputCtrl.typeForm == 'not-inline' && inputCtrl.showTitle" class="md-check p-t p-b-sm block" ng-if="inputCtrl.allowSelectAll" tooltip-placement="top" tooltip="Seleccionar todo">

				<input type="checkbox" 
				ng-model="inputCtrl.isSelectedAll" 
				ng-click="inputCtrl.selecteAll(inputCtrl.isSelectedAll)" />

				<i class="indigo"></i>
				{{ inputCtrl.field.label | translate }}
				<span ng-show="inputCtrl.field.isRequired"> * </span>
			</label>
			

			<ui-select multiple close-on-select="false" ng-model="inputCtrl.field.model" ng-disabled="inputCtrl.field.isDisabled" ng-change="inputCtrl.ngChange()">
				<ui-select-match class="ui-select-search input-xs" 
					placeholder="{{'SELECT' | translate}} {{ inputCtrl.field.label | translate }}..." allow-clear="{{ inputCtrl.allowClear }}">
					<span class="font-family">{{$item[inputCtrl.conf.name]}}</span>
				</ui-select-match>
				<ui-select-choices repeat="item in inputCtrl.field.itemList | filter: $select.search">
					<span ng-bind-html="item[inputCtrl.conf.name] | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
			
		</div>
	</div>
</div>