<div class="input-select">
	<div ng-if="inputCtrl.typeForm == 'inline'">

		<label ng-show="inputCtrl.showTitle" class="col-sm-4 control-label text-right">
			<strong>{{ inputCtrl.field.label | translate }}</strong>
			<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
		</label>
		<div class="col-sm-8">
			<ui-select ng-model="inputCtrl.field.model" ng-disabled="inputCtrl.field.isDisabled" ng-change="inputCtrl.ngChange()">
				<ui-select-match class="ui-select-search input-xs" 
					placeholder="{{'SELECT' | translate}} {{ inputCtrl.field.label | translate }}..." allow-clear="{{ inputCtrl.allowClear }}">
					<span class="font-family">{{$select.selected[inputCtrl.conf.name]}}</span>
				</ui-select-match>
				<ui-select-choices repeat="item in inputCtrl.field.itemList | filter: $select.search">
					<span ng-bind-html="item[inputCtrl.conf.name] | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>

	</div>

	<div class="row" style="margin-bottom: 10px;" 
		ng-if="inputCtrl.typeForm == 'not-inline' || inputCtrl.typeForm == 'none'">
		<div class="col-xs-12">

			<strong class="p-t p-b-sm block" ng-show="inputCtrl.typeForm == 'not-inline' && inputCtrl.showTitle">
				{{ inputCtrl.field.label | translate }}
				<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
			</strong>
			<ui-select ng-model="inputCtrl.field.model" ng-disabled="inputCtrl.field.isDisabled" ng-change="inputCtrl.ngChange()">
				<ui-select-match class="ui-select-search input-xs" 
					placeholder="{{'SELECT' | translate}} {{ inputCtrl.field.label | translate }}..." allow-clear="{{ inputCtrl.allowClear }}">
					<span class="font-family">{{$select.selected[inputCtrl.conf.name]}}</span>
				</ui-select-match>
				<ui-select-choices repeat="item in inputCtrl.field.itemList | filter: $select.search">
					<span ng-bind-html="item[inputCtrl.conf.name] | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
			
		</div>
	</div>
</div>