 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="guideValidate.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Validar Guía</h3>
</div>
	<div class="modal-body">
        <b>¿Esta seguro de validar esta guía?</b></br></br>
        <h4 align="center"> <span class="label bg-secondary uppercase">{{clientName}}</span>  &nbsp;<span class="label bg-accent">   Id/Folio : {{transferGuideId}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="btn-lg md-raised bg-warning"  ng-click="guideValidate.validateGuide()">
            <i class="mdi-check"></i>
            Validar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="guideValidate.cancel()">
            <i class="mdi-window-close"></i>
            cerrar
        </button>
    </div>
	    
	</div>