 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itemsProvider.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Buscar items por proveedor</h3>
</div>
<div class="modal-body">
    <br> 
</div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="itemsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="itemsProvider.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>