</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.warehouses">
            <i class="mdi-home"></i>
            Sucursal
        </a>
    </li>
    <li>Actualizar Sucursal</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Modificar Sucursal
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.warehouses">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="true" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.createResource">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la categoria." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre Sucursal</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="nombre sucursal" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="codigo sucursal" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="indique dirección" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Encargado</strong>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control">
                              <option>Pablo San Martin</option>
                              <option>Andres Arevalo</option>
                              <option>Jorge Arevalo</option>
                              <option>Alexis Barrientos</option>
                              <option>Jaime Salazar</option>
                              <option>Pilar Barrientos</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Telefono" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Ciudad</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="ciudad" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
