 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9; 
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="transportationUpdate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Ver/Actualizar Transporte N° {{id}}</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formtransportation" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="transportationDetails.transportName" class="form-control uppercase" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rastreo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="link" type="text" ng-model="transportationDetails.link" class="form-control bg-warning"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Codigo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                             <input type="text"  tooltip="Codigo" ng-model="transportationDetails.transportCode" class="form-control uppercase" required>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Telefono:</strong>
                        </label>
                        <div class="col-sm-5">
                            <strong><input type="text" tooltip="Telefono contacto" ng-model="transportationDetails.phone" class="form-control uppercase" ></strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Horario:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="transportationDetails.schedule" class="form-control">
                        </div>
                    </div>
                </div>
                
            </div>
            <!--<div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Estado:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">

                            <select class="form-control" ng-model="statustransportation">
                              <option value="2">Dar de baja</option>
                              <option value="1">Activar</option>
                         </select> 
                        </div>
                    </div>
                </div>
            </div>-->
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="transportationUpdate.transportationUpdate()" ng-disabled="formtransportation.$invalid">
		   <i class="mdi-check-all"></i> Actualizar
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="transportationUpdate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->