
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            INVENTARIO DIARIO
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Tabla reporte inventario diario {{day | date:'dd/MM/yyyy'}}
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-permission= "inventario-sucursal-view" ui-sref="app.warehouseInventory" tooltip="Inventario por sucursal"><i class="mdi-home-variant"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" ng-disabled="true" has-disabled="inventario-diario-view" ui-sref="app.dailyInventory" tooltip="Inventario diario">
            <i class="mdi-calendar-multiple-check"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm"  has-disabled= "inventario-items-view" ui-sref="app.inventory" tooltip="Inventario general">
            <i class="mdi-engine"></i>
        </button>
    </div>
</div>
<div class="panel">
    <div class="panel-heading bg-success">Seleccione Bodega y Fecha
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Bodegas y fecha para inventario"></span>
    </div>
    
    <div class="panel-body">
        <form name="formInvoice" class="form-horizontal">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Bodega :</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <!-- {{itemDetails.warehouses}} --{{warehouses}} -->
                            <ui-select ng-change="dailyInventory.setIdWarehouse($select.selected)" ng-model="warehouseId" theme="bootstrap"  title="Seleccione Bodega " ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Fecha :</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" ng-model="day" class="uppercase" >
                                    </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group">
                                        <button md-ink-ripple ng-disabled="formInvoice.$invalid" class="md-btn md-raised bg-accent" ng-click="dailyInventory.loadItems()">
                                            <i class=" mdi-table"></i>
                                            Cargar
                                        </button>
                                    </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="itemsSoldGrid" style="height: 500px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div> 
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.red { color: black;font-style: bold; background-color: yellow !important; }

.uppercase { text-transform: uppercase; }
</style>
