<div has-permission="acceso-administracion-grupos-view">

  <div class="main-title">
    <div class="title">
      <h1>Administración de grupos Permissions</h1>
    </div>
<!-- <div class="button-group">
<button md-ink-ripple has-disabled="acceso-administracion-grupos-edit" ui-sref="app.groupsCreate" class="md-btn md-raised">
<i class="mdi-plus"></i>Crear nuevo grupo
</button>
</div> -->
</div>


  <div class="panel panel-card">

  <div class="panel-body p">
    <div class="row gutter-10">
        <md-input-container class="col-xs-3">
          <label>Nombre del módulo</label>
          <input ng-model="module">
        </md-input-container>
    
        <md-input-container class="col-xs-3">
          <label>Nombre del producto</label>
          <input ng-model="product" type="text">
        </md-input-container>
    
        <md-input-container class="col-xs-3">
          <label>Producto</label>
          <md-select ng-model="productName" ng-change="selectChanged()">
            <md-option ng-disabled="$index === 1"><em>None</em></md-option>
            <md-option  ng-repeat="(key,val) in Detailproduct " ng-value="key" >
              {{key}}
            </md-option>
          </md-select>
        </md-input-container>
    
      <div class="col-xs-3">
        <md-button class="md-btn md-raised bg-accent" ng-disabled="isDisabled" ng-click="save()">{{ 'SAVE' | translate }}</md-button>
      </div>

      <div class="clearfix"></div>

      <div ng-if="grid" ui-grid="detailsRoles" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
    
    </div>
    
    </div>
  </div>

</div>
