
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.folios">
            <i class="mdi-home"></i>
            DOCUMENTACIÓN TRIBUTARIA
        </a>
    </li>
    <li>Folios <span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span></li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Carga de Folios
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="foliosList.uploadXML()">
            <i class="mdi-upload"></i> Subir XML
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Registro folios cargados
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la categoria." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body no-padding">
        <div ui-grid="foliosGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.uppercase { text-transform: uppercase; }

</style>
