
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            PROVEEDORES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Proveedores
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "proveedores-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.providersCreate">
            <i class="mdi-plus"></i>
            Crear Proveedor
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Proveedor" ng-model="providersList.searchText" ng-change="providersList.searchData()" ng-model-options="providersList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="providersGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
