<div class="in-accordion" ng-if="Ctrl.options.container == 'accordion'">
	<p> <strong>{{ Ctrl.input.label | translate}}</strong> </p>
	
	<ul>
		<li ng-repeat="item in Ctrl.input.data"> {{ item.value }} </li>
	</ul>
</div>

<div class="in-panel" ng-if="Ctrl.options.container == 'panel'">
	<ul class="list-group md-whiteframe-z0 coustom-scroll">
		<li class="list-group-item" ng-repeat="item in Ctrl.input.data">

			{{ item.value }}

		</li>
	</ul>
</div>