<div ng-include="'text-view.html'" ng-if="Ctrl.input.typefield == 'text' || Ctrl.input.typefield == 'number'"></div>
<div ng-include="'select-view.html'" ng-if="Ctrl.input.typefield == 'select' || Ctrl.input.typefield == 'selectSuggest'"></div>
<div ng-include="'multiple-select.html'" ng-if="Ctrl.input.typefield == 'multipleSelectSuggest' || Ctrl.input.typefield == 'multipleSelect'"></div>
<div ng-include="'textarea-view.html'" ng-if="Ctrl.input.typefield == 'textArea'"></div>
<div ng-include="'structure-view.html'" ng-if="Ctrl.input.typefield == 'structure'"></div>
<div ng-include="'list-view.html'" ng-if="Ctrl.input.typefield == 'listGroup'"></div>
<div ng-include="'switch-view.html'" ng-if="Ctrl.input.typefield == 'switch'"></div>

<ui-grid-component field="Ctrl.input" ng-if="Ctrl.input.typefield == 'ui-grid'"></ui-grid-component>

<ui-edit-table 
	field="Ctrl.input" 
	ng-if="Ctrl.input.typefield == 'table'"
	ut-options="Ctrl.uiTableOptions">
</ui-edit-table>