<div class="row" ng-if="Ctrl.options.container == 'accordion'">
	<div class="col-xs-12 m-t-sm font-bold">{{ Ctrl.input.label | translate }}</div>
	<ul class="col-xs-12" ng-class="{'m-t-sm': !$first}">
		<li style="margin-left: 3px;" ng-repeat="val in Ctrl.input.data" class="btn bg-light" disabled>
			{{ val.value }}
		</li>
	</ul>
</div>

<div class="row" ng-if="Ctrl.options.container == 'panel'">
	<div class="col-xs-5 m-t-sm font-bold">{{ Ctrl.input.label | translate }}</div>
	<ul class="col-xs-7" ng-class="{'m-t-sm': !$first}">
		<li style="margin-left: 3px;" ng-repeat="val in Ctrl.input.data" class="btn bg-light" disabled>
			{{ val.value }}
		</li>
	</ul>
</div>