
<md-switch 
	ng-model="Ctrl.input.data[0].value" 
	ng-disabled="true"
	ng-true-value="1" ng-false-value="0"
	ng-change="Ctrl.ngChange()"
	aria-label="Ctrl.input.label">
	<strong>{{ Ctrl.input.label | translate }}</strong>
</md-switch>