<div ng-if="Ctrl.options.container == 'accordion'">
	<p> <strong>{{ Ctrl.input.label | translate}}</strong> </p>
	<div ng-bind-html="Ctrl.input.data[0].value"></div>
</div>

<div class="row" ng-if="Ctrl.options.container == 'panel'">
	<div class="col-sm-5 font-bold" ng-class="{'m-t-sm': !$first}">{{ Ctrl.input.label | translate }}</div>
	<div class="col-sm-7 text-muted" ng-class="{'m-t-sm': !$first}">{{ Ctrl.input.data[0].value }}</div>
</div>