<div ng-if="Ctrl.options.container == 'accordion'">
	<p> <strong>{{ Ctrl.input.label | translate}}</strong> </p>
	<div ng-bind-html="Ctrl.input.data[0].value"></div>
</div>

<div class="row" ng-if="Ctrl.options.container == 'panel'">
	<div class="col-xs-12">
		<div class="m-t-sm">
			<strong ng-show="Ctrl.input.data[0].value.length > 0 && Ctrl.input.data[0].value != null && Ctrl.input.data[0].value != undefined">
				{{ Ctrl.input.label | translate }}
			</strong><br>
			
			<div ng-bind-html="Ctrl.input.data[0].value"></div>
		</div>
	</div>
</div>