 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="wishlistCreate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Ingresar Item a lista de Deseos</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formItems" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Cod. Marca:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" tooltip="Codigo Marca" ng-model="brandCode" class="form-control uppercase" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Descripción:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <strong> <input tooltip="Descripción repuesto" type="text" ng-model="itemName" class="form-control uppercase" required style="text-transform:uppercase;"></strong> 
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="row">

                

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Proveedor:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select class="uppercase" ng-change= "wishlistCreate.setNameProviders(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider" ng-required="true" >
                            <ui-select-match >{{$select.selected.providerName}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h4 ng-bind-html="''+provider.providerName | highlight: $select.search"></h4>
                                
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cantidad:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="number" ng-model="quantities" class="form-control bg-warning" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong style="color: red">Cod. Interno:</strong>
                        </label>
                        <div class="col-sm-8 ">
                            <ui-select style="font-size: 11px;" ng-change="wishlistCreate.setName(references)" ng-model="references" theme="bootstrap"  tooltip="Buscar por Referencia" required>
                            <ui-select-match >{{$select.selected.itemId}}</ui-select-match>
                            <ui-select-choices class="bg-warning" repeat="references in references | filter: $select.search track by $index" refresh="wishlistCreate.searchItems($select.search)" refresh-delay="0">
                                Código: <small ng-bind-html="''+references.itemId | highlight: $select.search | uppercase"></small>
                                
                                <strong>
                                <div  ng-bind-html="references.itemName | highlight: $select.search"></div>
                                    <h4  ng-bind-html="references.reference | highlight: $select.search | uppercase"></h4>
                                </strong>
                            </ui-select-choices>
                        </ui-select> 
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Observación:</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="4"  ng-model="comments" maxlength="1000"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Marca:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="brand" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Tipo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="type" placeholder="Seleccione tipo" required>
                              <option value="1">Nacional</option>
                              <option value="2">Internacional</option>
                            </select> 
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Referencias:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input tooltip="Referencias" type="text"  class="form-control " name="reference" ng-model="reference"/>
                        </div>
                        <div class="col-sm-2">
                            <a ng-disabled="invoicesForm.$invalid"  tooltip="Asociar referencia a item" ><span class="label bg-danger uppercase" ng-click="referenceAdd(reference)"><i class="mdi-plus"></i> Agregar</span></a>
                        </div>
                    </div>
                    <div ng-repeat="item in referencesArray" class="{'fadeOut' : item.done} m-t-md btn-group-vertical">
                            <h3 class="label bg-secondary uppercase" >{{item.title}}</h3>
                              <span class="mdi-close-box" ng-click="referenceDelete($index)"></span>
                        </div>
                </div>
                
            </div>
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-primary"  ng-click="wishlistCreate.itemAdd()" ng-disabled="formItems.$invalid || referencesArray.length == 0">
		   <i class="mdi-clipboard-text"></i> Agregar a lista
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="wishlistCreate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->