
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.imports">
            <i class="mdi-home"></i>
            IMPORTACIONES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado documentos de importación <span> <a ng-click="importsList.loadDocuments()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="Items en tránsito" ng-click="importsList.transitItemsView()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-ferry"></i></span></a>

        <button ng-click="importsList.viewItems()" md-ink-ripple class="md-btn md-raised bg-info m-l-sm" tooltip="Items solicitados">
            <i class=" mdi-basket-fill"></i>
        </button>
        <button has-disabled= "importaciones-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.importsCreate">
            <i class="mdi-airplane"></i>
            Nuevo documento
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar documentos de importación" ng-model="importsList.searchText" ng-change="importsList.searchData()" ng-model-options="importsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="importsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
