<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.retirementsView.retirementUpdate(row.entity)"><span>Modificar</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
            <!-- <li>
                <a ng-click="grid.appScope.quotationsList.transformToInvoice(row.entity)"><span>Convertir a factura</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li> -->
            <!-- <li>
                <a ng-click="grid.appScope.ballotsList.deleteBallots(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
        </ul>

    </div>

</div>
