
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.retirements">
            <i class="mdi-home"></i>
           R.R.H.H
        </a>
    </li>
    <li>Previsiones de Salud</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            AFP´s
        </h1>
    </div>
    <div class="button-group">

        <span ng-hide="createRetirement" >
            <span ng-show="createButton">
            <button  md-ink-ripple class="md-btn md-raised bg-primary" ng-click="retirementsView.createRetirement(1)">
                <i class="mdi-upload"></i> Nueva Institución
            </button>
            </span>
        </span>

        <span ng-show="createRetirement">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="retirementsView.createRetirement(2)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="formRetirements.$invalid " md-ink-ripple class="md-btn md-raised bg-primary" ng-click="retirementsView.retirementsAdd()">
            <i class="mdi-upload"></i> Crear
        </button>
        </span>

        <span ng-show="updateRetirement">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="retirementsView.createRetirement(0)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="formRetirementsUpdate.$invalid " md-ink-ripple class="md-btn md-raised bg-primary" ng-click="retirementsView.retirementUpdateFunction()">
            <i class="mdi-upload"></i> Actualizar
        </button>
        </span>
    </div>
</div>

<div class="panel" ng-show="createRetirement">
    <div class="panel-heading bg-success">Crear nueva institución
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese datos nueva AFP"></span>
    </div>
    <div class="panel-body">
        <form name="formRetirements" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="name" class="form-control uppercase" placeholder="Nombre AFP" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tasa</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="rate" class="form-control" required>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="code" class="form-control uppercase" placeholder="Codigo AFP" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>SIS</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="sis" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        

                        <label for="" class="col-sm-4 control-label">
                            <!-- <strong>Link:</strong><span class="dato-obligatorio">*</span> -->
                        </label>
                        <div class="col-md-3">
                            <a href="https://www.previred.com/indicadores-previsionales/" target="_blank"><span class="badge bg-warning"> <i class="mdi-link-variant"></i> Ver indicadores Previsionales</span></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>

<div class="panel" ng-show="updateRetirement">
    <div class="panel-heading bg-success">Actualizar institución N° {{retirementId}}
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese datos nueva AFP"></span>
    </div>
    <div class="panel-body">
        <form name="formRetirementsUpdate" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="retirementName" class="form-control uppercase" placeholder="Nombre AFP" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tasa</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="retirementRate" class="form-control" required>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="retirementCode" class="form-control uppercase" placeholder="Codigo AFP" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>SIS</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="retirementSis" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        

                        <label for="" class="col-sm-4 control-label">
                            <!-- <strong>Link:</strong><span class="dato-obligatorio">*</span> -->
                        </label>
                        <div class="col-md-3">
                            <a href="https://www.previred.com/indicadores-previsionales/" target="_blank"><span class="badge bg-warning"> <i class="mdi-link-variant"></i> Ver indicadores Previsionales</span></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>

<div class="panel" ng-hide="createRetirement">
    <div class="panel-heading bg-success">Listados Instituciones
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Listado Instituciones"></span>
    </div>
    <div class="panel-body no-padding">
        <div ui-grid="retirementsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
