<md-dialog class="col-xs-12 col-md-6 no-padding-h">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 >{{ 'CARGA ARCHIVO FOLIOS CAF' }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="uploadXML.close()">
                <md-icon class="mdi-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div class="alert alert-warning">Sube archivo formato <spam class="label bg-secondary" style="font-size: 9px;"> <a href="#"> .XML</a></spam> generado en SII para la carga de folios></div>
    <md-dialog-content>
        <div class="md-dialog-content">
            <form id="form" class="form" ></form>
                <!-- <div class="row"> -->
                    <!-- <u-load-file options="uploadXML.uploadOptions"> </u-load-file> -->
                <!-- </div> -->
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-card">
							<div class="panel-heading detail" ng-class="uploadXML.uploadOptions.headerColor">
								<h4>Cargar Archivo</h4>
							</div>
							
							<div class="panel-body body-large">
								<div class="box" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
									<div class="p-md" ng-show="(uploader.queue.length<1)">
										<div ng-show="uploader.isHTML5 " class="m-b-md">
											<div class="b-a b-dashed p-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
												<p class="text-2x text-gris-claro-planner font-thin">Arrastrar archivo</p>
												<button md-ink-ripple="" ng-click="uploadXML.clickUpload()" class="md-btn md-raised m-b btn-fw  p-btn-lg" ng-class="uploadXML.uploadOptions.btnColor">
													Seleccionar Archivo XML
													<div class="md-ripple-container"></div>
												</button>
											</div>
										</div>
										<input type="file" nv-file-select="" uploader="uploader" id="uploadButton" ng-hide="true"/>
									</div>
									<div>
										<div>
											<div ng-if="uploader.queue.length>0" class="p-md table bg-white" style="height:200px">
												<div class="b-a b-dashed bg-white text-center m-b" style="height:175px;">
													<progressbar value="(uploadXML.progressLoad-(dummy))" class="progress-striped {{uploadXML.progressbarClass}}" animate="true">
														<div class="progressbar-body">
															<i ng-show="(uploadXML.progressLoad-(dummy))<100" class="mdi-file i-24 ng-scope font-size-50"></i>
															<i ng-show="(uploadXML.progressLoad-(dummy))==100" class="mdi-cloud-check i-24 ng-scope font-size-50"></i>
															<br>
															{{uploader.queue[0].file.name}}
															<div>
																<div ng-show="(uploadXML.progressLoad-(dummy))<100">
																	<i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
																	Loading... {{(uploadXML.progressLoad-(dummy))}} %
																</div>
																<div>
																	{{ uploadXML.loadProcess.status }}
																</div>
															</div>
				
															<div ng-show="(uploadXML.progressLoad-(dummy))==100">
																<div class="text-md">
																	<p>Por favor espere mientras el archivo es procesado...</p>
																</div>
															</div>
				
														</div>
													</progressbar>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <button md-ink-ripple class="md-btn md-raised btn-danger m" ng-click="uploadXML.close()">
                CANCELAR
        </button>
        <span flex></span>
        <button md-ink-ripple class="md-btn md-raised btn-accent m" ng-click="uploadXML.save()">
                <label>CARGAR</label>
        </button>
    </md-dialog-actions>
</md-dialog>
<style>
	.op{
		text-align: center;
		font-size: 1.1em;
		opacity: 0.7;
	}
	.s{
		font-style: italic;
	}
	.progressbar-body {position:absolute; margin-left: auto; margin-right: auto; margin-top:8px; left: 0; right: 0; }
	.progress-striped {width:100%; height:175px; margin-bottom:0; }
	.font-size-50 {font-size: 50px; }
</style>

