<div>
	<p>
		<span class="badge badge-sm bg-primary text-xxs pull-right" ng-if="item.inProgress"> En Curso</span>
		<span class="badge badge-sm bg-warning text-xxs pull-right" ng-if="item.isPending"> Pendiente</span>
		<span class="badge badge-sm bg-info text-xxs pull-right" ng-if="item.isCaptured"> Capturado</span>
		<span class="badge badge-sm bg-success text-xxs pull-right" ng-if="item.isPublished"> Publicado</span>
		<span class="badge badge-sm bg-warning text-xxs pull-right" ng-if="item.inWaiting"> En espera</span>
		<span class="badge badge-sm bg-success text-xxs pull-right" ng-if="item.evaluationAssigned == 1"> Con estructura</span>
		<span class="badge badge-sm bg-danger text-xxs pull-right" ng-if="item.evaluationAssigned == 0"> Sin estructura</span>
	</p>
	<p class="text-xs m-b-xs">{{item.periodName}} Jornada {{item.shiftName}} </p>
	<p class="font-bold no-margin">{{item.courseName}}</p>
	<p class="text-sm no-margin"><i>{{item.activityName}}, Sección {{item.sectionName}}, NRC:{{item.sectionNumber}}</i></p>
</div>