<style>.badge { margin-right: 3px; }</style>
 <h4>
  {{ item.StudentName }}
 </h4>
<br>

<p>
	<span class="font-bold">{{ 'Solicitude' | translate }}:</span> {{ item.requestId }} </br>
	<span class="font-bold">{{ 'Fecha' | translate }}:</span> {{ item.requestDate | date : "dd/MM/y" }} </br>
	<span class="font-bold">{{ 'Campus' | translate }}:</span> {{ item.campusName }}</br>
	<span class="font-bold">{{'Ciclo' | translate }}:</span> {{ item.periodId }} </br>
	<span class="font-bold">{{'Materia' | translate }}:</span> {{ item.courseName }} </br><br>

	<small ng-if="item.statusCode == 1"><span class="mdi-pause-circle"></span> {{'IMPROVE_SECTION_PENDING' | translate}}</small><br>

	<small ng-if="item.statusCode == 6"><span class="fa fa-check-circle"></span> {{ 'APPROVED' | translate }}</small><br>

	<small ng-if="item.statusCode == 7"><span class="fa fa-ban"></span> {{ 'Rechazada' | translate }}</small>

</p>
