<h6 ng-if="item.cod">{{item.cod | translate}}</h6>
<h4 ng-if="!Ctrl.isMultiTitle(item.title)">{{item.title | translate}}</h4>
<h4 ng-if="Ctrl.isMultiTitle(item.title)" ng-repeat="title in item.title track by $index">{{title | translate}}</h4>
<h5 ng-if="item.subtitle">{{item.subtitle | translate}}</h5>
<p ng-if="item.description">{{item.description | translate}}</p>

<span ng-if="desc.value !== undefined && desc.value !== null" 
	ng-repeat="desc in item.descriptionList track by $index">
	
	<span class="font-bold">{{desc.label | translate}}: </span> {{desc.value}} <br>
</span>

<br>

<ol ng-if="item.list">
	<li ng-repeat="list in item.list">{{list | translate}}</li>
</ol>

<div class="badges" ng-if="item.rolLabels.length > 0" style="display: inline;"> 
	<span class="badge bg-info" tooltip="{{ item.rolLabel.labels }}" tooltip-placement="top" tooltip-append-to-body="true">{{ item.rolLabel.codes | translate}}</span> 
</div>

<span ng-repeat="badge in item.badges">
	<span class="badges" ng-if="badge.label" style="display: inline;">
		<span class="badge" ng-class="badge.bg">
			<i ng-class="badge.icon"></i>{{badge.label | translate}}
		</span>
	</span>
</span>

