<style>.badge { margin-right: 3px; }</style>
 <h4>
 	{{item.id_pensum}}
 </h4>
<br>
<p>
	<span class="font-bold">Carrera:</span> {{item.careerName}}</br>
	<span class="font-bold">Grado:</span> {{item.id_academic_period}}</br>
	<span class="font-bold">Ciclo:</span> {{item.id_academic_period}}</br>
	<span class="font-bold">Campus:</span> {{item.ds_campus}}</br>
</p>
