<style>.badge { margin-right: 3px; }</style>
<h4>{{item.courseName}}</h4>
<small>
	<span ng-if="item.ds_publicId"> {{item.ds_publicId}}</span>
	<span ng-if="item.ds_name"> - {{item.ds_name}} </span> 
	
</small>
	<p>
		<span ng-if="item.departmentName"> {{item.departmentName}}</span>
	<p/>
		
	<p>
		<span class="badge badge-sm bg-primary text-xxs pull-right" ng-if="item.isOpen"> Abierto</span>
		<span class="badge badge-sm bg-warning text-xxs pull-right" ng-if="item.isPending"> En Revisión</span>
		<span class="badge badge-sm bg-success text-xxs pull-right" ng-if="item.isPublished"> Publicado</span>		
	</p>