
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
.yellow { color: black; background-color: yellow !important; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.ballots">
            <i class="mdi-home"></i>
            BOLETAS
        </a>
    </li>
    <li>Crear boleta</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Boleta cliente :  <strong class="uppercase">  {{clientName}} <span>[{{clientId}}]</span>
            <span ng-show="lockedClient" class="badge bg-danger"><i class="mdi-account-alert"></i>Bloqueado</span> 
                <span><a ng-click="ballotsCreate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span> 
            </strong>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.ballots">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" md-ink-ripple ng-show="buttonInvoice" class="md-btn md-raised bg-accent" ng-disabled="formBallot.$invalid || warningQuantity == true || total == '' || !parseInt(total) || total == 0 || items.price >= items.minPrice || paymentmethodId == null" ng-click="ballotsCreate.validateClient()">
            <i class="mdi-cash-multiple"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos Factura
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales de la Factura"></span>
    </div>
    <div class="panel-body">
        <form name="formBallot" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut / Razon Social:</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-8">
                            <ui-select ng-change= "ballotsCreate.setName(selectedTwo)" ng-model="selectedTwo" theme="bootstrap"  title="clients">
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="ballotsCreate.searchClient($select.search)" refresh-delay="0">
                                <h3 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h3>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="origenAdd">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="ballotsCreate.setWarehouseId($select.selected.warehouseId);ballotsCreate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="panelInvoice">

<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td>{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}</td>
                            <td><input class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" min="{{items.minPrice}}" ng-model="items.price" type="number" style="width :85px"></td>


                            <td><input ng-change= "ballotsCreate.getStock(items.itemId,items.quantity)" class="form-control input-sm" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>



                            <td><input ng-disabled="items.oil == 1" ng-change= "ballotsCreate.showGeneralDiscount(items.disscount)" class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" min="0" max= "{{items.maxDiscount}}" ng-model="items.disscount" type="number" style="width :60px"></td>
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | number:0 }}</strong></td>

                            <td align="center"><a ng-click="ballotsCreate.removeItems($index,items.oil)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          {{totalItem}}
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                        <div ng-show="warningQuantity" class="alert alert-danger">Uno de sus items cuenta con stock insuficiente</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
        <div style="width: 700px;">
            <input id="filter" type="text" class="form-control" placeholder="Buscar items" ng-model="ballotsCreate.searchText" ng-change="ballotsCreate.searchData()"/>
        </div>
            <div>
                <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ ballotsCreate.getNet() | number:0  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input ng-disabled="discountButton" type="number" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ ballotsCreate.getNet() - (discount*NET/100) | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:0 }} <span style="font-size: 13px;"> IVA Incluido</span>
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>


    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">

                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Forma Pago:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                                <select class="form-control" ng-model="paymentmethodId" ng-required="true">
								          <option value="1">Efectivo</option>
		                                  <option value="7">Transferencia</option>
		                                  <option value="16">Transbank</option>
                                          <option value="8">Nota crédito</option>
                                          <option value="21">WebPay</option>
                            </select>
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="col-sm-8 m-t-xs pull-right" >
                        <textarea ng-model="observation" class="form-control" placeholder="Observación Boleta" required>
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 m-t-xs">
                           <md-switch ng-model="packOff" ng-change= "ballotsCreate.packOffSelect(packOff)">
                             <span>  Despacho</span>
                        </md-switch>
                    </div>

                    </div>
                    <div class="form-group" ng-show="transporteView">
                        <div class="col-sm-9 m-t-xs">
                            <ui-select tooltip-placement="left" tooltip="Seleccione transporte" ng-change= "ballotsCreate.setTransportation(selectedThree)" ng-model="selectedThree" theme="bootstrap">
                                <ui-select-match class="lowercase" >{{$select.selected.transportName}}</ui-select-match>
                                <ui-select-choices repeat="transportation in transportation | filter: $select.search track by $index">
                                    <h3 ng-bind-html="''+transportation.transportName | highlight: $select.search | uppercase"></h3>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

        </div>
        </div>
    </div>
    
  </div>

</div>


