<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.saleNoteList.printSaleNote(row.entity)"><span>Visualizar</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
            <li ng-hide="(row.entity.isOut == 1)">
                <a ng-click="grid.appScope.saleNoteList.updateDocument(row.entity)"> <span class="label bg-warning"><i class="mdi-action-autorenew"></i>Entrega Rápida</span></a>
            </li>
            <li>
                <a 
                    ng-click="grid.appScope.saleNoteList.transformToInvoice(row.entity)"
                    ng-if="row.entity.statusName != 'Facturado'">
                    <span>Convertir a factura</span><i class="mdi-editor-mode-edit text-md pull-right"></i>
                </a>
            </li>

            <li has-permission="nota-de-venta-validate">
                <a 
                    ng-click="grid.appScope.saleNoteList.transformManual(row.entity)"
                    ng-if="row.entity.statusName != 'Facturado'">
                    <span class=" label bg-info">Cambiar Estado</span><i class="mdi-editor-mode-edit text-md pull-right"></i>
                </a>
            </li>
            <!-- <li>
                <a ng-click="grid.appScope.ballotsList.deleteBallots(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
        </ul>

    </div>

</div>
