
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.quotations">
            <i class="mdi-home"></i>
            Notas de venta
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de notas de venta <span> <a ng-click="saleNoteList.loadSaleNotes()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a  tooltip="Ir a entregas bodega" ui-sref="app.warehouseDeliveries"> <span style="font-size: 16px;" class="label bg-secundary"><i class="mdi-truck"></i></span></a>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.saleNoteCreate">
            <i class="mdi-plus"></i>
            Crear nota
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar notas de venta" ng-model="saleNoteList.searchText" ng-change="saleNoteList.searchData()" ng-model-options="saleNoteList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="saleNoteGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
