
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            FACTURAS CLIENTES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Facturas <span><a ng-click="clientsInvoicesList.loadInvoices()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="Entregas Bodega" ui-sref="app.warehouseDeliveries"> <span style="font-size: 16px;" class="label bg-secundary"><i class="mdi-truck"></i></span></a>

        <a tooltip="Imprimir" ng-click="clientsInvoicesList.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>


        <a tooltip="Reporte entre fechas" has-disabled= "facturas-clientes-view" ng-click="clientsInvoicesList.invoicesReport()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-timetable"></i> Reporte</span></a>

        <button has-disabled= "facturas-clientes-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.clientsInvoicesCreate">
            <i class="mdi-plus"></i>
            Crear Factura
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Facturas por nombre cliente" ng-model="clientsInvoicesList.searchText" ng-change="clientsInvoicesList.searchData()" ng-model-options="clientsInvoicesList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 600px;width:100%!important;" ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
.critical { color: rgb(8, 0, 0); background-color: rgb(245, 161, 150) !important; }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;

        }

        .column {
            /*width: 8%;*/
            float: right;
            /*font-size:11px;*/
        }

        /* Puedes ajustar el estilo de las columnas según tus preferencias */
        .column {
            /*border: 1px solid #ddd;*/
            /*padding: 3px;*/
            box-sizing: border-box;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="column"><strong style="font-size:11px;"><i class="mdi-subdirectory-arrow-left"></i>SIMBOLOGIA</strong></div>
        <div class="column"><strong class="badge bg-warning">Pendiente</strong></div>
        <div class="column"><strong class="badge bg-primary">Pagado</strong></div>
        <div class="column"><strong class="badge bg-danger">Vencido</strong></div>
        <div class="column"><strong class="badge bg-info">Id Cliente</strong></div>
        
    </div>

</body>
