
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.Clients">
            <i class="mdi-home"></i>
            CLIENTES
        </a>
    </li>
    <li>Actualizar Cliente</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Modificar cliente: 
        </h1>
    </div>

    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.clients">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button  md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formClients.$invalid" ng-click="clientsUpdate.updateClient()">
            <i class="mdi-content-save"></i>
            Actualizar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <!-- <span class="md-r-md pull-right"> 
            <span class="{{(clientDetails.locked == 'Activo')?'badge bg-success':'badge bg-danger'}}"> Cliente {{clientDetails.locked}}</span>
        </span> -->
        
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del cliente" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formClients" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.name" class="form-control uppercase" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Correo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control uppercase" placeholder="" ng-model="clientDetails.email" aria-invalid="false" required>
                              <span class="text-danger" ng-show="formClients.email.$touched && formClients.email.$invalid">Por favor ingrese un email válido.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input has-disabled="clientes-unlock" type="text" ng-model="clientDetails.rut" class="form-control" placeholder="RUT Cliente" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Ciuda/Pais</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.cityName" class="form-control uppercase" placeholder="ciudad o pais" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.address" class="form-control uppercase" placeholder="Dirección" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.phone" class="form-control" placeholder="telefono" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección 2</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.address2" class="form-control uppercase" placeholder="Dirección 2">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Celular</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.mobile" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Web Site</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.web" class="form-control uppercase" placeholder="Web Site">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Estado</strong>
                        </label>
                        <div class="col-sm-8">
                            <span class="{{(clientDetails.locked == 'Activo')?'badge bg-warning':'badge bg-danger'}}">{{clientDetails.locked}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Giro</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.commercialBusiness" class="form-control uppercase" placeholder="Giro" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong></strong>
                        </label>
                        <div class="col-sm-4">
                            <!-- <select class="form-control" ng-model="isLocked">
                              <option value="1">Si</option>
                              <option value="0" selected="true">No</option>
                            </select> -->
                            <button has-disabled="clientes-unlock" type="button" class="btn btn-warning" ng-click="clientsUpdate.updateLocked(0)" ng-show="unlockingButton" tooltip="Desbloquear cliente">Desbloquear</button>
                            <button has-disabled="clientes-locked" type="button" class="btn btn-danger" ng-click="clientsUpdate.updateLocked(1)" ng-show="lockedButton" tooltip="Bloquear cliente, adjuntar obervación" >Bloquear</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Crédito</strong>
                        </label>
                        <div class="col-sm-8">
                            <button ng-show= "clientDetails.isCredit == 'Sin crédito'" type="button" class="btn btn-warning" ng-click="clientsUpdate.activeCredit(1)" tooltip="Asociar credito a cliente">Asociar crédito</button>
                            <button  ng-hide = "clientDetails.isCredit == 'Sin crédito'" type="button" class="btn btn-danger" ng-click="clientsUpdate.activeCredit(0)" tooltip="Eliminar crédito a cliente" >Eliminar crédito</button>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Observación</strong>
                        </label>
                        <div class="col-sm-8">
                            <textarea ng-model="clientDetails.observation" class="form-control" placeholder="comentario bloqueo">
                            {{clientDetails.observation}} 
                            </textarea>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Encargado</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="clientDetails.customerManager" class="form-control uppercase bg-info" placeholder="Encargado cliente">
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Categoria</strong>
                    </label>
                    <div class="col-sm-4">
                        <select ng-init="clientDetails.category={{client[0].category}}" ng-change= "clientsUpdate.changeCategory(clientDetails.category)" class="form-control" ng-model="clientDetails.category">
                          <option value="SI">SI</option>
                          <option value="NO">NO</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
