<style>
	.th-header > th {padding: 10px!important;}
</style>
<div class="row" data-nodrag>
	<div class="col-xs-12">

		<div class="table-responsive">
			<table class="table table-bordered table-condensed bg-white">
				<thead>
					<tr class="bg-primary-dark th-header">
						<th style="width:3%" ng-repeat="col in HistCtrl.history.data.headers">
							<div class="text-ellipsis">
								{{ col.displayName | translate }}
							</div>
						</th>
					</tr>
				</thead>
			
				<tbody>

					<tr ng-if="!(HistCtrl.history.data.rows.length > 0)">
						<td colspan="10" class="text-center">
							{{ 'INFO_NOT_FOUND' | translate }}
						</td>
					</tr>
			
					<tr ng-if="HistCtrl.history.data.rows.length > 0" ng-repeat="(key, row) in HistCtrl.history.data.rows">

						<td class="v-middle" ng-repeat="column in row">

							<div ng-if="column.displayName != 'CHANGES'">
								<span>{{ column.value }}</span>
							</div>

							<div ng-if="column.displayName == 'CHANGES'">
								<span ng-repeat="item in column.value">
									{{ item.label | translate }} 
									<span ng-bind-html="item.value"></span> <br>
								</span>
							</div>

						</td>
					</tr>
			
				</tbody>
			</table>
		</div>

	</div>
</div>