 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Cotización N°: <strong>{{quotationId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

  

    <div class="button-group">

      <a tooltip="Imprimir cotización sin datos empresa" ng-click="quotationsPrint.quotationPrintWhitOutData()"> <span style="font-size: 16px;" class="label bg-danger"><i class="mdi-incognito"></i></span></a>

      <button tooltip="Imprimir cotización con imagenes" popover-placement="bottom" popover-trigger="mouseenter" md-ink-ripple class="md-btn md-raised bg-info" ng-click="quotationsPrint.imageQuotationPrint()">
            <i class="mdi-file-image"></i>
        </button>
      <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="quotationsPrint.warehouseQuotationPrint()">
            <i class="mdi-forklift"></i> Impresion Bodega
        </button>
       <button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="quotationsPrint.transformToInvoice()">
       <i class="mdi-content-copy"></i>Convertir en factura
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.quotations">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          
          <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
          </div> -->
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{quotations[0].clientName}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{quotations[0].rut}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{quotations[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{quotations[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Nombre solicitante:</strong> <span class="uppercase">{{quotations[0].nameDescription}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Teléfono:</strong> <span>{{quotations[0].phone}}</span></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Facturado:</strong> <em>{{quotations[0].invoiceId}} - {{quotations[0].code}}</em></span>
    </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <!-- <th>Imagen</th> -->
                <th>Descripción</th>
                <th >Precio</th>
                <th>Cant.</th>
                <th ng-show="isDiscount">% Dcto.</th>
                <th>Total</th>
                <!-- <th>Ubicación</th>  -->
                
              </tr>
              <tr ng-repeat="items in quotationsItems">
                <td>{{$index+1}}</td>  
                <td class="uppercase">{{items.itemId}}</td>
                <!-- <td class="uppercase"> <img ng-src="{{ quotationsPrint.loadImg(items.itemId) }}" err-src="{{picture}}"  width="180" height="180" class='heaven' ></td> -->
                <td ><span class="uppercase">{{items.itemDescription}}</span> </td>
                <td>$ {{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td ng-show="isDiscount" align="center">{{items.discount}}</td>
                <td><strong>$ {{ items.total | pesosChilenos }}</strong></td>
                <!-- <td><span class="uppercase label bg-secondary" style="font-size: 10px;">{{items.locations}}</span></td> -->
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-3 ">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>$ {{ subTotality | pesosChilenos }}</strong></h4></th>
                    </tr>
                    <tr ng-hide="quotations[0].discount == 0">
                      <th><strong><h5>Dcto.:</h5></strong></th>
                      <th><h4><strong>{{quotations[0].discount}}% </strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto:</h5></strong></th>
                      <th><h4><strong>$ {{ quotations[0].netPrice | pesosChilenos }}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva:</h5></strong></th>
                      <th><h4><strong>$ {{ quotations[0].priceVAT | pesosChilenos }}</strong></h4></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total:</h5></strong></th>
                      <th><h4><strong>$ {{ quotations[0].total | pesosChilenos }}</strong></h4></th>
                    </tr>
              </table>    
        </div>
 
</div>
    <div class="panel-body">
        <div class="col-sm-15">
          <span class="m-r-md"><strong>Comentario:</strong> <span> <span>{{quotations[0].comment}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{quotations[0].userCreation}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-secondary">{{quotations[0].userModifier}}</span></span></span>
      </div>
      <br>
      <h4><strong>Datos de transferencia/Depósito</strong></h4>
       <div class="col-sm-15">
            
        <div class="col-sm-15">
          <span class="m-r-md"><strong>Razon Social: </strong> <span>Importadora y Repuestos Jormat LTDA.</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong> Banco: </strong> <span >Banco Estado - Cuenta Corriente</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>N° Cuenta:</strong> <span>55100053801</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Email:</strong> finanzas@importadorajormat.cl</span>
      </div>
        <span><strong>Rut: </strong> 76.193.704-9 </span>

      </div>
      <br>
      <h4><strong>COTIZACIÓN VALIDA POR 10 DÍAS Y SUJETO A DISPONIBILIDAD DE STOCK</strong></h4>
      <span><em>Items electricos sin devolución</em></span>
      <br>
      <br>
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>Agradecemos su confianza, visitanos en  www.importadorajormat.com</strong> <br>
        <strong>Instagram: @repuestosjormat</strong>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
      
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>


