<div class="input-datetime-range">

	<div ng-if="inputCtrl.typeForm == 'inline'">

		<label class="col-sm-4 control-label text-right block" ng-show="inputCtrl.showTitle"> 
			<strong>{{ inputCtrl.field.label | translate }}</strong> 
			<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
		</label>
		
		<div class="col-sm-8">

			<input date-range-picker
			ng-init="inputCtrl.field.date = inputCtrl.field.date || ''"
			placeholder="{{ inputCtrl.field.label | translate }}"
			options="inputCtrl.datePickerRangeOptions"
			type="text" class="form-control" 
			ng-change="inputCtrl.ngChange()" 
			ng-model="inputCtrl.field.date" 
			ng-disabled="inputCtrl.field.isDisabled" />

		</div>

	</div>

	<div class="row" style="margin-bottom: 10px;" ng-if="inputCtrl.typeForm == 'not-inline' || inputCtrl.typeForm == 'none'">

		<!-- Para visualizar el label y el input en diferentes lineas -->
		<div class="col-xs-12">

			<strong class="p-t p-b-sm block" ng-show="inputCtrl.typeForm == 'not-inline' && inputCtrl.showTitle">
				{{ inputCtrl.field.label | translate }}
				<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
			</strong>

			<input date-range-picker
			ng-init="inputCtrl.field.date = inputCtrl.field.date || ''"
			placeholder="{{ inputCtrl.field.label | translate }}" 
			options="inputCtrl.datePickerRangeOptions"
			type="text" class="form-control" 
			ng-change="inputCtrl.ngChange()" 
			ng-model="inputCtrl.field.date" 
			ng-disabled="inputCtrl.field.isDisabled" />

		</div>
		
	</div>

</div>