<li ng-if="show">
	<span ng-show="Ctrl.label != 'errors'">{{ Ctrl.label | translate }}</span>
	<ul ng-repeat="(label, item) in Ctrl.item track by $index">
		<li ng-if="label != 'errors'">
			{{ label | translate }} <br>
			<ul>
				<li ng-repeat="error in item.errors track by $index">
					{{ error.label | translate }} - {{ error.text }}
				</li>
			</ul>
		</li>
	
		<li ng-if="label == 'errors'" ng-repeat="error in item track by $index">
			{{ error.label | translate }} - {{ error.text }}
		</li>
	</ul>
</li>