 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="importPaymentsDelete.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Eliminar pago registro de embarque</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente eliminar este pago?</b></br></br>
        <h4 align="center">&nbsp;<span class="label bg-warning">   Id Pago : {{paymentsId}}</span></h4> 
        <h4 align="center">&nbsp;<span>   Registro embarque : {{recordId}}</span></h4>
        <h4 align="center">Total Pago<span class="label bg-secundary">$ {{total}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="importPaymentsDelete.cancel()">
            <i class="mdi-window-close"></i>
            Cerrar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="importPaymentsDelete.deletePayment()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>