<div class="ui-grid-cell-contents columna-acciones text-center">


    <div>
           <a ng-click="grid.appScope.paymentsList.setPayments(row.entity)"> <p class="badge bg-accent" ><i class="mdi-file-find"></i>Ver</p></a>

    </div>

</div>
