
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            PAGOS CLIENTES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de pagos e ingresos <span><a ng-click="paymentsList.loadInvoicesPages()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a  tooltip="Cargar facturas fuera de plazo" ng-click="paymentsList.loadExpirationInvoices()"> <span style="font-size: 16px;" class="label bg-danger"><i class="mdi-timer-off"></i></span></a>
        <a tooltip="Imprimir listado pagos"  ng-click="paymentsList.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>


        <a has-disabled= "pagos-view" ui-sref="app.paymentsReport" tooltip="Reporte pagos por fecha"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-timetable"></i> Reporte</span></a>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar pagos por nombre de Cliente" ng-model="paymentsList.searchText" ng-change="paymentsList.searchData()" ng-model-options="paymentsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="paymentsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
.critical { color: rgb(8, 0, 0); background-color: rgb(245, 161, 150) !important; }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .row::after {
            content: "";
            clear: both;
            display: table;

        }

        .column {
            /*width: 8%;*/
            float: right;
            /*font-size:11px;*/
        }

        /* Puedes ajustar el estilo de las columnas según tus preferencias */
        .column {
            /*border: 1px solid #ddd;*/
            /*padding: 3px;*/
            box-sizing: border-box;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="column"><strong style="font-size:11px;"><i class="mdi-subdirectory-arrow-left"></i>SIMBOLOGIA</strong></div>
        <div class="column"><strong class="badge bg-warning">Pendiente</strong></div>
        <div class="column"><strong class="badge bg-primary">Pagado</strong></div>
        <div class="column"><strong class="badge bg-danger">Vencido</strong></div>
        <div class="column"><strong class="badge bg-info">Id Cliente</strong></div>
        <div class="column"><strong class="font-italic badge bg-secondary text-muted">Pagos</strong></div>
        
    </div>

</body>
