
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.clients">
            <i class="mdi-home"></i>
            CLIENTES
        </a>
    </li>
    <li>Crear Cliente</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Nuevo Cliente
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.clients">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formClients.$invalid || rutValidate" ng-click="clientsCreate.createClient()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del Cliente" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formClients" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" tooltip="No ingresar caracteres especiales * & $ # . : " ng-model="fullName"  class="form-control" placeholder="Nombre cliente" required maxlength="40">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input tooltip="Rut sin puntos + guión" type="text" ng-model="rut" class="form-control uppercase" placeholder="71163159-K" required style="text-transform:uppercase;">
                        </div>
                        
                        <div class="col-sm-2">
                            <p class="text-danger" style="font-size: 12px;font-style: italic">{{textValidation}}</p>
                            
                        </div>
                        <div class="col-sm-2">
                            <a><span class="label bg-warning uppercase" ng-click="clientsCreate.checkRut(rut)"><i class="mdi-check"></i> Validar</span></a>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Ciudad</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="city" class="form-control" placeholder="Ciudad" required maxlength="20">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Región</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="region" placeholder="Región" required>
                              <option value="1">Arica y Parinacota</option>
                              <option value="2">Tarapacá</option>
                              <option value="3" selected="selected">Antofagasta</option>
                              <option value="4">Atacama</option>
                              <option value="5">Coquimbo</option>
                              <option value="6">Valparaíso</option>
                              <option value="7">Libertador General Bernardo O'Higgins</option>
                              <option value="8">Maule</option>
                              <option value="9">Bio-Bio</option>
                              <option value="10">Araucanía</option>
                              <option value="11">Los Ríos</option>
                              <option value="12">Los Lagos</option>
                              <option value="13">Aysén del General Carlos Ibáñez del Campo</option>
                              <option value="14">Magallanes y Antártica Chilena</option>
                              <option value="15">Metropolitana</option>
                              <option value="16">Ñuble</option>
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="address" class="form-control" placeholder="Dirección" required maxlength="46">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Telefono</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="phone" class="form-control" placeholder="000-000000" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Dirección 2</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="address2" class="form-control" placeholder="Dirección 2">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Web Site</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="web" class="form-control" placeholder="Web Site">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Celular</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="mobile" class="form-control" placeholder="000 00000000">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Giro/Actividad</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="bussiness" class="form-control" placeholder="Giro" required maxlength="36">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Correo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" placeholder="" name="email" ng-model="email" aria-invalid="false" required>
                              <span class="text-danger" ng-show="formClients.email.$touched && formClients.email.$invalid">Por favor ingrese un email válido.</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Crédito</strong>
                        </label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="credit" placeholder="Seleccione si cliente poseerá crédito">
                              <option value="1">Si</option>
                              <option value="0">No</option>
                            </select> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Encargado Cliente</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="customerManager" class="form-control bg-info" placeholder="Encargado cliente">
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
 
