 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="paymentVoucherView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Visualizar pago N°: <strong>{{voucherId}}</strong></h3>
</div>
<div class="modal-body">
    <div class="panel-body">
      <div class="col-sm-16">
          <!-- <span class="m-r-md"><strong>ususario: </strong> <span class="uppercase">{{clientName}}</span> -->
          <span class="m-r-md pull-right"><strong>Creado por: </strong><span class="label bg-warning">{{voucher[0].userCreation}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{voucher[0].date | date:'dd/MM/yy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma de pago:</strong> <span class="label bg-info">{{voucher[0].paymentForm}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Factura:</strong> <span >{{voucher[0].documentId}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente:</strong> <span class="uppercase">{{voucher[0].clientName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>N° documento:</strong> <span>{{voucher[0].docNumber}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{voucher[0].observation}}</em></span>
      </div>
      
    </div>

    <div class="col-sm-12">
          <span class="m-r-md pull-right"><strong>Total pago: </strong><span   class="label bg-secundary" style="font-size: 16px;"><b> ${{voucher[0].total}}</b></span></span>
      </div> 
</div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="paymentVoucherView.transformToInvoice()">
       <i class="mdi-content-copy"></i>Validar
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="paymentVoucherView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>