
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
.critical { color: rgb(8, 0, 0); background-color: rgb(245, 161, 150) !important; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.officePayments">
            <i class="mdi-home"></i>
            PAGOS SUCURSAL
        </a>
    </li>
    <li>Crear pago</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Seleccione sucursal: <span class="label bg-secundary" style="font-size: 12px;">{{warehouseCode}}</span>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.officePayments">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" onclick="this.disabled=true;" md-ink-ripple class="md-btn md-raised bg-accent" ng-disabled="formBallot.$invalid  || total == '' || !parseInt(total) || total == 0" ng-click="officePaymentsCreate.createPayments()">
            <i class="mdi-cash-multiple"></i>
            Guardar
        </button>
    </div>
</div>
<form name="formBallot" action="" class="form-horizontal">
    <div class="panel">
        <div class="panel-heading bg-success">Datos pago sucursal
            <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Factura" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
        </div>
        <div class="panel-body">
           
            <div class="col-md-2">
                <div class="form-group">
                    <label  for="" class="col-sm-4 control-label">
                        <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8">
                        <ui-select ng-change="officePaymentsCreate.setWarehouseId($select.selected.warehouseId,$select.selected.warehouseCode);officePaymentsCreate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                            <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                            <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                <small>

                                    <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div ng-show="panelInvoice">
   <div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table>
                        <tr> 
                            <th></th>
                            <th>Tipo</th>
                            <th>Documento</th>
                            <th>Fecha</th>
                            <th>Total</th> 
                            <th>Pendiente</th> 
                            <th>Forma Pago</th>
                            <th>Pago</th>
                            <th></th>
                          </tr>
                          <div>
                          <tr ng-repeat="items in paymentsItems"> 
                            <td>{{$index+1}}</td>
                            <td><span class="label bg-accent">{{items.type}}</span></td>
                            <td><strong>{{items.documentId}}</strong></td>
                            
                            <td>{{items.date}}</td>
                            <td>${{items.totalDocument}}</td>
                            <td>$<strong>{{items.total}}</strong></td>
                            <td>
                                <select style="width :120px" class="form-control" ng-model="items.paymentMethod" required>
                                  <option value="1">Efectivo</option>
                                  <option value="2">Cheque</option>
                                  <option value="7">Transferencia</option>
                                  <option value="5">Débito</option>
                                  <option value="21">WebPay</option>
                                  <option value="4">Tarjeta de crédito</option>
                                  <option value="8">Nota de crédito</option>
                                  <option value="9">Mixto</option>
                                  <option value="20">Anulación</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control input-sm {{(items.total >= items.pay)?' text-dark':'bg-danger'}} bold" min="1" max= "{{items.total}}" ng-model="items.pay" type="number" style="width :100px">
                            </td>

                            <td align="center"><a ng-click="officePaymentsCreate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los documentos presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 520px;" ui-grid="paymentsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

   <div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Total Pago:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h1>
                            <strong>
                                <span class="label bg-secundary" style="font-size: 16px;">$ {{ officePaymentsCreate.getNet() | number:0 }}</span> 
                            </strong>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación documento" >
                        </textarea>
                    </div>
                </div>

        </div>
        </div>
    </div>
  </div>
</div>
</form>


