<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.importRegistration">
            <i class="mdi-home"></i>
            REGISTRO DE EMBARQUE
        </a>
    </li>
    <li>Actualizar Registro de embarque</li> 
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Proveedor :  <strong class="uppercase">  {{dataRecord.providerName}} <span>[{{dataRecord.providerId}}]</span> 
                
            </strong>
        </h1> 
    </div><span class="{{(dataRecord.arrivalStatus == 'En transito')?'label bg-warning':'label bg-primary'}}">{{dataRecord.arrivalStatus}}</span>

    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.importRegistration">
            <i class="mdi-window-close"></i>
            Salir
        </button>
        <button ng-show="dataRecord.status == 'Pendiente ...' || dataRecord.arrivalStatus == 'En transito'" md-ink-ripple class="md-btn md-raised"  ng-disabled="formImport.$invalid || dataRecord.total == '' || dataRecord.total == 0 " ng-click="importRegistrationUpdate.updateImportRegistration()">
            <i class=" mdi-flag-variant"></i>
            Actualizar
        </button>
    </div>
</div>

<form name="formImport" action="" class="form-horizontal">

<div class="panel">
    <div class="panel-heading bg-success">Datos generales registro de importación <strong>{{importId}}</strong> 
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales Registro"></span>
    </div>
    <div class="panel-body">
        <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Nº Proforma/Invoice:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model= "dataRecord.codeInvoice" class="form-control"  required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Pago:</strong>
                        </label>
                        <div class="col-sm-6">
                            <span class="{{(dataRecord.status == 'Pagado')?'label bg-success':'label bg-secundary'}} uppercase">{{dataRecord.status}}</span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>N° Embarque:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model= "dataRecord.shipmentNumber" class="form-control"  required>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Origen:</strong>
                        </label>
                        <div class="col-sm-6">
                            <span class="uppercase"><strong>{{dataRecord.origin}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Monto total {{currencySymbol}}:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="float" ng-model= "dataRecord.total" class="form-control"  required>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Recepción estimada:</strong>
                        </label>
                        <div class="col-sm-6">
                            <span class="uppercase">{{dataRecord.receptionDate}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Moneda/Valor {{dataRecord.currency}}:</strong>
                        </label>
                        <div class="col-sm-4">
                            <!-- <span class="label bg-secundary">{{dataRecord.currency}} - ${{dataRecord.valueCurrency}}</span> -->
                            <input type="float" ng-model= "dataRecord.valueCurrency" class="form-control">
                        </div>
                    </div>
                </div>

           
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Packing:</strong>
                        </label>
                        <div class="col-sm-6">
                            <span class="uppercase"><strong>{{dataRecord.packing}}</strong></span>
                        </div>
                    </div>
                </div>

                
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Cantidad packing:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="number" ng-model= "dataRecord.packingQuantity" class="form-control"  required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Arribo:</strong>
                        </label>
                        <div class="col-sm-6">
                            <span class="uppercase">{{dataRecord.arrivalDate}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Impuestos Aduana:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="number" ng-model= "dataRecord.customsTax" class="form-control"  required>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Fecha pago Aduana:</strong>
                        </label>
                        <div class="col-sm-6">
                            <input ng-show="dataRecord.payDateTax == '00/00/00'" type="date" ng-model= "payDateTaxCustom" class="form-control" >
                            <span ng-hide="dataRecord.payDateTax == '00/00/00'" class="uppercase">{{dataRecord.payDateTax}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <strong>Observación:</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><textarea ng-model="dataRecord.observation" class="form-control">
                            </textarea></h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">
                            <span ng-hide="dataRecord.arrivalStatus == 'En transito'" has-permission= "registro-importacion-update" align="center"><a ng-click="importRegistrationUpdate.closeRecord(8)"><i class="mdi-pencil bg-danger" tooltip-placement="left" tooltip="Modificar"></i></a></span> 
                            <strong class="text-danger">Fecha Recepción:</strong>
                        </label>
                        <div class="col-sm-6">
                            <input ng-change="importRegistrationUpdate.closeRecord(9)" ng-show="dataRecord.arrivalStatus == 'En transito'" type="date" ng-model= "closeDate" class="form-control bg-danger" tooltip-placement="top" tooltip="Si agrega fecha recepción el documento cambiará a estado recepcionado">
                            <span ng-hide="dataRecord.arrivalStatus == 'En transito'" class="text-secondary uppercase"> <strong>{{dataRecord.closeDate}}</strong></span>
                            
                        </div>
                    </div>
                </div>
            </div>
       
       
    </div>
</div>
</form>

<div>
<div class="row gutter-10">
    <div class="col-sm-8">
        <div class="panel ">
            <div class="panel-heading bg-success">Listado pagos asociados a registro de importación <strong><a ng-click="paymentsView.viewInvoice(invoiceId,clientName)">{{invoiceId}}</a></strong>
                <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Listado de pagos asociado a factura {{invoiceId}}"></span>
            </div>
            <div class="panel-body">
                <table style="width:100%">
                  <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Forma pago</th>
                    <th>Valor Moneda</th> 
                    <th>N° Doc</th>
                    <th>Obs.</th>
                    <th></th>
                  </tr>
                  <tr ng-repeat="items in paymentsGrid">
                    <td class="uppercase">{{items.id}}</td>
                    <td class="uppercase">{{items.date | date:'dd/MM/yyyy'}}</td>
                    <td><span class="label bg-accent">{{items.total}}</span></td>
                    <td>{{items.paymentForm}}</td>
                    <td><span>$ {{items.currencyValue}}</span></td> 
                    <td><a><i class="mdi-message-alert" tooltip-placement="right" tooltip="{{items.document}}"></i></a></td>
                    <td><a><i class="mdi-format-align-justify" tooltip-placement="right" tooltip="{{items.comment}} - Creado por {{items.userCreation}}"></i></a></td>
                    <td has-permission= "pagos-edit" align="center"><a ng-click="importRegistrationUpdate.deletePayment(items.id,items.total)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar pago"></i></a></td> 
                  </tr>
            </table>
            </div>
            
        </div>
        <div class="panel ">
            <div class="panel-heading bg-success">Documentos Adjuntos <span>(PDF, JPG, DOCX, EXCEL, PNG)</span>
                <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Listado de documentos adjuntos"></span>
            </div>
            <div class="panel-body">
                <table style="width:100%">
					<tr>
						<th>N°</th>
						<th>Nombre Documento</th>
						<th></th>
					</tr>
					<tr ng-repeat="file in files">
						<td class="uppercase">{{$index+1}} </td>
						<td><a tooltip-placement="right" tooltip="Click para Ver Archivo" ng-click="importRegistrationUpdate.openFile(file)"><span class="uppercase">{{file.name}}</span></a></td>
						<td><a class="text-md pull-left" ng-click="importRegistrationUpdate.deleteFile(file)"><span class="label bg-danger"><i class="mdi-close"></i></span></a></td>                                
					</tr>
            	</table>
				<br>
				<br>
				<div class="button-group" align="end">
					<button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="importRegistrationUpdate.uploadIMG()">
					  <strong><i class="mdi-upload"></i> <small class="label bg-warning">ADJUNTAR</small></strong>
					</button>
				</div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-heading bg-warning"> <strong><i class="mdi-currency-usd"></i>Asociar Pago registro</strong>
                <span class="mdi-help-circle pull-right cursor-pointer" tooltip="'Efectuar pago:' Aqui usted puede asociar un pago a un documento de importación"></span>
            </div>
            <form name="formPayments" class="form-horizontal">
            <div class="panel-body">
                    
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <span class="dato-obligatorio">*</span><strong>Total</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="float" class="form-control" ng-model="payment" required /></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <span class="dato-obligatorio">*</span><strong>Valor Moneda</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="float" class="form-control" ng-model="currencyValue" required /></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Doc.</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><strong><input type="text" class="form-control" ng-model="document"/></strong></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Observación</strong>
                        </label>
                        <div class="col-sm-6">
                            <h1><textarea ng-model="observation" class="form-control" placeholder="comentario pago" required>
                            </textarea></h1>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <span class="dato-obligatorio">*</span><strong>Forma Pago</strong>
                        </label>
                        <div class="col-sm-6">
                            <!-- <ui-select ng-model="paymentForms.selected" theme="bootstrap"  title="forma pago" required >
                                <ui-select-match ><small> {{$select.selected.description}}</small></ui-select-match>
                                <ui-select-choices repeat="paymentForms in paymentForms | filter: $select.search">
                                    <small>

                                        <h4 ng-bind-html="''+paymentForms.description | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select> -->

                            <select style="width :120px" class="form-control" ng-model="paymentFormId" required>
                                  <option value="1">Efectivo</option>
                                  <option value="7">Transferencia</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="dataRecord.status == 'Pendiente ...'" class="form-group">
                        <label for="" class="col-sm-4 control-label">
                        </label>
                        <div class="col-sm-6">
                            <button ng-disabled="formPayments.$invalid || payment == '' || payment == 0 " md-ink-ripple style="font-size: 16px;" class="md-btn md-raised bg-warning"  ng-click="importRegistrationUpdate.savePayment()">
                                <strong><i class="mdi-cash-usd"></i> Asociar pago </strong>
                            </button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
  </div>


