
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.supplierReturn">
            <i class="mdi-home"></i>
            DEVOLUCIÓN PROVEEDOR
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado devoluciones <span><a ng-click="supplierReturnList.loadNotes()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <!-- <button has-disabled= "nota-de-credito-view" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="supplierReturnList.notesReport()" popover="Reporte notas de credito por fecha" popover-placement="top" popover-trigger="mouseenter">
            <i class="mdi-calendar"></i>
            Reporte
        </button> -->
        <button has-disabled="devolucion-proveedor-edit"  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.supplierReturnCreate">
            <i class="mdi-plus"></i>
            Crear devolución
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar nota de creditos" ng-model="supplierReturnList.searchText" ng-change="supplierReturnList.searchData()" ng-model-options="supplierReturnList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="supplierReturnGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
