
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}

.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.invoicesProvider">
            <i class="mdi-home"></i>
            FACTURAS PROVEEDOR
        </a>
    </li>
    <li>Nueva factura proveedor</li>
    <span  class="badge bg-warning"><i class="mdi-content-copy"></i> Importación N° {{importId}} a factura proveedor</span>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Factura Proveedor :  <strong class="uppercase">  {{providerName}} <span>[{{providerId}}]</span> 
                <span><a ng-click="invoicesProviderUpdate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.imports">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-disabled="formProviders.$invalid || total == '' || !parseInt(total) || total == 0 " ng-click="invoicesProviderUpdate.createInvoice()">
            <i class="mdi-checkbox-marked-circle-outline"></i>
            Crear Factura
        </button>
    </div>
</div>
<form name="formProviders" action="">
<div class="panel">
    <div class="panel-heading bg-success">Datos Factura
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales de la Factura" ></span>
    </div>
    <div class="panel-body">
        
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Rut:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <!-- <input type="text" ng-model="dataInvoice.providerId" class="form-control" placeholder="Rut providere" required > -->
                            <ui-select class="uppercase" ng-change= "invoicesProviderUpdate.setName(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider" ng-required="true" >
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h3 ng-bind-html="''+provider.providerName | highlight: $select.search"></h3>
                                
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="code" class="form-control" placeholder="Codigo factura" required>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="selected" ng-required="true" ng-change="invoicesProviderUpdate.validateType(selected)">
                                  <option value="2" selected="selected">Inter</option>
                                  <option value="1">Nacional</option>
                                </select>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="invoicesProviderUpdate.setWarehouseId($select.selected.warehouseId);invoicesProviderUpdate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices value="{{$select.selected.warehouseId}}" repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div ng-show="panelInvoice">
<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td >{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}} <em>({{items.referenceKey}})</em></td>
                            <td><input class="form-control input-sm {{(items.price >= 0)?' text-dark':'bg-danger'}}" ng-model="items.price" type="number" min="0" style="width :85px"></td>
                            <td><input class="form-control input-sm" ng-model="items.quantity" min= "1" type="number" style="width :60px"></td>
                            <td><input class="form-control input-sm" ng-model="items.disscount" min= "0" type="number" style="width :60px"></td>
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | number:2 }}</strong></td>

                            <td align="center"><a ng-click="invoicesProviderUpdate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          {{totalItem}}
                        </table>
                        <!-- <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div> -->
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 520px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4" >
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ invoicesProviderUpdate.getNet() | number:2  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 30)?' ':'bg-danger'}}" ng-model="discount" min="0" max="30" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ invoicesProviderUpdate.getNet() - (discount*NET/100) | number:2 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:2 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:2 }}
                            </strong>
                        </h1>
                    </div>
                </div>

                <div class="form-group m-t-md" style="display: none">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>xxx:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ invoicesProviderUpdate.getNetTotal() | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
            <!-- <div ng-show="internacionalInvoice"> -->
            <div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Moneda:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8">
                                <select class="form-control" ng-model="currency" ng-change="invoicesProviderUpdate.validateCurrency(currency)" required>
                                  <option value="Euro"> € Euro</option>
                                  <option value="Dolar">$ Dólar</option>
                                </select>
                    </div>
                </div>
                <div class="form-group" style="margin-top:10px">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Valor</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-6 m-t-xs">
                        <input type="number" class="form-control" ng-model="valueCurrency" data-nodrag required/>
                    </div>
                </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea cols="40" rows="5" ng-model="observation" class="form-control" placeholder="Observación factura" >
                        </textarea>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
  </div>
</div>
</form>