 <style>
    .modal-header,.close {
      background-color: #0069a0;
      color:white !important;
      text-align: center;
      font-size: 25px;
    }

    .modal-footer {
      background-color: #f9f9f9;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalDeleteUser.cancel()">
          <span aria-hidden="true">&times;</span>
    </button>
        <h3 class="modal-title">{{ 'DEACTIVATE_USER' | translate }}</h3>
</div>
<div class="modal-body">
    <b>{{ 'DEACTIVATE_REGISTRY_MSJ' | translate }}</b></br></br>
    <h4>{{ 'USERNAME' | translate }}:  {{modalDeleteUser.name}}  &nbsp;<span class="label label-danger">{{ 'CODE' | translate }}: {{modalDeleteUser.id}}</span></h4>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="modalDeleteUser.deleteUser()">{{ 'ACCEPT' | translate }}</button>
    <button class="btn btn-danger" ng-click="modalDeleteUser.cancel()">{{ 'CANCEL' | translate }}</button>
</div>
