 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clientsView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Cliente: {{clientId}}</h3>
</div>
<div class="modal-body ">
      <div class="panel-body uppercase">
          <div class="col-sm-15">
              <span class="m-r-md"><strong>Nombre: </strong><span class="uppercase">{{client[0].fullName}}</span></span>
              <span class="{{(client[0].isCredit == 'Crédito')?'badge bg-warning':'badge bg-secondary'}}"><i class="mdi-credit-card"></i> {{client[0].isCredit}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Dirección: </strong><span class="uppercase">{{client[0].address}} </span></span>
            
              <span class="m-r-md"><strong>Ciudad/Pais: </strong><span class="label bg-info uppercase">{{client[0].cityName}}</span> 
          </div>
          <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Dirección 2: </strong><span class="uppercase">{{client[0].address2}} </span></span>
            
        </div>
          <div class="col-sm-15 m-t-sm"> 
              <span class="m-r-md"><strong>Rut: </strong><span class="label bg-secondary">{{client[0].rut}}</span></span>
              <span class="m-r-md"><strong>Estado:</strong> <span class="{{(client[0].isLocked == 'Activo')?'badge bg-success':'badge bg-danger'}}">{{client[0].isLocked}}</span></span>
              <span class="m-r-md"><strong>Categoria:</strong> <span class="{{(client[0].category == 'SI')?'label bg-info':'label bg-secondary'}}">{{client[0].category}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Telefonos: </strong> <span class="label bg-info">{{client[0].phone}}</span> </span>
              <span class="m-r-md"><span class="label bg-secondary">{{client[0].mobile}}</span></span>
              
          </div>
          <div class="col-sm-15 m-t-sm">
              
              <span class="m-r-md "><strong>Correo: </strong><span class="label bg-secondary" >{{client[0].email}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Giro: </strong><span style="font-weight: normal">{{client[0].commercialBusiness}}</span></span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Web: </strong><span style="font-weight: normal">{{client[0].web}}</span> </span>
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Observación: </strong><span style="font-weight: normal"><i>{{client[0].blockingReason}}</i></span> </span>
          </div>
          <div class="col-sm-15 m-t-sm">
              
            <span class="m-r-md "><strong>Encargado: </strong><span style="font-weight: normal" class="uppercase" >{{client[0].customerManager}}</span></span>
        </div>
          

          <!-- <div class="col-sm-15 m-t-md" >
              
              <span class="m-r-md"><a disable-all="true" href="#" class="text-info "> <i class="mdi-link-variant"></i> Visualizar Historial</a></span>
              
          </div> -->
    </div>  
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple ng-disabled = "true" class="md-btn md-raised bg-accent"  ng-click="clientsView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="clientsView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>