 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="paymentNn.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Pagar Documento NN N°: {{documentId}}</h3>
</div>
<form name="formPay">
<div class="modal-body">
        <h4 align="center"> Total a pagar: <span class="label bg-secondary">${{total}}</span></h4>
        <div align="center" class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Forma de pago: </strong>
                <select style="width :180px" class="form-control" ng-model="paymentMethod" required>
                      <option value="1">Efectivo</option>
                      <option value="2">Cheque</option>
                      <option value="7">Transferencia</option>
                      <option value="16">Transbank</option>
                      <option value="8">Nota de crédito</option>
                      <option value="9">Mixto</option>
                </select>
            </span>

            <span class="m-r-md">
                <h1><textarea style="width :180px" ng-model="observation" class="form-control" placeholder="comentario pago" required>
                        </textarea></h1>
            </span>
          </div>

         
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-disabled="formPay.$invalid" ng-click="paymentNn.payDocument()">
       <i class="mdi-cash-usd"></i>Pagar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="paymentNn.cancel()">
      <i class="mdi-window-close"></i>Cancelar
    </button>
  </div> 
</div>
</form>