 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="documentsNnView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Documento: <strong>{{documentId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{document[0].clientName}}</span>
          
          
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(document[0].statusName == 'Pagado')?'badge bg-warning':'badge bg-danger'}}">{{document[0].statusName}}</span></span>
          <span class="m-r-md"><strong>Despacho: </strong><span class="{{(document[0].packOff == 'Si')?'badge bg-warning':'badge bg-danger'}}">{{document[0].packOff}}</span></span>

          <a ng-click="documentsNnView.printPackOff()"><span ng-show="document[0].packOff == 'Si'" class="m-r-md pull-right"><strong> </strong> <span class="label bg-info"><i class="mdi-printer"></i>Datos despacho</span></span></a>
          <a ng-click="documentsNnView.printPackOff();documentsNnView.updatePackOff()"><span ng-show="document[0].packOff == 'No'" class="m-r-md pull-right"><strong> </strong> <span class="label bg-warning"><i class="mdi-clipboard-check"></i> Activar despacho</span></span></a>
          
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{document[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{document[0].date | date:'dd/MM/yyyy'}}</span><span ng-hide="document[0].time == '00:00:00'" ><strong> Hora: </strong>{{document[0].time}} </span></span>
      </div>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Orden de compra:</strong> <span>{{document[0].purchaseOrder}}</span></span>
      </div> -->
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{document[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{document[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th></th>
              </tr>
              <tr ng-repeat="items in documentItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>$ {{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td>$<strong>{{ items.total | pesosChilenos }}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-5">
        <div class="panel pull-right">
            <div class="panel-body">
                <table  >
                   <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{ subTotality | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{document[0].discount}} %</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{ document[0].total | pesosChilenos }}</strong></h2></th>
                    </tr>
              </table>    
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{document[0].userCreation}}</span></span></span>
      </div>
      <br>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-secundary">{{document[0].userModifier}}</span></span></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Forma pago Asociada:</strong> <em>{{document[0].paymentForm}}</em></span>
    </div>

      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma pago:</strong> <span>{{document[0].paymentForm}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha pago:</strong> <em>{{document[0].datePayment}}</em></span>
      </div> -->

      <br>
      <div class="col-sm-15" ng-if="document[0].userOut">
        <span class="m-r-md"><strong>Entregada por:</strong> <span> <span class="label bg-accent">{{document[0].userOut}}</span></span></span>
      </div><br>
    <div class="col-sm-15" ng-if="document[0].isOut == 2">
        <span class="m-r-md"><strong>Entrega:</strong> <span> <a tooltip-placement="right" tooltip="Ir a Módulo entregas"ui-sref="app.warehouseDeliveries"><span class="badge bg-warning"><i class="mdi-flash"></i> Incompleto</span></a></span></span>
    </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="documentsNnView.print('divPrint')">
       <i class="mdi-table-edit"></i>imprimir
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="documentsNnView.updateDocument()" ng-if="documentsNnView.btnVisible">
        <i class="mdi-content-copy"></i>Entrega Rápida
    </button>
    <div class="pull-left" ng-show= "document[0].statusName == 'Sin Pagar'">
        <label  for="" class="control-label">
            <span class="dato-obligatorio">*</span>Solo usuario administrativo puedo efectuar pago.
        </label>
    </div>
    <button has-disabled="documentos-nn-pay" ng-show= "document[0].statusName == 'Sin Pagar'" md-ink-ripple class="md-btn md-raised bg-warning text-2x"  ng-click="documentsNnView.payDocument(1)">
            <i class="mdi-check"></i>
            Pagar
    </button>
       
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="documentsNnView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>