
<div ui-view="" class="fade-in-down smooth ng-scope suite-login">

  <div class="panel center-block" style="max-width:500px;">

    <div class="panel-heading">
      <div class="text-center">
        <img src="{{clientLogo}}">
        <h1 class="text-lg no-margin p-t-sm">Bienvenido</h1>
      </div>
    </div>

    <div class="panel-body text-center">

      <h4>Por favor, brinde sus datos de acceso nuevamente</h4>

      <form class="form-horizontal m m-b-lg"  ng-submit="submitForm(loginForm.$valid)" name="loginForm" novalidate ng-app="formValidationApp" ng-controller="loginValidationCtrl">
        <div class="md-form-group float-label" ng-class="{'has-error': loginForm.name.$invalid && loginForm.name.$dirty, 'has-success': loginForm.name.$valid }">
          <input type="text" class="md-input ng-pristine ng-untouched " name="name" ng-model="user.name" required/>
          <label>Usuario</label>
          <p class="help-block" ng-if="loginForm.name.$invalid && loginForm.name.$dirty">             Ingrese un nombre válido</p>
        </div>
        <div class="md-form-group float-label" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid}">
          <input type="password" class="md-input ng-pristine ng-untouched" name="password" ng-model="user.password" ng-minLength="3" required/>
          <label>Contraseña</label>
          <p class="help-block" ng-if="loginForm.password.$invalid && loginForm.password.$dirty">
          Introduzca su password</p>
        </div>
        <button md-ink-ripple="" class="md-btn md-raised bg-accent p-h-md">Ingresar</button>
      </form>      

    </div><!-- panel-body -->
  
  </div><!-- panel-card -->

</div>