<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li >
                <a ng-click="grid.appScope.clientsList.viewClient(row.entity)"><span>Ver</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>

            <li has-permission= "clientes-edit">
                <a ng-click="grid.appScope.clientsList.updateClient(row.entity)"><span>Modificar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <li has-permission= "clientes-delete">
                <a ng-click="grid.appScope.clientsList.deleteClient(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li>
            <!-- <li>
                <a ng-click="grid.appScope.clientsList.clientHistoryView(row.entity)"><span>Historial</span></a>
            </li> -->
            <li has-permission= "clientes-history">
                <a ng-click="grid.appScope.clientsList.clientHistoryView(row.entity)"><span>Historial</span></a>
            </li>
            <li>
                <a ng-click="grid.appScope.clientsList.accountStatusView(row.entity)"><span class="label bg-info">Estado Cuenta</span></a>
            </li>
            <li>
                <a ng-click="grid.appScope.clientsList.showPayments(row.entity)"><span class="label bg-warning">Pagos</span></a>
            </li>
        </ul>

    </div>

</div>
