<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}
.espacio{
padding: 15px;
}

.uppercase { text-transform: uppercase; }

</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.transferGuides">
            <i class="mdi-home"></i>
            GUIAS DE TRASLADO 
        </a>
    </li>
    <li>Nueva Guía</li>
    <span class="label bg-warning" style="font-size: 12px;"> <i class="mdi-checkbox-marked-outline"></i> Validando solicitud de pedido N° {{orderCode}}</span>
    <a href="" tooltip-placement="right" tooltip="Rechazar solicitud de pedido" ng-click="orderValidate.validateOrder(3)"><span class="label bg-danger" style="font-size: 11px;"> <i class="mdi-close"></i> Rechazar solicitud</span></a>
</ul>
<div class="main-title">
    <div class="title">
        <h1 >
            Guía cliente :  <strong class="uppercase">{{clientName}}<span style="font-size: 16px;">[{{clientId}}]</span> 
                <span><a ng-click="orderValidate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
   
    <div class="button-group">
        <button tooltip-placement="top" tooltip="Cancelar" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.orders">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button  type="submit" onclick="this.disabled=true;" tooltip-placement="top" tooltip="Validar y crear guía" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formGuides.$invalid || warningQuantity == true || total == '' || !parseInt(total) || total == 0" ng-click="orderValidate.createGuide(1)">
                <i class="mdi-checkbox-marked-circle-outline"></i>
                Validar y crear guía
            </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos futura Guía
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Guia" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formGuides" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change= "orderValidate.setName(selectedRut)" ng-model="selectedRut" theme="bootstrap"  title="clients" ng-required="true" >
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="clients in warehouses | filter: $select.search">
                                <h3 ng-bind-html="''+clients.warehouseName | highlight: $select.search | uppercase"></h3>
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>  
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo:</strong>
                        </label>
                        <div class="col-sm-8">
                           <label for="" class="control-label">
                                <span class="label bg-secundary">TRASLADO</span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong>
                        </label>
                        <div class="col-sm-8">
                            <label for="" class="control-label">
                                <span class="label bg-secundary" style="font-size: 12px;">{{orderDetails[0].destination}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Destino:</strong>
                        </label>
                        <div class="col-sm-8">
                            <label for="" class="control-label">
                            <span class="label bg-secundary" style="font-size: 12px;">{{orderDetails[0].origin}}</span>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>

<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>Id</th> 
                            <th>Descripción</th>
                            <th>Marca</th>
                            <th>Presio</th> 
                            <th style="width:60px">Stock</th>
                            <th>Cant.</th>
                            <th>Total</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td >{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}<strong class="font-italic"> ({{items.referenceKey}})</strong></td>
                            <td><span style="font-size: 9px;" class="uppercase label bg-warning">{{items.brand}}</span></td>
                            <!-- <td><input class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" min="{{items.minPrice}}" ng-model="items.price" type="number" style="width :85px"></td> -->
                            <td>{{items.price}}</td> 
                            <td><strong>{{items.stock}}/{{items.generalStock}}</strong></td> 

                            <td><input ng-change= "orderValidate.getStock(items.itemId,items.quantity)" class="form-control input-sm {{(items.quantity <= items.stock)?' text-dark':'bg-danger'}}" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>

                            <!-- <td><input class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" ng-model="items.disscount" min="0" max= "{{items.maxDiscount}}" type="number" style="width :60px"></td> -->

                            <td><strong>{{items.price * items.quantity  | number:0 }}</strong></td>

                            <td align="center"><a ng-click="orderValidate.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          {{totalItem}}
                        </table>
                        <div ng-show="warningQuantity" class="alert alert-danger">Uno de sus items cuenta con stock insuficiente</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 520px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ orderValidate.getNet() | number:0  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ orderValidate.getNet() - (discount*NET/100) | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>


    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea cols="40" rows="5" ng-model="observation" class="form-control" placeholder="Observación factura" required>
                        </textarea>
                    </div>
                </div>

        </div>
        </div>
    </div>
    
  </div>

</div>

