 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9; 
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="trucksUpdate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Actualizar Ficha Camión N° {{id}}</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formTrucks" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cliente:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input ng-disabled="true" type="text" ng-model="truckDetails.clientName" class="form-control uppercase" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Chasis:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Ingrese N° Chasis" type="text" ng-model="truckDetails.chassis" class="form-control uppercase bg-warning" required style="text-transform:uppercase;"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Año:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                             <input type="number" min="1980" max= "2030" tooltip="Año" ng-model="truckDetails.year" class="form-control" required>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Patente:</strong><span class="dato-obligatorio">*</span> 
                        </label>
                        <div class="col-sm-5">
                            <strong><input type="text" tooltip="Patente vehiculo" ng-model="truckDetails.patent" class="form-control uppercase" required></strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Modelo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="truckDetails.model" class="form-control uppercase" placeholder="Modelo" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Marca:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">

                            <input type="text" ng-model="truckDetails.brand" class="form-control uppercase" placeholder="Marca" required>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Motor:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="truckDetails.motor_number" class="form-control uppercase" placeholder="N° Motor">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Estado:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">

                            <select class="form-control" ng-model="statusTrucks">
                              <option value="2">Dar de baja</option>
                              <option value="1">Activar</option>
                         </select> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="trucksUpdate.trucksUpdate()" ng-disabled="formTrucks.$invalid">
		   <i class="mdi-check-all"></i> Actualizar
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="trucksUpdate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->