
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            DOCUMENTO NN
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Documentos NN <span><a ng-click="documentsNnList.loadDocuments()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a  tooltip="Ir a entregas bodega" ui-sref="app.warehouseDeliveries"> <span style="font-size: 16px;" class="label bg-secundary"><i class="mdi-truck"></i></span></a>
        <button has-disabled="documentos-nn-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.documentsNnCreate">
            <i class="mdi-plus"></i>
            Crear Documento
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar documento" ng-model="documentsNnList.searchText" ng-change="documentsNnList.searchData()" ng-model-options="documentsNnList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
