<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.documentsNnList.printDocument(row.entity)"><span>Ver Documento</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
            <li>
                <a ng-click="grid.appScope.documentsNnList.paymentNn(row.entity)"><span>Pagos</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
             <li>
                <a ng-click="grid.appScope.documentsNnList.cloneNn(row.entity)"><span>Clonar</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
            <li ng-hide="(row.entity.isOut != null)">
                <a ng-click="grid.appScope.documentsNnList.updateDocument(row.entity)"> <span class="label bg-warning"><i class="mdi-action-autorenew"></i>Entrega Rápida</span></a>
            </li>

            <!-- <li disable-all="true">
                <a ng-click="grid.appScope.clientsInvoicesList.updateInvoice(row.entity)"><span>Clonar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li> -->
            <!-- <li>
                <a ng-disabled="true" ng-click="grid.appScope.clientsInvoicesList.deleteInvoice(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
        </ul>

    </div>

</div>
