
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            REPORTES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Reporte items comprados
        </h1>
    </div>
    <div class="button-group">
     
        <button md-ink-ripple class="md-btn md-raised m-l-sm"  has-disabled= "items-vendidos-view" ui-sref="app.itemsSold" popover="Items vendidos" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-basket-unfill"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "item-despacho-view" ui-sref="app.itemsOutputs" popover="Items despachados" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-forklift"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" ng-disabled="true" has-disabled= "item-comprados-view" ui-sref="app.itemsPurchased" popover="Items comprados" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-basket-fill"></i>
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm" has-disabled= "items-falla-view" ui-sref="app.faultyItems" popover="Items con falla" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-oil"></i>
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar items" ng-model="itemsPurchasedList.searchText" ng-change="itemsPurchasedList.searchData()" ng-model-options="itemsPurchasedList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="itemsPurchasedGrid" style="height: 500px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }
</style>
