
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.officePayments">
            <i class="mdi-home"></i>
            COMPROBANTES DE PAGO
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de pagos <span> <a ng-click="officePaymentsList.loadOfficePayments()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.officePaymentsCreate">
            <i class="mdi-cash-usd"></i>
            Generar comprobante
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Pagos" ng-model="officePaymentsList.searchText" ng-change="officePaymentsList.searchData()" ng-model-options="officePaymentsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="paymentsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
