 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="newAccount.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3 >Nueva cuenta</h3>
</div>
<div class="modal-body">
	  <form name="formBank" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="accountName" class="form-control uppercase" placeholder="Nombre cuenta" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-5">
                            <input type="text" ng-model="accountCode" class="form-control uppercase" placeholder="codigo" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<div class="modal-footer">
  <div class="button-group">
  	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="newAccount.accountCreate()">
	  <i class="mdi-plus"></i> Guardar
	</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="newAccount.cancel()">
	  <i class="mdi-window-close"></i> Cancelar
	</button>
  </div> 
</div>
