 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 15px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }

  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalLogin.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Acceso Vista Super Administrador</h3>
</div>
<div class="modal-body">
  <form name="formKey" action="" class="form-horizontal">
	  <div class="panel-body">

	  	<div class="row">
            <div class="col-md-12 m-t-sm">
                <div class="form-group">
                    <input type="password" ng-model="key" class="form-control" tooltip-placement="up" tooltip="Ingrese Clave de Acceso" placeholder="Clave de Acceso" required>
                </div>
            </div>
          </div>

          </div>
          <!-- <em style="color: red">* Vista esclusiva Gerencia</em> -->
  </form>
</div>

<div class="modal-footer">
  <div class="button-group">
	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="modalLogin.cancel()">
	  <i class="mdi-window-close"></i> Cancelar
	</button>
    <button ng-disabled="formKey.$invalid" md-ink-ripple class="md-btn md-raised bg-primary"  ng-click="modalLogin.access()">
      <i class="mdi-gesture-two-tap"></i> Acceder
    </button>
  </div> 
</div>
