<md-dialog class="modal-lg">
	<md-dialog-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="dialog.close()">
					<i class="icon mdi-close i-20 pull-right"></i>
				</md-button>
				<p class="text-center font-bold"> {{ dialog.options.title | translate }}</p>
			</div>
		</md-toolbar>
		<div class="m-l-md m-r-md">
			<h3 class="text-left">{{ dialog.options.message || 'DESCRIPTION_MESSAGE_DEFAULT' | translate }}</h3>
			<ui-grid-component field="dialog.options.field"></ui-grid-component>
		</div>
		<div class="text-center m-b-md m-t-md">
			<button md-ink-ripple class="md-btn md-raised btn-danger m-l-sm" ng-click="dialog.close()">
				{{ 'CLOSE' | translate }}
			</button>
		</div>
	</md-dialog-content>
</md-dialog>