
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.staff">
            <i class="mdi-home"></i>
            PERSONAL
        </a>
        <!-- &nbsp;<span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span> -->
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Crear usuario/personal
        </h1>
        
    </div>
 
    <div class="button-group" >
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.staff">
            <i class="mdi-close"></i>
            Cancelar
        </button>

        <button ng-disabled="createUserForm.$invalid || rutValidate" md-ink-ripple class="md-btn md-raised bg-accent" ng-click="staffCreate.createUser()">
            <i class="mdi-plus"></i>
            Crear Usuario
        </button>

        <button id="button" ng-disabled="createUserForm.$invalid || rutValidate" md-ink-ripple class="md-btn md-raised bg-accent" ng-click="staffCreate.createUser()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>
<form name="createUserForm" class="form-horizontal">

    <div class="row gutter-10">

      <div class="col-md-3">
        <div class="panel bg-primary">
          <div class="panel-body p-v-md">
            <img class="img-circle pull-left m-r-md" src="{{picture}}" alt="" width="100">
        </div>
      </div>

      <!-- <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Gestión de documentos</strong>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Rol:</strong>
            </label>
            <div class="col-sm-8">
              <ui-select ng-change="staffCreate.setRole($select.selected.roleid)" tooltip="Rol" ng-model="roleId" theme="bootstrap"  title="Rol a asignar" required >
                <ui-select-match ><small> {{$select.selected.rolename}}</small></ui-select-match>
                <ui-select-choices repeat="roles in role | filter: $select.search">
                    <div  ng-bind-html="roles.rolename | highlight: $select.search"></div>
                    <small>

                        <h4 ng-bind-html="''+roles.rolename | highlight: $select.search"></h4>
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>
        </div>
      </div> -->
     
    </div>
<!-- Fin columna 1 -->
    <div class="col-md-9">
<!-- datos trabajador -->
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Datos trabajador</strong>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Nombre completo:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" placeholder="Nombre completo" name="name" ng-model="fullName" required>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Rut:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-3">
              <input type="text" class="form-control uppercase" placeholder="Ingrese rut" name="R.U.T" ng-model="rut"  required>
            </div> 
            <div class="col-sm-2">
                            <p class="text-danger" style="font-size: 12px;font-style: italic">Sin puntos y guión</p>
                        </div>
                        <div class="col-sm-2">
                            <a><span class="label bg-warning uppercase" ng-click="staffCreate.checkRut(rut)"><i class="mdi-check"></i> Validar</span></a> 
                        </div>
                        <div class="col-sm-1">
                            <p class="text-danger" style="font-size: 12px;font-style: italic"><strong>{{textValidation}}</strong></p>
                            
                        </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Sexo:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-3">
              <select class="form-control uppercase" ng-model="gender" ng-required="true">
                <option value="1" selected="selected">Masculino</option>
                <option value="2">Femenino</option>
              </select> 
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Nacionalidad:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-3">
              <select ng-init="nationality='Chileno(a)'" class="form-control uppercase" ng-model="nationality" ng-required="true">
                <option value="Chileno(a)" selected="selected">Chileno(a)</option>
                <option value="Colombiano(a)">Colombiano(a)</option>
                <option value="Venezolano(a)">Venezolano(a)</option>
                <option value="Peruano(a)">Peruano(a)</option>
                <option value="Haitiano(a)">Haitiano(a)</option>
              </select> 
            </div>
          </div>


          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Fecha Nacimiento:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-1">
                <span class="label bg-accent" style="font-size: 10px;">Día</span> 
              <input min="1" max= "31" type="number" style="width :65px" class="form-control input-sm {{(31 >= day)?' text-dark':'bg-danger'}}" name="day" ng-model="day" required> 
            </div>
            <div class="col-sm-1">
                <span class="label bg-accent" style="font-size: 10px;">Mes</span> 
              <input min="1" max= "12" type="number" style="width :65px" class="form-control input-sm {{(12 >= month)?' text-dark':'bg-danger'}}" name="month" ng-model="month" required> 
            </div>
            <div class="col-sm-3">
                <span class="label bg-accent" style="font-size: 10px;">Año</span> 
              <input min="1950" max= "2500" type="number" style="width :85px" class="form-control input-sm" name="year" ng-model="year" required> 
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Telefono:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-3">
              <input type="text" class="form-control uppercase" placeholder="Telefono" name="phone" ng-model="phone" required> 
            </div>
          </div>

          
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Dirección:</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" placeholder="Dirección" name="address" ng-model="address">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Ciudad/Comuna:</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" placeholder="Ciudad" name="city" ng-model="city" aria-invalid="false">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Email:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-8">
              <input type="email" class="form-control uppercase" placeholder="Escriba E-Mail" name="E-mail" ng-model="email" required>
              <span class="text-danger" ng-show="createUserForm.email.$touched && createUserForm.email.$invalid">Correo inválido</span>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Fecha ingreso:<span class="text-danger"> *</span></strong>
            </label>
            <div class="col-sm-8">
              <input type="date" class="form-control uppercase" name="startDate" ng-model="startDate" required>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Fecha Termino:</strong>
            </label>
            <div class="col-sm-8">
              <input type="date" class="form-control uppercase" ng-model="finishDate">
            </div>
          </div>
        </div>
      </div>
<!-- organización -->
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Información organizacional</strong>
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Tipo de contrato:</strong><span class="text-danger"> *</span>
            </label>
            <div class="col-sm-3">
              <select class="form-control uppercase" ng-model="documentType" ng-required="true">
                <option value="1">Indefinido</option>
                <option value="2">Plazo Fijo</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Rol/Cargo:</strong><span class="text-danger"> *</span>
            </label>
            <div class="col-sm-8 uppercase">
              <ui-select ng-change="staffCreate.setRole($select.selected.roleid)" tooltip="Rol" ng-model="roleId" theme="bootstrap"  title="Rol a asignar" required >
                <ui-select-match ><small> {{$select.selected.rolename}}</small></ui-select-match>
                <ui-select-choices repeat="roles in role | filter: $select.search">
                    <div  ng-bind-html="roles.rolename | highlight: $select.search"></div>
                    <small>

                        <!-- <h4 ng-bind-html="''+roles.rolename | highlight: $select.search"></h4> -->
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Asociar sucursales:</strong><span class="text-danger"> *</span>
            </label>
            <div class="col-sm-8 uppercase">
              <ui-select multiple ng-model="myUiSelect.model" theme="bootstrap"  close-on-select="false" title="Seleccione sucursales " remove-selected="false" required>
                <ui-select-match placeholder="Seleccione sucursales...">{{$item.warehouseCode}}</ui-select-match>
                <ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
                    <div  ng-bind-html="warehouse.warehouseCode | highlight: $select.search"></div>
                    <small>

                        <h4 ng-bind-html="''+warehouse.officeName | highlight: $select.search"></h4>
                    </small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
        </div>
      </div>
<!-- sistema -->
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Acceso sistema</strong>
        </div>
        <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Usuario:<span class="text-danger"> *</span></strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" name="username" ng-model="userName" aria-invalid="false" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Contraseña:<span class="text-danger"> *</span></strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" placeholder="" name="password" ng-model="password" aria-invalid="false" required>
                            <span class="text-danger" ng-show="createUserForm.password.$touched && createUserForm.password.$invalid">Cree una contraseña</span>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label p-r-xs">
                            <strong>Repita Contraseña:<span class="text-danger"> *</span></strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="password" tooltip-placement="bottom" tooltip="La contraseña debe ser igual a la ingresada arriba" class="form-control" placeholder="" name="password2" ng-model="password2" aria-invalid="false" required>
                            <span class="text-danger" ng-show="createUserForm.password2.$touched && createUserForm.password2.$invalid">Ingrese nuevamente la contraseña</span>
                            <span class="text-danger" ng-show="createUserForm.password.$modelValue !== createUserForm.password2.$modelValue">Contraseñas no coinciden.</span>
                        </div>
                    </div>
          
        </div>
      </div>
<!-- instituciones -->
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Instituciones/Valores</strong>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>AFP:</strong>
            </label>
            <div class="col-sm-8 uppercase">
              <ui-select ng-change="staffCreate.setRetirements($select.selected.id)" tooltip="AFP" ng-model="retirementId" theme="bootstrap"  title="AFP's" >
                <ui-select-match ><small> {{$select.selected.name}}</small></ui-select-match>
                <ui-select-choices repeat="retirements in retirements | filter: $select.search">
                    <div  ng-bind-html="retirements.name | highlight: $select.search"></div>
                    <small>

                        <!-- <h4 ng-bind-html="''+roles.name | highlight: $select.search"></h4> -->
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Salud:</strong>
            </label>
            <div class="col-sm-8">
              <select ng-change="staffCreate.typeHealthSystem(healthSystemId)" class="form-control" ng-model="healthSystemId" tooltip="Sistema de Salud">
                <option value="1" selected="selected">FONASA</option>
                <option value="2">ISAPRE</option>
              </select> 
            </div>
          </div>
        <div ng-show="typeHealthSystemShow"> 
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Isapre:</strong>
            </label>
            <div class="col-sm-8">
              <ui-select ng-change="staffCreate.setIsapre($select.selected.id)" tooltip="Isapre" ng-model="isapreId" theme="bootstrap">
                <ui-select-match ><small> {{$select.selected.name}}</small></ui-select-match>
                <ui-select-choices repeat="isapres in isapres | filter: $select.search">
                    <div  ng-bind-html="isapres.name | highlight: $select.search"></div>
                    <small>
                        <!-- <h4 ng-bind-html="''+roles.rolename | highlight: $select.search"></h4> -->
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Porcentaje Plan:</strong>
            </label>
            <div class="col-sm-2">
              <input type="numer" class="form-control uppercase" name="percentagePlan" min="0" ng-model="percentagePlan"> 
            </div>
          </div>
        </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Caja Compensación:</strong>
            </label>
            <div class="col-sm-8 uppercase">
              <ui-select ng-change="staffCreate.setCompensationBox($select.selected.id)" tooltip="Caja de Compensación" ng-model="compensationBoxId" theme="bootstrap">
                <ui-select-match ><small> {{$select.selected.name}}</small></ui-select-match>
                <ui-select-choices repeat="compensationBox in compensationBox | filter: $select.search">
                    <div  ng-bind-html="compensationBox.name | highlight: $select.search"></div>
                    <small>

                        <!-- <h4 ng-bind-html="''+compensationBox.name | highlight: $select.search"></h4> -->
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Sueldo Base:</strong>
            </label>
            <div class="col-sm-8">
              <input type="number" class="form-control uppercase" name="baseSalary" ng-model="baseSalary"> 
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Banco:</strong>
            </label>
            <div class="col-sm-8 uppercase">
              <ui-select ng-change="staffCreate.setBank($select.selected.bankId)" tooltip="Banco" ng-model="bankId" theme="bootstrap">
                <ui-select-match ><small> {{$select.selected.description}}</small></ui-select-match>
                <ui-select-choices repeat="banks in banks | filter: $select.search">
                    <div  ng-bind-html="banks.description | highlight: $select.search"></div>
                    <small>

                        <!-- <h4 ng-bind-html="''+banks.description | highlight: $select.search"></h4> -->
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>N° Cuenta:</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" name="accountNumber" ng-model="accountNumber"> 
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Tipo Cuenta:</strong>
            </label>
            <div class="col-sm-8 uppercase">
              <select class="form-control uppercase" ng-model="bankAccountType">
                <option value="Vista/Cuenta Rut">Vista/Cuenta Rut</option>
                <option value="Cuenta Ahorro">Cuenta Ahorro</option>
                <option value="Cuenta Corriente">Cuenta Corriente</option>
              </select> 
            </div>
          </div>


        </div>
      </div>
<!-- personal -->
      <div class="panel">
        <div class="panel-heading bg-primary">
          <strong>Información personal</strong>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Estado Civil:</strong>
            </label>
            <div class="col-sm-8">
              <select class="form-control uppercase" ng-model="maritalStatus">
                <option value="Soltero(a)">Soltero(a)</option>
                <option value="Casado(a)">Casado(a)</option>
                <option value="Separado(a)">Separado(a)</option>
                <option value="Viudo(a)">Viudo(a)</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Hijos(as):</strong>
            </label>
            <div class="col-sm-3">
              <select class="form-control" ng-model="numberOfChildren">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select> 
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Unidad:</strong>
            </label>
            <div class="col-sm-4 uppercase">
              <ui-select ng-change="staffCreate.setCenter($select.selected.warehouseId)" tooltip="Centro costo" ng-model="warehouseId" theme="bootstrap">
                <ui-select-match ><small> {{$select.selected.warehouseName}}</small></ui-select-match>
                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                    <div  ng-bind-html="warehouses.warehouseName | highlight: $select.search"></div>
                    <small>

                        <h4 ng-bind-html="''+warehouses.warehouseCode | highlight: $select.search"></h4>
                    </small>
                </ui-select-choices>
            </ui-select>
            </div>
          </div>


          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Tallas:</strong>
            </label>
            <div class="col-sm-2">
                <span class="label bg-accent" style="font-size: 10px;">Polera</span> 
              <select class="form-control" style="width :65px"  ng-model="shirtSize" >
                <option value="S">S</option>
                <option value="M" selected="selected">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
              </select> 
            </div>
            <div class="col-sm-1">
                <span class="label bg-accent" style="font-size: 10px;">Zapatos</span> 
              <select class="form-control" style="width :65px"  ng-model="shoeSize">
                <option value="33">35</option>
                <option value="34">36</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
              </select>  
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Ultimo empleador:</strong>
            </label>
            <div class="col-sm-6">
              <input type="text" class="form-control uppercase" name="lastEmployer" ng-model="lastEmployer"> 
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Escolaridad:</strong>
            </label>
            <div class="col-sm-9">
               <select class="form-control uppercase" ng-model="scholarShip" >
                <option value="Educación Básica">Educación Básica</option>
                <option value="Educación Básica Incompleto">Educación Básica Incompleto</option>
                <option value="Educación Media">Educación Media</option>
                <option value="Educación Media Incompleto">Educación Media Incompleto</option>
                <option value="Educación Superior">Educación Superior</option>
                <option value="Educación Superior Incompleto">Educación Superior Incompleto</option>
                <option value="Postgrado">Postgrado</option>
              </select> 
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Profesión:</strong>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control uppercase" name="profession" ng-model="profession" aria-invalid="false">
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</form>


<style>

.uppercase { text-transform: uppercase; }
.critical { color: black; background-color: red !important; }

.container {
  width:200px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
  border:1px red solid;
}
.button-1{
  float-left;
}
.button-2{
  float-right;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 120px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 5px;
  transition: background-color .3s;
  z-index: 1000;
</style>
