<style>
	.cells {display: table-cell; float: none; vertical-align: middle; }
	.content-cell {height: 100%; width: 100%; }
	.simple-column {width: 1%; }
	.double-column {width: 2%; }
	.triple-column {width: 3%; }
	.quadruple-column {width: 4%; }
	.matrix .card {width: auto;}
	.specials-asigns {max-height: 200px;overflow: auto;}
	small.badge { margin-top: 5px; }
	.panel.border-radius { border-radius: 8px; }
</style>

<h4>{{ 'OBLIGATORY_SUBJECTS' | translate }}</h4>

<div class="row">
	<div class="col-xs-12">

		<div class="matrix">

			<div class="btn-group btn-group-justified">
				<div class="cells text-center simple-column" ng-repeat="semestre in Ctrl.academicPeriods">
					<div> <p class="text-center m-v-xs"><strong>{{semestre.periodName}}</strong></p> </div>
				</div>
			</div>

			<div ng-repeat="row in Ctrl.Rows">
				<div class="btn-group btn-group-justified">

					<div class="cells text-center" ng-repeat="semestre in Ctrl.academicPeriods" 
						ng-if="Ctrl.Asignatures[row][semestre.periodId].visible"
						ng-style="{width: Ctrl.Asignatures[row][semestre.periodId].periodsId.length + '%'}">
						
						<div class="content-cell" ng-if="Ctrl.Asignatures[row][semestre.periodId] !== undefined && Ctrl.Asignatures[row][semestre.periodId].periodsId[0] == semestre.periodId && Ctrl.Asignatures[row][semestre.periodId].courseId !== undefined">
							
							<div class="panel border-radius m-sm p-v-xs" tooltip-placement="top" 
								tooltip="{{Ctrl.Asignatures[row][semestre.periodId].courseCode}} - NRC: {{Ctrl.Asignatures[row][semestre.periodId].NRC}} - {{Ctrl.Asignatures[row][semestre.periodId].courseName}}"
								ng-class="Ctrl.getColorBox(Ctrl.Asignatures[row][semestre.periodId], competenciaSelected)">

								<p class="font-bold m-v-xs text-xxs">
									{{Ctrl.Asignatures[row][semestre.periodId].courseCode}} 
									<span ng-if="Ctrl.Asignatures[row][semestre.periodId].NRC">- NRC: {{Ctrl.Asignatures[row][semestre.periodId].NRC}}</span> <br> 
									{{Ctrl.Asignatures[row][semestre.periodId].courseName}} <br>
									<small ng-if="Ctrl.Asignatures[row][semestre.periodId].credits" class="badge bg-accent text-xxs">
										{{ 'COURSE_CREDITS' | translate }}: {{Ctrl.Asignatures[row][semestre.periodId].credits || '0'}}
									</small>
								</p> 

							</div>

						</div>
						
					</div>

				</div>
			</div>

		</div>

	</div>
</div>

<div class="row" ng-if="Ctrl.specials.length > 0">

	<div class="col-xs-12">
		<h4>{{ 'SPECIALITY_SUBJECTS' | translate }}</h4>
	</div>

	<div class="col-xs-12">

		<div class="specials-asigns">
			<div class="panel" ng-repeat="special in Ctrl.specials">
				<div class="panel-heading bg-warning">
					<a class="text-black" ng-click="Ctrl.onClickSpecials(special)">
						{{special.specialtyCode}}
						<span ng-show="special.specialtyCode && special.specialtyName"> - </span>
						{{special.specialtyName}}
					</a>
					<label class="md-switch pull-right text-black">
						<input type="checkbox" ng-model="special.checked" ng-change="Ctrl.showInPensum(special)">
						<i class="green"></i>{{ 'SEE_ON_PLAN' | translate }}
					</label>
				</div>
			</div>
		</div>
		
	</div>
</div>


<div class="row" ng-if="Ctrl.blocks.length > 0">

	<div class="col-xs-12">
		<h4>{{ 'BLOCK_SUBJECTS' | translate }}</h4>
	</div>

	<div class="col-xs-12">

		<div class="panel" ng-repeat="block in Ctrl.blocks">
			<div class="panel-heading bg-info">
				<a ng-click="Ctrl.onClickBlocks(block)">
					{{block.blockCode}}
					<span ng-show="block.blockCode && block.blockName"> - </span>
					{{block.blockName}}
				</a>
			</div>
		</div>
		
	</div>
</div>