
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            FACTURAS PROVEEDORES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado facturas proveedor <span> <a ng-click="invoicesProviderList.loadInvoices()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "facturas-proveedor-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.invoicesProviderCreate">
            <i class="mdi-plus"></i>
            Crear Factura
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Facturas proveedor" ng-model="invoicesProviderList.searchText" ng-change="invoicesProviderList.searchData()" ng-model-options="invoicesProviderList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
