 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Visualizar pago sucursal N°: <strong>{{paymentId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">
      <a tooltip="Imprimir" ng-click="officePaymentsPrint.print()"> <span style="font-size: 16px;" class="label bg-info"><i class="mdi-cloud-print-outline"></i></span></a>
      <span ng-hide="officePayment[0].statusName == 'Validada'">

        <a has-permission="pago-oficinas-validate" ng-show= "officePayment[0].statusName == 'Pendiente ...'" tooltip="Validar" ng-click="officePaymentsPrint.validatePayment(5)"> <span style="font-size: 16px;" class="label bg-secondary">Mixto</span></a>

          <a has-permission="pago-oficinas-validate" ng-show= "officePayment[0].statusName == 'Pendiente ...'" tooltip="Rechazar"  ng-click="officePaymentsPrint.validatePayment(3)"> <span style="font-size: 16px;" class="label bg-danger">Rechazar</span></a>

        <a has-permission="pago-oficinas-validate" ng-show= "officePayment[0].statusName == 'Pendiente ...'" tooltip="Validar"  ng-click="officePaymentsPrint.validatePayment(2)"> <span style="font-size: 16px;" class="label bg-warning">Validar</span></a>
      </span>

      <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.officePayments">
        <i class="mdi-window-close"></i>Cerrar
       </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          <!-- <span class="m-r-md"><strong>ususario: </strong> <span class="uppercase">{{clientName}}</span> -->
          
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{officePayment[0].date | date:'dd/MM/yy'}}</span></span>
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(officePayment[0].statusName == 'Rechazada')?'label bg-danger':'label bg-warning'}}">{{officePayment[0].statusName}}</span></span>
      </div>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Orden de compra:</strong> <span>{{officePayment[0].purchaseOrder}}</span></span>
      </div> -->
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span class="label bg-secundary">{{officePayment[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{officePayment[0].comment}}</em></span>
      </div>
      
    </div>
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr class="tablePrint">
                <th class="tablePrint">Id</th>
                <th class="tablePrint">Documento</th>
                <th class="tablePrint">Tipo</th>
                <th class="tablePrint">Total</th>
                <th class="tablePrint">Fecha emisión</th>
                <th class="tablePrint">Forma pago</th> 
                <!-- <th class="tablePrint" style="font-size: 10px; ">Pendiente antes de confirmar pago</th> -->
                
                <th class="tablePrint">Pago</th>
              </tr>
              <tr ng-repeat="items in officePaymentsItems" class="tablePrint">
                <td class="tablePrint">{{$index+1}}</td>
                <td class="tablePrint" class="uppercase"><a ng-click="officePaymentsPrint.viewDocument(items)">{{items.documentId}}</a></td>
                <td class="tablePrint"><span class="badge bg-accent">{{items.type}}</span></td>
                <td class="tablePrint">$<strong>{{items.total | pesosChilenos}}</strong></td>
                <td class="tablePrint">{{items.date}}</td> 
                <td class="tablePrint">{{items.paymentForm}}</td>
                <!-- <td class="tablePrint"><span class="label bg-secundary">${{items.pending}}</span></td>  -->
                
                <td class="tablePrint">$<strong>{{items.pay | pesosChilenos}}</strong></td>
                <td disable-all="officePayment[0].statusName != 'Pendiente ...'" class="tablePrint text-center">
                  
                    <button ng-show="items.isClick == 0" type="submit" onclick="this.disabled=true;" ng-disabled="items.pending == 0" ng-click="officePaymentsPrint.documentValidate(items)" class="btn btn-xs btn-warning dropdown-toggle" dropdown-toggle>
                    <i class="mdi-check"></i> Confirmar pago
                    </button>
                </td>
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-7 ">
        <div class="panel">
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                      <!-- <th>Neto</th>
                      <th>Iva</th>
                      <th>% Dcto.</th> -->
                      <th class="pull-right">Total</th>
                    </tr>
                    <tr>
                      <!-- <td><h1><strong>$ {{officePayment[0].netPrice}}</strong></h1></td>
                      <td><h1><strong>$ {{officePayment[0].priceVAT}}</strong></h1></td>
                      <td><h1><strong>{{officePayment[0].discount}}</strong></h1></td> -->
                      <td class="pull-right"><h1><strong>$ {{officePayment[0].total | pesosChilenos}}</strong></h1></td>
                    </tr>
              </table>     
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{officePayment[0].userCreation}}</span></span></span>
      </div>
      <p></p>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-warning">{{officePayment[0].userUpdate}}</span></span></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
    </div>
</div>

<style>
 .tablePrint {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}    


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
