 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="saleProducts.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Reporte venta <strong> Items</strong></h3>
</div>
<div class="modal-body">

<iframe title="Jormat-DashBoard" width="878" height="550.5" src="https://app.powerbi.com/view?r=eyJrIjoiODg5NjczNGUtM2IyNy00NGExLTg4ZDQtYjFmYjY4ZDFmMjJjIiwidCI6IjZjYjJkM2Q3LTlhZjEtNDFkMS04MTM4LTI3MTFiOGFmYjAwMyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple ng-disabled = "true" class="md-btn md-raised bg-accent"  ng-click="providersView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="saleProducts.cancel()">
      <i class="mdi-window-close"></i>Salir
    </button>
  </div> 
</div>