 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dailySales.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3>Venta diaria por sucursal</h3>
</div>
<div class="panel">
  <iframe title="Jormat ventas" width="100%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiOGQwN2Y2YjAtMDJhZS00NmE2LTliZjUtNDZiMGE4YjJhYTc4IiwidCI6IjZjYjJkM2Q3LTlhZjEtNDFkMS04MTM4LTI3MTFiOGFmYjAwMyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
<p> <em> * Los gráficos se actualizan cada 45 min., para ver información en tiempo real  <a href="http://jormat-evolution.importadorajormat.cl/app/reportes/ventas-sucursales" class="label bg-warning">Pinche aquí</a></em></p>

