
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            APLICACIONES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Aplicaciones
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "categorias-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="applicationsList.applicationsCreate()">
            <i class="mdi-plus"></i>
            Nueva Aplicación
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Aplicaciones" ng-model="applicationsList.searchText" ng-change="applicationsList.searchData()" ng-model-options="applicationsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="applicationsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

 .uppercase { text-transform: uppercase; }
</style>
