<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <!-- <li ng-hide="row.entity.estado == 'Iniciado' ">
                <a ng-click="grid.appScope.categoriesList.viewCategories(row.entity)"><span>Ver</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li> -->

            <li>
                <a ng-click="grid.appScope.applicationsList.applicationsUpdate(row.entity)"><span>Visualizar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <!-- <li has-permission= "categorias-edit">
                <a ng-click="grid.appScope.categoriesList.deleteCategories(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
            <!-- <li>
                <a ng-click="grid.appScope.stage.ejecutarSimulacion(2,row.entity.id_escenario);"><span>Cardex</span></a>
            </li> -->
        </ul>

    </div>

</div>
