<style>
    .modal-header, h3, .close {
        background-color: #0DA937;
        color:white !important;
        text-align: center;
        font-size: 20px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }

    .uppercase { text-transform: uppercase; }
    </style>
  
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="warehouseDelivUpdate.cancel()">
          <span aria-hidden="true">&times;</span>
  </button>
      <h3>Comentario Entrega</h3>
  </div>
  <div class="modal-body">
        <div class="panel-body">
            <div class="col-sm-15">
                <span class="m-r-md"><strong>Tipo: </strong><span class="label bg-warning">{{item.typeName}}</span></span>
                <span class="m-r-md"><strong>N° Documento: </strong><span class="label bg-accent">{{item.documentId}}</span></span>
            </div>
            <div class="col-sm-15 m-t-sm">
                <span class="m-r-md "><strong>Cliente: </strong><span class="uppercase">{{item.clientName}}</span>  </span>
            </div>
            
            <div class="col-sm-15 m-t-sm">
                <span class="m-r-md"><strong>Responsable: </strong> <span>{{item.usName}}</span></span>
            </div>
            <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Fecha Entrega: </strong> <span>{{item.dateOut}}</span></span>
            </div>
            <!-- <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Detalle: </strong> <span class="font-italic">{{item.commentaryOut}}</span></span>
            </div> -->
  
            <div class="col-sm-15 m-t-sm">
                <span class="m-r-md"><strong>Detalle: </strong></span>
                <form name="formProviders" action="" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <text-angular ng-model="item.commentaryOut" ta-toolbar="Comentario" ta-disabled="true"></text-angular>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
      </div>  
  </div>
  <div class="modal-footer">
    <div class="button-group">
      <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="warehouseDelivUpdate.cancel()">
        <i class="mdi-window-close"></i>Cerrar
      </button>
    </div> 
  </div>

