 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Listado facturas Cliente N°: <strong>{{clientId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">
      <a tooltip="Imprimir" ng-click="invoicesByClient.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i> Imprimir</span></a>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="invoicesByClient.cancel()">
      <i class="mdi-window-close"></i>Cerrar Ventana
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{dataClient[0].clientName}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{dataClient[0].rut}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha Inicio: </strong> <span>{{startDate | date:'dd/MM/yyyy'}}</span></span>
          <span class="m-r-md"><strong>Fecha Fin: </strong> <span>{{endDate | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th></th>
                <th>N° Factura</th>
                <th>Origen</th>
                <th>Orden</th>
                <th>Fecha</th>
                <th>Estado</th> 
                <th>Total</th>
              </tr>
              <tr ng-repeat="invoices in dataClient">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{invoices.invoiceId}}</td>
                <td ><span class="uppercase">{{invoices.origin}}</span></td>
                <td>{{invoices.purchaseOrder}}</td>
                <td align="center">{{invoices.date}}</td> 
                <td align="center"><span class="badge bg-{{invoices.style}}">{{invoices.statusName}}</span></td>
                <td><strong>{{invoices.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-7 ">
     
            <div>
                <table style="width:100%">
                    <tr>
                      <th>Total</th>
                    </tr>
                    <tr>
                      <td ><h3><strong>${{total[0].total}}</strong></h3></td>
                    </tr>
              </table>     
        </div>
 
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Impreso por:</strong> <span> <span class="label bg-info">{{nameUser}}</span></span></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>Datos para realizar pagos a través de transferencia o deposito.</strong>
            
        <div class="col-sm-15">
          <span class="m-r-md"><strong>Nombre Empresa: </strong> <span>Importadora y repuestos Jormat ltda.</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong> Banco: </strong> <span >Banco Estado</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo cuenta: </strong> <span>Cuenta corriente</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>N° Cuenta:</strong> <span>55100053801</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Email:</strong> finanzas@importadorajormat.cl</span>
      </div>
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
