<script id="customSlideBox.html" type="text/ng-template">

<div class="cal-slide-box" uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed" ng-controller="confirmController">
  <div class="cal-slide-content cal-event-list">

    <ul class="unstyled list-unstyled">

      <li
        ng-repeat="event in vm.events | orderBy:'startsAt' track by event.calendarEventId"
        ng-class="event.cssClass"
        ng-mousedown="$event.stopPropagation()"
        mwl-draggable="event.draggable === true"
        drop-data="{event: event}"
        auto-scroll="vm.draggableAutoScroll">
        <i ng-if="event.status == 1" class="fa fa-check"></i>

        <i ng-if="event.status == 0" class="fa fa-hourglass-half" ></i>
        <span class="pull-left"></span>
  
        <a
          href="javascript:;"
          class="event-item"
          ng-click="vm.onEventClick({calendarEvent: event})">
          <span ng-bind-html="isMonthView ? vm.calendarEventTitle.monthView(event) : vm.calendarEventTitle.yearView(event) | calendarTrustAsHtml"></span>
        </a>

      </li>

    </ul>

  </div>
</div>

</script>