<style type="text/css">
/* custom month cell style start */
.custom-day-no {
  margin-top: 4px !important;
  margin-left: 4px !important;
  margin-right: 0px !important;
  margin-bottom: 10px;
  font-size: 15px !important;
}

.custom-list-ul {
  padding-top: 5px;
  padding-left: 5px;
  font-size: 13px;
}

.custom-list-ul li {
  list-style-type: none;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.custom-event-count {
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: blue;
}

.custom-event-count:hover {
  text-decoration: underline;
}
/* custom month cell style end */  
</style>

<script id="customMonthCell.html" type="text/ng-template">
  <div class="cal-month-day {{day.cssClass}}" ng-click="$event.stopPropagation();" 
    ng-class="{
      'cal-day-outmonth': !day.inMonth,
      'cal-day-outday':!day.badgeTotal,
      'cal-day-today': day.isToday}">

    <span
    class="custom-day-no pull-left"
    data-cal-date
    ng-click="vm.calendarCtrl.dateClicked(day.date)"
    ng-bind="day.label">
    </span>   

    <div class="clearfix"></div>

      <ul class="custom-list-ul">
        <li 
        ng-repeat="event in day.events | limitTo:2"
        ng-style="{backgroundColor: event.color}"
        tooltip-append-to-body="true"
        tooltip="{{ event.title }}">        
          <i ng-if="event.status == 1" class="fa fa-check"></i>
          <i ng-if="event.status == 0" class="fa fa-hourglass-half"></i>
          <span
            ng-click="vm.onEventClick({calendarEvent: event})">
            <span ng-bind-html="isMonthView ? vm.calendarEventTitle.monthView(event) : vm.calendarEventTitle.yearView(event) | calendarTrustAsHtml"></span>              
          </span>          
        </li>       
      </ul>

      <small
        class="custom-event-count"
        ng-show="day.badgeTotal > 0"
        ng-if="day.events.length > 0"
        ng-click="vm.dayClicked(day, false, $event)">{{ day.events.length }} mas
      </small>

  </div>

  <div class="cal-day-tick" ng-show="dayIndex === vm.openDayIndex && (vm.cellAutoOpenDisabled || vm.view[vm.openDayIndex].events.length > 0) && !vm.slideBoxDisabled">
    <i class="glyphicon glyphicon-remove"></i>
  </div>

</script>