<style>
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .column {
        float: right;
    }

    /* Puedes ajustar el estilo de las columnas según tus preferencias */
    .column {
        box-sizing: border-box;
    }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.warehouseDeliveries">
            <i class="mdi-home"></i>
            ENTREGAS BODEGAS
        </a>
        
    </li>
    
</ul>
    

<div class="main-title">
    <div class="title">
        <h1>
            Listado de Entregas Bodega <a ng-click="warehouseDeliveriesList.loadDocument()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a>
        </h1>
        <div class="pull-right">
        
            <div class="column"><strong class="badge bg-warning"> Incompleta</strong></div>
            <div class="column"><strong class="badge bg-danger"> Pendiente</strong></div>
            <div class="column"><strong class="badge bg-primary"> Entregado</strong></div> 
            <div class="column"><strong style="font-size:11px;"><i class="mdi-subdirectory-arrow"></i>SIMBOLOGIA :&nbsp</strong></div>        
        </div>
    </div>
</div>
<div class="panel-heading">
	<input id="filter" type="text" class="form-control" placeholder="Buscar Entregas bodega" ng-model="warehouseDeliveriesList.searchText" ng-change="warehouseDeliveriesList.searchData()" ng-model-options="warehouseDeliveriesList.searchOptions"/>
</div>
<div class="panel">
    <div>
		<div style="height: calc(108vh - 200px);" class="hover-links" ui-grid="warehouseDeliveriesGrid" ui-grid-exporter ui-grid-pinning ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}
#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.uppercase { text-transform: uppercase; }
.yellow { color: black; background-color: yellow !important; }
</style>

