 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="paymentsBallotDelete.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Eliminar Pago Boleta</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente eliminar este pago/abono?</b></br></br>
        <h4 align="center">&nbsp;<span class="label bg-danger">   Id : {{paymentsId}}</span> <span class="label bg-secundary">   Valor : {{total}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="paymentsBallotDelete.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="paymentsBallotDelete.deletePayment()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>