
<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}
.espacio{
padding: 15px;

}

.uppercase { text-transform: uppercase; }
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.voidDocuments">
            <i class="mdi-home"></i>
            ANULAR DOCUMENTO
        </a>
    </li>
    <li>Anular documento de venta (NN / Boletas)</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Anular documento cliente :  <strong class="uppercase">  {{clientName}} <span>[{{clientId}}]</span> 
                 <span><a ng-click="voidDocument.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.voidDocuments">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button type="submit" onclick="this.disabled=true;" has-permission="anulacion-documentos-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formNote.$invalid || total == '' || !parseInt(total) || total == 0  " ng-click="voidDocument.voidDocumentCreate()">
            <i class="mdi-content-paste"></i>
            Anular documento
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos documentos a anular
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del documento" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formNote" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut:</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-8">
                            <!-- <input type="text" ng-model="dataInvoice.clientId" class="form-control" placeholder="Rut Cliente" required > -->
                            <ui-select ng-change= "voidDocument.setName(selectedRut)" ng-model="selectedRut" theme="bootstrap"  title="clients" ng-required="true">
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="voidDocument.searchClient($select.search)" refresh-delay="0">
                                <h3 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h3>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Tipo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="type" ng-required="true" >
                                  <option value="4" selected="selected">NN</option>
                                  <option value="6">Boleta</option>
                                </select>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Folio</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="folio" class="form-control" placeholder="Folio N.C" required>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="documentSaleId" class="form-control" placeholder="N° Documento" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Motivo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="reason" ng-required="true" >
                                  <option value="1" selected="selected">Devolución</option>
                                  <option value="2">Falla</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="voidDocument.setWarehouseId($select.selected.warehouseId);voidDocument.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="panelInvoice">

<div class="row gutter-10">
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td >{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}</td>
                            <td><input class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" min="{{items.minPrice}}" ng-model="items.price" type="number" style="width :85px"></td>
                            <td><input class="form-control input-sm" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>
                            <td><input class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" min="0" max= "{{items.maxDiscount}}" ng-model="items.disscount" type="number" style="width :60px"></td>
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | number:0 }}</strong></td>

                            <td align="center"><a ng-click="voidDocument.removeItems($index)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          <!-- {{totalItem}} -->
                        </table>
                        <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
            <div>
                <div style="height: 314px;width: 520px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ voidDocument.getNet() | number:0  }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input type="number" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ voidDocument.getNet() - (discount*NET/100) | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | number:0 }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | number:0 }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Obs:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación anulacion de documentos" required>
                        </textarea>
                    </div>
                </div>

        </div>
        </div>
    </div>
    
  </div>
</div>
