<accordion close-others="{{ !Ctrl.expandPanels }}">
	<div class="page-break"></div>
	<accordion-group is-open="Ctrl.state[key]" class="m-t-sm {{occur.label}}" ng-repeat="(key, occur) in Ctrl.occurrence.data | orderBy: 'orderBy'" ng-if="occur.hasData == 1 || occur.hasData === undefined" ng-init="Ctrl.setState($index)">
		
		<accordion-heading>
			<strong>{{ occur.label | translate }}</strong>
			<i class="fa fa-angle-down pull-right" ng-class="{'fa-angle-up': Ctrl.state[key], 'fa-angle-down': !Ctrl.state[key]}"></i>
		</accordion-heading>

		<div class="row" ng-show="(!occur.isDisabled && occur.typefield === 'mainAccordion') || Ctrl.alwaysEdit">
			<div class="col-xs-12">
				<a ng-click="Ctrl.editSection(occur)" class="btn btn-accent pull-right m-b-sm">
					<i class="mdi-pencil"></i> {{ 'IMPROVE_EDIT' | translate }}
				</a>
			</div>
		</div>

		<div ng-repeat="(fieldKey, fieldOccur) in occur.data | orderBy: 'orderBy'">

			<input-form-view
				input="fieldOccur"
				options="{container: occur.typefield}"
				ng-if="!(fieldOccur.typefield == 'occurrences' || fieldOccur.typefield == 'dynamicOccurrences') && Ctrl.state[key]"> 
			</input-form-view>

			<panel-view 
				panel="fieldOccur" 
				ng-if="fieldOccur.typefield == 'panel' && Ctrl.state[key]"> 
			</panel-view>
			
			<occurrence-view 
				occurrence="fieldOccur"
				expand-panels="Ctrl.expandPanels"
				ng-if="(fieldOccur.typefield == 'occurrences' || fieldOccur.typefield == 'dynamicOccurrences') && (fieldOccur.hasData == 1 || fieldOccur.hasData === undefined)"> 
			</occurrence-view>

			<changes-history 
				history="fieldOccur"
				ng-if="fieldOccur.typefield == 'history'"> 
			</changes-history>

			<u-study-plan 
				matrix="fieldOccur" 
				ng-if="fieldOccur.typefield == 'curriculum'"> 
			</u-study-plan>

			<hr ng-if="Ctrl.showDivider(fieldOccur.typefield, $last)" />
		</div>

	</accordion-group>
</accordion>