<style>.badge { margin-right: 3px; }</style>
 <h4>
 	{{item.courseCode || item.ds_code}} 
 	<span ng-show="(item.courseCode || item.ds_code) && (item.courseName || item.ds_name)">-</span>
 	{{item.courseName || item.ds_name}}
 </h4>
<br>
<p>
	<span ng-if="item.teacherName" class="font-bold">{{'IMPROVE_PROFESSOR' | translate}}:</span> {{item.teacherName}} <br>
	<span ng-if="item.sectionName" class="font-bold">{{ 'SECTION_NAME' | translate }}:</span> {{item.sectionName}}
	<span ng-if="item.sectionName && item.sectionNumber"> / </span>
	<span ng-if="item.sectionNumber" class="font-bold">{{'NRC' | translate}}:</span> {{item.sectionNumber}}</br>
	<span ng-if="item.periodName" class="font-bold">{{'IMPROVE_PERIOD' | translate}}:</span> {{item.periodName}}</br>
	<span ng-if="item.activityName" class="font-bold">{{'IMPROVE_ACTIVITY' | translate}}:</span> {{item.activityName}} <br>
</p>

<small ng-if="item.rolLabels.length > 0" class="badge bg-info"
	tooltip="{{ Ctrl.rolLabel[$index].labels }}" tooltip-placement="top" tooltip-append-to-body="true"> 
	<span>{{ Ctrl.rolLabel[$index].codes }}</span> 
</small>
<small ng-if="item.statusName" class="badge bg-warning"> {{item.statusName}} </small>
<small ng-if="item.inTracking" class="badge bg-warning"><span class="mdi-eye"></span> {{'IMPROVE_SECTION_TRACKING' | translate}}</small>
<small ng-if="item.isPending" class="badge bg-info"><span class="mdi-pause-circle"></span> {{'IMPROVE_SECTION_PENDING' | translate}}</small>
<small ng-if="item.isCaptured" class="badge bg-warning"><span class="mdi-content-duplicate"></span> {{'IMPROVE_SECTION_CAPTURED' | translate}}</small>
<small ng-if="item.inProgress" class="badge bg-success"><span class="mdi-fast-forward"></span> {{'IMPROVE_SECTION_PROGRESS' | translate}}</small>
<small ng-if="item.isPublished" class="badge bg-info"><span class="mdi-earth"></span> {{'IMPROVE_SECTION_PUBLISHED' | translate}}</small>
<small ng-if="item.inWaiting" class="badge bg-warning"><span class="mdi-clock"></span> {{'IMPROVE_SECTION_WAITING' | translate}}</small>
<small ng-if="item.isOpen" class="badge bg-success"><span class="mdi-book-open-page-variant"></span> {{ 'IMPROVE_SECTION_OPEN' | translate }}</small>
<small ng-if="item.isApproved" class="badge bg-primary"><i class="mdi-check-all"></i> {{ 'IMPROVE_SECTION_APPROVED' | translate }}</small>
<small ng-if="item.evaluationAssigned == 1" class="badge bg-success"><span class="mdi-checkbox-marked-circle-outline"></span> {{'IMPROVE_SECTION_STRUCTURE_IN' | translate}}</small>
<small ng-if="item.evaluationAssigned == 0" class="badge bg-danger"><span class="mdi-close-circle"></span> {{'IMPROVE_SECTION_STRUCTURE_OUT' | translate}}</small>
