<h6 ng-if="item.cod">{{item.cod}}</h6>
<h4 ng-if="item.title">{{item.title}}</h4>
<h5 ng-if="item.subTitle">{{item.subTitle}}</h5>
<p ng-if="item.description">{{item.description}}</p>

<dl ng-if="item.descriptionList" ng-repeat="desc in item.descriptionList">
	<dt>{{desc.label}}</dt>
	<dd>{{desc.value}}</dd>
</dl>

<ol ng-if="item.list">
	<li ng-repeat="list in item.list">{{list}}</li>
</ol>

<div ng-if="item.badges" style="margin-top: 10px">
	<span ng-repeat="badge in item.badges" class="badge" ng-class="badge.bg">
		<i ng-class="badge.icon"></i>{{badge.label}}
	</span>
</div>

<small ng-if="item.rolLabels.length > 0" class="badge bg-info"
	tooltip="{{ Ctrl.rolLabel[$index].labels }}" tooltip-placement="top" tooltip-append-to-body="true"> 
	<span>{{ Ctrl.rolLabel[$index].codes }}</span> 
</small>