 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="categoriesDelete.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Eliminar Categoria</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente eliminar Categoria?</b> <span class="label bg-danger">   ID : {{categoryId}}</span></br></br>
        <h4 align="center"> Nombre: <span class="label bg-secondary">{{categoryName}}</span>  Código:<span class="label bg-warning">{{categoryCode}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="categoriesDelete.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="categoriesDelete.deleteCategories()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>