
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            CATALOGOS
        </a>
    </li>
   <!--  <li> <span class="badge bg-warning"> <i class="mdi-flag-outline-variant"> </i> Módulo en construcción</span></li> -->
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Catálogos de Repuestos
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="Imprimir" ng-click="catalogs.print()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i> Imprimir</span></a>
        <button md-ink-ripple class="md-btn md-raised bg-accent" ng-click="catalogs.loadItems();catalogs.loadCatalogue()" ng-disabled="is_disabled">
            <i class="mdi-book-open-page-variant"></i> Generar Catalogo
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success"><strong>Filtros:</strong><span
                                ng-repeat="aplications in aplications"
                                class="label bg-secondary uppercase"
                            >
                                {{aplications.applicationName}}</span>
                                <span
                                ng-repeat="categoriesItem in categoriesSelected"
                                class="label bg-secondary uppercase"
                            >
                                {{categoriesItem.categoryName}}</span>
                                <span
                                ng-repeat="providersItem in providersSelected"
                                class="label bg-secondary uppercase"
                            >
                                {{providersItem.providerName}}</span>

                                <span
                                class="label bg-secondary uppercase"
                            >
                                {{brand}}</span>
                                <span
                                class="label bg-secondary uppercase"
                            >
                                {{description}}</span>
                                 
        <span class="pull-right cursor-pointer">
            <a ng-click="catalogs.showFilters('up')"><i ng-show="arrow" class="mdi-chevron-up text-2x" tooltip="Ocultar Filtros"></i></a>
            <a ng-click="catalogs.showFilters('down')"><i ng-hide="arrow" class="mdi-chevron-down text-2x" tooltip="Mostrar Filtros"></i></a>
        </span>
    </div>
    <div ng-show="arrow" class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descripción</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-terminal"></i></span>
                                        <input type="text" ng-model="description" class="form-control" ng-click="catalogs.changeButtonDisabled()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Aplicaciones</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select multiple ng-model="applicationsValue.selected" theme="bootstrap"  title="Seleccione aplicaciones" ng-required="true" ng-change="catalogs.loadAplications(applicationsValue.selected)">
                                <ui-select-match placeholder="Seleccione Aplicación..." class="uppercase">{{$item.applicationName}}</ui-select-match>
                                <ui-select-choices repeat="applications in applications | filter: $select.search">
                                    <div ng-bind-html="applications.applicationName | highlight: $select.search" class="uppercase"></div>
                                    <small>
                                        <h4 ng-bind-html="''+applications.applicationCode | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Marca</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-shield"></i></span>
                                        <input type="text" ng-model="brand" class="form-control" ng-click="catalogs.changeButtonDisabled()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Categorias</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select multiple ng-model="categoriesItem.selected" theme="bootstrap"  title="Seleccione categoria " ng-required="true" ng-change="catalogs.loadCategories(categoriesItem.selected)">
                                <ui-select-match placeholder="Seleccione categorias...">{{$item.categoryName}}</ui-select-match>
                                <ui-select-choices repeat="categories in categories | filter: $select.search">
                                    <div ng-bind-html="categories.categoryName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Oferta</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-certificate"></i></span>
                                        <select class="form-control" ng-model="offer" ng-change="catalogs.offerfunction()">
                                            <option value="0" selected="selected">NO</option>
                                            <option value="1">SI</option>
                                          </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Proveedores</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select multiple ng-model="providersItem.selected" theme="bootstrap"  title="Seleccione proveedores " ng-required="true" ng-change="catalogs.loadProviders(providersItem.selected)">
                                <ui-select-match placeholder="Seleccione proveedores...">{{$item.providerName}}</ui-select-match>
                                <ui-select-choices repeat="providers in providers | filter: $select.search">
                                    <div ng-bind-html="providers.providerName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <div class="row gutter-10">
      <div class="col-sm-12">
            <div>
                <div ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-warning"><strong>LISTADO DE REPUESTOS:</strong> <em>[{{rows}} Encontrados]</em>
        <span class="mdi-help-circle pull-right cursor-pointer" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>

    <div class="panel-body">
        <ul class="col3">
            <li ng-repeat="items in catalogueItems">
                <table>
                 <tr>
                    <td class="celda2" rowspan="5"><a ng-click="catalogs.viewItem(items)"><img ng-src="{{ catalogs.loadImg(items.itemId)}}" tooltip="Vista rápida item" err-src="{{picture}}"  width="145" height="145" class='heaven' ></a></td>
                    <td class="celda"> <span class="uppercase"> <strong>{{items.itemDescription}}</strong></span> </td>
                  </tr>
                  <tr>
                    <td class="celda"> <strong> ID:<span class="uppercase"> <a ng-click="catalogs.viewItem(items)">{{items.itemId}}</a></span> </strong> 
                        <span class="pull-right"><a style="font-size:10px;" href="{{items.web}}" class="{{(items.web == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Link ..</a></span></td>

                  </tr>
                  <tr>
                    <td class="celda"> <strong>MARCA: </strong><span class="uppercase"> {{items.brand}}</span> </td>
                    
                  </tr>
                  <tr>
                    <!-- <td> Aplicaciones: <span ng-repeat="applications in item[0].applications" class="label bg-warning uppercase">{{applications.applicationName}}</span></td> -->
                    <td class="celda2"><strong><span style="font-size:8px;" class="uppercase">[{{items.applications}}]</span></strong></td>
                  </tr>
                  <tr>
                    <td class="celda"> <strong>CAT: </strong><span style="font-size:9px;" class="label bg-secondary uppercase"> {{items.categoryCode}}</span></td>
                    
                  </tr>
                </table>
            </li>
            </ul>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.uppercase { text-transform: uppercase; }

ul.col3
{
padding-right: 0px;
padding-left: 0px;
float: left;
padding-bottom: 0px;
margin: 15px 0px;
width: 100%;
padding-top: 0px;
list-style-type: none
}

ul.col3 li
{
padding-right: 2px;
display: inline;
padding-left: 2px;
float: left;
padding-bottom: 2px;
width: 50%;
padding-top: 2px
}

 table, tr, td {
  border-spacing: 2px;
  padding: 3px;
  /*border: 1px solid black;*/
}

@media print {
    .noprint {display:none !important;}
    a:link:after, a:visited:after {  
      display: none;
      content: "";    
    }
}

.celda{
height: auto;
width: 250px;
}

.celda2{
height: auto;
width: 200px;
}


</style>
