
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.wishlist">
            <i class="mdi-home"></i>
            LISTA DE DESEOS
        </a>
    </li>
</ul>

<div class="main-title">
    <div class="title">
        <h1 class="text-uppercase">
            Listado de Items <span><a ng-click="wishList.loadwishlist()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <!-- <a popover-trigger="mouseenter" popover="Seleccionar todo" popover-placement="top" ng-click="selectAll()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-check-all"></i></span></a> -->

       <!--  <button md-ink-ripple ng-disabled="selectedwishlist.length == 0"  class="md-btn md-raised m-l-sm bg-warning" ng-click="wishList.transformPurchaseRequisition()" popover="Enviar a Pedido" popover-placement="bottom" popover-trigger="mouseenter">
            <i class="mdi-cart"></i> Crear Pedido
        </button> -->

        
        <button md-ink-ripple  ng-disabled="selectedwishlist.length == 0" class="md-btn md-raised m-l-sm bg-warning" ng-click="wishList.addItemsWishList()" tooltip="Enviar a Pedido">
            <i class="mdi-cart-plus"></i> Enviar a pedido
        </button>
        <button md-ink-ripple class="md-btn md-raised m-l-sm bg-primary" ui-sref="app.preOrders" tooltip="Listado de Pre-pedidos">
            <i class="mdi-file-powerpoint"></i> Pre-pedidos
        </button>
        <button  md-ink-ripple class="md-btn md-raised " ng-click="wishList.wishListCreate()">
            <i class="mdi-engine"></i>
            Ingresar item
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Items" ng-model="wishList.searchText" ng-change="wishList.searchData()" ng-model-options="wishList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;" ui-grid="wishlistGrid" ui-grid-exporter ui-grid-edit ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
