 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9; 
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="applicationsUpdate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3> <i class="mdi-engine-outline"></i> Visualizar Aplicación N° {{applicationId}}</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formApp" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descripción:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="applicationDetails.applicationName" class="form-control uppercase" placeholder="Ej: Mercedes Benz" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="applicationDetails.applicationCode" class="form-control uppercase" placeholder="codigo" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="applicationsUpdate.applicationsUpdate()" ng-disabled="formApp.$invalid">
		   <i class="mdi-check-all"></i> Actualizar
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="applicationsUpdate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->