    .slideshow .slick-slide{
        display: inline-block;
        height: 130px;
        padding: 10px;
        border:1px solid #ccc;
        width: 175px;
        margin-right: 12px;
        margin-left: 12px;
    }


        div.ui-dialog {position:fixed;}
        
        .box_bottom{
        float: left;
        width: 25%;
        border: 1px solid #ccc;
        background-color: white;
        height: 100px;
        position:relative;
        margin-left:10px;
        }
        .options_plus{
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 18px;
        }
        .generic_class{
        display:inline-block;
        text-align: center;
        vertical-align: middle;
        }
        .resumen_dash_line{
        height: 60px;
        background-color: #ccc;
        width: 1px;
        }
        .resumen_details{
        width: 42%;
        }
        .main_outer_wrapper_resumen{
        width: 100%;
        margin-top: 3px;

        color: #655F5F;
        }
        .forcast_view_wrapper{
        float: left;
        margin-top: 59px;
        margin-left: 11px;
        }
        .formdata  .name_simulacion_text_field_generic{
        height: 29px;
        border: 1px solid rgb(204, 204, 204);
        }
        .los_confg_overlay{
        position: absolute;
        top: 93px;
        background-color: white;
        width: 100%;
        left: 0px;
        height: 41px;
        vertical-align: middle;
        padding-top: 4px;
        font-size: 14px;
        }
        .formdata button{
        color:white;
        padding: 10px 0px 10px 0px;
        margin-top: -6px;
        }
        .formdata label{
        width: 100%;
        }
        .formdata .text_field{
        width: 59%;
        }
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.carousel_wrapper {
        margin-top: 41px;
        }
        .h4_style_class{
        text-transform: uppercase;
        font-weight: bold;
        color: #867E7E;
        }
      .top_heading_resume_de_conf
        {
        font-size: 13px;
        float: left;
        text-align: center;
        width: 89%;
        font-weight: bold;
        }
        .resumen_details_span1{
          font-size: 18px;
        }
        .resumen_details_span2{
          font-size: 15px;
          color: #ccc;
        }
        .bottom_strip{
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        height: 2px;
        z-index: 9;
        }
        .dialog_bottom_sub_wrapper{
            padding: 12px;
            text-align: center;
            border-radius: 11px;
        }
        .dialog_bottom_wrapper{
            background-color: rgb(254,218,121);
            color: #6B6767;
            border-radius: 8px;
            margin-bottom: 20px;
            margin-top: 13px;
        }
        
        .cg_view{
            background: url("/apps/u-forecast-ui/image/eyes.png");
            background-repeat: no-repeat;
            padding-right: 75px;
            text-align: center;
        }
          .cg_edit{
            background: url("/apps/u-forecast-ui/image/edit.png");
            background-repeat: no-repeat;
            padding: 2px 50px 0px 0px;
            text-align: center;
            height: 26px;
            background-position-x: 3px;
        }
          .cg_download{
            background: url("/apps/u-forecast-ui/image/download.png");
            background-repeat: no-repeat;
            padding-right: 57px;
            text-align: center;
            background-position-x: 8px;
        }
        
   
   .generic_display_tab{
        float: left;
        vertical-align: top;
        padding: 11px;
        background: -moz-linear-gradient(45deg, rgba(1,69,118,1) 0%, rgba(32,99,148,1)85%); /* ff3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(1,69,118,1)), color-stop(85%, rgba(32,99,148,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(45deg, rgba(1,69,118,1) 0%, rgba(32,99,148,1) 85%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(45deg, rgba(1,69,118,1) 0%, rgba(32,99,148,1) 85%); /* opera 11.10+ */
        background: -ms-linear-gradient(45deg, rgba(1,69,118,1) 0%, rgba(32,99,148,1) 85%); /* ie10+ */
        background: linear-gradient(45deg, rgba(1,69,118,1) 0%, rgba(32,99,148,1) 85%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014576', endColorstr='#014576',GradientType=1 ); /* ie6-9 */    
        color:white; 
        font-size: 22px;
        cursor:pointer;
   }
   .generic_display_tab_start{
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

   .generic_display_tab_end{
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
   }
   
      .generic_title{
        margin-bottom:0px;
        padding-bottom:0px;
    }
    .subtitle_div{
            font-weight: normal;
            color: #737272;
            font-size: 15px;
            font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    }
    .title_wrapper_top{
              margin-top:65px;
              margin-bottom:20px;  
    }
   .simulation_table thead {
        background-color:#008BC6;
        color:white;
    }
    .table_wrapper_u_forecast{
        padding:0px
    }
    .table_wrapper_u_forecast .footable-odd{
        background-color:#DAECF6;
    }
    .button_edit_view,.button_edit_view{
        box-shadow: 0px 0px 0px!important;
        border: none!important;
        background: transparent!important;
        font-size: 21px;
    }
    .report_h4_heading {
         color:#008DC5;
         text-align:center;
    }
    .activity1{
      width: 61%;
      margin-left: 11px;
    }
    
    .activity2{
        text-align: center;
        width: 24%;
    }
    .generic_activity_fonts{
        display:inline-block;
        color:#70706E;
        font-size: 16px;
        line-height: 37px;
    }
  
    .u_forecast_title_wrapper{
        /*float: left;
        width: 54%;*/
    }
    .u_forecast_title_1{
        font-size: 18px;
    }
    .u_forecast_title_2{
        font-size: 21px;
        color: #A99E9E;
    }
    ._forecast_button_wrapper .card-body-buttons{
        padding: 10px 0px 10px 0px;
    }
    .u_forecast_whiteblock{
            float: left;
            background-color: #fff;
            vertical-align: middle;
            padding: 12px;
            box-shadow: 1px 3px 2px #CCE;
            border-radius: 2px;
            margin-bottom:10px;
    }
    .second_wrapper,.third_wrapper{
            width: 99%;
           
    }
  
    .second_wrapper_div_first{
            width: 63%;
            display: inline-block;
            vertical-align: middle;
    }
    .second_wrapper_div_second{
           display: inline-block;
    }
    .second_wrapper_div_span_first{
        font-size: 16px;
        color: #747171;
        padding-right: 16px;
    }
    .second_wrapper_div_span_second{
        font-size: 16px;
        color: #26A9EB;
        padding-right: 16px;
    }
    
    .third_wrapper_layout{
            margin-left: 0px;
            padding-left: 0px;
            padding-right: 0px;
            position:relative;
    }
    .third_wrapper_div_third{
        position: absolute;
        width: 99%;
        left: 0px;
        bottom: 10px;
        background-color: #B7D1ED;
    }
    .third_wrapper_div_third_bottom_text{
        float: left;
        text-align: center;
       padding: 7px 0px 7px 30px;
    }
    .third_wrapper_layout_title1{
      color: #A99E9E;
      font-size: 18px;   
    }
    .third_wrapper_layout_title2{
        color: #3A88AF;
        font-size: 14px;
        font-weight: bold;
    }
    .third_wrapper.u_forecast_whiteblock {
        height: 170px;
    }
    .leftsidebar_style{
            padding: 9px;
            text-align: center;
    }
    .leftsidebar_style_body{
            background: #fff;
    }
    .leftsidebar_style_body .leftsidebar_style_body_div{
        color:#000;
        font-size:14px;
        text-align:center;
    }
    .leftsidebar_style_wrapper{
        margin-top:16px;
    }
    
    .masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}