<div has-permission="acceso-administracion-roles-edit">

  <div class="breadcrumb">
    <div class="crumbs">
      <a ui-sref="app.roles">
        <i class="mdi-home"></i>
        ADMINISTRACIÓN ROLES
        
      </a>
      <span>
        / Nuevo Rol
      </span>
    </div>
  </div>

  <div class="main-title">
    <div class="title">
      <h1>
        Crear nuevo Rol
      </h1>
    </div>
    <div class="button-group">
      <button md-ink-ripple class="md-btn md-raised" has-disabled="acceso-administracion-roles-edit" ui-sref="app.roles">
        <i class="mdi-close"></i>{{ 'CANCEL' | translate }}
      </button>
      <button md-ink-ripple class="md-btn md-raised bg-info " has-disabled="acceso-administracion-roles-edit" ng-click="rolesCreate.save()" ng-disabled="isDisabled || (name == '')" ng-model="isDisabled">
        <i class="mdi-content-save"></i>{{ 'SAVE' | translate }}
      </button>
    </div>
  </div>
  
  <div class="panel">
    <div class="panel-heading bg-warning">
      <strong class="m-b-sm">Nombre Rol</strong>
      <input type="text" class="form-control input-sm m-v-sm" ng-model="name" id="nombre" placeholder="Escriba nombre nuevo Rol" >
    </div>
      <div ui-grid="rolesCreate.detailsRoles" class="grid" style="height: 550px" ui-grid-pinning ui-grid-pagination ></div>
  </div>
</div>
