<div class="section-list" ng-if="start">
	<div class="filters">
		<h1 class="no-m-t text-lg" ng-if="Ctrl.config.title">{{ Ctrl.config.title | translate }}</h1>
		
		<div class="panel bg-info">
			<div class="panel-body">

				<h4>{{ 'FILTER_AS' | translate }}</h4>

				<div class="row">
					<div class="col-xs-12" ng-repeat="field in Ctrl.filters.inputs">
						<dinamic-input 
						field="field" 
						base-service-url="Ctrl.filters.baseUrl" 
						additional-params="Ctrl.filters.staticParams"
						on-change="Ctrl.onChange(field, cleanModel)"
						type-form="none"> </dinamic-input>
					</div>
				</div>

			</div>
		</div>
	</div>

	<ul class="v-list" style="height: {{getHeightList()}}px; padding: 0;" ng-if="!Ctrl.validatingTypeView()">
		<li class="panel" ng-class="{'active': (item.id_code == Ctrl.itemSelected || item.sectionId == Ctrl.itemSelected)}" 
			ng-click="Ctrl.onClickList(item)" 
			ng-repeat="item in Ctrl.filteredList | filter: Ctrl.getFiltering | orderBy: '-ocurrences'">
			
			<div ng-if="Ctrl.config.view == 'extended'" ng-include="'extended-view.html'"></div>
			<div ng-if="Ctrl.config.view == 'compacted'" ng-include="'compacted-view.html'"></div>
			<div ng-if="Ctrl.config.view == 'simpled'" ng-include="'simpled-view.html'"></div>
			<div ng-if="Ctrl.config.view == 'generic'" ng-include="'generic-view.html'"></div>

		</li>
	</ul>

	<div class="alert alert-danger" ng-if="Ctrl.validatingTypeView()" role="alert">
		<strong>Error!</strong>
		<p>
			Template <strong>"{{Ctrl.config.view}}"</strong> not found
		</p>
	</div>
</div>