<style>
	.container-list {max-height: 400px; overflow: auto;}
</style>
<md-dialog class="modal-lg">
	<md-dialog-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="dialog.close(false)">
					<i class="icon mdi-close i-20 pull-right"></i>
				</md-button>
				<p class="text-center font-bold"> {{ dialog.options.title | translate }}</p>
			</div>
		</md-toolbar>

		<div class="m-l-md m-r-md">
			<p class="text-left">{{ dialog.options.message }}</p>
			<div class="container-list">
				<ul ng-repeat="item in dialog.options.list track by $index">
					<li>{{ item }}</li>
				</ul>
				<ul ng-repeat="(label, list) in dialog.options.parentList track by $index">
					<li ng-if="label != 'errors'">
						{{ label | translate }} <br>
						<parent-list list="list"></parent-list>
					</li>
				</ul>
			</div>
		</div>

		<div class="text-center m-b-md m-t-md">
			<button md-ink-ripple class="md-btn md-raised btn-primary m-l-sm" ng-click="dialog.close()">
				{{ 'AGREE' | translate }}
			</button>
		</div>

	</md-dialog-content>
</md-dialog>