
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.certificates">
            <i class="mdi-home"></i>
            DOCUMENTOS TRIBUTARIOS
        </a>
    </li>
    <li>Certificados <span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span></li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Configurar certificados de firma
        </h1>
    </div>
    <div class="button-group">
        <span ng-hide="createCertificate" ><button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="certificatesList.createCertificate(1)">
            <i class="mdi-upload"></i> Cargar Certificado
        </button></span>
        <span ng-show="createCertificate">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="certificatesList.createCertificate(2)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="foliosList.uploadXML()">
            <i class="mdi-upload"></i> Crear
        </button>
        </span>
    </div>
</div>

<div class="panel" ng-show="createCertificate">
    <div class="panel-heading bg-success">Cargar certificado
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Ingrese los datos para cargar un nuevo certificado de firma digital" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Archivo de firma</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="file" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Passkey Certificado </strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" ng-model="startDate" class="form-control" ng-required="true" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Propietario</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="owner" class="form-control" placeholder="Propietario">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Fecha vencimiento</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="date" ng-model="startDate" class="uppercase" ng-required="true" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° de Serie (RUT)</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                            <input tooltip="Rut sin puntos + guión" type="text" ng-model="rut" class="form-control uppercase" placeholder="71163159-K" required style="text-transform:uppercase;">
                        </div>
                        <div class="col-sm-2">
                            <p class="text-danger" style="font-size: 12px;font-style: italic">{{textValidation}}</p>
                            
                        </div>
                        <div class="col-sm-2">
                            <a><span class="label bg-warning uppercase" ng-click="clientsCreate.checkRut(rut)"><i class="mdi-check"></i> Validar</span></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel" ng-hide="createCertificate">
    <div class="panel-heading bg-success">Listados certificados
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Listado de certificados de firmas digitales" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body no-padding">
        <div ui-grid="certificatesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
