
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.categories">
            <i class="mdi-home"></i>
            CATEGORIAS 
        </a>
    </li>
    <li>Crear Categoria</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Nueva Categoria
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.categories">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="categoriesCreate.createCategory()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Datos generales de la categoria."></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre categoria</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="categoryCode" class="form-control" placeholder="nombre item" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

