<nav ui-nav>
  <ul class="nav" id="navtoolkit" user-auth-directive>
    <li ng-repeat="item in subitems" ng-if="validatePermissions(item[0].url, item[0].subMenu)" ui-sref-active="active" ng-click="MenuClick($event,$index)" id="parent_li_{{$index}}" class="parent_li">
      <a class="text-color" md-ink-ripple tooltip-html-unsafe="{{ item[0].desc }}" tooltip-placement="top">
        
        <span class="pull-right text-muted" ng-if="item[0].subMenu">
          <i class="fa fa-caret-down"></i>
        </span>

        <i class="pull-right up"><b class="badge no-bg">{{item[0].count}}</b></i>

        <i class="icon {{item[0].icon}} i-20"></i>

          <a class="test hidden-folded" ui-sref="{{item[0].url}}" ng-if="item[0].url!='' && item[0].url !== undefined && item[0].url != null">{{item[0].title | translate}}</a>

        <span class="font-normal hidden-folded">
          <a class="" ng-if="item[0].url=='' || item[0].url === undefined">{{item[0].title | translate}}</a>
        </span>

      </a>
      <ul class="nav nav-sub">
        <li ng-if="validatePermissions(items.url, items.superMenu)" tooltip-html-unsafe="{{ items.desc }}" tooltip-placement="top" ng-repeat="items in item[0].subMenu" ui-sref-active="active" ng-click="super_menu($event,$index)" id="super_menu_li_{{$index}}" class="super_menu_li" >

          <span ng-if="!items.superMenu.length > 0" class="hidden-folded">
            <a class="text-color" md-ink-ripple  ng-if="items.url!='' && items.url !== undefined" ui-sref="{{items.url}}" >
              <i class="icon {{items.icon}} i-20"></i>              
              {{items.title | translate}}
            </a>
            <a class="text-color" md-ink-ripple  ng-if="items.url=='' || items.url === undefined">
              <i class="icon {{items.icon}} i-20"></i>
              {{items.title | translate}}
            </a>
          </span>

          <a class="text-color super_menu_li_sub_a" tooltip-html-unsafe="{{ items.desc }}" tooltip-placement="top" md-ink-ripple ng-if="items.superMenu.length > 0">
            <span class="pull-right text-muted">
              <i class="fa fa-caret-down"></i>
            </span>
            <i class="pull-right up"></i>
            <i class="icon {{items.icon}} i-20"></i>
            <span>{{items.title | translate}}</span>
          </a>

          <ul class="nav nav-sub super_menu_li_sub">
               <li ng-repeat="supersubitem in items.superMenu" tooltip-html-unsafe="{{ supersubitem.desc }}" tooltip-placement="top" class="super_menu_li_sub text-xs" ui-sref-active="active" 
                ng-if="validatePermissions(supersubitem.url, supersubitemsuperMenu)">
                <span class="hidden-folded">
                  <a class="text-color" md-ink-ripple ui-sref="{{supersubitem.url}}" target="{{supersubitem.target}}">
                   {{supersubitem.title | translate}}
                  </a>
                </span>
              </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
