<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.expenseControlList.expenseControlView(row.entity)"><span>Ver</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>

            <li ng-show="row.entity.statusName == 'PEN'" has-permission="control-gastos-edit">
                <a ng-click="grid.appScope.expenseControlList.expenseControlUpdate(row.entity)"><span>Modificar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>

            <li has-permission="control-gastos-validate" ng-show="row.entity.statusName == 'PEN'">
                <a ng-click="grid.appScope.expenseControlList.deleteExpenseControl(row.entity)"><span class="label bg-danger">Eliminar</span></a>
            </li>
        </ul>

    </div>

</div>
