
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.expenseControl">
            <i class="mdi-home"></i>
            CONTROL DE GASTOS 
        </a>
    </li>
</ul>

<div class="main-title">
    <div class="title">
        <h1 class="text-uppercase">
            Listado de Gastos <span><a ng-click="expenseControlList.loadExpenseControl()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a has-permission="control-gastos-accounts" tooltip="Ir a módulo cuentas" ng-click="expenseControlList.viewAccounts()"> <span style="font-size: 16px;" class="label bg-warning">Módulo cuentas</span></a>

        <button md-ink-ripple class="md-btn md-raised m-l-sm bg-info" ng-click="expenseControlList.expenseControlReport()" tooltip="Reporte gastos">
            <i class="mdi-chart-histogram"></i> Reporte
        </button>
        <button has-disabled= "control-gastos-edit" md-ink-ripple class="md-btn md-raised " ng-click="expenseControlList.expenseControlCreate()">
            <i class="mdi-plus"></i>
            Ingresar Gasto
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Gastos" ng-model="expenseControlList.searchText" ng-change="expenseControlList.searchData()" ng-model-options="expenseControlList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;" ui-grid="expenseControlGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
