<style>
    .modal-header, h3, .close {
        background-color: #0DA937;
        color:white !important;
        text-align: center;
        font-size: 20px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
    </style>
  
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ballotClientController.cancel()">
          <span aria-hidden="true">&times;</span>
  </button>
      <h3 >Modificar Categoria de Cliente <strong>{{clientId}}</strong></h3>
  </div>
  <div class="modal-body">
    <div class="panel-body">
    <strong>Cliente YA EXISTE, ¿Desea modificar su Categoria para poder facturar?</strong>
    <br><br>
          <h2 align="center"> <strong>Nombre: <span class="label bg-secondary uppercase">{{fullName}}</span>  Rut: <span class="label bg-warning">{{rut}}</span></strong></h2>
        </div>
  </div>
  <div class="modal-footer">
    <div class="button-group">
      <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="ballotClientController.updateClient()">
         <i class="mdi-table-edit"></i>Actualizar
      </button>
      <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="ballotClientController.cancel()">
        <i class="mdi-window-close"></i>Cerrar
      </button>
    </div> 
  </div>
