<style>
   .uppercase { text-transform: uppercase; }

   .cstooltip {
    }

.cstooltip > .tooltip-inner {
  border-radius: 12;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size:10px;
  text-align: center;
  width: auto;

}



  </style>
<ul class="breadcrumb">
  <li>
      <a ui-sref="app.items">
          <i class="mdi-home"></i>
          ITEMS
      </a>
  </li>
  <li>Historial Items</li>
</ul>
<div class="main-title">
  <div class="title">
    <h1>
      Historial ID <a ng-click="itemsHistoryView.viewItem()"><span class="label bg-accent">{{itemId}}</span></a> / <strong>{{itemName}}</strong> <span><a ng-click="itemsHistoryView.tableLoad()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
    </h1>
</div>
  <div class="button-group">
      <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.items">
          <i class="mdi-close"></i>
          Cerrar
      </button>
  </div>
</div>

<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="itemsGridCardex" style="height: 600px;width:100%!important;" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
