<div class="u-pensum-matrix-edit">
	
	<div class="row">
		<div class="col-sm-12">
			<button type="button" ng-click="Ctrl.addSemestre()" class="btn btn-sm bg-accent-light md-btn m-b-sm md-flat md-raised pull-right">
				<i class="mdi-plus m-r-sm"></i>{{ 'ADD_NEW_PERIOD' | translate }}
			</button>
		</div>
	</div>

	<div class="pensum-body">

		<div ng-repeat="period in Ctrl.periods track by $index">
			
			<u-pensum-signatures-edit period="period"></u-pensum-signatures-edit>
			
		</div>
		
	</div>
	
</div>