
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            NOTAS DE CRÉDITO
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado notas de crédito <span><a ng-click="creditNotesList.loadNotes()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "nota-de-credito-view" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="creditNotesList.notesReport()" popover="Reporte notas de credito por fecha" popover-placement="top" popover-trigger="mouseenter">
            <i class="mdi-calendar"></i>
            Reporte
        </button>
        <button has-disabled="nota-de-credito-edit"  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.creditNotesCreate">
            <i class="mdi-plus"></i>
            Crear nota
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar nota de creditos" ng-model="creditNotesList.searchText" ng-change="creditNotesList.searchData()" ng-model-options="creditNotesList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="creditNotesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
