<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.creditNotesList.viewNotePayments(row.entity)"><span>Visualizar</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>

            <li>
                <a ng-click="grid.appScope.creditNotesList.creditNotesPrint(row.entity)"><span>Imprimir</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <!-- <li>
                <a ng-click="grid.appScope.creditNotesList.deleteCreditNote(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
            <li has-permission="sii-view">
                <a ng-disabled="true" ng-click="grid.appScope.creditNotesList.createXML(row.entity)"><span>Reenviar a <span class="badge bg-warning">SII</span></span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li>
        </ul>

    </div>

</div>
