 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="wishlistItems.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3 >Enviar item {{items.itemId}} lista de deseos</h3>
</div>
<div class="modal-body">
	  <div class="panel-body">
    <form name="formItems" action="" class="form-horizontal">
	  	<div class="row">
            <div class="col-md-12 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Descripción:</strong>
                    </label>
                    <div class="col-sm-8">
                        <span class="uppercase"> {{itemDetails.name}} </span>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Codigo marca:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model= "itemDetails.brandCode" class="form-control uppercase"  required>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Proveedores:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8">
                        <ui-select class="uppercase" ng-change= "wishlistItems.setNameProviders(provider.selected)" ng-model="provider.selected" theme="bootstrap"  title="provider" ng-required="true" >
                            <ui-select-match >{{$select.selected.providerName}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter: $select.search">
                                <h4 ng-bind-html="''+provider.providerName | highlight: $select.search"></h4>
                                
                                <strong>
                                <div  ng-bind-html="provider.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 m-t-sm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">
                        <strong>Cantidad:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-2">
                        <input type="number" ng-model= "quantities" class="form-control"  required>
                    </div>
                </div>
            </div>
          </div>
</div>
</form>
<div class="modal-footer">
  <div class="button-group">
		<button ng-disabled="formItems.$invalid" style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="wishlistItems.updateWishlist()">
		   <i class="mdi-clock-end"></i> Agregar
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="wishlistItems.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>