<div class="input-number">
	<!-- Para visualizar el label y el input en la misma linea -->
	<div ng-if="inputCtrl.typeForm == 'inline'">

		<label class="col-sm-4 control-label text-right" ng-show="inputCtrl.showTitle"> 
			<strong>{{ inputCtrl.field.label | translate }}</strong> 
			<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
		</label>
		<div class="col-sm-8">
			<input type="number" class="form-control" 
			placeholder="{{ inputCtrl.field.label | translate }}"
			ng-change="inputCtrl.ngChange()" 
			ng-model="inputCtrl.field.model" 
			ng-disabled="inputCtrl.field.isDisabled" />
		</div>

	</div>

	<div class="row" style="margin-bottom: 10px;" 
		ng-if="inputCtrl.typeForm == 'not-inline' || inputCtrl.typeForm == 'none'">
		<!-- Para visualizar el label y el input en diferentes lineas -->
		<div class="col-xs-12">

			<h4 class="text-muted" ng-show="inputCtrl.typeForm == 'not-inline' && inputCtrl.showTitle">
				{{ inputCtrl.field.label | translate }}
				<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
			</h4>
			<input type="number" class="form-control" 
			placeholder="{{ inputCtrl.field.label | translate }}" 
			ng-change="inputCtrl.ngChange()" 
			ng-model="inputCtrl.field.model" 
			ng-disabled="inputCtrl.field.isDisabled" />

		</div>
	</div>

</div>