<div class="input-text">
	<!-- Para visualizar el label y el input en la misma linea -->
	<div ng-if="inputCtrl.typeForm == 'inline'">

		<label class="col-sm-4 control-label text-right block" ng-show="inputCtrl.showTitle"> 
			<strong>{{ inputCtrl.field.label | translate }}</strong> 
			<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
		</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" 
			placeholder="{{ inputCtrl.field.label | translate }}"
			ng-change="inputCtrl.ngChange()" 
			ng-model-options="{debounce: 500}"
			ng-model="inputCtrl.field.model" 
			ng-disabled="inputCtrl.field.isDisabled" />
			<md-tooltip md-direction="top" ng-if="inputCtrl.toolTip()" class="bg-warning text-sm">Si usted agrega esta información,<br>será visible para los estudiantes.</md-tooltip>
		</div>

	</div>

	<div class="row" style="margin-bottom: 10px;" 
		ng-if="inputCtrl.typeForm == 'not-inline' || inputCtrl.typeForm == 'none'">
		<!-- Para visualizar el label y el input en diferentes lineas -->
		<div class="col-xs-12">

			<strong class="p-t p-b-sm block" ng-show="inputCtrl.typeForm == 'not-inline' && inputCtrl.showTitle">
				{{ inputCtrl.field.label | translate }}
				<span ng-show="inputCtrl.field.isRequired" class="dato-obligatorio"> * </span>
			</strong>

			<div>
				<input type="text" class="form-control" 
				placeholder="{{ inputCtrl.field.label | translate }}" 
				ng-change="inputCtrl.ngChange()" 
				ng-model-options="{debounce: 500}"
				ng-model="inputCtrl.field.model" 
				ng-disabled="inputCtrl.field.isDisabled" />
				<md-tooltip md-direction="top" ng-if="inputCtrl.toolTip()" class="bg-warning text-sm">Si usted agrega esta información,<br>será visible para los estudiantes.</md-tooltip>
			</div>

		</div>
	</div>

</div>