<style>
	.not-found p {font-size: 15px; font-style: italic; }
	.not-found {min-height: 130px; }
</style>

<strong class="p-t p-b-sm block" ng-show="inputCtrl.showTitle">{{ inputCtrl.field.label | translate }}</strong>

<div class="p-l-sm p-b-sm text-dark" ng-bind-html="inputCtrl.field.model" ng-if="inputCtrl.field.isDisabled"></div>

<text-angular 
	ng-if="!inputCtrl.field.isDisabled"
	ng-model="inputCtrl.field.model" 
	ng-change="inputCtrl.ngChange()" 
	ta-toolbar="inputCtrl.taOptions">
</text-angular>
