<div class="panel">
	<div class="panel-heading bg-info">
		<strong>{{ panelCtrl.panel.label | translate }}</strong>
	</div>
	
	<div class="panel-body">
		<div class="row m-b-sm p-r-xs" ng-repeat="fieldRows in panelCtrl.panel.data">
			
			<div class="col-xs-12" ng-repeat="field in fieldRows | orderBy: 'orderBy'" ng-class="{'col-sm-6': field.col == 1}">
				
				<dinamic-input 
					ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
					field="field" 
					allow-clear="false"
					base-service-url="panelCtrl.baseServiceUrl"
					show-title="true"
					type-form="inline"
					on-change="panelCtrl.onInputChange(field, cleanModel)"
					additional-params="panelCtrl.addParams">
				</dinamic-input>

				<ui-grid-component
					field="field" 
					in-edit="!(field.isDisabled)" 
					ng-if="field.typefield == 'ui-grid'">
				</ui-grid-component>

				<div ng-if="field.typefield == 'structure'">
					
					<u-tree 
						e-nodes="field" 
						e-options="panelCtrl.uTreeOptions" 
						e-change="panelCtrl.onInputChange(utree)"> 
					</u-tree>
				</div>

				<u-dynamic-occurrences
					occurrences="field"
					base-service-url="panelCtrl.baseServiceUrl"
					add-params="panelCtrl.addParams"
					parent="panelCtrl.panel"
					empty-substructure-folter="{{ panelCtrl.emptySubstructureFolter }}"
					ng-if="field.typefield == 'occurrences' || field.typefield == 'dynamicOccurrences'"> 
				</u-dynamic-occurrences>

				<changes-history 
					history="field"
					ng-if="field.typefield == 'history'"> 
				</changes-history>
				
			</div>
		</div>

		<div class="row" ng-show="panelCtrl.autoSave && !panelCtrl.panel.isDisabled" ng-if="showBtnActions">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="submit" ng-click="panelCtrl.onSubmitChanges()" class="btn btn-sm bg-accent md-btn md-flat md-raised pull-right m-v-sm">
						<i class="mdi-content-save"></i> {{ 'SAVE' | translate }}
					</button>
				</div>
			</div>
		</div>
		
	</div>
</div>