<md-dialog>
	<md-dialog-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="dialog.close(false)">
					<i class="icon mdi-close i-20 pull-right"></i>
				</md-button>
			</div>
		</md-toolbar>
		<div class="m-l-md m-r-md">
			<h3 class="font-bold text-center">{{ dialog.options.message || 'WARNING_MESSAGE_DELETE_DEFAULT' | translate }}</h3>
			<p class="text-center font-bold"> {{ dialog.options.title | translate }}</p>
		</div>
		<div class="text-center m-b-md m-t-md">
			<button md-ink-ripple class="md-btn md-raised btn-danger m-l-sm" ng-click="dialog.close(false)">
				{{ 'CANCEL' | translate }}
			</button>

			<button md-ink-ripple class="md-btn md-raised btn-primary m-l-sm" ng-click="dialog.close(true)">
				{{ 'AGREE' | translate }}
			</button>
		</div>
	</md-dialog-content>
</md-dialog>