 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="checksView.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3 >Visualizar Cheque : {{checkId}} </h3>
</div>
<div class="modal-body">
	  <div class="panel-body">
		<div class="panel-body">
		  <div class="col-sm-15">
			  <span class="m-r-md"><strong>Nombre: </strong> <span class="uppercase">{{check[0].associatedName}}</span></span>
			 
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Fecha: </strong> <span> {{check[0].day}}</span> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>N° de serie: </strong> <span class="label bg-secondary" style="font-size:medium;"> {{check[0].serialNumber}}</span></span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>N° cuenta: </strong><em> [{{check[0].account}}]</em> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Banco: </strong> {{check[0].bankName}}</span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Valor: </strong> <span style="font-size:medium;">$<strong>{{check[0].shareValue}}</strong> </span> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Detalle cuotas: </strong><span><em>{{check[0].shareDetails}}</em></span></span> 
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Origen: </strong> <span> {{check[0].origin}}</span> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Telefono: </strong><span>{{check[0].phone}}</span></span>
		  </div>
		  <div class="col-sm-15 m-t-sm" >
			  <span class="m-r-md"><strong>Fecha depósito: </strong> 
			  <span ng-hide="check[0].depositDate == '00/00/00'"> {{check[0].depositDate}}</span> 
			  <input ng-show="check[0].depositDate == '00/00/00'" tooltip="Fecha deposito" class="uppercase" type="date" ng-model="depositDate" required> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span>{{check[0].userCreation}}</span></span></span>
	      </div>
	      <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Ingreso: </strong> <span> {{check[0].date}}</span> </span>
		  </div>


	      <div class="col-sm-15 m-t-sm">
	          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span>{{check[0].userUpdate}}</span></span></span>
	      </div>
	      <div class="col-sm-15 m-t-md">
	         
			  <span class="m-r-md"><strong>Facturas:</strong>  <span ng-repeat="invoices in check[0].invoices"class="label bg-warning uppercase" style="font-size:medium;">{{invoices}}</span> </span>
	      </div>

		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Cliente asociado:</strong>  <span class="label bg-secondary uppercase" >{{check[0].associatedClient}}</span> </span>

		  </div>
		  <div class="col-sm-15 m-t-sm">
			   <span class="m-r-md"><strong>Estado Cheque:</strong> <span class="badge bg-{{check[0].styleStatus}}">{{check[0].statusName}}</span></span>

		  </div>
		  
		</div>
</div>
<div class="modal-footer">
  <div class="button-group">
  	
  	<span ng-show= "check[0].statusName == 'Depositado'" >
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="checksView.checkUpdateStatus(2)">
		   <i class="mdi-check-all"></i> Validar
		</button>

		<button style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="checksView.checkUpdateStatus(3)">
		   <i class=" mdi-alert"></i> Rechazar
		</button>
	</span>
	
   <span ng-hide= "check[0].statusName == 'Rechazado' || check[0].statusName == 'Validado'" >
	<span ng-hide= "check[0].statusName == 'Depositado'" >
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="checksView.checkUpdateStatus(4)">
		   <i class="mdi-check-all"></i> Depositar
		</button>
	</span>
	</span>

	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="checksView.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>