
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.afterSale">
            <i class="mdi-home"></i>
            POST VENTA
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado documentos post venta <span><a ng-click="afterSaleList.loadNotes()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">

        <a tooltip="Registro items con falla" ng-click="afterSaleList.afterSaleReport()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-flag-outline-variant"></i></span></a>

        <button has-disabled="post-venta-edit"  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.afterSaleCreate">
            <i class="mdi-plus"></i>
            Crear documento
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar documentos post venta" ng-model="afterSaleList.searchText" ng-change="afterSaleList.searchData()" ng-model-options="afterSaleList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="afterSaleGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
