<div class="col-md-4">
	<div class="panel b-a pos-abt bg-warning" ng-hide="showModal">
		<span class="arrow left b-white b-warning"></span>
		<div class="panel-body">
			<button type="button" class="pos-rlt close m-l-sm" ng-click="showModal=true">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			 <!--<span class="glyphicon glyphicon-phone"></span>-->
			<i class="mdi-format-paint"></i> <strong>Nueva Actualización: </strong><a ui-sref="app.catalogs"> <strong>Catálogo</strong></a>
		</div>
	</div>
</div>



<!-- <div class="row"> -->
	<!-- <div class="col-xs-12"> -->
		<!-- <div class="logo-home md"></div> -->
		<!-- <p></p> -->
		<!-- <p class="text-center text-md text-dark">Acceso Rápido</p> -->
	<!-- </div> -->
<!-- </div> -->


<div class="padre">
	<div class="row gutter-20 p-h-md m-t-md">

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.clientsInvoices" class="mdi-cart-outline text-3x pink p-sm r-3x mdi-spin"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Facturas</h4>
						<p class="text-dark">Facturas clientes</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.items" class="mdi-engine text-3x green p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Repuestos</h4>
						<p class="text-dark">Módulo items</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.payments" class="mdi-credit-card-plus text-3x blue p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Pagos</h4>
						<p class="text-dark">Pagos clientes</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.quotations" class="mdi-cart-plus text-3x yellow p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Cotizaciones</h4>
						<p class="text-dark">Cotizar items</p>
					</div>
				</div>
			</div>

					
	</div>
	<p></p>
	<div class="row gutter-20 p-h-lg m-t-lg">

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.transferGuides" class="mdi-forklift text-3x green p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Guias</h4>
						<p class="text-dark">Guias de traslado</p>
					</div>
				</div>
			</div>
	        <div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.stockAdjustment" class="mdi-contrast text-3x yellow p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Ajustes</h4>
						<p class="text-dark">Guias Ajuste de stock</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.orders" class="mdi-truck text-3x red p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Solicitudes</h4>
						<p class="text-dark">Solicitud de pedido</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.officePayments" class="mdi-cash-multiple text-3x pink p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Comprobantes</h4>
						<p class="text-dark">Comprobantes de pago</p>
					</div>
				</div>
			</div>
				
	</div>
	<p></p>
	<div class="row gutter-20 p-h-lg m-t-lg">
			

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.warehouseDeliveries" class="mdi-gift text-3x pink p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Entregas</h4>
						<p class="text-dark">Entregas bodega</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.creditNotes" class="mdi-basket-fill text-3x red p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Notas</h4>
						<p class="text-dark">Notas de crédito</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.ballots" class="mdi-cash-usd text-3x green p-sm r-2x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Boletas</h4>
						<p class="text-dark">Boletas clientes</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.imports" class="mdi-ferry text-3x yellow p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Importaciones</h4>
						<p class="text-dark">Importaciones</p>
					</div>
				</div>
			</div>
				
	</div>
	<div class="row gutter-20 p-h-lg m-t-lg">
			

			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.clients" class="mdi-account-card-details text-3x green p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Clientes</h4>
						<p class="text-dark">Módulo clientes</p>
					</div>
				</div>
			</div>

			<div class="col-sm-3" has-permission="facturas-proveedor-view">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.invoicesProvider" class="mdi-airplane-landing text-3x blue p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Entradas</h4>
						<p class="text-dark">Facturas proveedor</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.itemsSold" class="mdi-chart-line text-3x yellow p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Reportes</h4>
						<p class="text-dark">Inventario diario</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="row gutter-10">
					<div class="col-xs-4">
						<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
							<i ui-sref="app.saleNote" class="mdi-file text-3x pink p-sm r-3x"></i>
						</div>
					</div>
					<div class="col-xs-8">
						<h4 class="title font-bold">Nota venta</h4>
						<p class="text-dark">Notas de venta</p>
					</div>
				</div>
			</div>
	</div>
	<!-- <div class="text-center m-t-sm">
		<a href="https://www.facebook.com/importadorajormat/" target="tab"><i class="mdi-facebook-box text-2x"></i></a>
		<a href="https://www.instagram.com/repuestosjormat/" target="tab"><i class="mdi-instagram text-2x"></i></a>
		<a href="https://twitter.com/RepuestosJormat" target="tab"><i class="mdi-twitter text-2x"></i></a>
	</div>

	<div class="text-center">
		<h6><a href="http://importadorajormat.cl" target="tab">Copyright © Importadora Jormat 2022</a></h6>
	</div> -->
</div>



<!--  grafico inicio-->
<!-- <div class="row gutter-20 p-h-lg m-v-lg">
	<highchart id="chart2" config="chartConfig2"></highchart> 	
</div> -->






<style>	
.padre {
  background-color: #fafafa;
  margin: 8rem;
  padding: 2rem;
  /* IMPORTANTE */
  text-align: center;
}

.comercial {
  border: 0px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.sticky-container{
    /*padding:0px;
    margin:0px;*/
    position:fixed;
    right:-130px;
    bottom:20px;
    width:300px;
    z-index: 500;
}
</style>

<div class="sticky-container">
	<a target="_blank" href="https://api.whatsapp.com/send?phone=56990889677"><img ng-src="{{picture}}" class="img-responsive"> </a>   
 </div>




