<div class="col-md-4">
	<div class="panel b-a pos-abt bg-info" ng-hide="showModal">
		<span class="arrow left b-white b-info"></span>
		<div class="panel-body">
			<button type="button" class="pos-rlt close m-l-sm" ng-click="showModal=true">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<span class="glyphicon glyphicon-hand-left"></span> ¡Comienza navegando en este menú!
		</div>
	</div>
</div>

<div class="row p-v-lg">
	<div class="col-xs-12">
		<div class="logo-home md"></div>
	</div>
</div>

