<div class="col-md-4">
	<div class="panel b-a pos-abt bg-info" ng-hide="showModal">
		<span class="arrow left b-white b-info"></span>
		<div class="panel-body">
			<button type="button" class="pos-rlt close m-l-sm" ng-click="showModal=true">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<span class="glyphicon glyphicon-hand-left"></span> ¡Comienza navegando en este menú!
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="logo-home md"></div>
		<p class="text-center text-md text-dark">Bienvenido a la suite de productos U-Planner</p>
	</div>
</div>

	<div class="row gutter-20 p-h-lg m-v-lg">

		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-book-open-page-variant text-3x pink p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">U-Class</h4>
					<p class="text-dark">Gestión en el aula de clases</p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-seal text-3x cyan p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">U-Improve</h4>
					<p class="text-dark">Mejora continua en acreditación y mallas curriculares</p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-magnet-on text-3x deep-orange p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">U-Retention</h4>
					<p class="text-dark">Alerta temprana de deserción estudiantil</p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-calendar-multiple-check text-3x indigo p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">U-Enrollment</h4>
					<p class="text-dark">Encuestas referenciales para la toma de asignaturas*</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row gutter-20 p-h-lg m-b-lg">
		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-update text-3x blue-grey p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">U-Forecast</h4>
					<p class="text-dark">Asignación de profesores*</p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-chart-line text-3x green p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">U-Analytics</h4>
					<p class="text-dark">Reportería asistencia docente</p>
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="row gutter-10">
				<div class="col-xs-4">
					<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
						<i class="mdi-account-settings-variant text-3x blue p-sm r-3x"></i>
					</div>
				</div>
				<div class="col-xs-8">
					<h4 class="title font-bold">Admin-Panel</h4>
					<p class="text-dark">Administración de usuarios, roles y grupos*</p>
				</div>
			</div>
		</div>
	</div>

<div class="text-center m-t-md">
	<h3 class="title">ir al sitio <a href="http://www.u-planner.com" target="tab">www.u-planner.com</a></h3>
</div>
