<div class="col-md-4">
	<div class="panel b-a pos-abt bg-info" ng-hide="showModal">
		<span class="arrow left b-white b-info"></span>
		<div class="panel-body">
			<button type="button" class="pos-rlt close m-l-sm" ng-click="showModal=true">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<span class="glyphicon glyphicon-hand-left"></span> ¡Comienza navegando en este menú!
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="logo-home md"></div>
		<p class="text-center text-md text-dark">Bienvenido a la suite de productos ilernia</p>
	</div>
</div>

<div class="row gutter-20 p-h-lg m-v-lg">

	<div class="col-sm-3">
		<div class="row gutter-10">
			<div class="col-xs-4">
				<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
					<i class="i-product more"></i>
				</div>
			</div>
			<div class="col-xs-8">
				<h4 class="title font-bold">More</h4>
				<p class="text-dark">Modelamiento de cobertura y calidad para la gestión de oferta educacional territorial</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="row gutter-10">
			<div class="col-xs-4">
				<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
					<i class="i-product retention"></i>
				</div>
			</div>
			<div class="col-xs-8">
				<h4 class="title font-bold">Retention</h4>
				<p class="text-dark">Alertas tempranas de deserción de alumnos escolares</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="row gutter-10">
			<div class="col-xs-4">
				<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
					<i class="i-product skills"></i>
				</div>
			</div>
			<div class="col-xs-8">
				<h4 class="title font-bold">Skills</h4>
				<p class="text-dark">Mejora continua en acreditación y mallas curriculares</p>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="row gutter-10">
			<div class="col-xs-4">
				<div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
					<i class="i-product class"></i>
				</div>
			</div>
			<div class="col-xs-8">
				<h4 class="title font-bold">Class</h4>
				<p class="text-dark">Gestión del aula de clases</p>
			</div>
		</div>
	</div>

</div>


<div class="text-center">
	<h3 class="title">ir al sitio <a href="http://www.ilernia.com" target="tab">www.ilernia.com</a></h3>
</div>
