<div class="col-md-4">
	<div class="panel b-a pos-abt bg-info" ng-hide="showModal">
		<span class="arrow left b-white b-info"></span>
		<div class="panel-body">
			<button type="button" class="pos-rlt close m-l-sm" ng-click="showModal=true">
				<span aria-hidden="true">×</span>
				<span class="sr-only">Close</span>
			</button>
			<span class="glyphicon glyphicon-hand-left"></span> ¡Comienza navegando en este menú!
		</div>
	</div>
</div>

<div class="row p-v-lg">
	<div class="col-xs-12">
		<h1>Error: Falta configurar la página de inicio</h1>
		<p>Créala con el nombre del cliente en <code>src/app/main-start/main/home/home-{cliente}.html</code> </p>
		<p>También puedes diseñar tu propio layout usando el archivo <code>src/assets/stylesheets/home-{cliente}.less</code> </p>
		<div class="logo-home lg"></div>
	</div>
</div>

