<div class="panel panel-default bg-light">

	<div class="p-sm bg-info">					
		<h4 class="panel-title form-inline">
			<a class="custom-toggle" data-toggle="collapse" data-parent="#accordion" href=#{{ocuKey}}>
				<i class="mdi-navigation-menu custom-cursor"></i>
				{{ 'THEME' | translate }}: <span>{{ocurrency.label}}</span>
			</a>						
		</h4>
	</div>

	<div id={{ocuKey}} class="panel-collapse collapse p">

			<div class="row" ng-repeat="dataRow in ocurrency.data">

				<div class="col-xs-12 col-sm-6" ng-repeat="field in dataRow | orderBy: 'orderBy'">

					<dinamic-input 
						ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
						field="field" 
						base-service-url="Ctrl.options.baseUrl" 
						type-form="not-inline"
						in-panel="true"
						show-title="true"
						additional-params="Ctrl.options.addParams">
					</dinamic-input>

				</div>

			</div>

			<div class="row">
				<div class="col-xs-12">

					<div class="pull-right m-t-sm">

						<button type="button" ng-click="Ctrl.deleteTheme(ocuKey, panelKey)" class="btn btn-sm m-v-xs m-r-sm bg-danger md-btn md-flat md-raised">
							<i class="mdi-delete m-r-sm"></i>{{ 'DELETE' | translate }}
						</button>	

						<button type="submit" class="btn btn-sm m-v-xs m-r-sm bg-accent md-btn md-flat md-raised" ng-click="Ctrl.saveTheme(panel)">
							<i class="mdi-content-save m-r-sm"></i>{{ 'SAVE_CHANGES' | translate }}
						</button>	

					</div>
					
				</div>
			</div>

	</div>								
</div>
