<div ng-repeat="(ocuKey, occurrence) in panel.data">

	<occurrence 
		ng-if="occurrence.typefield == 'accordion' || occurrence.typefield == 'panel'" 
		occurrence="occurrence"
		on-delete="Ctrl.deleteTheme(rowKey, index, occurrence)"
		on-submit="Ctrl.saveTheme(rowKey, index, occurrence)"
		index="ocuKey" 
		row-key="rowKey"
		single-save="true"
		base-service-url="Ctrl.options.baseUrl" 
		add-params="Ctrl.options.addParams">
	</occurrence>

</div>

<div class="row">

	<div class="col-xs-12">
		<div class="pull-right m-t-sm">
			<button type="button" ng-click="Ctrl.addTheme(rowKey)" class="btn btn-sm bg-info-light md-btn md-flat md-raised pull-right">
				<i class="mdi-content-add m-r-sm"></i>{{ 'ADD_THEME' | translate }}
			</button>
		</div>
	</div>

</div>