<div class="panel">
	<div class="panel-heading bg-info">
		<strong>{{ panel.label | translate }}</strong>
	</div>
	
	<div class="panel-body">
		<div class="row m-b-sm p-r-xs">
			
			<div class="col-xs-12" ng-repeat="field in panel.data | orderBy: 'orderBy'" ng-init="Ctrl.getStatusField(field)">

				<dinamic-input
                    ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
                    type-form="not-inline" 
                    field="field"
                    on-change="Ctrl.onChange(field)"
                    show-title="true"
                    base-service-url="Ctrl.options.baseUrl" 
                    additional-params="Ctrl.options.addParams">
                </dinamic-input>

				<ui-grid-component 
					field="field" 
					in-edit="!(field.isDisabled)" 
					ng-if="field.typefield == 'ui-grid'">
				</ui-grid-component>
				
			</div>
		</div>
		
	</div>
</div>