<ul class="breadcrumb">
    <li>
        <a ui-sref="app.staff">
            <i class="mdi-home"></i>
            PERSONAL
        </a>
        <!-- &nbsp;<span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span> -->
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Actualizar Usuario/Trabajador <strong>ID:{{userId}}</strong>
        </h1>
    </div>
    <div class="button-group">
         <!-- <button md-ink-ripple class="md-btn md-raised bg-primary"  ng-click="staffUpdate.documentsLoad(userId,user[0].fullName )">
            <i class="mdi-auto-upload"></i>
            Cargar documentos
        </button> -->
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ui-sref="app.staff">
            <i class="mdi-exit-to-app"></i>
            Abandonar
        </button>
        <!-- <button ng-disabled="updateUserBlockInfo.$invalid || rutValidate" md-ink-ripple class="md-btn md-raised bg-accent" ng-click="staffUpdate.createUser()">
            <i class="mdi-plus"></i>
            Actualizar Usuario
        </button> -->
    </div>
</div>


<div class="row gutter-10">
    <div class="col-md-3">
        <div class="panel bg-primary">
          	<div class="panel-body p-v-md">
            	<img class="img-circle pull-left m-r-md" src="{{picture}}" alt="" width="100">
            	<a ng-click="staffUpdate.userActive(userId,user[0].fullName,user[0].isActive )"><span class="{{(user[0].isActive == 'Activo')?'badge bg-warning':'badge bg-danger'}}"> <i class="mdi-flag-outline-variant"></i> {{user[0].isActive}}</span></a>
        	</div>
      	</div>
		<div class="panel">
            <div class="panel-heading bg-primary"><strong>Documentos Adjuntos</strong> <em style="font-size: 12px;font-style: italic">(PDF, JPG, DOCX, EXCEL, PNG)</em>
            </div>
            <div class="panel-body ">
                <table style="width:100%">
					<tr >
						<th>N°</th>
						<th>DOCUMENTO/ARCHIVO</th>
						<th></th>
					</tr>
					<tr class="m-t-md"ng-repeat="file in files">
						<td class="uppercase">{{$index+1}} </td>
						<td><a tooltip-placement="right" tooltip="Click para Ver Archivo" ng-click="staffUpdate.openFile(file)"><span class="label bg-secundary">{{file.name}}</span></a></td>
						<td>

							<a class="pull-left"ng-click="staffUpdate.deleteFile(file)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar archivo"></i></a>

						</td>                                
					</tr>
            	</table>
				<br>
				<br>
				<div class="button-group" align="end">
					<button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="staffUpdate.uploadFiles()">
					  	<strong><i class="mdi-upload"></i> <small class="label bg-warning">ADJUNTAR</small></strong>
					</button>
				</div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
		<form name="updateUserBlockInfo" class="form-horizontal">
			<div class="panel">
				<div class="panel-heading bg-primary">
				<strong>Información personal</strong>
				</div>
				<div class="panel-body">
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Nombre completo:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-8">
					<input type="text" class="form-control uppercase" placeholder="Nombre completo" name="name" ng-model="userDetails.fullName" required>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Rut:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-3">
					<input type="text" class="form-control uppercase" placeholder="Ingrese rut" name="R.U.T" ng-model="userDetails.rut"  ng-required="true">
					</div>
					<div class="col-sm-2">
						<p class="text-danger" style="font-size: 12px;font-style: italic">Sin puntos y guión</p>
					</div>
					<div class="col-sm-2">
						<a><span class="label bg-info uppercase" ng-click="staffUpdate.checkRut(userDetails.rut)"><i class="mdi-check"></i>Validar RUT</span></a>
						
					</div>
					<div class="col-sm-1">
									<p class="text-danger" style="font-size: 12px;font-style: italic"><strong>{{textValidation}}</strong></p>
									
								</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Sexo:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-3">

					<select class="form-control uppercase" ng-init="userDetails.gender={{user[0].gender}}" ng-model="userDetails.gender">
							<option value="Masculino">Masculino</option>
							<option value="Femenino">Femenino</option>
					</select>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Nacionalidad:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-3">
					<select class="form-control uppercase" ng-model="userDetails.nationality" ng-init="userDetails.nationality={{user[0].nationality}}">
						<option value="Chileno(a)">Chileno(a)</option>
						<option value="Colombiano(a)">Colombiano(a)</option>
						<option value="Venezolano(a)">Venezolano(a)</option>
						<option value="Peruano(a)">Peruano(a)</option>
						<option value="Haitiano(a)">Haitiano(a)</option>
					</select>
					</div>
				</div>

				

				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Fecha Nacimiento:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-1">
						<span class="label bg-accent" style="font-size: 10px;">Día</span> 
					<input min="1" max= "31" type="number" style="width :65px" class="form-control input-sm" name="day" ng-model="userDetails.day" required> 
					</div>
					<div class="col-sm-1">
						<span class="label bg-accent" style="font-size: 10px;">Mes</span> 
					<input min="1" max= "12" type="number" style="width :65px" class="form-control input-sm" name="month" ng-model="userDetails.month" required> 
					</div>
					<div class="col-sm-3">
						<span class="label bg-accent" style="font-size: 10px;">Año</span> 
					<input min="1950" max= "2500" type="number" style="width :85px" class="form-control input-sm" name="year" ng-model="userDetails.year" required> 
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Telefono:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-3">
					<input type="text" class="form-control uppercase" placeholder="Telefono" name="phone" ng-model="userDetails.phone" required> 
					</div>
				</div>
				

				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Dirección:</strong>
					</label>
					<div class="col-sm-8">
					<input type="text" class="form-control uppercase" placeholder="Dirección" name="address" ng-model="userDetails.address">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Ciudad/Comuna:</strong>
					</label>
					<div class="col-sm-8">
					<input type="text" class="form-control uppercase" placeholder="Ciudad" name="city" ng-model="userDetails.cityName" aria-invalid="false">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Email:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-8">
					<input type="email" class="form-control uppercase" placeholder="Escriba E-Mail" name="E-mail" ng-model="userDetails.email" required>
					<span class="text-danger" ng-show="updateUserBlockInfo.email.$touched && updateUserBlockInfo.email.$invalid">Correo inválido</span>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Fecha ingreso:<span class="text-danger"> *</span></strong>
					</label>
					<div class="col-sm-8">

						<input type="date" class="form-control uppercase"
								value="{{admissionDate}}" ng-model="userDetails.startDate">
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Fecha Termino:</strong>
					</label>
					<div class="col-sm-8">
					<input type="date" class="form-control uppercase" value="{{finishDate}}" ng-model="userDetails.finishDate">
					</div>
				</div>

					<div class="button-group">
						<button  md-ink-ripple class="md-btn md-raised bg-accent pull-right"  ng-disabled="updateUserBlockInfo.$invalid" ng-click="staffUpdate.updateUserInfo()">
							<i class="mdi-content-save-all"></i>
							Guardar datos
						</button>
					</div>
				</div>

			</div>
		</form>
		<form name="updateUserBlockInfoOrganization" class="form-horizontal">
		<div class="panel">
			<div class="panel-heading bg-primary">
			<strong>Información organizacional</strong>
			</div>
			<div class="panel-body">
			<div ng-show="organizationalInformationUpdate">

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Tipo de contrato:</strong><span class="text-danger"> *</span>
				</label>
				<div class="col-sm-3">
				<select ng-init="userDetails.contractTypeName={{user[0].contractTypeName}}" class="form-control uppercase" ng-model="userDetails.contractTypeName" ng-required="true">
					<option value="Indefinido">Indefinido</option>
					<option value="Plazo Fijo">Plazo Fijo</option>
				</select> 
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Rol:</strong><span class="text-danger"> *</span>
				</label>
				<div class="col-sm-8 uppercase">
				<ui-select ng-change="staffUpdate.setRole($select.selected.roleid)" tooltip="Rol" ng-model="userDetails.rol" theme="bootstrap"  title="Rol a asignar" required >
					<ui-select-match ><small> {{$select.selected.rolename}}</small></ui-select-match>
					<ui-select-choices repeat="roles in role | filter: $select.search">
						<div  ng-bind-html="roles.rolename | highlight: $select.search"></div>
						<small>

							<!-- <h4 ng-bind-html="''+roles.rolename | highlight: $select.search"></h4> -->
						</small>
					</ui-select-choices>
				</ui-select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Asociar sucursales:</strong><span class="text-danger"> *</span>
				</label>
				<div class="col-sm-8">
				<ui-select multiple ng-model="myUiSelect.model" theme="bootstrap"  close-on-select="false" title="Seleccione sucursales " remove-selected="false" required>
					<ui-select-match placeholder="Seleccione sucursales...">{{$item.warehouseCode}}</ui-select-match>
					<ui-select-choices repeat="warehouse in warehousesAll | filter: $select.search">
						<div  ng-bind-html="warehouse.warehouseCode | highlight: $select.search"></div>
						<small>

							<h4 ng-bind-html="''+warehouse.officeName | highlight: $select.search"></h4>
						</small>
					</ui-select-choices>
				</ui-select>
				</div>
			</div>
			</div>

			<div ng-show="organizationalInformationInfo">
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Tipo de contrato:</strong>
					</label>
					<div class="col-sm-8 ">
					<span class="label bg-warning uppercase" style="font-size: 12px;">{{user[0].contractTypeName}}</span> 
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Rol:</strong>
					</label>
					<div class="col-sm-8 ">
					<span class="label bg-warning uppercase" style="font-size: 12px;">{{user[0].rol}}</span> 
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3 control-label p-r-xs">
					<strong>Sucursales Asociadas:</strong>
					</label>
					<div class="col-sm-8">
					<span ng-repeat="warehouse in warehouses" class="label bg-secundary uppercase" style="font-size: 12px;"> {{warehouse.code}} &nbsp;</span>
					</div>
				</div>
			</div>

			<div class="button-group">
				<div class="pull-right" ng-show="organizationalInformationUpdate">
					<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="staffUpdate.saveInfo(2)">
						<i class="mdi-close"></i>
						Cancelar
					</button>
				<button  md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="updateUserBlockInfoOrganization.$invalid" ng-click="staffUpdate.updateUserInfoOrganization()">
						<i class="mdi-content-save-all"></i>
						Guardar datos
					</button>
					
				</div>
				<div ng-show="organizationalInformationInfo">
					<button md-ink-ripple class="md-btn md-raised bg-warning pull-right"  ng-click="staffUpdate.saveInfo(1)">
						<i class="mdi-message-draw"></i>
						Modificar
					</button>
				</div>
				</div>
			</div>
		</div>
		</form>
		<form name="updateUserBlockAccess" class="form-horizontal">
		<div class="panel">
			<div class="panel-heading bg-primary">
			<strong>Credenciales</strong>
			</div>
			<div class="panel-body">
						<div class="form-group">
							<label for="" class="col-sm-3 control-label p-r-xs">
								<strong>Usuario:<span class="text-danger"> *</span></strong>
							</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" placeholder="" name="username" ng-model="userDetails.userName" aria-invalid="false" required>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label p-r-xs">
								<strong>Contraseña:<span class="text-danger"> *</span></strong>
							</label>
							<div class="col-sm-4">
								<span ng-show="passInput"><input type="password" class="form-control" placeholder="" name="password" ng-model="userDetails.password" aria-invalid="false" required></span>
								
								<span ng-show="passText"><input type="text" class="form-control" placeholder="" name="password" ng-model="userDetails.password" aria-invalid="false" required></span>
								

								<span class="text-danger" ng-show="updateUserBlockAccess.password.$touched && updateUserBlockAccess.password.$invalid">Cree una contraseña</span>  
							</div>
							<div class="col-sm-2" ng-show="passInput">
								<a><span class="label bg-info uppercase" ng-click="staffUpdate.viewPass(1)">Ver contraseña</span></a>
								
							</div>
							<div class="col-sm-2" ng-show="passText">
								<a><span class="label bg-warning uppercase" ng-click="staffUpdate.viewPass(2)">Ocultar contraseña</span></a>
								
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label p-r-xs">
								<strong>Repita Contraseña:<span class="text-danger"> *</span></strong>
							</label>
							<div class="col-sm-8">
								<input type="password" tooltip-placement="bottom" tooltip="La contraseña debe ser igual a la ingresada arriba" class="form-control" placeholder="" name="password2" ng-model="password2" aria-invalid="false" required>
								<span class="text-danger" ng-show="updateUserBlockAccess.password2.$touched && updateUserBlockAccess.password2.$invalid">Ingrese nuevamente la contraseña</span>
								<span class="text-danger" ng-show="updateUserBlockAccess.password.$modelValue !== updateUserBlockAccess.password2.$modelValue">Contraseñas no coinciden.</span>
							</div>
						</div>

						<div class="button-group">
							<button  md-ink-ripple class="md-btn md-raised bg-accent pull-right"  ng-disabled="updateUserBlockAccess.$invalid" ng-click="staffUpdate.updateUserInfoAccess()">
								<i class="mdi-content-save-all"></i>
								Guardar datos
							</button>
				</div>
			
			</div>
		</div>
		</form>
		<form name="updateUserBlockInstitutions" class="form-horizontal">
		<div class="panel">
			<div class="panel-heading bg-primary">
			<strong>Instituciones</strong>
			</div>
			<div class="panel-body">
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>AFP:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-8">

				<select ng-init="userDetails.retirementName={{user[0].retirementName}}" class="form-control uppercase" ng-model="userDetails.retirementName">
					<option ng-repeat="retirements in retirements" value="{{retirements.name}}">{{retirements.name}}</option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Salud:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-3">
				<select ng-change="staffUpdate.isapresShowList(userDetails.healthSystemName)" ng-init="userDetails.healthSystemName={{user[0].healthSystemName}}" class="form-control uppercase" ng-model="userDetails.healthSystemName" ng-required="true">
					<option value="FONASA">FONASA</option>
					<option value="ISAPRE">ISAPRE</option>
				</select>

				</div>
			</div>
			<span ng-show="isapresList">
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Isapre:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-3">

				<select ng-init="userDetails.isapreName={{user[0].isapreName}}" class="form-control uppercase" ng-model="userDetails.isapreName">
					<option ng-repeat="isapres in isapres" value="{{isapres.name}}">{{isapres.name}}</option>
				</select>


				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Porcentaje Plan:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-3">
				<input type="decimal" class="form-control uppercase" ng-model="userDetails.percentagePlan">
				</div>
			</div>
			</span>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Caja Compensación:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-4">

				<select ng-init="userDetails.compensationBoxName={{user[0].compensationBoxName}}" class="form-control uppercase" ng-model="userDetails.compensationBoxName">
					<option ng-repeat="compensationBox in compensationBox" value="{{compensationBox.name}}">{{compensationBox.name}}</option>
				</select>
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Sueldo Base:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-8">
				<input type="text" class="form-control uppercase"ng-model="userDetails.baseSalary" aria-invalid="false" ng-required="true">
				</div>
			</div>
			

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Banco:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-8">
				<select ng-init="userDetails.bankName={{user[0].bankName}}" class="form-control uppercase" ng-model="userDetails.bankName">
					<option ng-repeat="banks in banks" value="{{banks.description}}">{{banks.description}}</option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>N° Cuenta:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-8">
				<input type="text" class="form-control uppercase"ng-model="userDetails.accountNumber" aria-invalid="false" ng-required="true">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Tipo Cuenta:<span class="text-danger"> *</span></strong>
				</label>
				<div class="col-sm-8">

				<select ng-init="userDetails.bankAccountType={{user[0].bankAccountType}}" class="form-control uppercase" ng-model="userDetails.bankAccountType">
					<option value="Vista/Cuenta Rut">Vista/Cuenta Rut</option>
					<option value="Cuenta Ahorro">Cuenta Ahorro</option>
					<option value="Cuenta Corriente">Cuenta Corriente</option>
				</select>
				</div>
			</div>

				<div class="button-group">
					<button  md-ink-ripple class="md-btn md-raised bg-accent pull-right"  ng-disabled="updateUserBlockInstitutions.$invalid" ng-click="staffUpdate.updateUserInfoInstitutions()">
						<i class="mdi-content-save-all"></i>
						Guardar datos
					</button>
				</div>
			</div>

		</div>
		</form>
		<form name="updateUserBlockPersonalInfo" class="form-horizontal">
		<div class="panel">
			<div class="panel-heading bg-primary">
			<strong>Información personal</strong>
			</div>
			<div class="panel-body">
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Estado Civil:</strong>
				</label>
				<div class="col-sm-8">

				<select ng-init="userDetails.maritalStatus={{user[0].maritalStatus}}" class="form-control uppercase" ng-model="userDetails.maritalStatus" required>
					<option value="Soltero(a)">Soltero(a)</option>
					<option value="Casado(a)">Casado(a)</option>
					<option value="Separado(a)">Separado(a)</option>
					<option value="Viudo(a)">Viudo(a)</option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Hijos(as):</strong>
				</label>
				<div class="col-sm-3">
				<input type="number" class="form-control uppercase" ng-model="userDetails.numberOfChildren">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Unidad:</strong>
				</label>
				<div class="col-sm-8">

				<select ng-init="userDetails.costCenterName={{user[0].costCenterName}}" class="form-control uppercase" ng-model="userDetails.costCenterName" required>
					<option value="MAT">MAT</option>
					<option value="BOD-CHILL">BOD-CHILL</option>
					<option value="BOD-CONST">BOD-CONST</option>
					<option value="BOD-TEM">BOD-TEM</option>
					<option value="BOD-CONCE">BOD-CONCE</option>
					<option value="UNDEFINED">UNDEFINED</option>
				</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Tallas:</strong>
				</label>
				<div class="col-sm-1">
					<span class="label bg-accent" style="font-size: 10px;">Polera</span> 
				<input type="text" style="width :65px" class="form-control" ng-model="userDetails.shirtSize"> 
				</div>
				<div class="col-sm-1">
					<span class="label bg-accent" style="font-size: 10px;">Zapato</span> 
				<input type="text" style="width :65px" class="form-control" ng-model="userDetails.shoeSize">  
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Ultimo empleador:</strong>
				</label>
				<div class="col-sm-6">
				<input type="text" class="form-control uppercase" ng-model="userDetails.lastEmployer">
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Escolaridad:</strong>
				</label>
				<div class="col-sm-6">

				<select ng-init="userDetails.scholarShip={{user[0].scholarShip}}" class="form-control uppercase" ng-model="userDetails.scholarShip">
					<option value="Educación Básica">Educación Básica</option>
					<option value="Educación Básica Incompleto">Educación Básica Incompleto</option>
					<option value="Educación Media">Educación Media</option>
					<option value="Educación Media Incompleto">Educación Media Incompleto</option>
					<option value="Educación Superior">Educación Superior</option>
					<option value="Educación Superior Incompleto">Educación Superior Incompleto</option>
					<option value="Postgrado">Postgrado</option>
				</select>
				</div>
			</div>
			

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Profesión:</strong>
				</label>
				<div class="col-sm-8">
				<input type="text" class="form-control uppercase" ng-model="userDetails.profession">
				</div>
			</div>

			<div class="form-group">
				<label for="" class="col-sm-3 control-label p-r-xs">
				<strong>Observación:</strong>
				</label>
				<div class="col-sm-8">
				<textarea ng-model="userDetails.observation" class="form-control uppercase">
							</textarea>
				</div>
			</div>

				<div class="button-group">
					<button  md-ink-ripple class="md-btn md-raised bg-accent pull-right"  ng-disabled="updateUserBlockPersonalInfo.$invalid" ng-click="staffUpdate.updateUserBlockPersonalInfo()">
						<i class="mdi-content-save-all"></i>
						Guardar datos
					</button>
				</div>
			</div>

		</div>
		</form>
    </div>
</div>

<style>
.uppercase { text-transform: uppercase; }
</style>
