
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.checks">
            <i class="mdi-home"></i>
            CHEQUES
        </a>
    </li>
</ul>

<div class="main-title">
    <div class="title">
        <h1 class="text-uppercase">
            Listado de Cheques <span><a ng-click="checksList.loadChecks()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="reporte historico cheques" ng-click="checksList.getHistoricalChecks()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>

        <button has-disabled= "cheques-edit" md-ink-ripple ng-disabled="selectedChecks.length == 0"  class="md-btn md-raised m-l-sm bg-warning" ng-click="checksList.updateStatusCheck()" tooltip="Depositar/validar/Rechazar">
            <i class="mdi-paperclip"></i> Acciones
        </button>
        <button has-disabled= "cheques-edit" md-ink-ripple class="md-btn md-raised " ng-click="checksList.checkCreate()">
            <i class="mdi-plus"></i>
            Ingresar cheque
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar cheques" ng-model="checksList.searchText" ng-change="checksList.searchData()" ng-model-options="checksList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;" ui-grid="checksGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
