 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Pre-pedido N°: <strong>{{orderId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.preOrders">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          
          <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
          </div> -->
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="preOrdersPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Proveedor: </strong> <span class="uppercase">{{invoice[0].providerName}}</span>
          <!-- <span class="m-r-md"><strong>Estado: <span class="{{(statusPayment== 'Cancelada')?'label bg-success':'label bg-danger'}}"> {{invoice[0].statusName}}</span> -->
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{invoice[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="badge bg-info">{{invoice[0].type}}</span></span>
          
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <em>{{invoice[0].date | date:'dd/MM/yyyy'}}</em></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{invoice[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{invoice[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N° </th>
                <th>Código Marca</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Cantidad</th>
              </tr>
              <tr ng-repeat="items in invoiceItems">
                <td>{{$index+1}}</td>
                <td class="uppercase"><em>{{items.brandCode}}</em></td>
                <td class="uppercase">{{items.itemDescription}} <strong style="font-size: 12px;">[ID: {{items.itemId}}]</strong>  <em style="font-size: 10px;">Ref: ({{items.reference}})</em></td>
                <td class="uppercase">{{items.brand}}</td>
                <td align="center">{{items.quantityItems}}</td> 
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{invoice[0].userCreation}}</span></span></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
