<style>
	.full-border-raduis {border-radius: 3px;}
	.top-border-raduis {border-radius: 3px 3px 0 0;}
	.ui-select-multiple.ui-select-bootstrap > div {overflow-x: auto;}
	.ui-select-match-item {width: inherit;}
	.custom-cursor {cursor: pointer;}
</style>
<div class="panel panel-default bg-light">

	<div class="bg-info panel-heading custom-cursor" ng-class="{'full-border-raduis': !showPanel, 'top-border-raduis': showPanel}" ng-click="showPanel = !showPanel">					
		<a class="custom-toggle">
			<i class="mdi-navigation-menu"></i>
			<span>{{singleOccCtrl.occurrence.label}}</span>
		</a>
	</div>

	<div id="isOpen" class="panel-body" ng-if="showPanel">
	
			<div class="row" ng-repeat="dataRow in singleOccCtrl.occurrence.data">

				<div class="col-xs-12"
					ng-class="{'col-sm-6': !(field.typefield == 'occurrences' || field.typefield == 'dynamicOccurrences') }" 
					ng-repeat="field in dataRow | orderBy: 'orderBy'">

					<ui-grid-component 
						field="field" 
						in-edit="!(field.isDisabled)" 
						ng-if="field.typefield == 'ui-grid'">
					</ui-grid-component>

					<dinamic-input 
						ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
						field="field" 
						allow-clear="false"
						base-service-url="singleOccCtrl.baseServiceUrl" 
						type-form="not-inline"
						in-panel="true"
						show-title="true"
						on-change="singleOccCtrl.onFieldChange(field, cleanModel)"
						additional-params="singleOccCtrl.addParams">
					</dinamic-input>

					<u-dynamic-panel 
						ng-if="field.typefield == 'panel'"
						on-content-change="singleOccCtrl.onFieldChange(panel)"
						base-service-url="singleOccCtrl.baseServiceUrl"
						add-params="singleOccCtrl.addParams"
						empty-substructure-folter="{{ singleOccCtrl.emptySubstructureFolter }}"
						parent="singleOccCtrl.occurrence"
						on-submit="singleOccCtrl.onPanelSubmit(panel)"
						auto-save="false"
						panel="field">
					</u-dynamic-panel>

					<u-dynamic-occurrences 
						occurrences="field"
						add-params="singleOccCtrl.addParams"
						parent="singleOccCtrl.occurrence"
						empty-substructure-folter="{{ singleOccCtrl.emptySubstructureFolter }}"
						base-service-url="singleOccCtrl.baseServiceUrl"
						ng-if="field.typefield == 'occurrences' || field.typefield == 'dynamicOccurrences'"> 
					</u-dynamic-occurrences>

					<div ng-if="field.typefield == 'structure'">
						<u-tree e-nodes="field" e-options="singleOccCtrl.uTreeOptions"></u-tree>
					</div>

				</div>

			</div>

			<div class="row" ng-show="showBtnActions">
				<div class="col-xs-12">

					<div class="pull-right m-t-sm">

						<button type="button" ng-click="singleOccCtrl.onOccurrenceDelete()" 
								class="btn btn-sm m-v-xs m-r-sm bg-danger md-btn md-flat md-raised"
								ng-show="singleOccCtrl.parent.typefield == 'dynamicOccurrences'">
							<i class="mdi-delete m-r-sm"></i>{{ 'DELETE' | translate }}
						</button>	

						<button type="submit" class="btn btn-sm m-v-xs m-r-sm bg-accent md-btn md-flat md-raised" ng-click="singleOccCtrl.onOccurrenceSubmit()">
							<i class="mdi-content-save m-r-sm"></i>{{ 'SAVE_CHANGES' | translate }}
						</button>	

					</div>
					
				</div>
			</div>

	</div>								
</div>
