 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="orderView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Solicitud de pedido id: <strong>{{orderId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          
          
          <span class="m-r-md"><strong>  Proveedor: </strong> <span class="uppercase"> {{providerName}}</span>
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{order[0].rut}}</span></span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(order[0].statusName == 'Rechazada')?'badge bg-danger':'badge bg-warning'}}">{{order[0].statusName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="label bg-info">{{order[0].type}}</span></span>
          <span ng-show="internationalType">
            <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{order[0].currency}}</span>
            <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase">{{currencySymbol}}{{order[0].currencyValue}}</span></span>
          </span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{order[0].date | date:"dd/MM/yyyy"}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span class="label bg-secundary">{{order[0].origin}}</span></span><span class="m-r-md"><strong>Destino:</strong> <span class="label bg-secundary">{{order[0].destination}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{order[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th style="font-size: 10px;">N°</th>
                <th style="font-size: 10px;"></th>
                <th style="font-size: 11px;">Descripción</th>
                <th style="font-size: 11px;">Marca</th>
                <th style="font-size: 11px;">Stock </th>
                <th style="font-size: 11px;">Precio </th>
                <th style="font-size: 11px;">Cant. </th>
                <th style="font-size: 11px;">Total</th>
              </tr>
              <tr ng-repeat="items in orderItems">
                <td style="font-size: 10px;">{{$index+1}}</td>
                <td align="center" class="uppercase" style="font-size: 11px;"><strong>{{items.itemId}} -</strong></td>
                <td class="uppercase" style="font-size: 12px;">{{items.itemDescription}} <em>(<strong tooltip-placement="right" tooltip="Referencia">{{items.referenceKey}}</strong> - </em><em tooltip-placement="right" tooltip="Código Marca"> {{items.brandCode}})</em></td>
                <td class="uppercase badge bg-secundary" style="font-size: 9px;">{{items.brand}} </td>
                <td><span style="font-size: 11px;"><strong>{{items.stock}}/{{items.stockGeneral}} </strong>  </span></td>
                <td style="font-size: 11px;">{{currencySymbol}}{{items.price}} </td>
                <td><strong class="uppercase badge bg-warning">{{items.quantityItems}} </strong></td>
                <td style="font-size: 11px;"><strong>{{currencySymbol}}{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>

<div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> {{currencySymbol}}  {{subTotality}}</strong></h2></th>
                    </tr>
                    <!-- <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{order[0].discount}} %</strong></h2></th>
                    </tr> -->
                    <tr ng-hide="internationalType">
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> {{currencySymbol}}  {{order[0].netPrice}}</strong></h2></th>
                    </tr>
                    <tr ng-hide="internationalType">
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> {{currencySymbol}}  {{order[0].priceVAT}}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> {{currencySymbol}}  {{order[0].total}}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>

    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-warning">{{order[0].userCreation}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-secundary">{{order[0].userUpdate}}</span></span></span>
      </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple class="md-btn md-raised bg-warning" has-permission= "solicitud-de-pedido-validate" ng-show= "order[0].statusName == 'Pendiente ...'" ng-click="orderView.validateOrder(2)">
        <i class="mdi-check"></i>
        Validar

    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-danger" has-permission= "solicitud-de-pedido-validate" ng-show= "order[0].statusName == 'Pendiente ...'" ng-click="orderView.validateOrder(3)"  >
        <i class="mdi-check"></i>
        Rechazar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="orderView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>
