 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Visualizar nota de crédito Folio: <strong>{{creditNoteId}}</strong></h3>
</div>
<p></p>
<div class="main-title">


    <div class="button-group">
       <!--  <a popover-trigger="mouseenter" popover="Imprimir factura" popover-placement="top" ng-click="invoicePrint.print()"> <span class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a> -->

    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.creditNotes">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="creditNotesPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div> 

      <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{clientName}}</span>
          
          <span class="m-r-md"><strong> Rut: </strong> <span class="uppercase">{{creditNotes[0].rut}}</span></span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(creditNotes[0].statusName == 'No Aplicada')?'badge bg-danger':'badge bg-warning'}}">{{creditNotes[0].statusName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>N° Factura:</strong> <span class="badge bg-accent">{{creditNotes[0].invoiceId}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{creditNotes[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="label bg-secundary">{{creditNotes[0].type}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{creditNotes[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{creditNotes[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <!-- <th>% Dcto.</th>  -->
                <th>Total</th>
                <!-- <th></th> -->
              </tr>
              <!-- <tr ng-repeat="items in creditNotes[0].itemsCreditNotes">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.reference}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td><strong>{{items.total}}</strong></td>
              </tr> -->
              <tr ng-repeat="items in creditNotesItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>$ {{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <!-- <td align="center">{{items.discount}}</td> -->
                <td><strong>$ {{ items.total | pesosChilenos }}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{ subTotality | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{ creditNotes[0].netPrice | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{ creditNotes[0].priceVAT | pesosChilenos }}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{ creditNotes[0].total | pesosChilenos }}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{creditNotes[0].userCreation}}</span></span></span>
      </div>
      <p></p>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-warning">{{creditNotes[0].userModifier}}</span></span></span>
      </div>
      
    </div>   
        </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
