<div class="row gutter-10">
	<div class="col-xs-12 col-sm-3">
		<label><strong>{{ 'COMPETENCY_LEVELS_PANEL' | translate }}</strong></label>
		<div class="levels" ng-repeat="level in node.levels track by $index">
			
			<md-switch tooltip="{{ level.description }}" tooltip-append-to-body="true"
				ng-change="Ctrl.onChange(level.value)"
				ng-true-value="1" ng-false-value="0"
				ng-model="level.value" 
				aria-label="level.levelName">
				{{level.levelCode}} - {{ level.levelName }}
			</md-switch>
			
		</div>
	</div>
	<div class="col-xs-12 col-sm-9">
		<form>
			<div class="form-group">
				<label for="competencyName"><strong>{{ 'COMPETENCY_NAME' | translate }}</strong></label>
				<input 
				ng-change="Ctrl.onChange(node.competencyName)" 
				ng-model="node.competencyName" 
				type="text" 
				class="form-control" 
				id="competencyName" 
				placeholder="{{ 'INSERT_COMPETENCY_NAME' | translate }}">
			</div>
			<div class="form-group">
				<label for="description"><strong>{{ 'COMPETENCY_DESCRIPTION' | translate }}</strong></label>
				<text-angular 
					id="description"
					ng-change="Ctrl.onChange(node.description)"
					ng-model="node.description" 
					ta-toolbar="Ctrl.taOptions">
				</text-angular>
			</div>
		</form>
	</div>
</div>