<style>
.header-content {display: flex; justify-content: space-between; align-items: center;}
.input-header-content {display: flex; justify-content: flex-start; align-items: center;}
.controls {display: flex; justify-content: center; align-content: center;}
.controls a {cursor: pointer!important;}
.body-content {padding: 13px;}
.angular-ui-tree-placeholder {background: #f0f9ff; border: 2px dashed #bed2db; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.angular-ui-tree-no-drag .angular-ui-tree-handle{cursor: initial!important; }
#tree-root [data-nodrag] {cursor: auto; }
.input-container {padding-left: 10px;}
</style>


<div ui-tree="treeOptions" id="tree-root" ng-class="{'angular-ui-tree-no-drag': !Ctrl.options.inEdit}" ng-if="Ctrl.eNodes.data.length > 0">

    <ol ui-tree-nodes ng-model="Ctrl.eNodes.data">
        <li ng-if="!Ctrl.options.inEdit" ng-repeat="node in Ctrl.eNodes.data" ui-tree-node data-nodrag ng-include="'structure-template.html'"></li>
        <li ng-if="Ctrl.options.inEdit" ng-repeat="node in Ctrl.eNodes.data" ui-tree-node ng-include="'structure-template.html'"></li>
    </ol>

</div>

<div class="row" ng-if="Ctrl.options.inEdit">

	<div class="col-xs-12">
		<div class="pull-right m-t-sm">
			<button type="button" ng-click="Ctrl.newSubItem(Ctrl.eNodes)" 
					class="btn btn-sm bg-accent md-btn md-flat md-raised">
				<i class="mdi-plus"></i>{{ 'ADD' | translate }}
			</button>
		</div>
	</div>

</div>