<div class="tree-node tree-node-content p-xs" ui-tree-handle>

    <div class="row gutter-10">
        <div class="col-xs-12">

            <div class="header-content">
                <div class="input-header-content">
                    <div class="item-input">
                        <div ng-show="Ctrl.options.inEdit">
                            <div class="row">
                                <div class="col-xs-2"><i class="mdi-menu i-24 p-t-xs p-h-xs inline fa-rotate-90"></i></div>
                                <div class="col-xs-10">
                                    <input type="text" placeholder="{{ 'EVALUATION_NAME' | translate }}" ng-change="Ctrl.onChange(node.componentName)" ng-if="node.componentName !== undefined" ng-model="node.componentName" class="form-control" data-nodrag />
                                    <input 
                                    type="text"
                                    ng-change="Ctrl.onChange(node.competencyCode)" 
                                    ng-if="node.competencyCode !== undefined" 
                                    ng-model="node.competencyCode" 
                                    class="form-control" 
                                    data-nodrag
                                    placeholder="{{ 'INSERT_COMPETENCY_CODE' | translate }}" />
                                </div>
                            </div>
                        </div>

                        <div class="text-sm p-xs" ng-show="!Ctrl.options.inEdit">{{node.componentName || node.competencyCode}}</div>
                    </div>

                    <div class="item-input" ng-if="node.componentCode !== undefined">
                        <div class="input-container" ng-show="Ctrl.options.inEdit">
                            <input ng-change="Ctrl.onChange(node.componentCode)" placeholder="{{ 'EVALUATION_CODE' | translate }}" ng-show="Ctrl.options.inEdit" type="text" ng-model="node.componentCode" class="form-control" data-nodrag />
                        </div>
                        <div class="text-sm p-xs" ng-show="!Ctrl.options.inEdit">{{node.componentCode}}</div>
                    </div>

                    <div class="item-input" ng-if="node.componentWeight !== undefined">
                        <div class="input-container" ng-show="Ctrl.options.inEdit">
                            <input ng-change="Ctrl.onChange(node.componentWeight)" placeholder="{{ 'EVALUATION_PERCENTAGE' | translate }}" type="text" ng-model="node.componentWeight" class="form-control" data-nodrag />
                        </div>
                        <div class="text-sm p-xs" ng-show="!Ctrl.options.inEdit">{{node.componentWeight || '0'}}%</div>
                    </div>

                    <div class="item-input" ng-if="node.componentDate !== undefined">
                        <div class="input-container">
                            <input ng-change="Ctrl.onChange(node.componentDate)" placeholder="{{ 'EVALUATION_DATE' | translate }}" ng-show="Ctrl.options.inEdit" type="text" ng-init="Ctrl.setDateFormatting(node)" class="form-control" ng-click="Ctrl.dateOpen($event, node)" date-range-picker 
                            ng-model="node.componentDate" options="Ctrl.datePickerOptions" data-nodrag />
                        </div>
                        <div class="text-sm p-xs" ng-show="!Ctrl.options.inEdit">{{ node.componentDate }}</div>
                    </div>

                    <div class="item-input" ng-if="node.isHalfTermEvaluation !== undefined">
                        <div class="input-container">
                            <md-checkbox ng-change="Ctrl.onChange(node.isHalfTermEvaluation)" ng-disabled="!Ctrl.options.inEdit" ng-model="node.isHalfTermEvaluation" ng-true-value="1" ng-false-value="0" aria-label="Medio termino" data-nodrag class="md-accent m-v-xs">
                                {{ 'HALF_LENGTH' | translate }}
                            </md-checkbox>
                        </div>
                    </div>

                    <div class="item-input" ng-if="node.isFinalEvaluation !== undefined">
                        <div class="input-container">
                            <md-checkbox ng-change="Ctrl.onChange(node.isFinalEvaluation)" ng-disabled="!Ctrl.options.inEdit" ng-model="node.isFinalEvaluation" ng-true-value="1" ng-false-value="0" aria-label="Colegiada final" data-nodrag class="md-accent m-v-xs">
                                {{ 'FINAL_COLLEGIATE' | translate }}
                            </md-checkbox>
                        </div>
                    </div>

                </div>
                        
                <div class="options-header-content">
                    <span class="controls p-v-sm p-h-sm inline" data-nodrag>
                        <a class="text-dark" tooltip-placement="top" tooltip="{{ 'TOGGLE_COLAPSE' | translate }}" ng-click="toggle=!toggle">
                            <i class="i-20" ng-class="{'mdi-chevron-down': toggle, 'mdi-chevron-up': !toggle}"></i>
                        </a>
                
                        <a class="text-accent p-h-sm inline" data-nodrag ng-click="Ctrl.newSubItem(node)" ng-show="Ctrl.options.inEdit" tooltip-placement="top" tooltip="{{ 'ADD' | translate }}">
                            <i class="i-20 mdi-plus"></i>
                        </a>
                
                        <a ng-if="!node.isFinalCalculation" class="text-danger inline" data-nodrag ng-click="remove(this); Ctrl.onChange()" ng-show="Ctrl.options.inEdit" tooltip-placement="top" tooltip="{{ 'DELETE' | translate }}">
                            <i class="i-20 mdi-close"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="body-content" ng-hide="toggle" data-nodrag>
        <div class="row gutter-10">

            <div ng-if="Ctrl.options.template == 'syllabus'" class="col-xs-12" ng-repeat="panel in node.dynamicInputs">

                <div ng-include="'simple-panel.html'"></div>

            </div>
            
            <div ng-if="Ctrl.options.template == 'course-program'">
                <div ng-include="'competency-levels-template.html'"></div>
            </div>
            
        </div>
    </div>
</div>

<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" ng-if="node.nodes !== undefined">
    <li ng-if="!Ctrl.options.inEdit" ng-repeat="node in node.nodes" ui-tree-node data-nodrag ng-include="'structure-template.html'"></li>
    <li ng-if="Ctrl.options.inEdit" ng-repeat="node in node.nodes" ui-tree-node ng-include="'structure-template.html'"></li>
</ol>

<ol ui-tree-nodes="" ng-model="node.subCompetencies" ng-class="{hidden: collapsed}" ng-if="node.subCompetencies !== undefined">
    <li ng-if="!Ctrl.options.inEdit" ng-repeat="node in node.subCompetencies" ui-tree-node data-nodrag ng-include="'structure-template.html'"></li>
    <li ng-if="Ctrl.options.inEdit" ng-repeat="node in node.subCompetencies" ui-tree-node ng-include="'structure-template.html'"></li>
</ol>