 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  /*.modal-footer {
      background-color: #f9f9f9;
  }*/

  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="trucksDelete.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Eliminar Camión</h3>
</div>
	<div class="modal-body">
        <b>¿Desea realmente eliminar Camión?</b></br></br>
        <h4 align="center"> Nombre cliente: <span class="uppercase label bg-secondary">{{clientName}}</span>  Código:<span class="label bg-warning">{{id}}</span></h4>
    </div>
	<div class="modal-footer">
      <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="trucksDelete.cancel()">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="trucksDelete.deleteTrucks()">
            <i class="mdi-check"></i>
            Aceptar
        </button>
    </div>
	    
	</div>