 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="saleNotesView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Nota de venta N°: <strong>{{saleNoteId}}</strong></h3>
</div>
<div class="modal-body">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{clientName}}</span>
          
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{saleNote[0].rut}}</span></span>
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(saleNote[0].statusName == 'OK')?'badge bg-success':'badge bg-warning'}}">{{saleNote[0].statusName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{saleNote[0].date}}</span><span ng-hide="saleNote[0].time == '00:00:00'" ><strong> Hora: </strong>{{saleNote[0].time}} </span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{saleNote[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Nombre solicitante:</strong> <span class="uppercase">{{saleNote[0].nameDescription}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Teléfono:</strong> <span>{{saleNote[0].phone}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{saleNote[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>Item</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th></th>
              </tr>
              <tr ng-repeat="items in saleNoteItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{subTotality}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{saleNote[0].discount}} %</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{saleNote[0].netPrice}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{saleNote[0].priceVAT}}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{saleNote[0].total}}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{saleNote[0].userCreation}}</span></span></span>
      </div>
      <br>
      <div class="col-sm-15" ng-if="saleNote[0].userOut">
        <span class="m-r-md"><strong>Entregada por:</strong> <span> <span class="label bg-accent">{{saleNote[0].userOut}}</span></span></span>
      </div><br>
    <div class="col-sm-15" ng-if="saleNote[0].isOut == 2">
        <span class="m-r-md"><strong>Entrega:</strong> <span> <a tooltip-placement="right" tooltip="Ir a Módulo entregas"ui-sref="app.warehouseDeliveries"><span class="badge bg-warning"><i class="mdi-flash"></i> Incompleto</span></a></span></span>
    </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="saleNotesView.updateDocument()" ng-if="saleNotesView.btnVisible">
      <i class="mdi-package-variant-closed"></i>Entrega Rápida
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-info" ng-click="saleNotesView.transformToInvoice()">
       <i class="mdi-content-copy"></i>Convertir en factura
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="saleNotesView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>