
<style>
  .modal-header, h3, .close {
    background-color: #0DA937;
    color:white !important;
    text-align: center;
    font-size: 20px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }

   table, th, td{
   border-spacing: 2px;
   padding: 3px;
   border: 1px solid black;

 } 
</style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="profitabilitySales.cancel()">
    <span aria-hidden="true">&times;</span>
</button>
  <h3 ><i class="mdi-chart-bar"></i> Rentabilidad por Vendedor</h3>
</div>
<div class="modal-body" id="leso">
    <div class="panel-body">
      <form name="formData">

          <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Usuario:</strong>
                        </label>

                        <div class="col-sm-7">
                            <ui-select style="width :200px" ng-change= "profitabilitySales.setName(selectedTwo)" ng-model="selectedTwo" title="users" ng-required="true">
                            <ui-select-match >{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="users in users | filter: $select.search track by $index" refresh="profitabilitySales.searchClient($select.search)" refresh-delay="0">
                                <strong ng-bind-html="''+users.lastName | highlight: $select.search"></strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            <strong>Up:</strong>
                        </label>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                        <input type="date" ng-model="startDate" class="uppercase" >
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">
                            <strong>To:</strong>
                        </label>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                        <input type="date" ng-model="endDate" class="uppercase" >
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="profitabilitySales.calculate()">
                            <i class="mdi-chart-line"> </i> Calcular
                           </button>
                        </label>

                        
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>

        <div class="row panel-body">
            <div class="col-md-7">
            <div class="col-sm-15 m-t-sm">
                  <span class="m-r-md"><strong>Vendedor:</strong> <span class="uppercase">{{userName}}</span></span>
              </div>
              <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Rut: </strong><span class="uppercase">{{user[0].rut}}</span></span>
          </div>
              <div class="col-sm-15 m-t-sm">
                  <span class="m-r-md"><strong>Codigo vendedor:</strong> <span class="badge bg-secundary uppercase">{{id}}</span></span>
              </div>
              <div class="col-sm-15 m-t-sm">
            <span class="m-r-md"><strong>Sucursales asociadas:</strong>  <span ng-repeat="warehouse in warehouses" class="label bg-accent uppercase"> {{warehouse.code}}</span> </span>
          </div>

          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Rol: </strong> <span class="label bg-info">{{user[0].rol}}</span> </span>
              
          </div>
          <div class="col-sm-15 m-t-sm">
              <span class="m-r-md "><strong>Correo: </strong><span >{{user[0].email}}</span></span>
          </div>


        </div>
            <table class="col-md-5" > 
              <tr>
                <th style="color:#0DA937;">Rentabilidad Ventas por usuario</th>
              </tr>
              <tr >
                <th>Ventas Neto</th>
                <th>${{netSales[0].suma | number:0}}</th>
              </tr>
              <tr>
                <th>Costos ventas</th>
                <th>${{SellingCostsUser | number:0}}</th>
              </tr>
              <tr class="outstanding">
                <th>Margen contribución:</th>
                <th>${{netSales[0].suma - SellingCostsUser | number:0}}</th>
              </tr>
              <tr>
                <th style="color:#0DA937;">Promedio venta neto diario</th>
                 <th>${{netSalesValue / days | number:0 }}</th>
              </tr>

              <!-- <tr ng-repeat="items in otherExpensesList">
                <th><span class="label bg-secundary">{{items.dsName}}</span></th>
                <th>${{items.suma | number:0}}</th>
              </tr> -->

              <!-- <tr>
                <th>Total Gastos</th>
                <th>${{otherExpenses[0].suma | number:0}}</th>
                <th>${{sumExpence | number:0}}</th>
              </tr> -->
              <!-- <tr class="outstanding">
                <th>Utilidad antes de Impuesto:</th>
                <th>${{profitBeforeTax | number:0}}</th> 
              </tr> -->
              <!-- <tr>
                <th>Impuesto a la Renta 27%</th>
                <th>${{incomeTax | number:0}}</th>
              </tr> -->
             <!--  <tr class="outstanding">
                <th>Utilidad:</th>
                <th>${{utility | number:0}}</th>
              </tr> -->
              
            </table>

            
    </div>
    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; ">Reporte generado por sistema Jormat Evolution 2.0 para departamento de finanzas
        
        
      </span>
      </div>
    </div>

</div>
</div>
<div class="modal-footer">
  <div class="button-group">
  
  <!-- <button ng-disabled="true" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="profitabilitySales.loadPDF()">
     <i class="mdi-table-edit"></i>Imprimir
  </button> -->
  <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="profitabilitySales.cancel()">
    <i class="mdi-window-close"></i>Cerrar
  </button>
  </div> 
</div>