
<style>
    .uppercase { text-transform: uppercase; }
    </style>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="app.items">
                <i class="mdi-home"></i>
                ITEMS
            </a>
        </li>
        <li>Crear Item</li>
    </ul>
    <div class="main-title">
        <div class="title">
            <h1>
                Nuevo Item
            </h1>
        </div>
        <div class="button-group">
            <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.items">
                <i class="mdi-window-close"></i>
                Cancelar
            </button>
            <button type="submit" onclick="this.disabled=true;" ng-disabled="createItemForm.$invalid || saveButton" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="itemsCreate.createItem()">
                <i class="mdi-content-save"></i>
                Guardar
            </button>
        </div>
    </div>
    <form name="createItemForm"  class="form-horizontal">
    <div class="panel">
        <div class="panel-heading bg-success">Datos generales
            <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del Item." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
        </div>
        <div class="panel-body">
            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Descripción Item</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" ng-model= "name" class="form-control"  maxlength="60" required tooltip="60 caracteres como máximo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Categorias</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-8">
                                <ui-select multiple ng-model="categoriesItem.selected" theme="bootstrap"  title="Seleccione categoria " ng-required="true">
                                    <ui-select-match placeholder="Seleccione categorias...">{{$item.categoryName}}</ui-select-match>
                                    <ui-select-choices repeat="categories in categories | filter: $select.search">
                                        <div ng-bind-html="categories.categoryName | highlight: $select.search"></div>
                                        <!-- <small>
    
                                            <h4 ng-bind-html="''+categories.categoryCode| highlight: $select.search"></h4>
                                        </small> -->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Proveedores</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-8">
                                <ui-select multiple ng-model="providerValue.selected" theme="bootstrap"  title="Seleccione Proveedores" ng-required="true">
                                    <ui-select-match placeholder="Seleccione Proveedores..." class="uppercase">{{$item.providerName}}</ui-select-match>
                                    <ui-select-choices repeat="provider in providers | filter: $select.search">
                                        <div ng-bind-html="provider.providerName | highlight: $select.search" class="uppercase"></div>
                                        <small>
                                            <h4 ng-bind-html="''+provider.rut | highlight: $select.search"></h4>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Aplicación: </strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-8">
                                <ui-select multiple ng-model="applicationsValue.selected" theme="bootstrap"  title="Seleccione aplicaciones" ng-required="true">
                                    <ui-select-match placeholder="Seleccione Aplicación..." class="uppercase">{{$item.applicationName}}</ui-select-match>
                                    <ui-select-choices repeat="applications in applications | filter: $select.search">
                                        <div ng-bind-html="applications.applicationName | highlight: $select.search" class="uppercase"></div>
                                        <small>
                                            <h4 ng-bind-html="''+applications.applicationCode | highlight: $select.search"></h4>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
    
                    
    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Marca</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" ng-model= "brand" class="form-control"  required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Código Marca</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" ng-model= "brandCode" class="form-control uppercase"  required>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Tipo</strong>
                            </label>
                            <div class="col-sm-4">
                                <select ng-change= "itemsCreate.internationalType(type)" class="form-control" ng-model="type">
                                  <option value="Nacional">Nacional</option>
                                  <option value="Internacional">Internacional</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                </div>
           
        </div>
    </div>
    <div class="row gutter-10">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading bg-success">Códigos referencias asociados a Item
                    <span class="mdi-help-circle pull-right cursor-pointer" popover="'Referencias:' Estos son los codigos internacionales a asociados a cada item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
                </div>
                <div class="panel-body">
                        <div class="form-group">
                            <form name="skillsFrm" ng-submit="addReference()">
                                <div class="col-sm-6 ">
                                    <input type="text"  class="form-control" name="reference" ng-model="reference"/>
                                </div>
                                <div class="col-sm-4 ">
                                    <button class="md-btn md-raised bg-info" ng-disabled="skillsFrm.$invalid" ng-click="addReference()">+ Referencia</button>
                                </div>
                              </form><br>
                        </div>
                        <div> 
                            <div ng-repeat="item in references" class="{'fadeOut' : item.done} m-t-md btn-group-vertical">
                                <h3 class="label bg-secondary " >{{item.title}}</h3>
                                  <span class="mdi-close-box" ng-click="deleteReference($index)"></span>
                            </div>
                        </div> 
                </div>
            </div>
            <!-- <div class="panel">
                <div class="panel-body">
                        <div class="form-group" disable-all="true">
                                <div class="col-sm-12 ">
                                    <md-switch class="md-primary" ng-disable="checked" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
                                         ¿Desea Convertir este item en <span class="label bg-warning">Kit</span> ?
                                      </md-switch>
                                    <ui-select multiple ng-disabled="true" ng-model="checked" theme="bootstrap"  title="Seleccione items " >
                                    <ui-select-match placeholder="agregue items ...">{{$item.itemName}}</ui-select-match>
                                    <ui-select-choices repeat="items in items">
                                        <div ng-bind-html="items.name | highlight: $select.search"></div>
                                        <small>
    
                                            <span ng-bind-html="''+items.itemName | highlight: $select.search"></span>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                                </div><br>
                        </div>
                </div>
            </div> -->
    
            <div class="panel">
                <div class="panel-heading bg-success">Web
                    <span class="mdi-help-circle pull-right cursor-pointer" popover="Ingrese datos web" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
                </div>
                <div class="panel-body">
    
                    <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Tipo Web</strong>
                            </label>
                            <div class="col-sm-6">
                               <select class="form-control" ng-model="webType">
                                  <option value="NO">NO</option>
                                  <option value="SI">SI</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Link Web</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  ng-model="web"  data-nodrag />
                            </div>
                        </div>
    
                       <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Drive</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  ng-model="driveLink"  data-nodrag />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Mercado Libre</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  ng-model="freeMarket" data-nodrag />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Codigo M/L</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  ng-model="freeMarketCode" data-nodrag />
                            </div>
                        </div>
                </div>
            </div>
    
             
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading bg-success">Precios $
                    <span class="mdi-help-circle pull-right cursor-pointer" popover="Precios detalle item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Compra Neto</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="number"  ng-model="netPurchaseValue" class="form-control"  ng-required="true" data-nodrag />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Compra</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="number"  ng-model="purchasePrice" class="form-control"  ng-required="true" data-nodrag />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Neto</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" ng-model="netPrice"  ng-required="true" data-nodrag />
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>+ Iva</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"  ng-required="true" data-nodrag />
                            </div>
                        </div> -->
                        
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Por Mayor</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" ng-model="mayorPrice" data-nodrag />
                            </div>
                        </div>
                </div>
            </div>
    
            <div class="panel" ng-show="internationalPanel">
                <div class="panel-heading bg-accent">Tipo Internacional
                    <span class="mdi-help-circle pull-right cursor-pointer" popover="Ingrese datos repuesto tipo internacional" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
                </div>
                <div class="panel-body">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Moneda</strong>
                            </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="currency">
                                  <option value="Dólar" selected="selected">Dólar $</option>
                                  <option value="Euro">Euro €</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Valor Repuesto</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="text"  ng-model="currencyValue" class="form-control" data-nodrag />
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading bg-success">Información Adicional
                    <span class="mdi-help-circle pull-right cursor-pointer" popover="otros datos asociados al item" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Bloqueo Descuento</strong>
                            </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="oil" has-disabled="repuestos-critical">
                                  <option value="0" selected="selected">NO</option>
                                  <option value="1">SI</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Oferta</strong>
                            </label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="offerIs" has-disabled="repuestos-critical">
                                  <option value="0" selected="selected">NO</option>
                                  <option value="1">SI</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Descuento Máximo</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control"  ng-model="maxDiscount"  ng-required="true" data-nodrag />
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Competencia</strong><span class="dato-obligatorio"></span>
                            </label>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="4"  ng-model="competitionPrice" maxlength="1000"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Stock Crítico</strong>
                            </label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control bg-danger" ng-model="criticalStock"  ng-required="true" data-nodrag />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Observación/Web</strong>
                            </label>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="4"   ng-model="observation"  maxlength="1000"></textarea>
                            </div>
                        </div>
                </div>
              </div>
          </div>
      </div>
    </div>
     </form>


