 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Factura N°: <strong>{{invoiceId}}</strong></h3>
</div>
<p></p>
<div class="main-title">


    <div class="button-group">

    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="invoiceWarehousePrint.cancel()">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="invoiceWarehousePrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{invoice[0].clientName}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{invoice[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Estado: </strong> <span class="badge bg-{{invoice[0].style}}">{{invoice[0].statusName}}</span></span>
          <span class="m-r-md"><strong>  Despacho: </strong> <span class="{{(invoice[0].packOff == 'Si')?'badge bg-warning':'badge bg-danger'}}">{{invoice[0].packOff}}</span></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>  Dirección: </strong> <span class="uppercase">{{invoice[0].address}}</span></span>
    </div>
    <div class="col-sm-15">
      <span class="m-r-md"><strong>  Ciudad: </strong> <span class="uppercase">{{invoice[0].city}}</span></span>
  </div>
  <div class="col-sm-15">
    <span class="m-r-md"><strong>  Telefono: </strong> <span class="uppercase">{{invoice[0].phone}}</span></span>
</div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{invoice[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{invoice[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{invoice[0].comment}}</em></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Encargado cliente:</strong> <span class="uppercase">{{invoice[0].customerManager}}</span></span>
    </div>
    <div class="col-sm-15">
      <span class="m-r-md"><strong>Tipo de entrega:</strong> <span class="uppercase">{{deliveryType}}</span></span>
  </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th>Ubicación</th> 
              </tr>
              <tr ng-repeat="items in invoiceItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td>$ {{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>$ {{ items.total | pesosChilenos }}</strong></td>
                <td><span class="uppercase label bg-secondary" style="font-size: 9px;">{{items.locations}}</span></td>
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-7 ">
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                      <th>Neto</th>
                      <th>Iva</th>
                      <th>% Dcto.</th>
                      <th>Total</th>
                    </tr>
                    <tr>
                      <td ><h1><strong>$ {{ invoice[0].netPrice | pesosChilenos }}</strong></h1></td>
                      <td><h1><strong>$ {{ invoice[0].priceVAT | pesosChilenos }}</strong></h1></td>
                      <td><h1><strong>{{invoice[0].discount}}</strong></h1></td>
                      <td><h1><strong>$ {{ invoice[0].total | pesosChilenos }}</strong></h1></td>
                    </tr>
              </table>     
        </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma pago asociada:</strong> <em>{{invoice[0].paymentForm}}</em></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{invoice[0].userCreation}}</span></span></span>
      </div>
      <br>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Receptor:</strong> <span> <span class="uppercase">{{invoice[0].receiver}}</span></span></span>
    </div>
    <!-- <div class="col-sm-15">
      <span class="m-r-md"><strong>Fecha vencimiento:</strong> <span> <span class="label bg-secundary uppercase">{{invoice[0].expirationDate | date:'dd/MM/yyyy'}}</span></span></span>
  </div> -->
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>IMPRESIÓN FACTURA FORMATO BODEGA.</strong>
      
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
