<!doctype html>
<html ng-app="app" lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <title>Importadora jormat</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEntjqARMbTHGTgVxgcjQ0YrooT6lWmsI"></script>
  <base href="/">
</head>
<body>
  <ui-view></ui-view>
</body>
</html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138058664-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138058664-3');
</script>

