<div class="main-title">
  <div class="title">
    <h1>
      {{ 'USER_ADMIN' | translate }}
    </h1>
  </div>
  <div class="button-group" ng-if="USER_API_TYPE">
    <button md-ink-ripple class="md-btn md-raised" has-disabled="acceso-administracion-usuarios-edit" ui-sref="app.userCreate">
      <i class="mdi-plus"></i>{{ 'CREATE_NEW_USER' | translate }}
    </button>
  </div>
</div>


<div ng-class="{'row gutter-10' : !toggle}">
  <div ng-class="{'col-sm-3' : !toggle}">
    <list-filter
    list="userList.users" 
    options="{view:'generic'}" 
    filters="userList.filter"
    on-click="userList.onUserClick(item)"
    on-toggle-hide="userList.toggleList(isHide)"> </list-filter>
  </div>
  <div ng-class="{'col-sm-9': !toggle}" ng-if="userList.id">
    <div class="panel">
      <div class="panel-body">

        <div class="content-title" ng-if="userList.username || userList.id || userList.name">
          <div class="title">
            <div class="photo" src="{{pictures}}"></div>
            <h2>{{userList.username}} {{userList.id}} {{userList.name}}
              <span class="badge bg-dark" ng-show="userList.detailsUser.is_active == 'Inactive'">{{ 'INACTIVE' | translate }}</span>
              <span class="badge bg-success" ng-show="userList.detailsUser.is_active == 'Active'">{{ 'ACTIVE' | translate }}</span>
            </h2>
          </div>
          <div class="button-group">

            <div class="dropdown">
              <button md-ink-ripple class="md-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="mdi-dots-horizontal"></i>{{ 'ACTIONS' | translate }}
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a ng-click="userList.userEdit(userList.id)">{{ 'EDIT' | translate }}</a></li>
                <li><a ng-click="userList.modalDelete()">{{ 'DELETE' | translate }}</a></li>
              </ul>
            </div>

          </div>
        </div>

        <hr>

        <dl>
          <dt>{{ 'CREATION' | translate }}:</dt>
          <!-- <dd>{{userList.detailsUser.createdAt.substring(0,10)}}</dd>
          <dt>{{ 'DATE_LAST_ENTRY' | translate }}:</dt>
          <dd>{{userList.detailsUser.lastLogin}}</dd>
          <dd>{{userList.detailsUser.ds_value}}</dd> -->
        </dl>

        <div class="panel">

          <div class="panel-heading bg-info">
            <strong>{{ 'PERSONAL_INFO' | translate }}</strong>
          </div>

          <div class="panel-body">

            <div class="row">
              <div class="col-sm-5 font-bold">{{ 'NAME' | translate }}:</div>
              <div class="col-sm-7 text-muted">{{userList.detailsUser.fullname}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 m-t-sm font-bold">{{ 'USERNAME' | translate }}:</div>
              <div class="col-sm-7 m-t-sm text-muted">{{userList.detailsUser.username}}</div>
            </div>
            <div class="row">
              <div class="col-sm-5 m-t-sm font-bold">{{ 'EMAIL' | translate }}:</div>
              <div class="col-sm-7 m-t-sm text-muted">{{userList.detailsUser.mail}}:</div>
            </div>

          </div> 
        </div>

        <div class="panel">
          <div class="panel-heading bg-info">
            <strong>{{ 'ACCESS_CONFIG' | translate }}</strong>
          </div>

          <div class="panel-body">

            <div class="row">
              <div class="col-sm-5 font-bold">{{ 'USER_ROLES' | translate }}:</div>
              <div class="col-sm-7 text-muted">
                <p ng-repeat="item in userList.detailsUser.roles">{{item.rolename}}</p>
              </div>
            </div>

          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

