
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            DOCUMENTOS ANULADOS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado documentos anulados <span><a ng-click="voidDocumentsList.loadNotes()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <!-- <button has-disabled= "anulacion-documentos-view" md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="voidDocumentsList.notesReport()" popover="Reporte notas de credito por fecha" popover-placement="top" popover-trigger="mouseenter">
            <i class="mdi-calendar"></i>
            Reporte
        </button> -->
        <button has-disabled="anulacion-documentos-edit"  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.voidDocumentsCreate">
            <i class="mdi-plus"></i>
            Anular documento
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar documentos anulados" ng-model="voidDocumentsList.searchText" ng-change="voidDocumentsList.searchData()" ng-model-options="voidDocumentsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="creditNotesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
