 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="locationsView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Ubicación: {{locationId}}</h3>
</div>
<div class="modal-body">
        <h4 align="center"> Nombre: <span class="label bg-secondary">{{locationName}}</span>  Código:<span class="label bg-warning">{{locationCode}}</span></h4>
        <div align="center" class="col-sm-15 m-t-sm">
              <span class="m-r-md"><strong>Bodega asociada: </strong><span class="label bg-success">{{warehouseName}}</span></span>
          </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="locationsView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="locationsView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>