 <style>
   .uppercase { text-transform: uppercase; }
  </style> 
<div class="panel-heading">
    <h3 style="text-align:center;">Guía de despacho: <strong>{{transferGuideId}}</strong></h3>
</div>
<p>	</p>
<div class="main-title">
    <div class="button-group">
      <a tooltip="Imprimir formato bodega" ng-click="guidesPrint.warehouseGuidePrint()"> <span style="font-size: 15px;" class="label bg-secundary"><i class="mdi-forklift"></i>Formato Bodega</span></a>

    <button type="submit" onclick="this.disabled=true;" ng-disabled="btnValidate" has-permission= "guias-de-despacho-validate" ng-show= "guides[0].statusName == 'Pendiente ...'" md-ink-ripple class="btn-lg md-raised bg-warning"  ng-click="guidesPrint.validateGuide()">
    	<i class="mdi-check"></i> Validar
    </button>
    <button ng-disabled="btnRejected" has-permission= "guias-de-despacho-validate" ng-show= "guides[0].statusName == 'Pendiente ...'" md-ink-ripple class="btn-lg md-raised bg-danger"  ng-click="guidesPrint.rejectedGuide()">
        <i class="mdi-check"></i>
        Rechazar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.transferGuides">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{guides[0].clientName}}</span>
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(guides[0].statusName == 'Rechazada')?'badge bg-danger':'badge bg-warning'}}">{{guides[0].statusName}}</span></span>


          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
			<span><i ng-click="guidesPrint.print()" class="mdi-printer text-3x "></i></span>
					</div>

          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
            <span><i ng-click="guidesPrint.printPackOff()" class="mdi-package-variant text-3x "></i></span>
                    </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{guides[0].rut}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{guides[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{guides[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Destino:</strong> <span>{{guides[0].destination}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <em class="badge bg-secundary">{{guides[0].type}}</em></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{guides[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <!-- <th>% Dcto.</th>  -->
                <th>Total</th>
              </tr>
              <tr ng-repeat="items in guidesItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <!-- <td align="center">{{items.discount}}</td> -->
                <td><strong>{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-3 ">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>$ {{subTotality}}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto:</h5></strong></th>
                      <th><h4><strong>$ {{guides[0].netPrice}}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva:</h5></strong></th>
                      <th><h4><strong>$ {{guides[0].priceVAT}}</strong></h4></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total:</h5></strong></th>
                      <th><h4><strong>$ {{guides[0].total}}</strong></h4></th>
                    </tr>
              </table>    
        </div>
 
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{guides[0].userCreation}}</span></span></span>
      </div> 
      <p></p>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-warning">{{guides[0].userModifier}}</span></span></span>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; ">
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
    </div>
</div>


<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
