 <style>
  .modal-header, h3, .close {
      background-color: #FFD65E;
      color:black !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" ng-click="closeWindows()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3><strong>Cod: {{itemId}} - {{itemName}}</strong></h3>
</div>
<div class="panel">

    <div class="row gutter-10">
    
      <div class="col-sm-3">
              <div class="panel-body">

                <h3><strong style="font-size: 16px;">Items Relacionados</strong></h3>

                <div ng-repeat="item in references" class="{'fadeOut' : item.done} m-t-md btn-group-vertical">
                  <a ng-click="viewItem(item)" tooltip="{{item.itemDescription}}"><h3 class="label bg-accent" style="font-size: 15px;">{{item.itemId}}</h3></a>
                    <span class="mdi-close-box" ng-click="deleteReference($index,item.itemId)"></span>
              </div>
              </div>
        </div>
        <div class="col-sm-9">
              <div>
                  <div ui-grid="itemsGrid" ui-grid-resize-columns></div>
              </div>
      </div>
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="closeWindows()">
      <i class="mdi-window-close"></i>Cerrar
    </button>


  </div> 
</div>