
</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.locations">
            <i class="mdi-home"></i>
            UBICACIONES
        </a>
    </li>
    <li>Crear Ubicación</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Nueva Ubicación
        </h1>
    </div>
    <div class="button-group">
        <button  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.locations">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button has-disabled= "ubicaciones-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="locationsForm.$invalid" ng-click="locationsCreate.createLocation()">
            <i class="mdi-content-save"></i>
            Guardar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos generales
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la ubicación." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="locationsForm" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre Ubicación</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="locationName" class="form-control" placeholder="nombre ubicación" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="locationCode" class="form-control" placeholder="code" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Bodega</strong>
                        </label>

                        <div class="col-sm-8">
                            <ui-select ng-change="locationsCreate.setId($select.selected.warehouseId)" ng-model="warehouseId" theme="bootstrap"  title="Seleccione Ubicación " ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices value="{{$select.selected.warehouseId}}" repeat="warehouse in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouse.warehouseName | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseCode | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

