<style>
	.modal-header, h3, .close {
		background-color: #0DA937;
		color:white !important;
		text-align: center;
		font-size: 20px;
	}
	.modal-footer {
		background-color: #f9f9f9;
	}
	.uppercase { text-transform: uppercase; }
	.capitalize { text-transform: capitalize; }

	.eye{
	  position:absolute;
	}

	.heaven
	{
	  position:absolute;
	}

	.celda{
	height: auto;
	width: 250px;
	}


	ul.col3
{
padding-right: 0px;
padding-left: 0px;
float: left;
padding-bottom: 0px;
margin: 15px 0px;
width: 100%;
padding-top: 0px;
list-style-type: none
}

ul.col3 li
{
padding-right: 2px;
display: inline;
padding-left: 2px;
float: left;
padding-bottom: 2px;
width: 50%;
padding-top: 2px
}

 table, tr, td {
  border-spacing: 2px;
  padding: 3px;
  /*border: 1px solid black;*/
}

@media print {
    .noprint {display:none !important;}
    a:link:after, a:visited:after {  
      display: none;
      content: "";    
    }
}


.celda2{
height: auto;
width: 200px;
}
   

</style>
  
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itemsView.cancel()">
			<span aria-hidden="true">&times;</span>
	</button>
	<h3> <span class="label bg-warning pull-left" ng-show= "item[0].offerIs == 1" style="font-size:12px;"> OFERTA </span>   Visualizar Item : {{itemId}}</h3> 
</div>
<div class="modal-body">
	<div class="panel-body">
		<!-- Inicio Header -->

		<div class="row gutter-12">
					<div class="col-md-6">
						<dl>
							<dt><strong>Descripción: </strong></dt>
							<dd><span class="uppercase">{{itemName}}</span></dd>
							<dt><strong>Aplicaciones:</strong></dt>
							<dd>
								<span ng-repeat="applications in item[0].applications" class="label bg-success uppercase">{{applications.applicationName}}</span>
							</dd>
							<dt><strong>Referencias:</strong></dt>
							<dd>
								<span ng-repeat="references in item[0].references" class="control-label badge bg-secundary"> {{references}}</span>
							</dd>
							<dt><strong>Marca:</strong></dt>
							<dd>
								<span class="label bg-info uppercase"> {{item[0].brand}}</span>
							</dd>
							<dt><strong>Código marca: </strong></dt>
							<dd>
								<em class="uppercase"> {{item[0].brandCode}}</em>
							</dd>
							<dt><strong>Categorias: </strong></dt>
							<dd>
								<span class="label bg-info"> {{item[0].categoryP}}</span>
							</dd>
							<dt has-permission="repuestos-critical"><strong>Proveedores: </strong></dt>
							<dd has-permission="repuestos-critical">
								<i class="mdi-help-circle uppercase" tooltip-placement="right" ng-repeat="providers in item[0].providers"  tooltip="{{providers.providerName}}"></i>
							</dd>
							<dt><strong>Bloqueo Descuento: </strong></dt>
							<dd>
								<em ng-show= "item[0].oil == 1" class="label bg-danger uppercase"> SI</em>
								<em ng-hide= "item[0].oil == 1" class="label bg-secondary uppercase"> NO</em>
							</dd>
						</dl>
					</div>
					<!-- mitad header -->
					<div class="col-md-4" style="position: relative; left: 200px; top: 0;">
						<a ng-click="itemsView.viewImage()" tooltip="Ampliar Imagen"><img ng-src="{{imageUrl}}" err-src="{{picture}}"  width="180" height="180" class='heaven' > <img src="https://importadorajormat.cl/images/marcadeagua.png" width="180" height="180" class='eye' />
						</a>
						
					</div>
					<a style="position: relative; right:40px;top:182px" ng-click="itemsView.itemPrint()" tooltip="Imprimir item vista rapida"><span class="label bg-warning uppercase"><i class="mdi-printer"> </i>Impresión Rápida</span></a>
				</div>

		<!-- Fin Header -->
		<!-- Inicio Medio -->
	
		<!-- <div class="col-sm-15 m-t-md">
		<span class="m-r-md" has-permission="repuestos-critical"><strong>Compra: </strong> $ <i class="mdi-help-circle" tooltip-placement="right" tooltip="Valor compra {{item[0].purchasePrice}}"></i></span>
		<span class="m-r-md"><strong>Neto: </strong>$ <span style="font-size:medium;" class="label bg-secondary">{{item[0].netPrice}}</span></span>
		<span class="m-r-md"><strong>Iva: </strong>$ <span style="font-size:medium;" class="label bg-secondary">{{vatPrice}}</span></span>
		<span class="m-r-md"><strong>Descuento máximo: </strong><span style="font-size:medium;" class="label bg-secondary">{{item[0].maxDiscount}}</span></span>
		<span class="m-r-md"><strong>Stock crítico: </strong><span style="font-size:medium;" class="label bg-danger">{{item[0].criticalStock}}</span></span>
		</div> -->

		<table class="table table-bordered m-t-sm" >
			<caption><strong class="uppercase">Detalle Stock</strong></caption>
		<thead >
			<tr>
				<th>#</th>
				<th style="font-size:11px;"ng-repeat="warehouses in item[0].warehouses">{{warehouses.warehouseCode}}</th>
			</tr>
		</thead>
		<tbody  >
			<tr>
				<td style="font-size:10px;" class="font-bold">Stock:</td>
				<td ng-repeat="warehouses in item[0].warehouses" class="font-bold"><span  ng-class="{'bg-danger': warehouses.stock < 0 ,'bg-success': warehouses.stock > 0,'bg-warning': warehouses.stock == 0  }" class="badge bg-success"> {{warehouses.stock}}</span></td>
			</tr>
			<tr >
				<td style="font-size:10px;" class="font-bold">Ubicación:</td>
				<td  ng-repeat="warehouses in item[0].warehouses"><span style="font-size:12.5px;" tooltip-placement="right" tooltip="{{warehouses.locationP}}"><!-- {{warehouses.locationP}} -->
                    <dd>
								<span ng-repeat="locations in warehouses.locations" class="control-label badge bg-secundary">{{locations.locationName
}}</span>
							</dd>
				 </span>
                </td>
			</tr>
		</tbody>
		</table>

	<!-- <div class="col-sm-15 m-t-sm">
		<span class="m-r-md"><strong>Precio Competencia: </strong><span class="font-italic">{{item[0].competitionPrice}}</span>  </span>
	</div> -->
	<div class="col-sm-15 m-t-sm">
		<span class="m-r-md"><strong class="label bg-warning">En transito [GUÍA]: </strong></span><span ng-show="transitItemsTableText" class="font-italic">No existen items en transito</span>
	</div>
	<table  ng-show="transitItemsTable" class="table table-bordered m-t-sm">
		<thead>
			<tr style="font-size:11px;" class="font-bold">
			<td>Documento</td>
			<td>Cantidad</td>
			<td>Origen/Destino</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="guide in inTransit" style="font-size:11px;">
			<td><a ng-click="itemsView.guideView(guide.documentId,guide.clientName)">{{guide.documentId}}</a></td>
			<td>{{guide.outputs}}</td>
			<td>{{guide.origin}} --> {{guide.destination}}</td>
			</tr>
		</tbody>
		</table>

	<div class="col-sm-15 m-t-sm">
		<span class="m-r-md"><strong class="label bg-warning">En transito [IMPORTACIÓN]: </strong></span><span ng-show="importInTransitItemsTableText" class="font-italic">No existen items en transito</span>
	</div>
		<table ng-show="importInTransitTable" class="table table-bordered m-t-sm">
		<thead>
			<tr style="font-size:11px;" class="font-bold">
			<td>Documento</td>
			<td>Cantidad</td>
			<td>Origen</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="import in importInTransit" style="font-size:11px;">
			<td><a ng-click="itemsView.importView(import.documentId,import.clientName)">{{import.documentId}}</a></td>
			<td>{{import.outputs}}</td>
			<td>{{import.origin}}</td>
			</tr>
		</tbody>
		</table>

	<div class="col-sm-15 m-t-sm">
		<span class="m-r-md" has-permission="repuestos-critical"><strong>Compra: </strong> $ <i class="mdi-help-circle" tooltip-placement="right" tooltip="Valor compra {{item[0].purchasePrice | pesosChilenos}}"></i></span>
		<span class="m-r-sd"><strong>Neto: </strong>$ <span style="font-size:12px;" class="label bg-secondary">{{item[0].netPrice | pesosChilenos}}</span></span>
		<span class="m-r-md"><strong>Iva: </strong>$ <span style="font-size:15px;" class="label bg-success">{{vatPrice | pesosChilenos}}</span></span>
		<span class="m-r-md"><strong>Dcto. Máx: </strong><span style="font-size:12px;" class="label bg-secondary">{{item[0].maxDiscount}}</span></span>
		<span class="m-r-md"><strong>Stock crítico: </strong><span style="font-size:12px;" class="label bg-danger">{{item[0].criticalStock}}</span></span>
		<span ng-hide="item[0].mayorPrice == null" class="m-r-md" has-permission="repuestos-critical"><strong>Distribuidor: </strong> $ <i class="mdi-help-circle" tooltip-placement="right" tooltip="x Mayor: {{item[0].mayorPrice | pesosChilenos}}"></i></span>
	</div>

	<div class="col-sm-15 m-t-sm">
		<span class="m-r-md"><strong>Tipo: </strong><span>{{item[0].type}}</span></span>
		<span class="m-r-md"><strong>Moneda: </strong><span>{{item[0].currency}}</span></span>
		<span has-permission="repuestos-critical" class="m-r-md"><strong>Valor en  </strong><span>{{item[0].currency}}: </span> <i class="mdi-help-circle" tooltip-placement="right" tooltip="Valor compra {{simbol}}{{item[0].currencyValue}}"></i></span>
	</div>

	<div class="col-sm-15 m-t-sm">
		<span class="m-r-md"><strong>Tipo Web: </strong><span  class="{{(item[0].webType == 'NO')?'label bg-secondary':'label bg-warning'}}" >{{item[0].webType}}</span></span>
		<span class="m-r-md"><strong>Drive: </strong><a href="{{item[0].driveLink}}" class="{{(item[0].driveLink == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Ver Fotos</a></span>
		<span class="m-r-md"><strong>Web: </strong><a href="{{item[0].web}}" class="{{(item[0].web == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Link</a></span>
		<span class="m-r-md"><strong>Mercado Libre: </strong><a href="{{item[0].freeMarket}}" class="{{(item[0].freeMarket == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Link</a></span>
		<span class="m-r-md"><strong>Codigo M/L: </strong><span class="label bg-secondary">{{item[0].freeMarketCode}}</span></span>
	</div>

	
	<div class="col-sm-15 m-t-sm">
		<span class="m-r-md"><strong>Información Adicional: </strong><span class="font-italic capitalize">{{item[0].observation}} -- {{item[0].competitionPrice}}</span></span>
	</div>
	<div class="col-sm-15 m-t-sm" ng-hide="item[0].updateDate == '00/00/0000 00:00:00'">
		<span class="m-r-md"><strong>Última Actualización: </strong><span class="font-italic capitalize">{{item[0].updateDate}} | {{item[0].updateUser}}</span></span>
	</div>

	
	<div ng-show="item[0].failure == 'Con Falla'" has-permission="repuestos-edit">
		<div class="col-sm-15 m-t-sm">
			<span><strong>ITEM: </strong><span class="{{(item[0].failure == 'Con Falla')?'label bg-danger':'label bg-warning'}}">{{item[0].failure}}</span></span> <strong>/ </strong><span class="m-r-md" ><a   ng-click="itemsView.failStatus(0)" ><span class="badge bg-warning" style="font-size:12px;">DESACTIVAR FALLA </span></a></span>
		</div>
		<div class="col-sm-15 m-t-sm">
			<span class="m-r-md"><strong>Observación Falla : </strong><span class="font-italic capitalize">{{item[0].observationFails}}</span></span>
		</div>
	</div>

	<!-- <div class="col-sm-15 m-t-sm">
		<p><a href="#" class="text-info">Visualizar Historial</a></p>
		<span class="m-r-md"><strong>Kit:</strong>
		<label class="md-check">
				<input ng-disabled="true" type="checkbox" ng-model="switchKit" >
				<i class="blue"></i>
		</span>

	</div> -->

	<ul class="col3" ng-show="relatedItemsShow">
		<h2><strong>Productos relacionados</strong></h2>
		<li ng-repeat="items in relatedItems">
			<table>
			 <tr>
				<td class="celda2" rowspan="5"><a ng-click="itemsView.itemView(items)"><img ng-src="{{ loadImg(items.itemId)}}" tooltip="Vista rápida item" err-src="{{picture}}"  width="100" height="100" ></a></td>
				<td class="celda"> <span class="uppercase"> <strong>{{items.itemDescription}}</strong></span> </td>
			  </tr>
			  <tr>
				<td class="celda"> <strong> ID:<span class="uppercase"> <a ng-click="itemsView.itemView(items)">{{items.itemId}}</a></span> </strong> 
			  </tr>
			  <tr>
				<td class="celda"> <strong>MARCA: </strong><span class="uppercase"> {{items.brand}}</span> </td>
				
			  </tr>
			  <tr>
				<td class="celda"> <span style="font-size:13px;" class="label bg-accent uppercase"> ${{items.vatPrice | pesosChilenos}}</span></td>
				
			  </tr>
			</table>
		</li>
		</ul>
	
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="" class="col-sm-4 control-label">
					<strong>Bodegas</strong>
				</label>
				<div class="col-sm-8">
					<ui-select ng-model="itemsView.selected" theme="bootstrap"  title="Seleccione bodega">
						<ui-select-match placeholder="Seleccione bodegas...">{{$select.selected.warehouseCode}}</ui-select-match>
						<ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
							<!-- <div>{{warehouse.warehouseCode}}</div> -->
							<div ng-bind-html="warehouse.warehouseName | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="button-group">
				<button md-ink-ripple class="md-btn md-raised bg-warning"  tooltip="Asociar items" ng-click="itemsView.relatedItems(item[0])">
					<i class="mdi-vector-union"></i>
					</button>
				<button ng-hide="item[0].failure == 'Con Falla'" has-permission="repuestos-edit" md-ink-ripple class="md-btn md-raised bg-danger"  tooltip="Activar Falla" ng-click="itemsView.failStatus(1)">
					<i class="mdi-do-not-disturb"></i>
					</button>
				<button md-ink-ripple class="md-btn md-raised bg-secundary"  tooltip="Facturar" ng-click="itemsView.transformToInvoice()">
				<i class="mdi-cart"></i>
				</button>
				<button md-ink-ripple class="md-btn md-raised bg-secundary"  tooltip="Cotizar" ng-click="itemsView.itemQuote()">
				<i class="mdi-clipboard-plus"></i>
				</button>
				<button md-ink-ripple class="md-btn md-raised bg-warning"  tooltip="Lista de Deseos" ng-click="itemsView.wishlistAdd()">
				<i class="mdi-star"></i>
				</button>
				<button md-ink-ripple class="md-btn md-raised bg-info"  tooltip="Imprimit etiqueta" ng-click="itemsView.print()">
					<i class="mdi-printer"></i>
				</button>
				<button md-ink-ripple class="md-btn md-raised bg-accent"  tooltip="Editar" ng-click="itemsView.updateItem()">
				<i class="mdi-table-edit"></i>
				</button>
				<button md-ink-ripple class="md-btn md-raised bg-secundary"  tooltip="Clonar" ng-click="itemsView.cloneItem()">
				<i class="mdi-content-copy"></i>
				</button>
				<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="itemsView.cancel()">
				<i class="mdi-window-close"></i>Cerrar
				</button>
			</div>
		</div>
	</div>
</div>