<style>
	.dialog-header, h3, .close {
		background-color: #0DA937;
		color:white !important;
		text-align: center;
		font-size: 20px;
	}
	.dialog-footer {
		background-color: #f9f9f9;
	}
	.uppercase { text-transform: uppercase; }
	.capitalize { text-transform: capitalize; }

	.eye{
	  position:absolute;
	}

	.heaven
	{
	  position:absolute;
	}
</style>
<md-dialog class="col-xs-12 col-md-6 no-padding-h" width="100" height="500">
	<md-dialog-title class="text-center dialog-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="gridDialog.close()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 >Visualizar Item : {{itemId}}</h3>
	</md-dialog-title>
	<md-dialog-content>
		<div class="panel">
			<div class="panel-body">
				<div class="row gutter-10">
					<div class="col-md-6">
						<dl>
							<dt><strong>Descripción: </strong></dt>
							<dd><span class="uppercase">{{itemName}}</span></dd>
							<dt><strong>Aplicaciones:</strong></dt>
							<dd>
								<span ng-repeat="applications in item[0].applications" class="label bg-success uppercase">{{applications.applicationName}}</span>
							</dd>
							<dt><strong>Referencias:</strong></dt>
							<dd>
								<span ng-repeat="references in item[0].references" class="control-label bg-warning"> {{references}}</span>
							</dd>
							<dt><strong>Marca:</strong></dt>
							<dd>
								<span class="label bg-info uppercase"> {{item[0].brand}}</span>
							</dd>
							<dt><strong>Código marca: </strong></dt>
							<dd>
								<em class="uppercase"> {{item[0].brandCode}}</em>
							</dd>
							<dt><strong>Categorias: </strong></dt>
							<dd>
								<span class="label bg-info"> {{item[0].categoryP}}</span>
							</dd>
							<dt has-permission="repuestos-critical"><strong>Proveedores: </strong></dt>
							<dd has-permission="repuestos-critical">
								<i class="mdi-help-circle uppercase" tooltip-placement="right" ng-repeat="providers in item[0].providers"  tooltip="{{providers.providerName}}"></i>
							</dd>
							<dt><strong>Bloqueo Descuento: </strong></dt>
							<dd>
								<em ng-show= "item[0].oil == 1" class="label bg-danger uppercase"> SI</em>
								<em ng-hide= "item[0].oil == 1" class="label bg-secondary uppercase"> NO</em>
							</dd>
						</dl>
					</div>
					<!-- mitad header -->
					<div class="col-md-6" style="position: relative; left: 200px; top: 0;">
						<a ng-click="gridDialog.viewImage()" tooltip="Ampliar Imagen"><img ng-src="{{imageUrl}}" err-src="{{picture}}"  width="180" height="180" class='heaven' > <img src="https://importadorajormat.cl/images/marcadeagua.png" width="180" height="180" class='eye' />
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<table class="table table-bordered m-t-sm" >
						<caption><strong class="uppercase">Detalle Stock</strong></caption>
						<thead >
							<tr>
								<th>#</th>
								<th style="font-size:11px;"ng-repeat="warehouses in item[0].warehouses">{{warehouses.warehouseCode}}</th>
							</tr>
						</thead>
						<tbody  >
							<tr>
								<td style="font-size:11px;" class="font-bold">Stock</td>
								<td ng-repeat="warehouses in item[0].warehouses" class="font-bold"><span  ng-class="{'bg-danger': warehouses.stock < 0 ,'bg-success': warehouses.stock > 0,'bg-warning': warehouses.stock == 0  }" class="badge bg-success"> {{warehouses.stock}}</span></td>
							</tr>
							<tr >
								<td style="font-size:11px;" class="font-bold">Ubicación</td>
								<td  ng-repeat="warehouses in item[0].warehouses"><span class="label bg-secondary" style="font-size:12.5px;" tooltip-placement="right" tooltip="{{warehouses.locationP}}">{{warehouses.locationP}}</span></td>
							</tr>
						</tbody>
					</table>
					<table  ng-show="transitItemsTable" class="table table-bordered m-t-sm">
						<span class="m-r-md"><strong class="label bg-warning">En transito [GUÍA]: </strong></span><span ng-show="transitItemsTableText" class="font-italic">No existen items en transito</span>
						<thead>
							<tr style="font-size:11px;" class="font-bold">
							<td>Documento</td>
							<td>Cantidad</td>
							<td>Origen/Destino</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="guide in inTransit" style="font-size:11px;">
							<td><a ng-click="gridDialog.guideView(guide.documentId,guide.clientName)">{{guide.documentId}}</a></td>
							<td>{{guide.outputs}}</td>
							<td>{{guide.origin}} --> {{guide.destination}}</td>
							</tr>
						</tbody>
					</table>
					<table ng-show="importInTransitTable" class="table table-bordered m-t-sm">
						<span class="m-r-md"><strong class="label bg-warning">En transito [IMPORTACIÓN]: </strong></span><span ng-show="importInTransitItemsTableText" class="font-italic">No existen items en transito</span>
						<thead>
							<tr style="font-size:11px;" class="font-bold">
							<td>Documento</td>
							<td>Cantidad</td>
							<td>Origen</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="import in importInTransit" style="font-size:11px;">
							<td><a ng-click="gridDialog.importView(import.documentId,import.clientName)">{{import.documentId}}</a></td>
							<td>{{import.outputs}}</td>
							<td>{{import.origin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div class="row gutter-10">
					<div class="col-md-6">
						<table class="table table-bordered m-t-sm">
							<thead>
							  <tr>
								<th class="m-r-sd"><strong>Compra: </strong></th>
								<th class="m-r-sd">$ <i class="mdi-help-circle" tooltip-placement="right" tooltip="Valor compra {{item[0].purchasePrice}}"></i></th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td><strong>Neto: </strong></td>
								<td>$ <span class="label bg-secondary">{{item[0].netPrice}}</span></td>
							  </tr>
							  <tr>
								<td><strong>Iva:</strong></td>
								<td>$ <span class="control-label bg-success">{{vatPrice}}</span></td>
							  </tr>
							  <tr>
								<td><strong>Dcto. Máx:</strong></td>
								<td><span class="label bg-secondary">{{item[0].maxDiscount}}</span></td>
							  </tr>
							  <tr>
								<td><strong>Stock crítico: </strong></td>
								<td><span class="control-label bg-danger">{{item[0].criticalStock}}</span></td>
							  </tr>
							  <tr ng-hide="item[0].mayorPrice == null" class="m-r-md" has-permission="repuestos-critical">
								<td><strong>Distribuidor: </strong></td>
								<td>$ <i class="mdi-help-circle" tooltip-placement="right" tooltip="x Mayor: {{item[0].mayorPrice}}"></i></td>
							  </tr>
							  <tr>
								<td><strong>Valor en  :</strong></td>
								<td><span>{{item[0].currency}}: </span> <i class="mdi-help-circle" tooltip-placement="right" tooltip="Valor compra {{simbol}}{{item[0].currencyValue}}"></i></td>
							  </tr>
							  <tr>
								<td><strong>Información Adicional:</strong></td>
								<td><span class="font-italic capitalize">{{item[0].observation}} -- {{item[0].competitionPrice}}</span></td>
							  </tr>
							</tbody>
						</table>
					</div>
					<!-- mitad header -->
					<div class="col-md-6">
						<table class="table table-bordered m-t-sm">
							<thead>
							  <tr>
								<th class="m-r-sd"><strong>Tipo Web: </strong></th>
								<th class="m-r-sd"><span  class="{{(item[0].webType == 'NO')?'label bg-secondary':'label bg-warning'}}" >{{item[0].webType}}</span></th>
							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td><strong>Drive: </strong></td>
								<td><a href="{{item[0].driveLink}}" class="{{(item[0].driveLink == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Ver Fotos</a></td>
							  </tr>
							  <tr>
								<td><strong>Web:</strong></td>
								<td><a href="{{item[0].web}}" class="{{(item[0].web == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Link</a></td>
							  </tr>
							  <tr>
								<td><strong>Mercado Libre:</strong></td>
								<td><a href="{{item[0].freeMarket}}" class="{{(item[0].freeMarket == 'Sin Link')?'label bg-secondary':'label bg-warning'}}" target="_blank">Link</a></td>
							  </tr>
							  <tr>
								<td><strong>Tipo: </strong></td>
								<td><span>{{item[0].type}}</span></td>
							  </tr>
							  <tr>
								<td><strong>Moneda: </strong></td>
								<td><span>{{item[0].currency}}</span></td>
							  </tr>
							  <tr>
								<td><strong>Última Actualización: </strong></td>
								<td><span class="font-italic capitalize">{{item[0].updateDate}} | {{item[0].updateUser}}</span></td>
							  </tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div ng-hide="item[0].failure == 'Con Falla'" has-permission="repuestos-edit" class="col-sm-12 m-t-sm">
						<a ng-click="gridDialog.failStatus(1)"><span class="label bg-danger" style="font-size:12px;"><i class="mdi-comment-remove-outline"></i>ACTIVAR FALLA</span></a>
					</div>
					<div ng-show="item[0].failure == 'Con Falla'" has-permission="repuestos-edit" class="row">
						<div class="col-sm-12 m-t-sm">
							<span><strong>ITEM: </strong><span class="{{(item[0].failure == 'Con Falla')?'label bg-danger':'label bg-warning'}}">{{item[0].failure}}</span></span> <strong>/ </strong><span class="m-r-md" ><a   ng-click="gridDialog.failStatus(0)" ><span class="badge bg-warning" style="font-size:12px;">DESACTIVAR FALLA </span></a></span>
						</div>
						<div class="col-sm-12 m-t-sm">
							<span class="m-r-md"><strong>Observación Falla : </strong><span class="font-italic capitalize">{{item[0].observationFails}}</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel dialog-footer">
			<div class="panel-body">
				<div class="md-dialog-footer">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="" class="col-sm-4 control-label">
									<strong>Bodegas</strong>
								</label>
								<div class="col-sm-8">
									<ui-select ng-model="gridDialog.selected" theme="bootstrap"  title="Seleccione bodega">
										<ui-select-match placeholder="Seleccione bodegas...">{{$select.selected.warehouseCode}}</ui-select-match>
										<ui-select-choices repeat="warehouse in warehouses | filter: $select.search">
											<div ng-bind-html="warehouse.warehouseName | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="button-group">
								<button md-ink-ripple class="md-btn md-raised bg-secundary"  tooltip="Facturar" ng-click="gridDialog.transformToInvoice()">
								<i class="mdi-cart"></i>
								</button>
								<button md-ink-ripple class="md-btn md-raised bg-secundary"  tooltip="Cotizar" ng-click="gridDialog.itemQuote()">
								<i class="mdi-clipboard-plus"></i>
								</button>
								<button md-ink-ripple class="md-btn md-raised bg-warning"  tooltip="Lista de Deseos" ng-click="gridDialog.wishlistAdd()">
								<i class="mdi-star"></i>
								</button>
								<button md-ink-ripple class="md-btn md-raised bg-info"  ng-click="gridDialog.print()">
									<i class="mdi-printer"></i>Print
								</button>
								<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="gridDialog.updateItem()">
								<i class="mdi-table-edit"></i>Editar
								</button>
								<button md-ink-ripple class="md-btn md-raised bg-secundary"  ng-click="gridDialog.cloneItem()">
								<i class="mdi-content-copy"></i>Clonar
								</button>
								<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="gridDialog.cancel()">
								<i class="mdi-window-close"></i>Cerrar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>


		<!-- <div class="col-sm-15" style="height: 220px;">
			<div class="col-md-6">
				<div class="col-sm-15">
					<span class="m-r-md"><strong>Descripción: </strong> <span class="uppercase">{{itemName}}</span></span>
					<!-- <span class="m-r-md"><strong>Alta:</strong><span class="label bg-warning">--</span></span> -->
					<!-- <span class="m-r-md"><strong>Estado:</strong> <span class="{{(statusName == 'Inactivo')?'badge bg-danger':'badge bg-warning'}}">{{statusName}}</span></span> -->
	
					<!-- <span class="m-r-md pull-right"><a ng-click="itemsView.print()"><span class="label bg-accent">Imprimir</span></a></span> -->
					
				</div>
				<div class="col-sm-15 m-t-sm ">
					<span class="m-r-md celda"><strong>Referencias:</strong>  <span ng-repeat="references in item[0].references" class="label bg-secondary uppercase"> {{references}}</span> </span>
				</div>
				<div class="col-sm-15 m-t-sm">
					<span class="m-r-md"><strong>Aplicaciones: </strong><span ng-repeat="applications in item[0].applications" class="label bg-warning uppercase">{{applications.applicationName}}</span></span>
					
				</div>

				<div class="col-sm-15 m-t-sm">
					<span class="m-r-md"><strong>Marca: </strong> <span class="label bg-info uppercase"> {{item[0].brand}}</span> </span>
	
				</div>
				<div class="col-sm-15 m-t-sm">
					<span class="m-r-md"><strong>Código marca: </strong> <em class="uppercase"> {{item[0].brandCode}}</em> </span>
	
				</div>
				<div class="col-sm-15 m-t-sm">
					<span class="m-r-md"><strong>Categorias: </strong> <span class="label bg-info"> {{item[0].categoryP}}</span> </span>
	
				</div>
				<div class="col-sm-15 m-t-sm" has-permission="repuestos-critical">
					<span class="m-r-md"><strong>Proveedores: </strong><i class="mdi-help-circle uppercase" tooltip-placement="right" ng-repeat="providers in item[0].providers"  tooltip="{{providers.providerName}}"></i></span>
					
				</div>
				
				<div class="col-sm-15 m-t-sm">
					<span class="m-r-md"><strong>Bloqueo Descuento: </strong> 
						<em ng-show= "item[0].oil == 1" class="label bg-danger uppercase"> SI</em> 
						<em ng-hide= "item[0].oil == 1" class="label bg-secondary uppercase"> NO</em> 
					</span>
	
				</div>
			</div>
		<!-- mitad header -->
			<!-- <div class="col-md-6">
			<div class="row">
				<div class="col-md-6 pull-right">
					<span><strong>Imagen Repuesto:</strong></span> -->
					<!-- <div class="m-t-md" style="position: relative; left: 0; top: 0;"> -->
						<!-- <img ng-src="{{imageUrl}}" err-src="{{picture}}" width="180" height="180"> -->

						<!-- <a ng-click="itemsView.viewImage()" tooltip="Ampliar Imagen"><img ng-src="{{imageUrl}}" err-src="{{picture}}"  width="180" height="180" class='heaven' > <img src="https://importadorajormat.cl/images/marcadeagua.png" width="180" height="180" class='eye' />
						</a>
					</div> -->
				<!-- </div>
			</div>
			</div>
		</div> --> 
