 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Boleta N°: <strong>{{ballotId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">
      <!-- <button ng-show = "ballots[0].statusName == 'Sin Pagar'" has-disabled= "pagos-edit" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="ballotsPrint.ballotPay()">
      <i class="mdi-cash-usd"></i>Pagar
     </button> -->
     <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="ballotsPrint.warehouseBallotPrint()">
      <i class="mdi-forklift"></i> Impresion Bodega
  </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.ballots">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="ballotsPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{ballots[0].clientName}}</span>
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(ballots[0].statusName == 'Pagado')?'badge bg-warning':'badge bg-danger'}}">{{ballots[0].statusName}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{ballots[0].rut}}</span></span>

      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{ballots[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{ballots[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{ballots[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
              </tr>
              <tr ng-repeat="items in ballotsItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span></td>
                <td>{{items.price | pesosChilenos}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{items.total | pesosChilenos}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>

<div class="pull-right col-sm-3 ">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>$ {{subTotality | pesosChilenos}}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.:</h5></strong></th>
                      <th><h4 ><strong>{{ballots[0].discount}}% </strong></h4></th>
                    </tr>
                    <!-- <tr>
                      <th><strong><h5>Neto:</h5></strong></th>
                      <th><h4><strong>$ {{ballots[0].netPrice}}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva:</h5></strong></th>
                      <th><h4><strong>$ {{ballots[0].priceVAT}}</strong></h4></th>
                    </tr> -->
                    
                    <tr>
                      <th><strong><h5>Total:</h5> (Iva incluido)</strong> </th>
                      <th><h4><strong>$ {{ballots[0].total | pesosChilenos}}</strong></h4></th>
                    </tr>
              </table>    
        </div>
 
</div>

    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{ballots[0].userCreation}}</span></span></span>
      </div>
      <p></p>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-warning">{{ballots[0].userUpdate}}</span></span></span>
      </div>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma pago:</strong> <span>{{ballots[0].paymentForm}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha pago:</strong> <em>{{ballots[0].datePayment}}</em></span>
      </div> -->
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>Agradecemos su confianza, para nosotros es un placer colaborar con ustedes.</strong>
        <p><strong>Atte.</strong></p>
        <p><strong>{{nameUser}}</p>
        <p>Equipo Ventas Jormat</p>
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
