<style>
table, th, td {
  border: 0px solid black;
  border-spacing: 5px;
  padding: 8px;
}
.scroll {max-height:400px;overflow-y:scroll;}
.espacio{
padding: 15px;
}

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: capitalize; }
.yellow { color: black; background-color: yellow !important; }

</style>
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.clientsInvoices">
            <i class="mdi-home"></i>
            FACTURAS CLIENTES
        </a>
    </li>
    <li>Nueva factura</li> 
    <span ng-show="clone" class="badge bg-warning"><i class="mdi-content-copy"></i> Clonando factura N°  {{invoiceCode}}</span>
    <span ng-show="quotation" class="badge bg-warning"><i class="mdi-content-copy"></i> Cotizacion N° {{invoiceCode}} a factura</span>
    <span ng-show="note" class="badge bg-warning"><i class="mdi-content-copy"></i> Nota de venta N° {{invoiceCode}} a factura</span>
    <span ng-show="budget" class="badge bg-warning"><i class="mdi-content-copy"></i> Presupuesto N° {{invoiceCode}} a factura</span>
    <span ng-show="guide" class="badge bg-warning"><i class="mdi-content-copy"></i> Guia despacho N° {{invoiceCode}} a factura</span>

</ul>
<div class="main-title">
    <div class="title">
        <h1 >
            Factura cliente :  <strong class="uppercase">{{clientName}}<span>[{{clientId}}]</span> 
                <span ng-show="lockedClient" class="badge bg-danger"><i class="mdi-account-alert"></i> Bloqueado</span> <span><a ng-click="clientsInvoicesUpdate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
            </strong>
        </h1> 
    </div>
   
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.homeSuite">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <!-- <button ng-disabled= "buttonCreateInvoice" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="clientsInvoicesUpdate.createInvoice()">
            <i class="mdi-cash-multiple"></i>
            Facturar
        </button> -->
        <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-disabled="formInvoice.$invalid || warningQuantity == true || total == '' || !parseInt(total) || total == 0 || paymentmethodId == null || items.price >= items.minPrice || clientId == 4934" ng-click="clientsInvoicesUpdate.createInvoice()">
            <i class="mdi-cash-multiple"></i>
            Facturar
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Datos Factura
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Factura" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body">
        <form name="formInvoice" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Rut / Razon Social:</strong><span class="dato-obligatorio">*</span>
                        </label>

                        <div class="col-sm-8" ng-hide="panelUpdate">
                            <!-- <input type="text" ng-model="dataInvoice.clientId" class="form-control" placeholder="Rut Cliente" required > -->
                            <ui-select ng-change= "clientsInvoicesUpdate.setName(selectedTwo)" ng-model="selectedTwo" theme="bootstrap"  title="clients" ng-required="true">
                            <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="clientsInvoicesUpdate.searchClient($select.search)" refresh-delay="0">
                                <h3 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h3>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>

                        <div class="col-sm-8" ng-show="panelUpdate">
                            <label for="" class="control-label uppercase">
                                <h2><strong>{{rut}}</strong> <a ng-click="clientsInvoicesUpdate.showSelectClients()"><span class="label bg-secundary"><i class="mdi-account-switch"></i> Modificar </span></a></h2> 
                            </label>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label  for="" class="col-sm-4 control-label">
                            <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                        </div>
                    </div>
                </div>
                
                <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Folio</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="folio" class="form-control" placeholder="Folio Factura" required>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>O.C</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="purchaseOrder" class="form-control" placeholder="Orden de compra" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" ng-show="origenAdd">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <ui-select ng-change="clientsInvoicesUpdate.setWarehouseId($select.selected.warehouseId);clientsInvoicesUpdate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                    <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                    <small>

                                        <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div ng-show="panelInvoice">

<div class="row gutter-10">
    
    <div class="col-sm-7">
        <div class="panel">
            <div class="panel-body">
                    <div class="form-group scroll">
                        <table >
                        <tr style="font-size: 13px;"> 
                            <th></th>
                            <th>ID</th> 
                            <th>DESCRIPCIÓN</th>
                            <th>PRE{{currencySymbol}}IO</th> 
                            <th>CANT.</th>
                            <th>DESC.</th> 
                            <th>TOTAL</th>
                            <th></th>
                          </tr>
                          <div >
                          <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                            <td>{{$index+1}}</td>
                            <td>{{items.itemId}}</td>
                            <td>{{items.itemDescription | uppercase}}</td>
                            <td><input class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" min="{{items.minPrice}}" ng-model="items.price" type="number" style="width :85px"></td>


                            <td><input ng-change= "clientsInvoicesUpdate.getStock(items.itemId,items.quantity)" class="form-control input-sm" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>



                            <td><input ng-disabled="items.oil == 1" tooltip="Solo puede asignar descuento general" ng-change= "clientsInvoicesUpdate.showGeneralDiscount(items.disscount)" class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" min="0" max= "{{items.maxDiscount}}" ng-model="items.disscount" type="number" style="width :60px"></td>
                            <td><strong>{{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | pesosChilenos }}</strong></td>

                            <td align="center"><a ng-click="clientsInvoicesUpdate.removeItems($index,items.oil)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                          </tr>
                          </div>
                          {{totalItem}}
                        </table>
                        
                        <div ng-show="warningQuantity" class="alert alert-danger">Uno de sus items cuenta con stock insuficiente</div>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-sm-5">
        <div style="width: 700px;">
            <input id="filter" type="text" class="form-control" placeholder="Buscar items" ng-model="clientsInvoicesUpdate.searchText" ng-change="clientsInvoicesUpdate.searchData()"/>
        </div>
            <div>
                <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
            </div>
    </div>
  </div>

<div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Subtotal:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ clientsInvoicesUpdate.getNet() | pesosChilenos }} 
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Descuento: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                       <h2>
                            <strong>
                                <input ng-disabled="discountButton" type="number" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;"  >
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong>Neto:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{currencySymbol}} {{ clientsInvoicesUpdate.getNet() - (discount*NET/100) | pesosChilenos }}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group m-t-sm">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Iva:</strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h2>
                            <strong>
                               {{currencySymbol}} {{ VAT | pesosChilenos }}
                            </strong>
                        </h2>
                    </div>
                </div>
                
                <div class="form-group m-t-md">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>Total:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ total | pesosChilenos }}
                            </strong>
                        </h1>
                    </div>

                </div>

                <div class="form-group m-t-md" style="display: none">
                    <label for="" class="col-sm-4 control-label">
                        <h1><strong>xxx:</strong></h1>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <h1>
                            <strong>
                                {{currencySymbol}} {{ clientsInvoicesUpdate.getNetTotal() | pesosChilenos }}
                            </strong>
                        </h1>
                    </div>

                </div>
        </div>
        </div>
    </div>


    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">
                        <strong>Forma Pago:</strong><span class="dato-obligatorio">*</span>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                                <select class="form-control" ng-model="paymentmethodId" ng-required="true">
                                    <optgroup label="Pago directo" >
                                          <option value="1">Efectivo</option>
                                          <option value="7">Transferencia</option>
                                          <option value="16">Transbank</option>
                                          <option value="8">Nota crédito</option>
                                          <option value="21">WebPay</option>
                                          <option ng-hide= "lockedClient" value="2">Cheque</option>
                                          <option ng-hide= "lockedClient" value="17">Pago aplazado</option>
                                    </optgroup>
                                    <optgroup label="Crédito" ng-show="isCredit == 'Crédito'">
                                          <option ng-hide= "lockedClient" value="12">Crédito [30 días]</option>
                                           <option ng-hide= "lockedClient" value="13">Crédito [60 días]</option>
                                           <!--
                                          <option ng-hide= "lockedClient" value="14">Crédito 90 dias</option>
                                          <option ng-hide= "lockedClient" value="15">Crédito 120 dias</option> -->
                                    </optgroup>
                            </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 m-t-xs">
                           <md-switch ng-model="packOff" ng-change= "clientsInvoicesUpdate.packOffSelect(packOff)">
                             <span>  Despacho</span>
                        </md-switch>
                    </div>

                    </div>
                
                    <div class="form-group" ng-show="transporteView">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Transporte:</strong>
                        </label>
                        <div class="col-sm-8 m-t-xs">
                            <ui-select ng-change= "clientsInvoicesUpdate.setTransportation(selectedThree)" ng-model="selectedThree" theme="bootstrap" >
                                <ui-select-match class="lowercase" >{{$select.selected.transportName}}</ui-select-match>
                                <ui-select-choices repeat="transportation in transportation | filter: $select.search track by $index">
                                    <h3 ng-bind-html="''+transportation.transportName | highlight: $select.search | uppercase"></h3>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                

        </div>
        </div>
    </div>
    
  </div>

  <div class="row gutter-9">
    <div class="col-sm-4">
        <div class="panel">
            <div class="panel-body">
                <div>
                    <label for="" class="col-sm-4">
                        <strong>Receptor: </strong>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" ng-model="receiver" class="form-control" tooltip-placement="right" tooltip="Indique Rut + Nombre receptor" placeholder="Rut + nombre receptor">
                    </div>
                </div>

                <div >
                    <label for="" class="col-sm-4 m-t-md">
                        <strong>Observación: </strong>
                    </label>
                    <div class="col-sm-8 m-t-xs">
                        <textarea ng-model="observation" class="form-control" placeholder="Observación factura" required>
                        </textarea>
                    </div>
                </div>
        </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="panel">
            <div class="panel-body">

                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Rut:</strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                {{selectedTwo}}
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Telefono: </strong>
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong>
                                <span style="font-size: 12px;"> &nbsp;&nbsp;{{phone}}</span>
                            </strong>
                        </h2>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Ciudad: </strong>  
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong class="uppercase">
                                <span style="font-size:11px;">&nbsp;&nbsp;{{city}}</span>
                            </strong>
                        </h2>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label ">
                        <strong class="label bg-secundary" style="font-size:10px;">Dirección: </strong>  
                    </label>
                    <div class="col-sm-8">
                        <h2>
                            <strong class="uppercase">
                                <span style="font-size:11px;">&nbsp;&nbsp;{{address}}</span>
                            </strong>
                        </h2>
                    </div>
                </div>
                </div>
                
                

        </div>
        </div>
        
    </div>

</div>

