
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.transportation">
            <i class="mdi-home"></i>
            TRANSPORTISTAS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Empresas de transporte <a ng-click="transportationList.main()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a>
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="transportationList.transportationCreate()">
            <i class="mdi-plus"></i>
            Agregar transporte
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar transporte" ng-model="transportationList.searchText" ng-change="transportationList.searchData()" ng-model-options="transportationList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="transportationGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}

.uppercase { text-transform: uppercase; }

</style>
