<div class="row">
	<div class="col-xs-12">

		<div ui-grid-pagination ui-grid-resize-columns
		ui-grid="uiGridCtrl.uiGrid" ng-if="!uiGridCtrl.inEdit"
		ng-if="uiGridCtrl.uiGrid.data"></div>

		<div ui-grid-pagination ui-grid-resize-columns ui-grid-selection
		ui-grid="uiGridCtrl.uiGrid" ng-if="uiGridCtrl.inEdit"
		ng-if="uiGridCtrl.uiGrid.data"></div>

	</div>
</div>