<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.checksList.checkView(row.entity)"><span>Ver Liquidación de sueldo</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>

            <li>
                <a ng-click="grid.appScope.checksList.checkUpdate(row.entity)"><span>Calcular</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>

            <!-- <li has-permission="cheques-validate" ng-show="row.entity.statusName == 'PRO'">
                <a ng-click="grid.appScope.checksList.cardexItem(row.entity)"><span class="label bg-warning">Kardex</span></a>
            </li> -->
        </ul>

    </div>

</div>
