
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.remunerations">
            <i class="mdi-home"></i>
            REMUNERACIONES
        </a>
    </li><li><span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span></li>
</ul>

<div class="main-title">
    <div class="title">
        <h1 class="text-uppercase">
            Listado de trabajadores <span><a ng-click="remunerationsList.loadChecks()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a tooltip="Imprimir Cotizaciones" ng-click="remunerationsList.getHistoricalChecks()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-cloud-print-outline"></i></span></a>
        <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="quotationsCreate.uploadCsv()" >
            <i class="mdi-upload"></i> Subir CSV
        </button>

        <button has-disabled="cheques-edit" md-ink-ripple ng-disabled="selectedChecks.length == 0"  class="md-btn md-raised m-l-sm bg-accent" ng-click="remunerationsList.updateStatusCheck()" tooltip="Depositar/validar/Rechazar">
            <i class="mdi-paperclip"></i> Calcular
        </button>
        <!-- <button has-disabled= "cheques-edit" md-ink-ripple class="md-btn md-raised " ng-click="remunerationsList.checkCreate()">
            <i class="mdi-plus"></i>
            Ingresar cheque
        </button> -->
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Periodo para calculo de remuneracion por trabajador
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese los datos servidor de correo entrante"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Periodo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                        <select class="form-control uppercase">
                                            <option value="1" selected>Enero</option>
                                            <option value="2">Febrero</option>
                                            <option value="3">Marzo</option>
                                            <option value="4">Abril</option>
                                            <option value="5">Mayo</option>
                                            <option value="6">Junio</option>
                                            <option value="7">Julio</option>
                                            <option value="8">Agosto</option>
                                            <option value="9">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                          </select> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Año</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                        <select class="form-control uppercase">
                                            <option value="2023" selected>2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                          </select> 
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;" ui-grid="usersGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
