 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Factura proveedor N°: <strong>{{invoiceId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">

      <button md-ink-ripple class="md-btn md-raised bg-primary" tooltip="Formato Bodega" ng-click="invoicesProviderPrint.invoiceWarehousePrint()">
        <i class="mdi-forklift"></i> 
    </button>

    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.invoicesProvider">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          
          <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
          </div> -->
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="invoicesProviderPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Proveedor: </strong> <span class="uppercase">{{invoice[0].providerName}}</span>
          <span class="m-r-md"><strong>Estado: <span class="badge bg-{{invoice[0].style}}"> {{invoice[0].statusName}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{invoice[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong> Código factura: </strong> <span class="uppercase"> {{invoice[0].invoiceCode}}</span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="badge bg-info">{{invoice[0].type}}</span></span>
          <span ng-show="internationalType">
            <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{invoice[0].currency}}</span>
            <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase">{{currencySymbol}}{{invoice[0].currencyValue}}</span></span>
          </span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{invoice[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{invoice[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{invoice[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
              </tr>
              <tr ng-repeat="items in invoiceItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.brandCode}} )</span></td>
                <td>{{(invoice[0].type === 'Nacional') ? (items.price | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (items.price | dolares) : (items.price | pesosInternacionales)) }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{ (invoice[0].type === 'Nacional') ? (items.total | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (items.total | dolares) : (items.total | pesosInternacionales)) }}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-3 ">
     
            <div>

              <table style="width:100%">
                <tr>
                      <th><strong><h5>Subtotal:</h5></strong></th>
                      <th><h4><strong>{{(invoice[0].type === 'Nacional') ? (subTotality | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (subTotality | dolares) : (subTotality | pesosInternacionales)) }}</strong></h4></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.:</h5></strong></th>
                      <th><h4><strong>{{invoice[0].discount}}% </strong></h4></th>
                    </tr>
                    <tr ng-hide="internationalType" >
                      <th><strong><h5>Neto:</h5></strong></th>
                      <th><h4><strong>{{(invoice[0].type === 'Nacional') ? (invoice[0].netPrice | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (invoice[0].netPrice | dolares) : (invoice[0].netPrice | pesosInternacionales)) }}</strong></h4></th>
                    </tr>
                    <tr ng-hide="internationalType" >
                      <th><strong><h5>Iva:</h5></strong></th>
                      <th><h4><strong>{{(invoice[0].type === 'Nacional') ? (invoice[0].priceVAT | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (invoice[0].priceVAT | dolares) : (invoice[0].priceVAT | pesosInternacionales)) }}</strong></h4></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total:</h5></strong></th>
                      <th><h4><strong>{{(invoice[0].type === 'Nacional') ? (invoice[0].total | pesosChilenosConSigno) : ((invoice[0].currency === 'Dolar') ? (invoice[0].total | dolares) : (invoice[0].total | pesosInternacionales)) }}</strong></h4></th>
                    </tr>
              </table>    
        </div>
 
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{invoice[0].userCreation}}</span></span></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
        <span class="m-r-md" style="font-size: 15px; "><strong>Agradecemos su confianza, para nosotros es un placer colaborar con ustedes.</strong>
        <p><strong>Atte.</strong></p>
        <p><strong>{{nameUser}}</p>
        <p>Equipo Ventas Jormat</p>
        <span><strong>Rut: </strong> 76.193.704-9 </span>
        
      </span>
      <p> www.importadorajormat.cl</p>
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="https://importadorajormat.cl/images/logo-web.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
