
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.warehouses">
            <i class="mdi-home"></i>
            BODEGAS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Bodegas
        </h1>
    </div>
    <div class="button-group">
        <button ng-disabled="true" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.warehousesCreate">
            <i class="mdi-plus"></i>
            Crear Bodega
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar sucursales" ng-model="warehousesList.searchText" ng-change="warehousesList.searchData()" ng-model-options="warehousesList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="warehousesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
</style>
