
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            BOLETAS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Boletas <span><a ng-click="ballotsList.loadBallots()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <a  tooltip="Ir a entregas bodega" ui-sref="app.warehouseDeliveries"> <span style="font-size: 16px;" class="label bg-secundary"><i class="mdi-truck"></i></span></a>
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.ballotsCreate">
            <i class="mdi-plus"></i>
            Crear Boleta
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar boletas" ng-model="ballotsList.searchText" ng-change="ballotsList.searchData()" ng-model-options="ballotsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="ballotsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
