<style>
    table, th, td {
      border: 0px solid black;
      border-spacing: 5px;
      padding: 8px;
    }
    
    .espacio{
    padding: 15px;
    
    }
    
    .uppercase { text-transform: uppercase; }
    .red {color: rgb(12, 12, 12); background-color: rgb(249, 66, 66) !important; }
    .yellow { color: rgb(12, 12, 12); background-color: rgb(192, 248, 93) !important; }
    .critical { color: rgb(12, 12, 12); background-color: rgb(180, 182, 176) !important;  } 
    .oferta { color: rgb(12, 12, 12); background-color: rgb(75, 186, 253) !important;  } 
    .transito { color: rgb(12, 12, 12); background-color: rgb(253, 216, 75) !important;  } 
    .naranjo { color: rgb(12, 12, 12); background-color: rgb(251, 142, 79) !important;  } 
    .label2 { color: rgb(12, 12, 12); background-color: rgb(240, 240, 240) !important;  } 
    </style>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="app.quotations">
                <i class="mdi-home"></i>
                COTIZACIÓN
            </a>
        </li>
        <li>Crear cotización</li>
        <span class="badge bg-secundary" ng-show="warningItemsView"><i class="mdi-engine-outline"></i> Seleccione sucursal para visualizar items seleccionado</span>
    </ul>
    <div class="main-title">
        <div class="title">
            <h1>
                Cliente :  <strong class="uppercase">  {{clientName}} <span>[{{clientId}}]</span> 
                    <span ng-show="lockedClient" class="badge bg-warning"><i class="mdi-account-alert"></i></span>
                    <span><a ng-click="quotationsCreate.loadItems()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
                </strong>
            </h1> 
        </div>
        <div class="button-group">
            <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="quotationsCreate.uploadCsv()" ng-show="panelInvoice" >
                <i class="mdi-upload"></i> Subir CSV
            </button>
            <a tooltip="Crear Nuevo Repuesto" ng-click="quotationsCreate.ItemsCreate()"> <span style="font-size: 16px;" class="label bg-warning"><i class="mdi-engine"></i></span></a>
            <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.quotations">
                <i class="mdi-window-close"></i>
                Cancelar
            </button>
            <button type="submit" md-ink-ripple ng-show="buttonInvoice" class="md-btn md-raised bg-accent" ng-disabled="formBallot.$invalid  || total == '' || !parseInt(total) || total == 0 || items.price >= items.minPrice " ng-click="quotationsCreate.validateClient()">
                <i class="mdi-cash-multiple"></i>
                Guardar
            </button>
        </div>
    </div>
    
    <div class="panel">
        <div class="panel-heading bg-success">Datos cotización
            <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales de la Factura" popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
        </div>
        <div class="panel-body">
            <form name="formBallot" action="" class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Rut / Razon Social:</strong><span class="dato-obligatorio">*</span>
                            </label>
    
                            <div class="col-sm-8">
                                <ui-select ng-change= "quotationsCreate.setName(selectedTwo)" ng-model="selectedTwo" theme="bootstrap"  title="clients">
                                <ui-select-match >{{$select.selected.rut}}</ui-select-match>
                                <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="quotationsCreate.searchClient($select.search)" refresh-delay="0">
                                    <h3 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h3>
                                    
                                    <strong>
                                    <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                        
                                    </strong>
                                </ui-select-choices>
                            </ui-select>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label  for="" class="col-sm-4 control-label">
                                <strong>Fecha</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input ng-disabled= "true" type="text" ng-model="CurrentDate" class="form-control" placeholder="Fecha Factura" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" ng-show="origenAdd">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">
                                <strong>Origen:</strong><span class="dato-obligatorio">*</span>
                            </label>
                            <div class="col-sm-8">
                                <ui-select ng-change="quotationsCreate.setWarehouseId($select.selected.warehouseId);quotationsCreate.showPanel()" ng-model="warehouseId" theme="bootstrap"  title="Centro de costo" ng-required="true">
                                    <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                                    <ui-select-choices repeat="warehouses in warehouses | filter: $select.search">
                                        <div  ng-bind-html="warehouses.warehouseCode | highlight: $select.search"></div>
                                        <small>
    
                                            <h4 ng-bind-html="''+warehouses.warehouseName | highlight: $select.search"></h4>
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div ng-show="panelInvoice">
    
    <div class="row gutter-10">
        
        <div class="col-sm-7">
            <div class="panel">
                <div class="panel-body">
                        <div class="form-group scroll">
                            <table >
                            <tr style="font-size: 13px;"> 
                                <th></th>
                                <th>ID</th> 
                                <th>DESCRIPCIÓN</th>
                                <th>PRE{{currencySymbol}}IO</th> 
                                <th>CANT.</th>
                                <th>DESC.</th> 
                                <th>TOTAL</th>
                                <th></th>
                              </tr>
                              <div >
                              <tr  ng-repeat="items in invoiceItems" style="font-size: 12px;"> 
                                <td>{{$index+1}}</td>
                                <td>{{items.itemId}}</td>
                                <td>{{items.itemDescription | uppercase}}</td>
                                <td><input ng-change= "quotationsCreate.getNet()" class="form-control input-sm {{(items.price >= items.minPrice)?' text-dark':'bg-danger'}}" min="{{items.minPrice}}" ng-model="items.price" type="number" style="width :85px"></td>
    
    
                                <td><input ng-change= "quotationsCreate.getStock(items.itemId,items.quantity);quotationsCreate.getNet()" class="form-control input-sm" min= "1" ng-model="items.quantity" type="number" style="width :60px"></td>
    
    
    
                                <td><input ng-disabled="items.oil == 1" ng-change= "quotationsCreate.showGeneralDiscount(items.disscount);quotationsCreate.getNet()" class="form-control input-sm {{(items.disscount <= items.maxDiscount)?' text-dark':'bg-warning'}}" min="0" max= "{{items.maxDiscount}}" ng-model="items.disscount" type="number" style="width :60px"></td>
                                <td><strong>$ {{(items.price * items.quantity - (items.disscount * (items.price * items.quantity)) / 100) | pesosChilenos }}</strong></td>
    
                                <td align="center"><a ng-click="quotationsCreate.removeItems($index,items.oil)"><i class="mdi-close bg-danger" tooltip-placement="right" tooltip="Eliminar item"></i></a></td>
                              </tr>
                              </div>
                              <!-- {{totalItem}} -->
                            </table>
                            <div ng-show="warningItems" class="alert alert-warning">Agregue los items presionando botón <spam class="label bg-secondary" style="font-size: 9px;">+</spam> de la tabla en su derecha</div>
                            <div ng-show="warningQuantity" class="alert alert-warning">Alguno de sus items no se encuentra disponible en esta sucursal</div>
                        </div>
                </div>
              </div>
          </div>
          
          <div class="col-sm-5">
            <div style="width: 700px;">
                <input id="filter" type="text" class="form-control" placeholder="Buscar items" ng-model="quotationsCreate.searchText" ng-change="quotationsCreate.searchData()"/>
            </div>
                <div>
                    <div style="height: 314px;width: 700px;" ui-grid="itemsGrid" ui-grid-resize-columns></div>
                </div>
          </div>
      </div>
    
    <div class="row gutter-9">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label ">
                            <strong>Subtotal:</strong>
                        </label>
                        <div class="col-sm-8">
                            <h2>
                                <strong>
                                    {{currencySymbol}} {{ NET | pesosChilenos  }} 
                                </strong>
                            </h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descuento: </strong>
                        </label>
                        <div class="col-sm-8 m-t-xs">
                           <h2>
                                <strong>
                                    <input ng-disabled="discountButton" type="number" class="{{(discount <= 50)?' ':'bg-danger'}}" ng-model="discount" min="0" max="50" style="width :60px;border:none;" ng-change= "quotationsCreate.getNet()"  >
                                </strong>
                            </h2>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label ">
                            <strong>Neto:</strong>
                        </label>
                        <div class="col-sm-8">
                            <h2>
                                <strong>
                                    {{currencySymbol}} {{ NET - (discount*NET/100) | pesosChilenos }}
                                </strong>
                            </h2>
                        </div>
                    </div>
                    <div class="form-group m-t-sm">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Iva:</strong>
                        </label>
                        <div class="col-sm-8 m-t-xs">
                            <h2>
                                <strong>
                                   {{currencySymbol}} {{ VAT | pesosChilenos }}
                                </strong>
                            </h2>
                        </div>
                    </div>
                    
                    <div class="form-group m-t-md">
                        <label for="" class="col-sm-4 control-label">
                            <h1><strong>Total:</strong></h1>
                        </label>
                        <div class="col-sm-8 m-t-xs">
                            <h1>
                                <strong>
                                    {{currencySymbol}} {{ total | pesosChilenos }}
                                </strong>
                            </h1>
                        </div>
    
                    </div>
            </div>
            </div>
        </div>
    
    
        
        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-body">
    
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>N.S:</strong> 
                        </label>
                        <div class="col-sm-9 m-t-xs">
                            <input type="text" class="form-control" ng-model="name" data-nodrag />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Tel:</strong>
                        </label>
                        <div class="col-sm-9 m-t-xs">
                            <input type="number" class="form-control" ng-model="phone" data-nodrag />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Obs:</strong>
                        </label>
                        <div class="col-sm-9 m-t-xs">
                            <textarea ng-model="observation" class="form-control" placeholder="Observación cotización" required>
                            </textarea>
                        </div>
                    </div>
    
            </div>
            </div>
        </div>
        
      </div>
    
    </div>
    
    