<div class="row">
   <!--  <div class="col-xs-8 col-md-7 title">
        <h1 class="text-md no-m-t font-bold">¡Bienvenido <span class="text-primary">Usuario</span>!</h1>
    </div> -->
</div>
      <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-lg-12">
                    <div class="centering text-center error-container">
                        <div class="text-center">
                            <h2 class="without-margin">Lo Sentimos , no tiene <span class="text-danger"><big>Permisos</big></span> para este módulo</h2>
                            <h4 class="label bg-danger">Acceso Denegado</h4>
                        </div>
                        <div class="text-center">
                            <h3><small>Contactese con el administrador del sistema para poder acceder a esta función.</small></h3>
                        </div>
                        <hr>
                     <!--    <ul class="pager">
                            <li><a href="about.html">&larr; About</a></li>
                            <li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="ui-and-interface.html">UI & Interface</a></li>
                            <li><a href="error-pages.html">Other error pages &rarr;</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
