 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="quotationsView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar cotización N°: <strong>{{quotationId}}</strong></h3>
</div>
<div class="modal-body">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{clientName}}</span>
          
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{quotation[0].rut}}</span></span>
          
          <!-- <span class="m-r-md"><strong>Estado: </strong><span class="{{(quotation[0].statusName == 'Cancelado')?'badge bg-success':'badge bg-warning'}}">{{quotation[0].statusName}}</span></span> -->
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{quotation[0].date}}</span></span>
      </div>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Orden de compra:</strong> <span>{{quotation[0].purchaseOrder}}</span></span>
      </div> -->
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{quotation[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Nombre solicitante:</strong> <span class="uppercase">{{quotation[0].nameDescription}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Teléfono:</strong> <span>{{quotation[0].phone}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{quotation[0].comment}}</em></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Facturado:</strong> <em>{{quotation[0].invoiceId}} - {{quotation[0].code}}</em></span>
    </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>Item</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th></th>
              </tr>
              <tr ng-repeat="items in quotationsItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>$ {{ items.price | pesosChilenos }}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>$ {{ items.total | pesosChilenos }}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{ subTotality | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{quotation[0].discount}} %</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{ quotation[0].netPrice | pesosChilenos }}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{ quotation[0].priceVAT | pesosChilenos }}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{ quotation[0].total | pesosChilenos }}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{quotation[0].userCreation}}</span></span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizada por:</strong> <span> <span class="label bg-secondary">{{quotation[0].userModifier}}</span></span></span>
      </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-warning" ng-click="quotationsView.transformToInvoice()">
       <i class="mdi-content-copy"></i>Convertir en factura
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="quotationsView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>