
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.folios">
            <i class="mdi-home"></i>
            DOCUMENTACIÓN TRIBUTARIA
        </a>
    </li>
    <li>Servidores de correo<span class="badge bg-warning"> <i class="mdi-flag-outline-variant"></i> Módulo en construcción</span></li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Servidores de Correo Entrante
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-primary" ng-click="foliosList.uploadXML()">
            <i class="mdi-email-outline"></i> Crear servidor
        </button>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Nuevo servidor de correo entrante
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese los datos servidor de correo entrante"></span>
    </div>
    <div class="panel-body">
        <form name="formProviders" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descripción</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="text" ng-model="mailserver" class="form-control" >
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Servidor de DTE</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <select class="form-control uppercase">
                                            <option value="1" selected>SI</option>
                                            <option value="0">No</option>
                                          </select> 
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Tipo</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <select class="form-control uppercase">
                                            <option value="1">POP</option>
                                            <option value="0" selected>IMAP</option>
                                            <option value="0">Local</option>
                                          </select> 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Puerto</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="number" ng-model="port" class="form-control">
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre del servidor</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="text" ng-model="serverName" class="form-control">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>SSL/TLS</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <select class="form-control uppercase">
                                            <option value="1" selected>Activado</option>
                                            <option value="0">Desactivado</option>
                                          </select> 
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre Usuario</strong>
                        </label>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="text" ng-model="user" class="form-control">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Password</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                        <span name="daterangepicker3" class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" ng-model="startDate" class="form-control" ng-required="true" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel">
    <div class="panel-heading bg-success">Registro Servidores de correo 
        <span class="mdi-help-circle pull-right cursor-pointer" popover="Datos generales del servidor." popover-title="Ayuda" popover-placement="left-bottom" popover-trigger="mouseenter"></span>
    </div>
    <div class="panel-body no-padding">
        <div ui-grid="mailServersGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.uppercase { text-transform: uppercase; }

</style>
