<div > 
		<!-- has-permission="acceso-administracion-usuarios-edit" -->
	<div class="breadcrumb">
		<div class="crumbs">
			<a ui-sref="app.users">
				{{ 'USER_ADMIN' | translate }}
				<i class="mdi-home"></i>
			</a>
			<span>
				{{ 'EDIT_USER' | translate }}
			</span>
		</div>
	</div>

	<div class="main-title">
		<div class="title">
			<h1>
				{{ 'EDIT_USER' | translate }}
			</h1>
		</div>
		<div class="button-group">
			<button md-ink-ripple class="md-btn md-raised" ui-sref="app.users"> 
				 <!-- has-disabled="acceso-administracion-usuarios-edit" -->
				<i class="mdi-close"></i>{{ 'CANCEL' | translate }}
			</button>
			<button md-ink-ripple class="md-btn md-raised"  ng-click="userEdit.save()" ng-disabled="isDisabled || ( userEdit.name == '' ||  userEdit.email == '' ||  userEdit.username == '' ||  userEdit.institution == 0 )">
					<!-- has-disabled="acceso-administracion-usuarios-edit" -->
				<i class="mdi-content-save"></i>{{ 'SAVE' | translate }}
			</button>
		</div>
	</div>

	<div class="row gutter-10">
		<div class="col-sm-3">
			<div class="panel bg-primary">
				<div class="panel-body p-v-md">
					<img class="img-circle pull-left m-r-md" src="{{picture}}" alt="" width="100">
					<div class="p-b-md">
						<h5 class="text-azul-planner">{{ 'STATUS' | translate }}</h5>
						<p>
							<label class="md-check">
								<input type="radio" name="radio" ng-value="true" ng-model="userEdit.status"> 
								<i class="green"></i>{{ 'ACTIVE' | translate }} 
							</label>&nbsp;&nbsp;&nbsp;
							<label class="md-check">
								<input type="radio" name="radio"  ng-value="false" ng-model="userEdit.status">
								<i class="green"></i>{{ 'INACTIVE' | translate }}                         
							</label>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-9">
			<div class="panel">
				<div class="panel-heading bg-info">
					<strong>{{ 'PERSONAL_INFO' | translate }}</strong>
				</div>

				<div class="panel-body">

					<form class="form-horizontal text-muted">

						<div class="form-group">
							<label class="col-sm-4 control-label p-r-xs">
								<strong>{{ 'NAME' | translate }}</strong>
							</label>
							<div class="col-sm-8">
								<input ng-if="type.loginType=='web'" type="text" class="form-control" placeholder="" ng-model="userEdit.name" aria-invalid="false" style="">
								<input type="text" class="form-control" placeholder="" ng-model="userEdit.name" ng-disabled="true" aria-invalid="false" style="">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-4 control-label p-r-xs">
								<strong>{{ 'USERNAME' | translate }}</strong>
							</label>
							<div class="col-sm-8">
								<input ng-if=" type.loginType=='web'" type="text" class="form-control" placeholder="" ng-model="userEdit.username" aria-invalid="false" style="">
								<input type="text" ng-disabled="true" class="form-control" placeholder="" ng-model="userEdit.username" aria-invalid="false" style="">
							</div>
						</div> 


						<div class="form-group">
							<label class="col-sm-4 control-label p-r-xs">
								<strong>{{ 'EMAIL' | translate }}</strong>
							</label>
							<div class="col-sm-8">
								<input ng-if="type.loginType=='web'" type="email" class="form-control" placeholder="" ng-model="userEdit.email"  name="input" required aria-invalid="false" style="">
								<input  ng-disabled="true" type="email" class="form-control" placeholder="" ng-model="userEdit.email"  name="input" required aria-invalid="false" style="">
								<p class="error text-danger control-label" ng-show="form.input.$error.email">{{ 'EMAIL_NOT_VALID_MSJ' | translate }}</p>
							</div>
						</div>

			
						<!--   -->
					

					</form>

				</div> 
			</div>

			<div class="panel">
				<div class="panel-heading bg-info">
					<strong>{{ 'ACCESS_CONFIG' | translate }}</strong>
				</div>

				<div class="panel-body">

					<form class="form-horizontal text-muted">

						<div class="form-group">
							<label class="col-sm-4 control-label p-r-xs"><strong>{{ 'USER_ROLES' | translate }}</strong></label>
							<div class="col-sm-8">
								<ui-select multiple ng-model="userEdit.rolesList" theme="bootstrap"  close-on-select="false" title="Seleccione Rol " remove-selected="false">
									<ui-select-match placeholder="Seleccione Roles...">{{$item.rolename}}</ui-select-match>
									<ui-select-choices 
									repeat="roles in ( userEdit.roles | filter: { rolename: $select.search }) track by roles.roleid ">
									<div ng-bind-html="roles.name | highlight: $select.search"></div>
									<small>

										<span ng-bind-html="''+roles.rolename | highlight: $select.search"></span>
									</small>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>

				</form>

			</div> 
		</div>
	</div>

</div>
</div>