
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.quotations">
            <i class="mdi-home"></i>
            COTIZACIONES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Cotizaciones <span> <a ng-click="quotationsList.loadQuotations()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.quotationsCreate">
            <i class="mdi-plus"></i>
            Crear Cotizacion
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar cotizaciones" ng-model="quotationsList.searchText" ng-change="quotationsList.searchData()" ng-model-options="quotationsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="quotationsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
