 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9;
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="itemsObservations.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3 >Observación Item ID: {{itemId}}</h3>
</div>
<div class="modal-body">
	  <div class="panel-body">
		<div class="panel-body">
		  <div class="col-sm-15">
			  <span class="m-r-md"><strong>Descripción: </strong> <span class="uppercase">{{itemName}}</span></span>  
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Referencias:</strong>  <span ng-repeat="references in item[0].references" class="label bg-secondary uppercase"> {{references}}</span> </span>
		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Marca: </strong> <span class="label bg-info"> {{item[0].brand}}</span> </span>

		  </div>
		  <div class="col-sm-15 m-t-sm">
			  <span class="m-r-md"><strong>Bodega: </strong> 
			  	<ui-select ng-change="itemsObservations.loadObservation($select.selected.warehouseId)" ng-model="warehouseId" theme="bootstrap"  title="Seleccione Ubicación ">
                    <ui-select-match ><small> {{$select.selected.warehouseCode}}</small></ui-select-match>
                    <ui-select-choices value="{{$select.selected.warehouseId}}" repeat="warehouse in warehouses | filter: $select.search">
                        <div  ng-bind-html="warehouse.warehouseName | highlight: $select.search"></div>
                        <small>
                            <h4 ng-bind-html="''+warehouses.warehouseCode | highlight: $select.search"></h4>
                        </small>
                    </ui-select-choices>
                </ui-select>
              </span>  
		  </div>
		  <div class="col-sm-15">
			  <span class="m-r-md"><strong>Observacion:</strong>
			  	<textarea class="form-control" rows="4" ng-model="observation[0].observation"  maxlength="1000"></textarea> 
			  </span>
		  </div>
		  
		</div>
</div>
<div class="modal-footer">
  <div class="button-group">
	
	<button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="itemsObservations.updateObservation(warehouseId)">
	   <i class="mdi-table-edit"></i>Actualizar
	</button>
	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="itemsObservations.cancel()">
	  <i class="mdi-window-close"></i>Cerrar
	</button>
  </div> 
</div>