<style>
.editable-wrap {width: 87%} 
li.list-group-item {display: flex; justify-content: space-between; align-items: center; }
</style>

<div ng-class="{'panel': inputCtrl.inPanel}" style="margin-bottom: 10px">
	<div  ng-class="{'panel-heading bg-info': inputCtrl.inPanel}" ng-if="inputCtrl.showTitle">
		{{ inputCtrl.field.label | translate  }}
	</div>
	<div ng-class="{'panel-body': inputCtrl.inPanel}">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in inputCtrl.field.model">
				<span editable-text="item.ds_name" e-name="ds_name" e-form="rowform" e-required>
					{{ item.ds_name || 'empty' }}
				</span>
		
				<span class="pull-right">
					<form editable-form name="rowform"  ng-show="rowform.$visible" class="form-buttons form-inline">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-xs btn-accent p-h-sm p-v-xs">
							<i class="fa fa-floppy-o" aria-hidden="true"></i>
							{{ 'SAVE' | translate }} 
						</button>
					</form>
		
					<div class="buttons" ng-show="!rowform.$visible" ng-if="!inputCtrl.field.isDisabled">
		
						<ul class="list-inline no-margin">
							<li class="dropdown">
		
								<a href="#" data-toggle="dropdown" class="md-raised bg-white md-btn md-flat no-padding-b">
									<i class="mdi-dots-horizontal text-md fa-rotate-90"></i>
								</a>
		
								<ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color text-left">
									<li>
										<a ng-click="rowform.$show()" >
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											{{ 'IMPROVE_EDIT' | translate }}
										</a>
									</li>
									<li>
										<a ng-click="inputCtrl.deleteItem($index)">
											<i class="fa fa-trash" aria-hidden="true"></i>
											{{ 'DELETE' | translate }}
										</a>
									</li>
								</ul>
		
							</li>
						</ul>
		
					</div> 
				</span>
			</li>
		
			<li class="list-group-item" ng-if="!inputCtrl.field.isDisabled">
				<span class="editable-wrap editable-text ng-scope">
					<div class="editable-controls form-group">
						<md-autocomplete
							ng-disabled="inputCtrl.field.isDisabled"
							md-selected-item="inputCtrl.selectedItem"
							md-search-text="searchText"
							md-items="item in inputCtrl.querySearch(searchText)"
							md-item-text="item.ds_name"
							md-min-length="1"
							placeholder="{{ inputCtrl.field.label | translate }}"
							md-menu-class="autocomplete-custom-template">
							<md-item-template>
								<span>{{ item.ds_name }}</span>
							</md-item-template>
						</md-autocomplete>
					</div>
				</span>
				<span class="pull-right">
					<button ng-click="inputCtrl.addItem(searchText); searchText = null" class="btn btn-xs btn-success p-h-sm p-v-xs">
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
						{{ 'ADD' | translate }}
					</button>
				</span>
			</li>
		</ul>
	</div>
</div>
