<style>
	.full-border-raduis {border-radius: 3px;}
	.top-border-raduis {border-radius: 3px 3px 0 0;}
	.ui-select-multiple.ui-select-bootstrap > div {overflow-x: auto;}
	.ui-select-match-item {width: inherit;}
	.custom-cursor {cursor: pointer;}
</style>
<div class="panel panel-default bg-light">

	<div class="bg-info panel-heading custom-cursor" ng-class="{'full-border-raduis': !showPanel, 'top-border-raduis': showPanel}" ng-click="showPanel = !showPanel">					
		<a class="custom-toggle">
			<i class="mdi-navigation-menu"></i>
			{{ 'SESSION_THEME' | translate }}: <span>{{Ctrl.occurrence.label}}</span>
		</a>
	</div>

	<div id="isOpen" class="panel-body" ng-if="showPanel">
	
			<div class="row" ng-repeat="dataRow in Ctrl.occurrence.data">

				<div class="col-xs-12 col-sm-6" ng-repeat="field in dataRow | orderBy: 'orderBy'">

					<dinamic-input 
						ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
						field="field" 
						base-service-url="Ctrl.baseServiceUrl" 
						type-form="not-inline"
						in-panel="true"
						show-title="true"
						on-change="Ctrl.onFieldChange(field)"
						additional-params="Ctrl.addParams">
					</dinamic-input>

				</div>

			</div>

			<div class="row">
				<div class="col-xs-12">

					<div class="pull-right m-t-sm">

						<button type="button" ng-click="Ctrl.onThemeDelete()" class="btn btn-sm m-v-xs m-r-sm bg-danger md-btn md-flat md-raised">
							<i class="mdi-delete m-r-sm"></i>{{ 'DELETE' | translate }}
						</button>	

						<button type="submit" class="btn btn-sm m-v-xs m-r-sm bg-accent md-btn md-flat md-raised" ng-click="Ctrl.onThemeSubmit()">
							<i class="mdi-content-save m-r-sm"></i>{{ 'SAVE_CHANGES' | translate }}
						</button>	

					</div>
					
				</div>
			</div>

	</div>								
</div>
