<div class="panel">
	<div class="panel-heading bg-info">
		<strong>{{ Ctrl.occurrence.label | translate }}</strong>
	</div>
	
	<div class="panel-body">
		<div class="row m-b-sm p-r-xs" ng-repeat="fieldRows in Ctrl.occurrence.data">
			
			<div class="col-xs-12" ng-repeat="field in fieldRows | orderBy: 'orderBy'" ng-class="{'col-sm-6': field.col == 1}">
				
				<dinamic-input 
					ng-if="field.typefield != 'ui-grid' && field.typefield != 'structure'"
					field="field" 
					base-service-url="Ctrl.baseServiceUrl"
					show-title="true"
					type-form="not-inline"
					additional-params="Ctrl.addParams">
				</dinamic-input>

				<ui-grid-component 
					field="field" 
					in-edit="!(field.isDisabled)" 
					ng-if="field.typefield == 'ui-grid'">
				</ui-grid-component>

				<evaluation-structure 
					nodes="field.structure"
					ng-if="field.structure.length > 0 && field.typefield == 'structure'" 
					competitions="Ctrl.struct.competitionsList" 
					learnings="Ctrl.struct.learningResultList" 
					edit-or-create="true"
					view="Ctrl.struct.view" >
				</evaluation-structure>
				
			</div>
		</div>

		<div class="row" ng-show="Ctrl.singleSave">
			<div class="col-xs-12">
				<div class="pull-right">
					<button type="submit" ng-click="Ctrl.onThemeSubmit()" class="btn btn-sm bg-accent md-btn md-flat md-raised pull-right m-v-sm">
						<i class="mdi-content-save"></i> {{ 'SAVE' | translate }}
					</button>
				</div>
			</div>
		</div>
		
	</div>
</div>