 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="supplierReturnView.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar devolución proveedor: <strong>{{returnId}}</strong></h3>
</div>
<div class="modal-body" id="divPrint">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Proveedor: </strong> <span class="uppercase">{{providerName}}</span>
          
          <span class="m-r-md"><strong> Rut: </strong> <span class="uppercase">{{supplierReturn[0].rut}}</span></span>
          
          <!-- <span class="m-r-md"><strong>Estado: </strong><span class="{{(supplierReturn[0].statusName == 'No Aplicada')?'badge bg-danger':'badge bg-warning'}}">{{supplierReturn[0].statusName}}</span></span> -->
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>N° Factura:</strong> <span class="badge bg-accent">{{supplierReturn[0].invoiceId}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{supplierReturn[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Tipo:</strong> <span class="label bg-danger">{{supplierReturn[0].type}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{supplierReturn[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{supplierReturn[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <!-- <th>% Dcto.</th>  -->
                <th>Total</th>
                <th></th>
              </tr>
              <!-- <tr ng-repeat="items in supplierReturn[0].itemssupplierReturn">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.reference}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td><strong>{{items.total}}</strong></td>
              </tr> -->
              <tr ng-repeat="items in supplierReturnItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <!-- <td align="center">{{items.discount}}</td> -->
                <td><strong>{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{subTotality}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{supplierReturn[0].netPrice}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{supplierReturn[0].priceVAT}}</strong></h2></th>
                    </tr>
                    
                    <tr>
                      <th><strong><h5>Total: </h5></strong></th>
                      <th><h2><strong> $ {{supplierReturn[0].total}}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{supplierReturn[0].userCreation}}</span></span></span>
      </div>
      <p></p>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-warning">{{supplierReturn[0].userModifier}}</span></span></span>
      </div> -->
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="supplierReturnView.print('divPrint')">
       <i class="mdi-table-edit"></i>imprimir
    </button>
    <!-- <button has-permission="nota-de-credito-validate" ng-show= "supplierReturn[0].statusName == 'No Aplicada'" type="button" md-ink-ripple class="btn-lg md-raised bg-warning"  ng-click="supplierReturnView.validateNote()">
            <i class="mdi-check"></i>
            Aplicar
        </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="supplierReturnView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>