<ul class="breadcrumb">
    <li>
        <a ui-sref="app.compensationBox">
            <i class="mdi-home"></i>
           R.R.H.H
        </a>
    </li>
    <li>Cajas de compensación</li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
           Cajas de compensación
        </h1>
    </div>
    <div class="button-group">

        <span ng-hide="createCompensationBox" >
            <span ng-show="createButton">
            <button  md-ink-ripple class="md-btn md-raised bg-primary" ng-click="compensationBoxView.createCompensationBox(1)">
                <i class="mdi-upload"></i> Nueva Caja
            </button>
            </span>
        </span>

        <span ng-show="createCompensationBox">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="compensationBoxView.createCompensationBox(2)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="formIsapres.$invalid " md-ink-ripple class="md-btn md-raised bg-primary" ng-click="compensationBoxView.compensationBoxAdd()">
            <i class="mdi-upload"></i> Crear
        </button>
        </span>

        <span ng-show="updateCompensationBox">
        <button  md-ink-ripple class="md-btn md-raised bg-danger" ng-click="compensationBoxView.createCompensationBox(0)">
            <i class="mdi-window-close"></i>
            Cancelar
        </button>
        <button ng-disabled="formCompensationBoxUpdate.$invalid " md-ink-ripple class="md-btn md-raised bg-primary" ng-click="compensationBoxView.compensationBoxUpdateFunction()">
            <i class="mdi-upload"></i> Actualizar
        </button>
        </span>
    </div>
</div>

<div class="panel" ng-show="createCompensationBox">
    <div class="panel-heading bg-success">Crear Caja de compensación
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese datos nueva caja"></span>
    </div>
    <div class="panel-body">
        <form name="formIsapres" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="name" class="form-control uppercase">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Porcentaje</strong>
                        </label>
                        <div class="col-md-4">
                            <input type="number" ng-model="rate" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="code" class="form-control uppercase">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel" ng-show="updateCompensationBox">
    <div class="panel-heading bg-success">Actualizar institución N° {{compensationBoxId}}
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Ingrese datos nueva caja"></span>
    </div>
    <div class="panel-body">
        <form name="formCompensationBoxUpdate" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Nombre</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="compensationBoxName" class="form-control uppercase" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Porcentaje</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="compensationBoxRate" class="form-control" required>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="compensationBoxCode" class="form-control uppercase" placeholder="Codigo" required>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>SIS</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <input type="number" ng-model="retirementSis" class="form-control" required>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        

                        <label for="" class="col-sm-4 control-label">
                            <strong>Link:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-md-3">
                            <a href="https://www.previred.com/indicadores-previsionales/" target="_blank"><span class="badge bg-warning"> <i class="mdi-link-variant"></i> Ver indicadores Previsionales</span></a>
                        </div>
                    </div>
                </div>
                
            </div> -->
        </form>
    </div>
</div>

<div class="panel" ng-hide="createCompensationBox">
    <div class="panel-heading bg-success">Listados Cajas de compensación
        <span class="mdi-help-circle pull-right cursor-pointer" tooltip="Listado Instituciones"></span>
    </div>
    <div class="panel-body no-padding">
        <div ui-grid="compensationBoxGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>