<div class="panel m-t-sm">
	<div class="panel-heading bg-info">
		{{ Ctrl.panel.label | translate }}
	</div>

	<div class="panel-body">

		<div ng-repeat="field in Ctrl.panel.data | orderBy: 'orderBy'">

			<input-form-view
				input="field" 
				ng-if="!(field.typefield == 'occurrences' || field.typefield == 'dynamicOccurrences')"> 
			</input-form-view>
			
			<occurrence-view 
				occurrence="field"
				ng-if="field.typefield == 'occurrences' || field.typefield == 'dynamicOccurrences'"> 
			</occurrence-view>

		</div>

	</div>
</div>