
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.items">
            <i class="mdi-home"></i>
            UBICACIONES
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Ubicaciones
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "ubicaciones-edit"  md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.locationsCreate">
            <i class="mdi-plus"></i>
            Crear Ubicación
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar Ubicaciones" ng-model="locationsList.searchText" ng-change="locationsList.searchData()" ng-model-options="locationsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="locationsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
</style>
