<div class="u-pensum-signatures-edit">

	<div class="panel">
		<div class="panel-heading bg-info">
		
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<ui-select name="periodName" ng-model="Ctrl.period.periodName" class="input-full-width">
						<ui-select-match class="ui-select-search input-xs" placeholder="{{ 'SELECT' | translate }} {{ 'IMPROVE_PERIOD_NAME' | translate }}..." allow-clear="true">
							<span class="text-xs font-family">{{$item.ds_name}}</span>
							<span class="text-xs font-family">{{$select.selected.ds_name}}</span>
						</ui-select-match>
						<ui-select-choices repeat="period in Ctrl.periodList | filter: $select.search">
							<span ng-bind-html="period.ds_name| highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			
		</div>
		
		<div class="panel-body">
		
			<ui-edit-table 
				field="Ctrl.courses"
				ut-options="{inEdit: true}"
				on-change="Ctrl.onTableChange(field)">
			</ui-edit-table>
			
		</div>
	</div>
	
</div>