<div id="u-component-matrix">
<div class="matrix">

	<div class="btn-group btn-group-justified">
		<div class="cells text-center simple-column" ng-repeat="semestre in Ctrl.semestres">
			<div> <p class="text-center m-v-xs"><strong>{{semestre.ds_name}}</strong></p> </div>
		</div>
	</div>

	<div ng-repeat="row in Ctrl.Rows">
		<div class="btn-group btn-group-justified">

			<div class="cells text-center" ng-repeat="semestre in Ctrl.semestres" 
				ng-if="Ctrl.Asignatures[row][semestre.id_code].visible"
				ng-style="{width: Ctrl.Asignatures[row][semestre.id_code].semestre_id.length + '%'}">
				
				<div class="content-cell" ng-if="Ctrl.Asignatures[row][semestre.id_code] !== undefined && Ctrl.Asignatures[row][semestre.id_code].semestre_id[0] == semestre.id_code && Ctrl.Asignatures[row][semestre.id_code].id_code !== undefined">
					
					<div class="panel border-radius m-sm p-v-xs" tooltip-placement="top" 
						tooltip="{{Ctrl.Asignatures[row][semestre.id_code].ds_publicId}} - NRC: {{Ctrl.Asignatures[row][semestre.id_code].NRC}} - {{Ctrl.Asignatures[row][semestre.id_code].ds_name}}"
						ng-class="Ctrl.getColorBox(Ctrl.Asignatures[row][semestre.id_code], competenciaSelected)">

						<p class="font-bold m-v-xs text-xxs">
							{{Ctrl.Asignatures[row][semestre.id_code].ds_publicId}} 
							<span ng-if="Ctrl.Asignatures[row][semestre.id_code].NRC">- NRC: {{Ctrl.Asignatures[row][semestre.id_code].NRC}}</span> <br> 
							{{Ctrl.Asignatures[row][semestre.id_code].ds_name}} <br>
							<small ng-if="Ctrl.Asignatures[row][semestre.id_code].credits" class="badge bg-accent text-xxs">
								{{ 'COURSE_CREDITS' | translate }}: {{Ctrl.Asignatures[row][semestre.id_code].credits || '0'}}
							</small>
						</p> 

					</div>

				</div>
				
			</div>

		</div>
	</div>

</div>
</div>