
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.banks">
            <i class="mdi-home"></i>
            Bancos
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Bancos
        </h1>
    </div>
    <div class="button-group">
        <button has-disabled= "bancos-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="banksList.bankCreate()">
            <i class="mdi-plus"></i>
            Crear Banco
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar bancos" ng-model="banksList.searchText" ng-change="banksList.searchData()" ng-model-options="banksList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div ui-grid="banksGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.ui-grid-cell {
  padding: 2px 2px 2px 2px;
}

#list {
  position: absolute;
}
.ui-grid-canvas {
    width:100%!important;
}
.uppercase { text-transform: uppercase; }

</style>
