<div class="section-syllabus" ng-if="formCtrl.section.label">
	<div class="row">
		<div class="col-xs-6">
			<div class="pull-left">
				<h3 class="m-v-sm">
					{{ formCtrl.section.label | translate }}
				</h3>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<button type="submit" ng-show="!formCtrl.singleSave" ng-click="formCtrl.submit()" class="btn btn-sm bg-accent md-btn md-flat md-raised pull-right m-v-sm">
					<i class="mdi-content-save"></i> {{ 'SAVE' | translate }}
				</button>
			</div>
		</div>
	</div>
	
	<div class="row" ng-repeat="(rowKey, rows) in formCtrl.section.data | orderBy: 'orderBy'">
	
		<div class="col-xs-12" ng-class="{'col-sm-6': content.col == 1}" ng-repeat="(panelKey, content) in rows | orderBy: 'orderBy'">
			
			<u-dynamic-occurrences 
				occurrences="content" 
				ng-if="content.typefield == 'occurrences' || content.typefield == 'dynamicOccurrences'"
				base-service-url="formCtrl.baseServiceUrl"
				parent="formCtrl.section"
				empty-substructure-folter="{{ formCtrl.emptySubstructureFolter }}"
				auto-save="formCtrl.singleSave"
				add-params="formCtrl.additionalParams"> 
			</u-dynamic-occurrences>

			<u-dynamic-panel 
				ng-if="content.typefield == 'panel'"
				on-content-change="formCtrl.onPanelContentChange(panel)"
				base-service-url="formCtrl.baseServiceUrl"
				empty-substructure-folter="{{ formCtrl.emptySubstructureFolter }}"
				add-params="formCtrl.additionalParams"
				parent="formCtrl.section"
				on-submit="formCtrl.onPanelSubmit(panel)"
				auto-save="formCtrl.singleSave"
				panel="content">
			</u-dynamic-panel>

			<changes-history 
				history="content"
				ng-if="content.typefield == 'history'"> 
			</changes-history>

		</div>
	
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right">
				<button type="submit" ng-show="!formCtrl.singleSave" ng-click="formCtrl.submit()" class="btn btn-sm bg-accent md-btn md-flat md-raised pull-right m-v-sm">
					<i class="mdi-content-save"></i> {{ 'SAVE' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>