<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.exemptInvoicesList.viewInvoice(row.entity)"><span>Ver Documento</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
            
            <li has-permission="sii-view">
                <a ng-disabled="true" ng-click="grid.appScope.exemptInvoicesList.createXML(row.entity)"><span>Enviar a <span class="badge bg-danger">SII</span></span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li>
        </ul>

    </div>

</div>
