
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.homeSuite">
            <i class="mdi-home"></i>
            DOCUMENTOS EXENTOS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Facturas Exentas <span><a ng-click="exemptInvoicesList.loadDocuments()"><i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <!-- <a popover-trigger="mouseenter" popover="Ir a entregas bodega" popover-placement="top" ui-sref="app.warehouseDeliveries"> <span style="font-size: 16px;" class="label bg-secundary"><i class="mdi-truck"></i></span></a> -->
        <button has-disabled="documentos-exentos-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.exemptInvoicesCreate">
            <i class="mdi-plus"></i>
            Crear Documento
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar documento" ng-model="exemptInvoicesList.searchText" ng-change="exemptInvoicesList.searchData()" ng-model-options="exemptInvoicesList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="invoicesGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
