.modal{
  &.fade{
    .transition-transform(~"0.4s cubic-bezier(0.25, 0.8, 0.25, 1)");
    .left {
      .translate3d(-100%, 0, 0);
    }
    .right {
      .translate3d(100%, 0, 0);
    }
    .top {
      .translate3d(0, -100%, 0);
    }
    .bottom {
      .translate3d(0, 100%, 0);
    }
  }
  &.in{
    .left,
    .right,
    .top,
    .bottom { 
      .translate3d(0, 0, 0);
    }
  }
  &.inactive{
    bottom: auto;
    overflow: visible;
  }
}

.modal > .left{
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  right: auto;
  bottom:0;
}

.modal > .right{
  position: fixed;
  z-index: 1055;
  top: 0;
  left: auto;
  right: 0;
  bottom:0;
}

.modal > .top{
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
}

.modal > .bottom{
  position: fixed;
  z-index: 1055;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}


.modal-backdrop{
  &.in{
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}

.modal-over{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.modal-center{
  position: absolute;
  left:50%;
  top:50%;
}

.modal-header {
	border-bottom: none;
	background-color: @primary;
	color: @light !important;
	text-align: center;
	font-size: 25px;
	padding: 5px;

}
	.close{
    color: inherit !important;
    text-shadow: none;
    opacity:.3;
      &:hover{
        opacity:1;
  	 }
  }

