.panel-wariant(@bg-color, @name){
  @color: mix(@bg-color, #fff, 15%);
  .panel-@{name}{
    border-color: darken(@color, 5%);
    > .panel-heading{
      color: darken(@bg-color, 20%);
      background-color: @color;
      border-color: darken(@color, 5%);
    }
  }
}

.panel{
  border: 1px solid @border-color;
  border-radius: @border-radius-base;
  /*box-shadow: none !important;*/
  margin-bottom:8px;

  &.no-borders{
    border-width: 0;
    .panel-heading,
    .panel-footer{
      border-width: 0;
    }
  }

  &.md-btn{
    white-space: normal;
  }

  .accordion-toggle{
    font-size: 14px;
    display: block;
    cursor: pointer;
  }
  
  .list-group-item{
    border-color: @panel-list-group-border;
  }
  
}

.panel-card{
  border-width: 0;
  .box-shadow( 0 0 5px rgba(0, 0, 0, 0.2) );
}

.panel-heading{

  position: relative;
  padding: 10px 20px;
  background-color: @panel-heading-bg;
  color: @light;
  border-radius: @panel-border-radius @panel-border-radius 0 0;
  
  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }

  small{
    margin-top: 8px;
    opacity: 0.5;
  }

  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 14px;
  }
  h4{
    font-size: 12px;
  }

  .panel-default &{
    &.bg-white{
      background-color: #fff;
      color: contrast(#fff);
    }
  }  
  
  &.no-border{
    margin:-1px -1px 0 -1px;
    border: none;
  }
  .nav{
    margin: -12px  -16px;
  }
  .list-group{
    background: transparent;
  }
  &.panel-heading-sm{
    padding-top: (@panel-heading-sm - @line-height-computed)/2;
    padding-bottom: (@panel-heading-sm - @line-height-computed)/2;
  }
  &.panel-heading-xs{
    padding-top: (@panel-heading-xs - @line-height-computed)/2;
    padding-bottom: (@panel-heading-xs - @line-height-computed)/2;
  }
}

.panel-body{
  padding: 16px 24px;

  h1,h2,h3,h4,h5,h6{
    // color: @dark;
    margin-top: 0;
  }

  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 14px;
  }
  h4{
    font-size: 12px;
  }
}

.panel-footer{
  padding: 16px 24px;
  border-color: @panel-heading-border;
  border-radius: 0 0 @panel-border-radius @panel-border-radius;
  background-color: @panel-footer-bg;
  color: contrast(@panel-footer-bg);
  &.panel-footer-sm{
    padding-top: (@panel-heading-sm - @line-height-computed)/2;
    padding-bottom: (@panel-heading-sm - @line-height-computed)/2;
  }
  &.panel-footer-xs{
    padding-top: (@panel-heading-xs - @line-height-computed)/2;
    padding-bottom: (@panel-heading-xs - @line-height-computed)/2;
  }
}

.panel-group .panel-heading + .panel-collapse .panel-body{
  border-top: 1px solid @panel-heading-border;
}

.panel-default{
  border-color: @panel-border;
  > .panel-heading,
  > .panel-footer {
    border-color: @panel-heading-border;
  }
}

.panel-wariant(@primary, primary);
.panel-wariant(@info, info);
.panel-wariant(@success, success);
.panel-wariant(@warning, warning);
.panel-wariant(@danger, danger);
.panel-wariant(@dark, dark);


.detail-box {
    width: 49%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}

.v-line-grey {
    height: 60px;
    background-color: #ccc;
    width: 1px;
    display: block;
    float: left;
}

.box-config {
    .panel-heading {
      padding: 5px;
      border-radius: 3px 3px 0 0;
      text-align: center;
    }
    .panel-body {
      padding: 2px 24px 16px;
    }
    h4 {
      font-size: 16px!important;
      margin-bottom: 0;
    }
}

.detail-box {
    p.name {
        font-size: 14px;
        color: darken(@dark, 15%);
    }
    p {
        font-size: 22px;
        color: @dark;
        margin-bottom: 0;
    }
}


.panel-heading{
}
