.col-0{
  clear:left;
}


/*Gutters*/
.row-sm{
  margin-left: -8px;
  margin-right: -8px;
  > div{
    padding-left: 8px;
    padding-right: 8px;
  }
}

.row-xs{
  margin-left: -4px;
  margin-right: -4px;
  > div{
    padding-left: 4px;
    padding-right: 4px;
  }
}

// sm
@media (max-width: 992px) {
  .row{
    margin-left: -8px;
    margin-right: -8px;
    > div{
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .row-2 [class*="col"]{
    width: 50%;
    float: left;
  }
  .row-2 .col-0{
    clear: none;
  }
  .row-2 li:nth-child(odd) { 
    clear: left;
    margin-left: 0;
  }
}
// xs
@media (max-width: 767px) {
  .row{
    margin-left: -4px;
    margin-right: -4px;
    > div{
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}




/*Gutters*/

// 20px gutter
.gutter-20.row {
  margin-right: -10px;
  margin-left: -10px;
}
.gutter-20 > [class^="col-"], .gutter-20 > [class^=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
// 10px gutter
.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
// 0px gutter
.gutter-0.row {
  margin-right: 0;
  margin-left: 0;
}
.no-gutter > [class^="col-"],
.no-gutter > [class^=" col-"],
.gutter-0 > [class^="col-"],
.gutter-0 > [class^=" col-"]{
  padding-right: 0;
  padding-left: 0;
}
