

// ARCHIVO DE CONFIGURACIÓN INTERFAZ DE USUARIO

// Comienza definiendo un color corporativo PRIMARIO. Después, asigna un color complementario para ACENTOS.
// Prueba la herramienta de Google: https://material.io/color/.

@primary:				#262626; // Color principal en la interfaz. Más oscuro para barras de títulos y más claro para información secundaria.
@accent:				#FF0000; // Para acentuar puntos de acción de usuario. Debe resaltar por sobre el color primario.


// Si es necesario, edita colores informativos:
// Prueba la herramienta de Adobe: https://color.adobe.com/.

@info:					#555;
@success:				#319B42;
@warning:				#FACB55;
@danger:				#d7634a;
@light:					#eaebec;
@dark:					#6f6f6e;

// Importa desde Google las fuentes https://fonts.google.com/

// BASE para uso general:
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

// HEADER para los títulos:
@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');

// Asigna las familias a las variables según su uso en la plataforma:
@font-family-base: 		'Lato', sans-serif;
@font-family-header:	'Rajdhani', sans-serif;


// Define el tamaño base de los textos:
@font-size-base:		14px;

// Define el diseño de cajas: Bordes y Esquinas:
@border-radius-base:	3px;
@border-color:      darken(@light, 5%);

// Define los colores y el alto de la barra de navegación
@bg-navbar:				@primary-dark;
@text-navbar:			@light;
@header-height:			45px;

// Define el color de fondo
@body-bg:         @light;

@image:					'../images/logo-upc.png';