

// ARCHIVO DE CONFIGURACIÓN INTERFAZ DE USUARIO

// Comienza definiendo un color corporativo PRIMARIO. Después, asigna un color complementario para ACENTOS.
// Prueba la herramienta de Google: https://material.io/color/.

@primary:				#0DA937; // Color principal en la interfaz. Más oscuro para barras de títulos y más claro para información secundaria.
@accent:				#26326E; // Para acentuar puntos de acción de usuario. Debe resaltar por sobre el color primario.


// Si es necesario, edita colores informativos:
// Prueba la herramienta de Adobe: https://color.adobe.com/.

@info:					#0FB2BC;
@success:				#49C85F;
@warning:				#FFD65E;
@danger:				#EE4B6D;
@light:					#EAEAEA;
@dark:					#6F6F6F;


// Importa desde Google las fuentes https://fonts.google.com/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

// HEADER para los títulos:
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Asigna las familias a las variables según su uso en la plataforma:
@font-family-base: 		'Noto Sans', sans-serif;
@font-family-header:	'Open Sans', sans-serif;


// Define el tamaño base de los textos:
@font-size-base:		14px;

// Define el diseño de cajas: Bordes y Esquinas:
@border-radius-base:	3px;
@border-color:			darken(@light, 5%);


// Define los colores y el alto de la barra de navegación
@bg-navbar:				@light-light;
@text-navbar:			@accent;
@header-height:			45px;

// Define el color de fondo
@body-bg:         @light;

@image:					'../images/logo-jormat.png';
