
// Estilos Personalizados


md-grid-list{
  margin-bottom: 4px;
}
#content{
  margin-top: @header-height;
}
.no-brd{
  border: transparent;
}

// Header
.panel-heading h3 {
  font-size: 20px;
  margin-top:0;
  margin-bottom: 0;
}

.title {
  font-size: 24px;
  color: @dark;
  margin-bottom: 10px;
  & p {
    margin: 0;
    font-size: 14px;
  }
  & h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}


.main-title{
  color: @dark;
  margin-bottom: 10px;
  .clearfix;
  h1,h2,h3,h4{
    float: left;
    .m-v-sm;
  }
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 14px;
  }
  h4{
    font-size: 12px;
  }
  .button-group{
    float: right;
    @media (max-width: 500px){
      float: none;
    }
    button{
      font-size: initial;
      .md-btn;
      .btn-accent;
      .p-h-md;
      .m-b-sm;
      i{
        margin-right: 5px;
      }
      @media (max-width: 500px){
        width: 100%;
        .no-padding-h;
        .p-v-sm;
      }
    }
    .list-inline,
    .list-inline li{
      display: inline-block;
      .no-padding;
      .no-margin;
    }
    .dropdown{
      display: inline-block;
      @media (max-width: 500px){
        display: inline;
      }
    }
  }
  p{
    float: left;
    .no-margin;
    width: 100%;
  }
}




.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  padding-right: 12px!important;
  color: @warning !important;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\e011";
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\e00f";
}

.detail {
  background-image: url('../images/detail.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.v-line {
  background-image: url('../images/v-line.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  display:inline-block;
  height: 100%;
}



#header {
  height: @header-height;
  position: relative;
  z-index: 99;
}
.navbar{
  @media (max-width: 991px){
    padding: 0;
  }
  padding: 11px;
  background-color: @bg-navbar;
  min-height: @header-height;
  height: @header-height;

  /*Navbar logo & text*/
  .navbar-brand-top-menu,
  &.text .navbar-brand-top-menu{
    font-family: @font-family-header;
    background-image: none;
    font-size: 1.3em;
    text-indent: 20px;
    line-height: 100%;
  }

  &.logo .navbar-brand-top-menu{
    background-image: url(@image);
    height: @header-height;
    display: table;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding: 0;
    position: absolute;
    top: 0;
    text-indent: -9999px;
    width: 250px;
  }
  &.logo.text .navbar-brand-top-menu{
    padding: 0 0 0 50px;
    text-indent: 0;
    width: auto;
  }
  .client-name{
    display: table-cell;
    vertical-align: middle;
  }


}
.navbar,
.navbar a,
.navbar-nav > li > a,
.navbar-tool > li > a,
.navbar-item,
.navbar-brand{
  color: @text-navbar;
}

.leftbarbg{
  background-image:url(../images/bg.png);
  background-size:cover;
}

#aside {
  top: @header-height;
  z-index: 98;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.26);
}
nav ul.nav li li li.super_menu_li_sub a {
  padding-left: 36px;
}
.image_portal{
  background-image:url(../../images/no_user.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

@media (max-width: 990px) {
  .navbar-brand-top-menu{
    margin-left: 50px !important;
    font-size: 1em !important;
  }
}


/*Estilos para botonera extendida en footer de modal*/

.bottom-modal-btn.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.bottom-modal-btn.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-right-radius: 0!important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.bottom-modal-btn .btn{
  color: #fff;
}
.bottom-modal-btn .btn:hover, .bottom-modal-btn .btn:focus {
  color: #fff;
}

/*Estilos cajas modal*/
button.md-btn.overflow-button {
  position: relative;
  display: block;
  margin: auto;
  top: 14px;
}
.input-line {
  background: transparent;
  position: relative;
  z-index: 5;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  width: 100%;
  height: 34px;
  padding: 2px;
  color: inherit;
  text-align: center;
}
.caja-verde {
  background-color: fade(@success, 50%);
}

md-tooltip {
  height: auto !important;
  white-space: inherit !important;
  text-overflow: initial;
}

.dato-obligatorio{
  color: @danger;
}

/* angular-ui-tree  */
.tree-node-content,
.tree-node-content input.form-control{
  font-size: 1.15rem;
}
.angular-ui-tree-handle {
  font-weight: normal;
  background: @light;
  border-bottom: solid 1px @light-dark;
  border-right: solid 1px @light-dark;
  border-top: solid 1px @light-dark;
  border-radius: 3px!important;
  // border-radius: @border-radius-base;
  padding: 10px 10px;
  margin: 10px;
  // box-shadow: 1px 1px 10px @dark-light;
  top: 0px;
}

.coustom-btn div{
  cursor: pointer;
}
.coustom-btn div :focus {
  background-color: @info;
  color: @light;
}
.tree-node-content input.form-control{
  .p-xs;
  height: 30px;

}
/* angular-ui-tree  */

/* text-angular */
.ta-scroll-window.form-control {
  min-height: 130px;
  height: 130px;
}
.ta-scroll-window > .ta-bind {
  min-height: 130px;
}

//Diseño de .angular-ui-tree-handle
.angular-ui-tree-handle {
  padding: 10px 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: relative;
  margin-bottom: 10px;
  border-radius: 8px;
  color: #555;
  /*Naranjo, para componentes de evaluación*/
  &.comp-orange{
    border-left: 4px solid #ffc107;
  }
  /*Verde, para componentes de cálculo*/
  &.comp-green{
    border-left: 4px solid #4caf50;
  }
}

.breadcrumb{
  font-size: 12px;
  padding: 0;
  margin-bottom: 5px;
  background-color: initial;
  i{
    margin-right: 2px;
  }
}

/*login*/
.suite-login{
  background-color: @body-bg;
  .panel-heading{
    background-color: @bg-navbar;
    color: @text-navbar;
    img{
      height: @header-height;
    }
  }
}