.printPDF{
  width: 100%;
  .section-list,
  .button-group,
  .btn,
  .accordion-toggle i{
    display: none;
  }
  li.btn{
    display: inline-block;
  }
  .tree-node .body-content,
  .collapse{
    display: block !important;
    height: auto !important;
  }
  .md-icon{
    margin:0;
  }
  .SECTION_CHANGES_HISTORY{
    display: none;
  }
}