@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto/roboto-light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto/roboto-bold.woff') format('woff');
}

@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: 300;
  src: local('lato Light'), local('lato-Light'), url('../fonts/lato/Lato-Light.woff') format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: 400;
  src: local('lato'), local('lato-Regular'), url('../fonts/lato/Lato.woff') format('woff');
}
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: 700;
  src: local('lato Bold'), local('lato-Bold'), url('../fonts/lato/Lato-Bold.woff') format('woff');
}