/*iconos e imagenes corporativas*/
.logo-home{
	background-image: url('../images/logo-ilernia.png');
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	//tamaños
	&.xs{
		height: 50px;
	}
	&.xsm{
		height: 100px;
	}
	&.md{
		height: 200px;
	}
	&.lg{
		height: 400px;
	}
}

.i-product{
	display: block;
	background-repeat: no-repeat!important;
	background-size: contain!important;
	background-position: left!important;
	height: 80px;
	padding-left: 100px;
	//productos
	&.more{
		background: url('../images/icon-more.png');
	}
	&.retention{
		background: url('../images/icon-retention.png');
	}
	&.skills{
		background: url('../images/icon-skills.png');
	}
	&.class{
		background: url('../images/icon-class.png');
	}
}