/*iconos e imagenes corporativas*/
.logo-home{
	background-image: url('../images/logo-upc-home.png');
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	//tamaños
	&.xs{
		height: 50px;
	}
	&.xsm{
		height: 100px;
	}
	&.md{
		height: 200px;
	}
	&.lg{
		height: 400px;
	}
}

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
.client-name{
	text-transform: uppercase;
	font-size: 1.3em;
}