/*iconos e imagenes corporativas*/
.logo-home{
	background-image: url('../images/logo-uaysen-home.png');
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 100%;
	//tamaños
	&.xs{
		height: 50px;
	}
	&.xsm{
		height: 100px;
	}
	&.md{
		height: 200px;
	}
	&.lg{
		height: 400px;
	}
}
