.card{
	.box-shadow(0 1px 2px rgba(0,0,0,0.15));
	background-color: @light-light;
	position: relative;
	margin-bottom: 8px;/*antes 24px*/
  /*overflow: hidden;*/
  width: 100%;
  .rounded-corners;
}

.card-heading{
	position: relative;
	padding: 15px 24px;
	h1,h2,h3,h4,h5,h6{
		margin: 0;
		/*font-size: 18px;*/
	}
	small{
		margin-top: 8px;
		opacity: 0.5;
	}
}

.card-body{
	padding: 20px 24px;
}

.card-divider{
	border-bottom:1px solid rgba(110, 115, 120, 0.15);
	margin: 0 24px;
}


.card-tools{
	position: absolute;
	right: 12px;
	top: 12px
}


.red, .red-500, .red-600, .red-700, .red-A200, .red-A400, .red-A700,
.pink, .pink-500, .pink-600, .pink-A200, .pink-A400, .pink-A700,
.purple-300, .purple-400, .purple-A200, .purple-A400, .purple-A700,
.deep-purple-300, .deep-purple-400, .deep-purple-A200,
.indigo-300, .indigo-400, .indigo-A200, .indigo-A400,
.blue, .blue-500, .blue-600, .blue-700, .blue-A200, .blue-A400, .blue-A700,
.light-blue, .light-blue-500, .light-blue-600, .light-blue-700, .light-blue-800, .light-blue-A700,
.cyan, .cyan-500, .cyan-600, .cyan-700, .cyan-800,
.teal, .teal-500, .teal-600, .teal-700,
.green, .green-500, .green-600, .green-700,
.light-green-800, .light-green-900,
.lime-900,
.orange-800, .orange-900,
.deep-orange, .deep-orange-500, .deep-orange-600, .deep-orange-700, .deep-orange-800, .deep-orange-900, .deep-orange-A400, .deep-orange-A700,
.brown-300, .brown-400,
.blue-grey, .blue-grey-400, .blue-grey-500 {
    small {
        color: @full-white;
        opacity: 0.7;
    }
}

