/*Css Classes override of fullcalendar css*/

.fc-toolbar h2 {
    color: @primary-light;
    font-size: 18px;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #ddd;
}

th.fc-day-header, td.fc-time  {
    color: @dark-dark;
}

.fc-time-grid .fc-slats td {
    height: 3.5em;
    border-bottom: 0;
}

.fc-state-default {
    background-color: #FFFFFF;
    background-image: none;
    background-image: none;
    background-image:none;
    background-image:none;
    background-image:none;
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: @dark-light;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-default:hover {
    color: #333;
    background: rgba(0, 0, 0, 0.03);
}