/*Lista vertical*/

.vertical-list {
    list-style: none;
    -webkit-padding-start: 0;
    height: ~"calc(100vh - 190px)";
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: scroll;
    min-width: 150px;
    li {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        float: left;
        min-height: 100px;
        max-height:180px;
        &:hover{
            border-bottom: 1px solid @primary-light;
        }
        &.card{
           border-bottom: 0px;
           padding: 0;
       }
       a {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: #6f6f6e;
        transition: all 0.5s ease;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px 20px;
        &:hover, &:active, &.active {
         background-color: @primary-light;
         color: @full-white;  
     }
     span {
        font-size: 0.7em;
        font-weight: normal;
    }
    p {
     margin-bottom: 5px;
 }
}
}
}

// vertical list
.v-list{
    color: @dark;
    list-style: none;
    -webkit-padding-start: 0;
    overflow-y: auto;
    margin-bottom: 0;
    height: ~"calc(100vh - 250px)";
    li{
        &.panel{
            padding: 15px;
            margin-right: 5px;
            &:hover{
                cursor: pointer;
                transition: all 0.5s ease;
                background: darken(@accent, 10%);
                color: lighten(@accent, 80%);
                h1,h2,h3,h4,h5,h6{
                    transition: all 0.5s ease;
                    color: @light-light;
                }
                .badge{

                    transition: all 0.5s ease;
                    color: darken(@accent, 10%)!important;
                    background: lighten(@accent, 80%)!important;
                }
            }
            &:active, &:visited, &.active{
                background: darken(@primary, 5%);
                color: lighten(@primary, 80%);
            }
            h1,h2,h3,h4,h5,h6{
                margin-top: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: initial;
            }
            h4{
                font-weight: bold;
                margin-bottom: 0;
            }
            ol{
                list-style: none;
                padding: 0;
                margin-bottom: 10px;
                li{
                    margin-bottom: 5px;
                    line-height: 1.1;
                }
            }
            p{
                line-height: 1.1;
            }
            .badge{
                font-size: 0.9em;
                border-radius: 1000px;
                margin-bottom: 1px;
                i{
                    margin-right: 3px;
                    margin-left: 3px;
                }
            }
        }
    }
    
    &.filter-h-xs{
        height: ~"calc(100vh - 240px)";
    }
    &.filter-h-sm{
        height: ~"calc(100vh - 260px)";
    }
    &.filter-h-md{
        height: ~"calc(100vh - 280px)";
    }
    &.filter-h-lg{
        height: ~"calc(100vh - 300px)";
    }
    &.filter-h-xl{
        height: ~"calc(100vh - 320px)";
    }
    &.filter-h-xxl{
        height: ~"calc(100vh - 340px)";
    }
}