
/*Helper Classes*/
.f-none {
    float: none;
}

.prog.nav-tabs {
overflow-x: auto;
overflow-y: hidden;
display: -webkit-box;
display: -moz-box;
}
.prog.nav-tabs>li {
float:none;
}

.rounded-corners{
  -webkit-border-radius: @border-radius-base;
  -moz-border-radius: @border-radius-base;
  border-radius: @border-radius-base;
}

.effect-highlight-purple {
      transition: all ease .5s;
  }
  .effect-highlight-purple:hover {
        background-color: @accent;
        color: @full-white;
        width: 100%;
        border-radius: 3px;
        .yellow-hover-icon {
            color: yellow;
        }
  }

.yellow-hover-icon:hover {
    color: yellow;
}

.effect-highlight-purple--active {
        background-color: @accent;
        color: @full-white;
        width: 100%;
        border-radius: 3px;
        .yellow-hover-icon {
            color: "@warning";
        }
  }

.list-h {
    display: block;
    overflow: hidden;
    padding-left: 0;
    li {
        display: inline-block;
        padding: 5px;
        padding-left: 0;
        padding-right: 25px;
        span {
        color: lighten(@primary, 15%);
        }
    }
}

/*Tabla horarios*/

.tabla-horarios {
    td{
        border-right: 1px solid #e7e8ea;
        border-bottom: 1px solid #e7e8ea;
    }
}


/*Clases Jaime*/

.red-text-table {
  color:@danger;
  font-weight:bold;
  pointer-events: none;

}

.gris-text-table {
  color:@dark;
  font-weight:bold;
  pointer-events: none;

}

.amarillo-text-table{
color: @warning;
font-weight:bold;
cursor:pointer;

}

.green-text-table {
color: @success;
font-weight:bold;
pointer-events: none;
}


/*FIX SELECT2*/

.visibility a {
   pointer-events: none;
   cursor: default;
   text-decoration:none;
   color:@dark-light;
}
.select2-container {
   width: 100%;
}
.date-picker {
   width: 100%;
   height: 34px;
   padding-left: 5px;
}
.editable-wrap {
   display: inline-block;
   white-space: nowrap;
   margin: 0;
   width: 100%;
}


/*Estilo desabilitado*/

.disabled-style {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    cursor: not-allowed;
}

.scroll-65vh {
    overflow: hidden;
    overflow-y: scroll;
    height: 65vh;
}

.scroll-70vh {
    overflow: hidden;
    overflow-y: scroll;
    height: 70vh;
}

.scroll-75vh {
    overflow: hidden;
    overflow-y: scroll;
    height: 75vh;
}

.scroll-80vh {
    overflow: hidden;
    overflow-y: scroll;
    height: 80vh;
}

/*Estilos para eventos de calendario*/

.fc-event {
    .fc-content {
        height: 100%;
    }

}

/*Post it*/

.postit {
  line-height: 1;
  text-align:center;
  width: 275px;
  margin: 25px;
  min-height:250px;
  max-height:250px;
  position:relative;
  border:1px solid #E8E8E8;
  font-size:22px;
  border-bottom-right-radius: 60px 5px;
  display:inline-block;
}

.postit:after {
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}


/*
.yellow {
    border-top:60px solid #fdfd86;
    background: #ffff88;
}
*/
/*
.purple {
    border-top:60px solid #9b7cd0;
    background:#9b7cd0;
}
*/

/*
.red {
    border-top:60px solid #df826e;
    background: #df826e;
}
*/

.rotate-3 {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

/*BG Iconos*/

.icon-bg {
  background-image: url('../images/iconos-bg.png');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right bottom;
}

.chevrons{
        font-family: "Material-Design-Icons";
     ::after {
        content: "\e89d";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 1px;
        background-color: #2196F3;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        will-change: transform;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }
    ::before {
        content: "\e89e";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 1px;
        background-color: #2196F3;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        will-change: transform;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
    }
}


 /*Helper para Horarios salas configuration*/
 .fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}
.fade-in-out.ng-hide {
  opacity: 0;
}
.hh {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  width: 93%;
}

.hover-morado:hover {
  background-color: @accent;
  color: #fff;
}

/*estilos lista nueva para asignacion de horarios*/

.lista-items-new {
    display: block;
    width: 100%;
    height: 67vh;
    overflow: hidden;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
}

.lista-items-new li {
    display: inline-block;
    width: 50%;
    float: left;
    box-sizing: border-box;
    background: white;
    border: 1px solid #eee;
}


.lista-items-new li a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

.lista-items-new li a p,
.lista-items-new li a strong {
    color:#468ac2;
}

.lista-items-new li a:hover,
.lista-items-new li a:active,
.lista-items-new li a.active,
.lista-items-new li a.active p,
.lista-items-new li a.active strong,
.lista-items-new li a:hover strong {
    background-color: #468ac2;
    color: #ffffff;
}

.lista-items-new li a:hover p {
    color: #ffffff;
}
.pos-a {
  position: absolute; 
}
.ov-v{
  overflow: visible;
}

.sc-no-title{
    height: ~"calc(100vh - 205px)";
    overflow-y: auto;
}
.sc-title{
    height: ~"calc(100vh - 162px)";
    overflow-y: auto;
}
.sc-title-btns{
    height: ~"calc(100vh - 126px)";
    overflow-y: auto;
}

.coustom-scroll {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
}

.ul-clear{
  list-style: none;
  margin-bottom: 0;
}

.box-dma {
  height:120px;
  display:block;
  float:left;
  width: 100%;
  a.active, a:hover {
    background: @primary;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
    p {
      color: #fff;
    }
  }
}

dl{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5fr 1fr;
    dd{
        align-self: end;
    }
}