.popover.top>.arrow:after,  {
    border-top-color: white!important;
}

.popover.left>.arrow:after {
    border-left-color: white!important;
}

.popover.right>.arrow:after {
    border-right-color: white!important;
}

.popover.bottom>.arrow:after {
    border-bottom-color: white!important;
}
.popover {
    color: @dark;
    font-size: 10px;
    background-color: white!important;
    border: 1px solid rgba(0, 0, 0, .25)!important;
}
.popover-title {
    background-color: @info!important;
    color: @light!important;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}