.pvtAxisContainer {
	background: rgba(255, 255, 255, 0.34);
	border: 1px solid #E5E9EC;
	min-height: 20px;
	min-width: 20px;
	padding: 10px;
	li {
		span.pvtAttr {
			-moz-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.15);
			-webkit-box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.15);
			-webkit-text-size-adjust: 100%;
			background: #4caf50;
			border-radius: 4px;
			border: 1px solid #45A749;
			box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.15);
			color: #FFFFFF;
			padding: 7px 10px;
			white-space: nowrap;
		}
	}
}
.pvtUi input, .pvtUi button, .pvtUi select, .pvtUi textarea  {
	border: 1px solid #E3E3E7;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 5px;
	padding: 5px;
}
.pvtVals {
	background: rgba(255, 255, 255, 0.34);
	border: 1px solid #E5E9EC;
	min-height: 20px;
	min-width: 20px;
	padding: 10px;
}
.pvtRendererArea {
	padding: 15px;
}
table.pvtTable {
	tr {
		td {
			background-color: transparent;
			border: 1px solid #D9DDE1;
			color: #252525;
			padding: 15px;
			text-align: center;
			vertical-align: middle;
		}
		th {
			background-color: #00548A;
			background-color: #00548A;
			border: 1px solid #5489AB;
			border: 1px solid #5489AB;
			color: #ffffff;
			color: #ffffff;
			font-size: 9pt;
			font-size: 9pt;
			font-weight: 300;
			font-weight: 300;
			padding: 8px 10px;
			padding: 8px 10px;
		}
		&:nth-child(odd) {
			background-color: rgba(66, 139, 202, 0.10);
		}
		&:hover {
			background-color: rgba(66, 139, 202, 0.35);
		}
	}
}
.pvtTriangle {
	color: white;
	cursor: pointer;
	font-size: 17pt;
	vertical-align: middle;
}
.pivot-box {
	background-color:white;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	display: block;
	float: left;
	height: auto;
	margin-bottom:25px;
	min-width: 100%;
	overflow: visible;
	padding: 15px;
}