.cursor-pointer {
    cursor: pointer;
}

.carousel_element_text {
    font-size: 46px;
    color: rgba(0, 0, 0, 0.35);
    text-shadow: 0px 1px rgba(40, 46, 49, 0);
    font-weight: 300;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

#form-simular {
    .form-group {
        margin-bottom:0;
    }
    label {
        text-transform: uppercase;
        color:@dark-dark;
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
    }
    input, select {
        width:30%;
        display: inline-block;
        margin: 0 1%;
    }
}

.slick-list {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

body .slick-prev {
    left: -1px;
    z-index: 5;
}

body .slick-next {
    right: 1px;
}

/*Styles for tabs inside a modal*/
.nav-bg {
cursor: pointer;
}
.nav-bg li {
text-align: center;
}

.nav-bg li div, .nav-bg li a {
    padding: 20px;
}
.nav-bg li.active {
    background: @accent;
    color: @full-white;
}
.nav-bg li.active::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    /*border-color: @warning;*/
    border-top-color: @accent;
    border-width: 12px;
    margin-left: -12px;
    z-index: 1;

}

.nav-bg li.active .badge {
    background: @success;
}



.slick-selected {
    background-color: @accent; 
    color: @full-white;
    background-image: url('../images/detail.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-weight: bold;
}

.demandPlan {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0;
    font-weight: bold;
}

.planName {
    font-weight: 400;
    text-align: center;
    padding-top: 0;
}


/* Icons */
@font-face
{
    font-family: 'Material-Design-Icons';
    font-weight: normal;
    font-style: normal;
    src: url("/assets/fonts/Material-Design-Icons.eot?-g7cqhn");
  src: url("/assets/fonts/Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), url("/assets/fonts/Material-Design-Icons.woff?-g7cqhn") format("woff"), url("/assets/fonts/Material-Design-Icons.ttf?-g7cqhn") format("truetype"), url("/assets/fonts/Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'Material-Design-Icons';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: grey;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: "\e836";
}
[dir='rtl'] .slick-prev:before
{
    content: "\e837";
}
.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content:"\e837";
}
[dir='rtl'] .slick-next:before
{
    content: "\e836";
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*End of Styles for Slick Carousel*/


.footable > tfoot .pagination {
    margin: 10px 0!important;
}

#ahoraPuedes-card {
    position: fixed;
    bottom: -12px;
    right: 0;
    display: block;
    width: 100%;
    z-index: 4;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

#ahoraPuedes-card {
    h4 {
        display: inline-block;
        color: @full-black;
        font-size: 14px;
        margin-right: 20px;
    }
    span {
            margin: 0 10px;
            font-size: 13px;
            position: relative;
            bottom: -5px;
            display: inline-block;
            overflow: hidden;
        i {
            margin-right: 5px;
            font-size: 20px;
            position: relative;
            top: 4px;
        }
    }
}

.title-prog {
    h1,h2,h3,h4,h5,h6 {
        font-size: 21px;
        color: @primary;
        margin-top: 0;
    }
}

/*Card Cantidad de Recursos y Campus Programación*/
.c-cantidad {
    ul {
        list-style: none;
        margin-bottom: 0;
        -webkit-padding-start: 0;
    }
    a {
        color: @primary-light;
        text-decoration: none;
        display: inline-block;
    }
}


// .lista-prog {
//     list-style: none;
//     -webkit-padding-start: 0;
//     height: 70vh;
//     display: block;
//     overflow: hidden;
//     overflow-y: scroll;
//     li {
//         border-bottom: 1px solid grey;
//         position: relative;
//         width: 100%;
//         display: block;
//         overflow: hidden;
//         float: left;
//         min-height: 70px;
//         height: 120px;
//         max-height:180px;
//         &:hover{
//             border-bottom: 1px solid @primary-light;
//         }
//         a {
//             position: absolute;
//             width: 100%;
//             height: 100%;
//             background-color: transparent;
//             color: #6f6f6e;
//             transition: all 0.5s ease;
//             top: 0;
//             left: 0;
//             right: 0;
//             padding: 15px 5px;
//                 &:hover, &:active, &.active {
//                 background-color: @primary-light;
//                 color: @full-white;  
//                  }
//                 span {
//                     display: block;
//                     font-size: 11px;
//                 }
//         }
//     }
// }

.lista-items-menu {
    list-style: none;
    -webkit-padding-start: 0;
    height: 70vh;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    li {
        border-bottom: 1px solid grey;
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        float: left;
        height:90px;
        &:hover{
            border-bottom: 1px solid @primary-light;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: #6f6f6e;
            transition: all 0.5s ease;
            top: 0;
            left: 0;
            right: 0;
            padding: 15px 5px;
                &:hover, &:active, &.active {
                background-color: @primary-light;
                color: @full-white;  
                 }
                span {
                    display: block;
                    font-size: 11px;
                }
        }
    }
}
/*Fixed content with scroll of 80vh height*/

.scroll-50vh {
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
}

/*Masonry tiles*/
.tile{ 
        padding: 5px;
    }

/*Fix para renderizado del servicio cuando hay más de una jornada en una card*/

.half-jornada {
    display:inline-block;
    float:left;
    width:50%;
    box-sizing:border-box;
    overflow:hidden;
}


/*Card Detalle de simulaciones*/
.detSim {
    .card-body {
        padding: 5px 24px;
    }
    h4 {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
    }
    hr {
        border-top: 1px solid fade(@primary-dark, 50%);
        margin: 0;
    }
}

/*Fix para xeditable*/

.filtros-carreras {
    width: 100%!important;
    select {
        width: 20%;
    }
}


.filtros-materias {
    width: 100%!important;
    select {
        width: 17%;
    }
}

.form-inline {
    .control-label{
        margin-right: 10px;
    }
}

/*Tooltip y Popover fix, arregla tanto el salto al hacer el trigger del elemento en el boton como la perdida de la redondez del mismo en la última esquina. se debe mover a una hoja de estilo que corresponda*/

.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn{
margin-left:-1px;
}

.btn-group > .btn:last-of-type {
    -webkit-border-top-right-radius: 3px!important;
    -moz-border-top-right-radius: 3px!important;
    border-top-right-radius: 3px!important;
    -webkit-border-bottom-right-radius: 3px!important;
    -moz-border-bottom-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
}


.loading {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom:15px;
    background-color: #f0f0f4;
    height: 200px;
    overflow: hidden;
}

.show-loader {
    display: block!important;
}

/**/

.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid @success;
    display: inline-block;
    position: absolute;
    top: 56px;
}

/**/
.c-resumen-config {
    height: 108px;
}


/*fixed height for weeks in academic calendar*/

.week-box {
    display: block;
    // width: 100%;
    // overflow: auto;
    min-height: 75px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(204, 204, 204, 0.46);
    margin-bottom: 0;
    list-style: none;
}

.md-select-value > span:not(.md-select-icon) .md-text {
    display: block;
}