/*No Padding*/
.no-padding{
  padding: 0 !important;
}
.no-padding-h{
  padding-left: 0 !important; 
  padding-right: 0 !important;
}
.no-padding-v{
  padding-top: 0 !important; 
  padding-bottom: 0 !important;
}
.no-padding-t{
    padding-top: 0!important;
}
.no-padding-b{
    padding-bottom: 0!important;
}

/*Padding All*/
.p{
  padding: 16px !important;
}
.p-xs{
  padding: 4px !important;
}
.p-sm{
  padding: 8px !important;
}
.p-md{
  padding: 24px !important;
}
.p-lg{
  padding: 32px !important;
}

/*Padding Left & Right*/
.p-h{
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-h-xs{
  padding-left: 4px !important; 
  padding-right: 4px !important;
}
.p-h-sm{
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-h-md{
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-h-lg{
  padding-left: 32px !important;
  padding-right: 32px !important;
}

/*Padding Top & Bottom*/
.p-v{
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-v-xs{
  padding-top: 4px !important; 
  padding-bottom: 4px !important;
}
.p-v-sm{
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-v-md{
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-v-lg{
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

/*Padding Top*/
.p-t {
  padding-top: 16px !important;
}
.p-t-xs {
  padding-top: 4px !important;
}
.p-t-sm {
  padding-top: 8px !important;
}
.p-t-md {
  padding-top: 24px !important;
}
.p-t-lg {
  padding-top: 32px !important;
}

/*Padding Bottom*/
.p-b {
  padding-bottom: 16px !important;
}
.p-b-xs {
  padding-bottom: 4px !important;
}
.p-b-sm {
  padding-bottom: 8px !important;
}
.p-b-md {
  padding-bottom: 24px !important;
}
.p-b-lg {
  padding-bottom: 32px !important;
}

/*Padding Left*/
.p-l{
  padding-left: 16px !important;
}
.p-l-xs{
  padding-left: 4px !important; 
}
.p-l-sm{
  padding-left: 8px !important;
}
.p-l-md{
  padding-left: 24px !important;
}
.p-l-lg{
  padding-left: 32px !important;
}

/*Padding Right*/
.p-r{
  padding-right: 16px !important;
}
.p-r-xs{
  padding-right: 4px !important; 
}
.p-r-sm{
  padding-right: 8px !important;
}
.p-r-md{
  padding-right: 24px !important;
}
.p-r-lg{
  padding-right: 32px !important;
}

/*Otros*/
.p-btn-lg {
    padding: 16px !important;
}
.padding{
  padding: 32px 32px !important;
}
.padding-box {
    padding: 16px !important;
}


// sm
@media (max-width: 992px) {
  .padding{
    padding: 16px 16px !important;
  }
  .padding-out{
    margin: -16px -16px !important;
  }
}
// xs
@media (max-width: 767px) {
  .padding{
    padding: 8px 8px !important;
  }
  .padding-out{
    margin: -8px -8px !important;
  }
}
