.no-margin{margin: 0 !important;}
.m     {margin:       16px !important;}
.m-xs  {margin:       4px !important;}
.m-sm  {margin:       8px !important;}
.m-md  {margin:       24px !important;}
.m-lg  {margin:       32px !important;}
.m-15   {margin:15px !important;}

.m-v-xs{margin-top: 4px !important;margin-bottom: 4px !important;}
.m-v-sm{margin-top: 8px !important;margin-bottom: 8px !important;}
.m-v   {margin-top: 16px !important;margin-bottom: 16px !important;}
.m-v-md{margin-top: 24px !important;margin-bottom: 24px !important;}
.m-v-lg{margin-top: 32px !important;margin-bottom: 32px !important;}

.m-h-xs{margin-left:4px !important;margin-right: 4px !important;}
.m-h-sm{margin-left:8px !important;margin-right: 8px !important;}
.m-h   {margin-left:16px !important;margin-right: 16px !important;}
.m-h-md{margin-left:24px !important;margin-right: 24px !important;}
.m-h-lg{margin-left:32px !important;margin-right: 32px !important;}

.m-t   {margin-top:   16px !important;}
.m-t-xs{margin-top:   4px !important;}
.m-t-sm{margin-top:   8px !important;}
.m-t-md{margin-top:   24px !important;}
.m-t-lg{margin-top:   32px !important;}
.m-t-xlg {margin-top: 64px !important;}

.m-r   {margin-right: 16px !important;}
.m-r-xs{margin-right: 4px !important;}
.m-r-sm{margin-right: 8px !important;}
.m-r-md{margin-right: 24px !important;}
.m-r-lg{margin-right: 32px !important;}
.no-m-r {margin-right:0 !important;}

.m-b   {margin-bottom:16px !important;}
.m-b-xs{margin-bottom:4px !important;}
.m-b-sm{margin-bottom:8px !important;}
.m-b-md{margin-bottom:24px !important;}
.m-b-lg{margin-bottom:32px !important;}

.m-l   {margin-left:  16px !important;}
.m-l-xs{margin-left:  4px !important;}
.m-l-sm{margin-left:  8px !important;}
.m-l-md{margin-left:  24px !important;}
.m-l-lg{margin-left:  32px !important;}
.no-m-l {margin-left:0 !important;}

.m-n  {margin:       -16px}
.m-h-n{margin-left:  -16px !important;margin-right: -16px !important;}
.m-v-n{margin-top:   -16px !important;margin-bottom:-16px !important;}
.m-l-n{margin-left:  -16px !important;}
.m-r-n{margin-right: -16px !important;}
.m-t-n{margin-top:   -16px !important;}
.m-b-n{margin-bottom:-16px !important;}

.no-m-t {
    margin-top:0 !important;
}
.no-m-b {
    margin-bottom:0 !important;
}