

@primary-light:			lighten(@primary, 15%) !important;
@primary-dark:			darken(@primary, 15%) !important;

@accent-light:			lighten(@accent, 15%) !important;
@accent-dark:			darken(@accent, 15%) !important;

@info-light:			lighten(@info, 15%) !important;
@info-dark:				darken(@info, 15%) !important;

@success-light:			lighten(@success, 15%) !important;
@success-dark:			darken(@success, 15%) !important;

@warning-light:			lighten(@warning, 15%) !important;
@warning-dark:			darken(@warning, 15%) !important;

@danger-light:			lighten(@danger, 15%) !important;
@danger-dark:			darken(@danger, 15%) !important;

@light-light:			lighten(@light, 15%) !important;
@light-dark:			darken(@light, 15%) !important;

@dark-light:			lighten(@dark, 15%) !important;
@dark-dark:				darken(@dark, 15%) !important;


.bg-primary{background: @primary !important;  color: contrast(@primary) !important;}
.bg-primary-light{background: @primary-light !important;  color: contrast(@primary-light) !important;}
.bg-primary-dark{background: @primary-dark !important;  color: contrast(@primary-dark) !important;}

.bg-accent{background: @accent !important;  color: contrast(@accent) !important;}
.bg-accent-light{background: @accent-light !important;  color: contrast(@accent-light) !important;}
.bg-accent-dark{background: @accent-dark !important;  color: contrast(@accent-dark) !important;}

.bg-info{background: @info !important; color: contrast(@info);  color: contrast(@info) !important;}
.bg-info-light{background: @info-light !important;  color: contrast(@info-light) !important;}
.bg-info-dark{background: @info-dark !important;  color: contrast(@info-dark) !important;}

.bg-success{background: @success !important;  color: contrast(@success) !important;}
.bg-success-light{background: @success-light !important;  color: contrast(@success-light) !important;}
.bg-success-dark{background: @success-dark !important;  color: contrast(@success-dark) !important;}

.bg-warning{background: @warning !important;  color: contrast(@warning) !important;}
.bg-warning-light{background: @warning-light !important;  color: contrast(@warning-light) !important;}
.bg-warning-dark{background: @warning-dark !important;  color: contrast(@warning-dark) !important;}

.bg-danger{background: @danger !important;  color: contrast(@danger) !important;}
.bg-danger-light{background: @danger-light !important;  color: contrast(@danger-light) !important;}
.bg-danger-dark{background: @danger-dark !important;  color: contrast(@danger-dark) !important;}

.bg-light{background: @light !important;  color: contrast(@light) !important;}
.bg-light-light{background: @light-light !important;  color: contrast(@light-light) !important;}
.bg-light-dark{background: @light-dark !important;  color: contrast(@light-dark) !important;}

.bg-dark{background: @dark !important;  color: contrast(@dark) !important;}
.bg-dark-light{background: @dark-light !important;  color: contrast(@dark-light) !important;}
.bg-dark-dark{background: @dark-dark !important;  color: contrast(@dark-dark) !important;}


.text-primary{color: @primary !important;}
.text-primary-lt{color: @primary-light !important;}
.text-primary-dk{color: @primary-dark !important;}

.text-accent{color: @accent !important;}
.text-accent-lt{color: @accent-light !important;}
.text-accent-dk{color: @accent-dark !important;}

.text-info{color: @info !important;}
.text-info-lt{color: @info-light !important;}
.text-info-dk{color: @info-dark !important;}

.text-success{color: @success !important;}
.text-success-lt{color: @success-light !important;}
.text-success-dk{color: @success-dark !important;}

.text-warning{color: @warning !important;}
.text-warning-lt{color: @warning-light !important;}
.text-warning-dk{color: @warning-dark !important;}

.text-danger{color: @danger !important;}
.text-danger-lt{color: @danger-light !important;}
.text-danger-dk{color: @danger-dark !important;}

.text-dark{color: @dark !important;}
.text-dark-lt{color: @dark-light !important;}
.text-dark-dk{color: @dark-dark !important;}

.text-light{color: @light !important;}
.text-light-lt{color: @light-light !important;}
.text-light-dk{color: @light-dark !important;}

/*
.text-light{color: darken(@light, 25%);}
.text-dark{color: darken(@dark, 25%);}
*/


@text-color:              rgba(0, 0, 0, 0.87);
@text-muted:              rgba(0, 0, 0, 0.54);


@font-size-xl:            ceil(@font-size-base * 2.28); // ~32px
@font-size-lg:            ceil(@font-size-base * 1.71); // ~24px
@font-size-md:            ceil(@font-size-base * 1.14); // ~16px
@font-size-sm:            ceil(@font-size-base * 0.92); // ~13px
@font-size-xs:            ceil(@font-size-base * 0.85); // ~12px
@font-size-xxs:           ceil(@font-size-base * 0.71); // ~10px

@link-color:              @accent;
@text-percent:            40%;
@link-percent:            50%;
@color-percent:           5%;
@color-lt-percent:        5%;

@border-rgba:			  rgba(110, 115, 120, 0.15);

@line-height-base:        1.42857143; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@black:     #000000;
@white:     #ffffff;

@transparent: rgba(0, 0, 0, 0);
@full-black:  rgba(0, 0, 0, 1);
@dark-black:  rgba(0, 0, 0, 0.87);
@light-black: rgba(0, 0, 0, 0.54);
@min-black:   rgba(0, 0, 0, 0.26);
@faint-black: rgba(0, 0, 0, 0.12);

@full-white:  rgba(255, 255, 255, 1);
@dark-white:  rgba(255, 255, 255, 0.87);
@light-white: rgba(255, 255, 255, 0.54);

@navbar-height:                  64px;
@navbar-sm-height:               50px;
@aside-width:                    240px;
@aside-folded-width:             64px;
@aside-nav-height:               40px;
@aside-nav-folded-height:        50px;
@aside-nav-sub-height:           36px;
@aside-nav-stacked-height:       30px;

@aside-max: 			         991px;
@aside-min: 			         992px;

// components

@btn-default-color:              @text-color;
@btn-default-bg:                 #fff;
@btn-default-border:             @border-color;
@btn-border-radius:              @border-radius-base;

@input-border:                   darken(@border-color, 5%);
@input-border-focus:             darken(@border-color, 20%);
@input-border-radius:            0;

@panel-bg:                    	 #fff;
@panel-border:                	 @border-color;
@panel-heading-border:           lighten(@border-color, 5%);
@panel-list-group-border:        lighten(@border-color, 5%);
@panel-border-radius:         	 @border-radius-base;
@panel-heading-sm:               36px;
@panel-heading-xs:               32px;
@panel-heading-bg:            	 lighten(@primary, 5%);
@panel-footer-bg:             	 lighten(@panel-heading-bg, 15%);

@dropdown-color:                 @text-color;
@dropdown-active-color:          @text-color;
@dropdown-hover:                 @light;

@nav-bg:                         darken(@light, 1%);
@nav-color:                      @text-color;
@nav-active-color:               darken(@nav-color, 5%);
@nav-pills-active-color:         @text-color;
@nav-pills-active:               darken(@light, 5%);

@badge-bg:                       darken(@light, 25%);

@table-border-color:             lighten(@border-color, 4%);
@table-striped-color:            lighten(@light, 4.5%);

@placeholder-color:              #ccc;

@arrow-width:         			 8px;
@arrow-outer-color:              rgba(0,0,0,0.1);

@switch-width:                   32px;
@switch-height:                  18px;
@switch-md-width:                40px;
@switch-md-height:               24px;
@switch-lg-width:                50px;
@switch-lg-height:               30px;

@ui-checks-size:                 16px;
@ui-checks-md-size:              18px;
@ui-checks-lg-size:              30px;
@ui-checks-sign-size:            6px;
@ui-checks-checked-border:       @input-border;
@ui-checks-sign-color:           @info;

