 <style>
   .uppercase { text-transform: uppercase; }
  </style> 

<div class="panel-heading">
    <h3 style="text-align:center;">Visualizar documento Importación N°: <strong>{{importId}}</strong></h3>
</div>
<p></p>
<div class="main-title">

    <div class="button-group">

      <button md-ink-ripple ng-show= "import[0].statusName == 'Validada'" class="md-btn md-raised bg-warning" has-permission= "importaciones-edit"  ng-click="importsPrint.transformToInvoice()">
        <i class="mdi-calendar-text"></i> Transformar factura compra
    </button>

    <button md-ink-ripple class="md-btn md-raised bg-warning" has-permission= "importaciones-validate" ng-show= "import[0].statusName == 'Pendiente ...'" ng-click="importsPrint.validateImport(2)">
        <i class="mdi-check"></i> Validar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  has-permission= "importaciones-validate" ng-show= "import[0].statusName == 'Pendiente ...'" ng-click="importsPrint.validateImport(3)">
        <i class="mdi-check"></i>
        Rechazar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.imports">
      <i class="mdi-window-close"></i>Cerrar
     </button>
	</div>
  
</div>
<div class="panel" >
    <div class="panel-body">
      <div class="col-sm-16">
          
          <!-- <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="quotationsPrint.print()" popover="PDF" popover-placement="bottom" popover-trigger="mouseenter" class="mdi-file-pdf text-3x "></i></span>
          </div> -->
          <div class="text-center cursor-pointer faa-parent animated-hover faa-pulse pull-right">
           <span><i ng-click="importsPrint.print()" tooltip="Imprimir" class="mdi-printer text-3x "></i></span>
          </div>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Proveedor: </strong> <span class="uppercase">{{import[0].providerName}}</span>
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(import[0].statusName == 'Rechazada')?'badge bg-danger':'badge bg-warning'}}">{{import[0].statusName}}</span></span>
          <span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{import[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <!-- <span class="m-r-md"><strong>Tipo:</strong> <span class="badge bg-info">{{import[0].type}}</span></span> -->

            <span class="m-r-md"><strong>  Moneda: </strong> <span class="label bg-warning uppercase"> {{import[0].currency}}</span></span>
            <span class="m-r-md"><strong>  Valor: </strong> <span class="uppercase">{{currencySymbol}}{{import[0].currencyValue}}</span></span>
      </div>

      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{import[0].date | date:'dd/MM/yyyy'}}</span></span>
      </div>
      
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{import[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{import[0].comment}}</em></span>
      </div>
      
      
    </div> 
    <div>
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>N°</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
              </tr>
              <tr ng-repeat="items in importItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td ><span class="uppercase">{{items.itemDescription}}</span> <span class="font-italic" style="font-size: 11px;">( {{items.referenceKey}} )</span></td>
                <td>{{items.price}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{items.total}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
<div class="pull-right col-sm-7 ">
     
            <div>
                <table style="width:100%">
                    <tr>
                      <!-- <th>Neto</th>
                      <th>Iva</th> -->
                      <th>% Dcto.</th>
                      <th>Total</th>
                    </tr>
                    <tr>
                      <!-- <td ><h3><strong>${{import[0].netPrice}}</strong></h3></td>
                      <td><h3><strong>${{import[0].priceVAT}}</strong></h3></td> -->
                      <td><h3><strong>{{import[0].discount}}</strong></h3></td>
                      <td><h3><strong>${{import[0].total}}</strong></h3></td>
                    </tr>
              </table>     
        </div>
 
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{import[0].userCreation}}</span></span></span>
      </div>

      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-info">{{import[0].userModifier}}</span></span></span>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-sm-15">
      <div class="pull-right">
          <span class="m-r-md" style="font-size: 13px; "><img src="http://importadorajormat.cl/images/logo.png" /></span>
      </div>
      </div>
    </div>
</div>



<style>
 table, th, td {
  border-spacing: 2px;
  padding: 3px;
  border: 1px solid black;
}   


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
