
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.homeSuite">
            <i class="mdi-home"></i>
            PRESUPUESTOS
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de Presupuestos <span> <a ng-click="budgetsList.loadBadgets()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <button md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.budgetsCreate">
            <i class="mdi-plus"></i>
            Crear presupuesto
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar presupuestos" ng-model="budgetsList.searchText" ng-change="budgetsList.searchData()" ng-model-options="budgetsList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="budgetsGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
