<div class="ui-grid-cell-contents columna-acciones text-center">


    <div class="btn-group" dropdown dropdown-append-to-body>
        <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
            <i class="mdi-navigation-more-horiz text-md"></i>....
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <li>
                <a ng-click="grid.appScope.budgetsList.printBudget(row.entity)"><span>Visualizar</span><i class="mdi-editor-insert-chart text-md pull-right"></i></a>
            </li>
            <li has-permission="presupuestos-edit">
                <a ng-click="grid.appScope.budgetsList.budgetsUpdate(row.entity)"><span>Editar</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>

            <li>
                <a ng-click="grid.appScope.budgetsList.transformToInvoice(row.entity)"><span>Convertir a factura</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>

            <li has-permission="documentos-nn-edit">
                <a ng-click="grid.appScope.budgetsList.transformToNN(row.entity)"><span class="badge bg-danger">Convertir a NN</span><i class="mdi-editor-mode-edit text-md pull-right"></i></a>
            </li>
            <!-- <li>
                <a ng-click="grid.appScope.ballotsList.deleteBallots(row.entity)"><span>Eliminar</span><i class="mdi-action-autorenew text-md pull-right"></i></a>
            </li> -->
        </ul>

    </div>

</div>
