  <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

   .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ballotsView.cancel()" tooltip-placement="right" tooltip="Si no cierra Click fuera ventana" >
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 >Visualizar Boleta N°: <strong>{{ballotId}}</strong></h3>
</div>
<div class="modal-body">
    <div class="panel-body">
      <div class="col-sm-16">
          <span class="m-r-md"><strong>Cliente: </strong> <span class="uppercase">{{ballot[0].clientName}}</span>
          
          
          
          <span class="m-r-md"><strong>Estado: </strong><span class="{{(ballot[0].statusName == 'Pagado')?'badge bg-warning':'badge bg-danger'}}">{{ballot[0].statusName}}</span></span>
          <span class="m-r-md"><strong>Despacho: </strong><span class="{{(ballot[0].packOff == 'Si')?'badge bg-warning':'badge bg-danger'}}">{{ballot[0].packOff}}</span></span>

          <a ng-click="ballotsView.printPackOff()"><span ng-show="ballot[0].packOff == 'Si'" class="m-r-md pull-right"><strong> </strong> <span class="label bg-info"><i class="mdi-printer"></i>Datos despacho</span></span></a>
          <a ng-click="ballotsView.printPackOff();ballotsView.updatePackOff()"><span ng-show="ballot[0].packOff == 'No'" class="m-r-md pull-right"><strong> </strong> <span class="label bg-warning"><i class="mdi-clipboard-check"></i> Activar despacho</span></span></a>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>  Rut: </strong> <span class="uppercase">{{ballot[0].rut}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha: </strong> <span>{{ballot[0].date}}</span><span ng-hide="ballot[0].time == '00:00:00'" ><strong> Hora: </strong>{{ballot[0].time}} </span></span>
      </div>
      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Orden de compra:</strong> <span>{{ballot[0].purchaseOrder}}</span></span>
      </div> -->
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Origen:</strong> <span>{{ballot[0].origin}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Observación:</strong> <em>{{ballot[0].comment}}</em></span>
      </div>
      
    </div> 
    <div class="panel">
        <div class="panel-body">
            <table style="width:100%">
              <tr>
                <th>Item</th>
                <th>Id</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cant.</th>
                <th>% Dcto.</th> 
                <th>Total</th>
                <th></th>
              </tr>
              <tr ng-repeat="items in ballotsItems">
                <td>{{$index+1}}</td>
                <td class="uppercase">{{items.itemId}}</td>
                <td class="uppercase">{{items.itemDescription}}</td>
                <td>{{items.price | pesosChilenos}}</td>
                <td align="center">{{items.quantityItems}}</td> 
                <td align="center">{{items.discount}}</td>
                <td><strong>{{items.total | pesosChilenos}}</strong></td>
              </tr>
             
              
        </table>
            </div>
    </div>
    <div class="pull-right col-sm-7 ">
        <div class="panel">
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                      <th>Neto</th>
                      <th>Iva</th>
                      <th>% Dcto.</th>
                      <th class="pull-right">Total</th>
                    </tr>
                    <tr>
                      <td ><h1><strong>$ {{ballot[0].netPrice | pesosChilenos}}</strong></h1></td>
                      <td><h1><strong>$ {{ballot[0].priceVAT | pesosChilenos}}</strong></h1></td>
                      <td><h1><strong>{{ballot[0].discount}}</strong></h1></td>
                      <td class="pull-right"><h1><strong>$ {{ballot[0].total | pesosChilenos}}</strong></h1></td>
                    </tr>
              </table>     
        </div>
    </div>
</div>


<div class="pull-right col-sm-7 ">
        <div class="panel pull-right">
            <div class="panel-body">

              <table  >
                <tr>
                      <th><strong><h5>Subtotal: &nbsp;</h5></strong></th>
                      <th><h2><strong> $ {{subTotality | pesosChilenos}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Dcto.  : </h5></strong></th>
                      <th><h2 class="pull-right"><strong>{{ballot[0].discount}} %</strong></h2></th>
                    </tr><!-- 
                    <tr>
                      <th><strong><h5>Neto: </h5></strong></th>
                      <th><h2><strong> $ {{quotation[0].netPrice}}</strong></h2></th>
                    </tr>
                    <tr>
                      <th><strong><h5>Iva: </h5></strong></th>
                      <th><h2><strong> $ {{quotation[0].priceVAT}}</strong></h2></th>
                    </tr> -->
                    
                    <tr>
                      <th><strong><h5>Total: </h5><span style="font-size: 8px;">(IVA Incluido)</span></strong></th>
                      <th><h2><strong> $ {{ballot[0].total | pesosChilenos}}</strong></h2></th>
                    </tr>
              </table>   
        </div>
    </div>
</div>
    <div class="panel-body">
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Creada por:</strong> <span> <span class="label bg-info">{{ballot[0].userCreation}}</span></span></span>
      </div>
      
      <br>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Actualizado por:</strong> <span> <span class="label bg-secundary">{{ballot[0].userUpdate}}</span></span></span>
      </div>
      <div class="col-sm-15">
        <span class="m-r-md"><strong>Forma pago Asociada:</strong> <em>{{ballot[0].paymentForm}}</em></span>
    </div>

      <!-- <div class="col-sm-15">
          <span class="m-r-md"><strong>Forma pago:</strong> <span>{{ballot[0].paymentForm}}</span></span>
      </div>
      <div class="col-sm-15">
          <span class="m-r-md"><strong>Fecha pago:</strong> <em>{{ballot[0].datePayment}}</em></span>
      </div> -->
      <br>
      <div class="col-sm-15" ng-if="ballot[0].userOut">
        <span class="m-r-md"><strong>Entregada por:</strong> <span> <span class="label bg-accent">{{ballot[0].userOut}}</span></span></span>
      </div><br>
    <div class="col-sm-15" ng-if="ballot[0].isOut == 2">
        <span class="m-r-md"><strong>Entrega:</strong> <span> <a tooltip-placement="right" tooltip="Ir a Módulo entregas" ui-sref="app.warehouseDeliveries"><span class="badge bg-warning"><i class="mdi-flash"></i> Incompleto</span></a></span></span>
    </div>
      
    </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <!-- <button md-ink-ripple ng-disabled = "true" class="md-btn md-raised bg-accent"  ng-click="providersView.edit()">
       <i class="mdi-table-edit"></i>Editar
    </button> -->
    <button md-ink-ripple class="md-btn md-raised bg-warning"  ng-click="ballotsView.updateDocument()" ng-if="ballotsView.btnVisible">
      <i class="mdi-package-variant-closed"></i>Entrega rápida
    </button>
    <button tooltip-placement="right" tooltip="Si no cierra Click fuera ventana" md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="ballotsView.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>