 <style>
  .modal-header, h3, .close {
	  background-color: #0DA937;
	  color:white !important;
	  text-align: center;
	  font-size: 20px;
  }
  .modal-footer {
	  background-color: #f9f9f9; 
  }
  .uppercase { text-transform: uppercase; }
  .capitalize { text-transform: capitalize; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="trucksCreate.cancel()">
		<span aria-hidden="true">&times;</span>
</button>
	<h3>Ficha Camión</h3>
</div>
<div class="modal-body">
	  <!-- <div class="panel"> -->
    <div class="panel-body">
        <form name="formTrucks" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Cliente:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-9">
                            <ui-select style="font-size: 11px;" ng-change="trucksCreate.setName(client)" ng-model="client" theme="bootstrap"  tooltip="Busque nombre cliente" required>
                            <ui-select-match >{{$select.selected.fullName}}</ui-select-match>
                            <ui-select-choices repeat="clients in clients | filter: $select.search track by $index" refresh="trucksCreate.searchClient($select.search)" refresh-delay="0">
                                <h4 ng-bind-html="''+clients.fullName | highlight: $select.search | uppercase"></h4>
                                
                                <strong>
                                <div  ng-bind-html="clients.rut | highlight: $select.search"></div>
                                    
                                </strong>
                            </ui-select-choices>
                        </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Chasis:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <strong> <input tooltip="Ingrese N° Chasis" type="text" ng-model="chassis" class="form-control uppercase bg-warning" required style="text-transform:uppercase;"></strong> 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Año:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-4">
                             <input type="number" min="1980" max= "2030" tooltip="Año" ng-model="year" class="form-control" required>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Patente:</strong><span class="dato-obligatorio">*</span> 
                        </label>
                        <div class="col-sm-5">
                            <strong><input type="text" tooltip="Patente vehiculo" ng-model="patent" class="form-control uppercase" required></strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Modelo:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="model" class="form-control uppercase" placeholder="Modelo" required>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">
                            <strong>Marca:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="brand">
                                <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                                <option value="VOLVO">VOLVO</option>
                                <option value="SCANIA">SCANIA</option>
                                <option value="MAN">MAN</option>
                                <option value="FREIGHTLINER">FREIGHTLINER</option>
                                <option value="IVECO">IVECO</option>
                                <option value="RENAULT">RENAULT</option>
                                <option value="MACK">MACK</option>
                                <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                <option value="FORD">FORD</option>
                                <option value="WESTERN STAR">WESTERN STAR</option>
                                <option value="PETERBIL">PETERBIL</option>
                                <option value="INTERNACIONAL">INTERNACIONAL</option>
                                <option value="DAF">DAF</option>
                                <option value="HINO">HINO</option>
                                <option value="SINOTRUK">SINOTRUK</option>
                            </select> 
                        </div>
                    </div>
                </div>
                
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>N° Motor:</strong>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="motorNumber" class="form-control uppercase" placeholder="N° Motor">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<!-- </div> -->
</div>
<div class="modal-footer">
  <div class="button-group">
		<button  style="font-size:medium;" md-ink-ripple class="md-btn md-raised bg-accent"  ng-click="trucksCreate.trucksNew()" ng-disabled="formTrucks.$invalid">
		   <i class="mdi-check-all"></i> Guardar
		</button>

	<button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="trucksCreate.cancel()">
	  <i class="mdi-window-close"></i> Cerrar
	</button>
  </div> 
</div>

<!-- onclick="this.disabled=true;" -->