
<ul class="breadcrumb">
    <li>
        <a ui-sref="app.quotations">
            <i class="mdi-home"></i>
            COMPROBANTES DE PAGO
        </a>
    </li>
</ul>
<div class="main-title">
    <div class="title">
        <h1>
            Listado de comprobantes/pagos <span> <a ng-click="paymentVoucherList.loadPaymentVoucherPages()"> <i class="mdi-reload" tooltip-placement="right" tooltip="Actualizar"></i></a></span>
        </h1>
    </div>
    <div class="button-group">
        <!-- <button has-disabled="comprobante-pago-edit" md-ink-ripple class="md-btn md-raised bg-accent"  ui-sref="app.voucherPrint">
            <i class="mdi-cash-usd"></i>
            Generar comprobante
        </button> -->

        <button md-ink-ripple class="md-btn md-raised bg-accent" ui-sref="app.voucherPrint">
            <i class="mdi-file-import"></i>
            Reporte
        </button>
    </div>
</div>

<div class="panel-heading">
            <input id="filter" type="text" class="form-control" placeholder="Buscar comprobantes/pagos" ng-model="paymentVoucherList.searchText" ng-change="paymentVoucherList.searchData()" ng-model-options="paymentVoucherList.searchOptions"/>
        </div>
<div class="panel">
    <div class="panel-body no-padding">
        <div style="height: 500px;width:100%!important;" ui-grid="voucherGrid" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
<style>
.uppercase { text-transform: uppercase; }
</style>
