<div class="text-center ui-grid-cell-contents" ng-click="grid.appScope.Ctrl.showErrorsDetails(row, $index, $event)">
	<p class="text-danger">
		<a href="">
			<i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ver Errores
		</a>
	</p>
</div>