<style>
	.botonera {
		margin-top: 10px;
	}
</style>
<div class="row">
	<div class="col-xs-12 title">
		<h2>{{ 'RESULTS_LOADED_FILE' | translate }} {{ Ctrl.config.title | translate }}</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">

		<div class="md-whiteframe-z0 bg-white">
			<ul class="nav nav-lines nav-tabs nav-justified">
				<li class="active">
					<a href="" data-toggle="tab" data-target="#tab_1" ng-click="Ctrl.showRecordsLoaded = true"><h5>{{ 'RECORDS_LOADED' | translate }}</h5></a>
				</li>
				<li>
					<a href="" data-toggle="tab" data-target="#tab_2" ng-click="Ctrl.showRecordsLoaded = false"><h5>{{ 'RECORDS_REJECTED' | translate }}</h5></a>
				</li>
			</ul>

			<div class="tab-content clear b-t b-t-2x" style="padding: 14px" >

				<div role="tabpanel" class="tab-pane animated fadeInDown active" id="tab_1">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >

						<div ng-if="Ctrl.recordsLoaded.data && Ctrl.showRecordsLoaded" 
						style="height: 500px;" ui-grid="Ctrl.recordsLoaded" 
						ui-grid-exporter 
						ui-grid-pinning  
						ui-grid-pagination 
						ui-grid-resize-columns></div>

					</div>
				</div>

				<div role="tabpanel" class="tab-pane animated fadeInDown" id="tab_2" >
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" >

						<div ng-if="Ctrl.recordsRejected.data && !Ctrl.showRecordsLoaded" 
						style="height: 500px;" ui-grid="Ctrl.recordsRejected" 
						ui-grid-exporter 
						ui-grid-pinning  
						ui-grid-pagination 
						ui-grid-resize-columns></div>

					</div>
				</div>

			</div>
		</div>

	</div>
</div>

<div class="pull-right">
	<button ng-click="Ctrl.showFilesScreen()" md-ink-ripple class="md-btn md-raised btn-fw bg-accent" >
		<i class="mdi-arrow-left"></i>
		Anterior
	</button>
	<button  ng-click="Ctrl.goBack()" md-ink-ripple class="md-btn md-raised btn-fw bg-accent" >
		<i class="mdi-check"></i>
		Finalizar
	</button>
</div>