<style>
.progressbar-body {position:absolute; margin-left: auto; margin-right: auto; margin-top:8px; left: 0; right: 0; }
.progress-striped {width:100%; height:175px; margin-bottom:0; }
.font-size-50 {font-size: 50px; }
</style>

<div ng-hide="Ctrl.viewResults">
    <div class="row">
        <div class="col-xs-12 title">
            <h2>{{ Ctrl.config.title | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-card">
                <div class="panel-heading detail" ng-class="Ctrl.config.headerColor">
                    <h4>{{ 'LOAD_FILE' | translate }} {{ Ctrl.config.title | translate }}</h4>
                </div>
                
                <div class="panel-body body-large">
                    <div class="box" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                        <div class="p-md" ng-show="(uploader.queue.length<1)">
                            <div ng-show="uploader.isHTML5 " class="m-b-md">
                                <div class="b-a b-dashed p-lg bg-white text-center m-b" nv-file-over="" over-class="b-info" uploader="uploader">
                                    <p class="text-2x text-gris-claro-planner font-thin">{{ 'DRAG_FILES' | translate }}</p>
                                    <button md-ink-ripple="" ng-click="Ctrl.clickUpload()" class="md-btn md-raised m-b btn-fw  p-btn-lg" ng-class="Ctrl.config.btnColor">
                                        {{ 'SELECT_FILES' | translate }}
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <p class="text-gris-claro-planner">
                                        You can also  
                                        <a class="text-info" ng-click="Ctrl.csvDownload()" target="_blank" download="sample.csv">
                                            download the format
                                        </a> 
                                        for loading
                                    </p>
                                </div>
                            </div>
                            <input type="file" nv-file-select="" uploader="uploader" id="uploadButton" ng-hide="true"/>
                        </div>
                        <div>
                            <div>
                                <div ng-if="uploader.queue.length>0" class="p-md table bg-white" style="height:200px">
                                    <div class="b-a b-dashed bg-white text-center m-b" style="height:175px;">
                                        <progressbar value="(Ctrl.progressLoad-(dummy))" class="progress-striped {{Ctrl.progressbarClass}}" animate="true">
                                            <div class="progressbar-body">
                                                <i ng-show="(Ctrl.progressLoad-(dummy))<100" class="mdi-file i-24 ng-scope font-size-50"></i>
                                                <i ng-show="(Ctrl.progressLoad-(dummy))==100" class="mdi-cloud-check i-24 ng-scope font-size-50"></i>
                                                <br>
                                                {{uploader.queue[0].file.name}}
                                                <div>
                                                    <div ng-show="(Ctrl.progressLoad-(dummy))<100">
                                                        <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                                                        Loading... {{(Ctrl.progressLoad-(dummy))}} %
                                                    </div>
                                                    <div>
                                                        {{ Ctrl.loadProcess.status }}
                                                    </div>
                                                </div>
    
                                                <div ng-show="(Ctrl.progressLoad-(dummy))==100">
                                                    <div class="text-md">
                                                        <p>Por favor espere mientras el archivo es procesado, será redirigido a la pantalla de resultados...</p>
                                                    </div>
                                                </div>
    
                                            </div>
                                        </progressbar>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left" ng-show="Ctrl.viewResults">
                        <button  ng-click="Ctrl.goBack()" md-ink-ripple class="md-btn md-raised btn-fw azul-planner " >
                            <i class="i-24 mdi-keyboard-backspace"></i>
                            Volver
                        </button>
                    </div>
                    <div class="pull-right" ng-show="Ctrl.viewResults">
                        <button ng-click="Ctrl.goViewResults()" md-ink-ripple class="md-btn md-raised btn-fw verde-web-planner " >
                            Ver resultados
                            <i class="i-24 mdi-content-send"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'loaded-results-view.html'" ng-if="Ctrl.viewResults"></div>