<div class="box bg-white">
  <div class="box-row">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div class="p hidden-folded bg-primary leftbarbg" style="">
          <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="pull-right visible-xs visible-sm text-color-w">
            <i class="mdi-arrow-left i-20"></i>
          </a>
          <div class="rounded w-64 bg-white inline pos-rlt">
            <!-- <div  class="img-responsive rounded image_portal"> </div> -->

            <img src="{{urlImage}}" 
            err-src="{{defaultImage}}" class="img-responsive rounded image_portal"> 
            <!---{{admin.photo}}-->
          </div>
          <a class="block m-t-sm text-color-w account_settings" ng-click='toogleAccountClass(); caret=!caret' ui-toggle-class="hide, show" target="#nav, #account">
            <span class="pull-right auto">
              <i class="inline i-20" ng-class="{'mdi-playlist-plus': !caret, 'mdi-playlist-minus': caret}"></i>
            </span>
            <span class="block font-bold">
              [{{admin.id}}] {{admin.name}}
            </span>
            {{admin.email}}
          </a>
        </div>
        <div id="nav" ng-include="'aside.nav.uikit.html'"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav">
              <li>
                <a class="text-color" md-ink-ripple ui-sref="page.profile">
                  <i class="mdi-account mdi-dark m-r-sm i-20"></i>
                  <span>{{ 'MENU_MY_PROFILE' | translate }}</span>
                </a>
              </li>
              <li class="parent_li" ng-if="languages.length > 1" ui-sref-active="active" ng-click="MenuClick($event,'language')" id="parent_li_language">
                <a class="text-color" md-ink-ripple>

                  <span class="pull-right">
                    <i class="fa fa-caret-down"></i>
                  </span>

                  <i class="mdi-translate mdi-dark m-r-sm i-20"></i>
                  <span>{{ 'MENU_LANG' | translate }}</span>
                </a>

                <ul class="nav nav-sub">
                  <li ng-repeat="lang_value in languages" id="super_menu_li_{{$index}}" ng-click="super_menu($event,$index)" >
                    <a href="#" ng-click="updateLanguage1(lang_value.key)" >
                      {{lang_value.value}}
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="text-color" md-ink-ripple ui-sref="page.settings">
                  <i class="mdi-settings mdi-dark m-r-sm i-20"></i>
                  <span>{{ 'MENU_OPTIONS' | translate }}</span>
                </a>
              </li>
              <li>
                <a class="text-color" md-ink-ripple ng-click="MenuLogout()">
                  <i class="mdi-keyboard-backspace mdi-dark m-r-sm i-20"></i>
                  <span>{{ 'MENU_LOGOUT' | translate }}</span>
                </a>
              </li>
              <li class="m-v-sm b-b b"></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav b-t b">
      <li>
        <div class="nav-item">
          <label class="md-check">
            <input type="checkbox" ng-model="app.setting.asideFolded" class="" tabindex="0" aria-checked="true" aria-invalid="false">
            <i class="teal-200 no-icon"></i>
            <span class="hidden-folded">{{ 'MENU_COLLAPSE' | translate }}</span>
          </label>
        </div>
      </li>
      <!-- <li>
        <a class="text-color" href="" target="_blank" md-ink-ripple>
          <i class="icon mdi-help-circle i-20"></i>
          <span>Ayuda y Comentarios</span>
        </a>
      </li> -->
    </ul>
  </nav>
</div>
