<!-- Content Navbar -->
  <div class="navbar logo text md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
    <!-- Open side - Naviation on mobile -->

       <!-- brand -->
	    <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm">
        <i class="mdi-menu i-24"></i>
	    </a>
        <span class="navbar-brand-top-menu">
          <span class="client-name">Pontificia Universidad Católica de Chile</span>
        </span>
      <!-- / brand -->
