<!-- Content Navbar -->
  <div class="navbar logo text md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
    <!-- Open side - Naviation on mobile -->

       <!-- brand -->
	    <a ui-sref="app.homeSuite" md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm">
        <i class="mdi-menu i-24"></i>
	    </a>
        <span class="navbar-brand-top-menu" ui-sref="app.homeSuite">
          <span class="client-name">Jormat Evolution <span style="font-size: 10px;">[versión 3.0]</span> </span>
        </span>
<!-- ui-sref="app.homeSuite" --> 
        <span class="pull-right" ng-click="showInfo()">
          <a href=""><i class="mdi-information-outline i-24"></i></a>
        </span>
      <!-- / brand -->
