<!-- aside app.setting.asideFolded || $state.current.data.folded -->

<!-- content -->
<div id="header" class="app-content-header" role="main"  ui-view="header@">
</div>
<!-- / content -->


<md-sidenav id="aside" class="app-aside md-sidenav-left" ng-class="{'folded': app.setting.asideFolded}" ui-view="aside@" md-component-id="aside">
</md-sidenav>
<!-- / aside -->

<!-- content -->
<div id="content" class="app-content" role="main"  ui-view="content@">
</div>
<!-- / content -->





