<!-- aside -->
<md-sidenav id="aside" class="app-aside md-sidenav-left hide" ui-view="aside@" md-component-id="aside">
</md-sidenav>
<!-- / aside -->

<!-- content -->
<div id="content" class="app-content" role="main"  ui-view="content@">
</div>
<!-- / content -->
