 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

  .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="applicationsCreate.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 > <i class="mdi-engine-outline"></i> Crear Aplicación</h3> 
</div>
<div class="modal-body">
        <form name="formApp" action="" class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Descripción:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="descriptionName" class="form-control uppercase" placeholder="Ej: Mercedes Benz" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label">
                            <strong>Código:</strong><span class="dato-obligatorio">*</span>
                        </label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="code" class="form-control uppercase" placeholder="codigo" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
<div class="modal-footer">
  <div class="button-group">
    
    <button md-ink-ripple class="md-btn md-raised bg-accent"  ng-disabled="formApp.$invalid" ng-click="applicationsCreate.createApp()">
      <i class="mdi-content-save"></i> Guardar
    </button>
    <button md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="applicationsCreate.cancel()">
       <i class="mdi-close"></i> Cancelar
    </button>
  </div> 
</div>