 <style>
  .modal-header, h3, .close {
      background-color: #0DA937;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }

    .uppercase { text-transform: uppercase; }
  </style>

<div class="modal-header"> 
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="documentsUploadUser.cancel()">
    	<span aria-hidden="true">&times;</span>
</button>
    <h3 > Cargar Documentos <span style="font-size: 13px;">[Modulo en construcción]</span><i class="mdi-flag-outline-variant"></i></h3> 
    <h5 >Nombre: <span class="uppercase">{{user[0].fullName}}</span> Rut: <span class="uppercase">{{user[0].rut}}</span></h5> 
</div>

<div class="modal-body">

    <div class="panel-body">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Certificado afiliación AFP:</strong>
            </label>
            <div class="col-sm-8">
              <input type="file" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Certificado afiliación AFP:</strong>
            </label>
            <div class="col-sm-8">
              <input type="file" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
            </div>
          </div>

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Certificado de estudios:</strong>
            </label>
            <div class="col-sm-8">
              <input type="file" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
            </div>
          </div>

         <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Cedula de identidad:</strong>
            </label>
            <div class="col-sm-8">
              <input type="file" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
            </div>
          </div>
          

          <div class="form-group">
            <label for="" class="col-sm-3 control-label p-r-xs">
              <strong>Certificado Antecedentes:</strong>
            </label>
            <div class="col-sm-8">
              <input type="file" ng-model="categoryName" class="form-control" placeholder="nombre item" required>
            </div>
          </div>
        </div>
 
</div>


<div class="modal-footer">
  <div class="button-group">
    <button  ng-disabled= "true" md-ink-ripple class="md-btn md-raised bg-primary"  ng-click="documentsUploadUser.cancel()">
      <i class="mdi-auto-upload"></i>Subir archivos
    </button>
    <button  md-ink-ripple class="md-btn md-raised bg-danger"  ng-click="documentsUploadUser.cancel()">
      <i class="mdi-window-close"></i>Cerrar
    </button>
  </div> 
</div>